.tsite-catelogClassification {
  /* ---- grid ---- */ }
  .tsite-catelogClassification .container {
    overflow: hidden; }
  .tsite-catelogClassification .catelogButton {
    margin: 0 0 1em;
    display: flex;
    flex-flow: row wrap; }
    @media screen and (max-width: 767px) {
      .tsite-catelogClassification .catelogButton {
        overflow: hidden;
        overflow-x: auto;
        padding-bottom: 1em;
        flex-flow: row nowrap; } }
    .tsite-catelogClassification .catelogButton a {
      border-radius: 0.25rem;
      border: 1px solid #eee;
      padding: 0.25em 0.75em;
      font-size: 0.875rem;
      white-space: nowrap;
      text-align: center;
      margin: 0 0.5em 0.5em 0;
      color: #555; }
      .tsite-catelogClassification .catelogButton a:hover, .tsite-catelogClassification .catelogButton a:focus, .tsite-catelogClassification .catelogButton a.active {
        background: #b2207f;
        color: #fff;
        border: 1px solid #b2207f; }
  .tsite-catelogClassification .masonry {
    columns: 4;
    column-gap: 20px; }
    @media (max-width: 1200px) {
      .tsite-catelogClassification .masonry {
        columns: 3; } }
    @media (max-width: 992px) {
      .tsite-catelogClassification .masonry {
        columns: 2; } }
    .tsite-catelogClassification .masonry .item {
      margin-bottom: 20px;
      position: relative;
      width: 100%;
      overflow: hidden;
      transition: 0.3s cubic-bezier(0.4, 0.01, 0.165, 0.99);
      border-radius: 1em;
      display: none;
      display: inline-block;
      display: inline-block;
      display: inline-block;
      display: inline-block;
      display: inline-block;
      display: inline-block;
      display: inline-block;
      display: inline-block;
      display: inline-block;
      display: inline-block;
      display: inline-block;
      display: inline-block;
      display: inline-block;
      display: inline-block;
      display: inline-block;
      display: inline-block;
      display: inline-block;
      display: inline-block;
      display: inline-block;
      display: inline-block; }
      .tsite-catelogClassification .masonry .item:before {
        border-radius: 0.25em;
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0; }
      .tsite-catelogClassification .masonry .item:nth-child(1) .img-container {
        height: 325px; }
        @media screen and (max-width: 575px) {
          .tsite-catelogClassification .masonry .item:nth-child(1) .img-container {
            height: 229px; } }
      .tsite-catelogClassification .masonry .item:nth-child(2) .img-container {
        height: 366px; }
        @media screen and (max-width: 575px) {
          .tsite-catelogClassification .masonry .item:nth-child(2) .img-container {
            height: 211px; } }
      .tsite-catelogClassification .masonry .item:nth-child(3) .img-container {
        height: 312px; }
        @media screen and (max-width: 575px) {
          .tsite-catelogClassification .masonry .item:nth-child(3) .img-container {
            height: 222px; } }
      .tsite-catelogClassification .masonry .item:nth-child(4) .img-container {
        height: 435px; }
        @media screen and (max-width: 575px) {
          .tsite-catelogClassification .masonry .item:nth-child(4) .img-container {
            height: 213px; } }
      .tsite-catelogClassification .masonry .item:nth-child(5) .img-container {
        height: 419px; }
        @media screen and (max-width: 575px) {
          .tsite-catelogClassification .masonry .item:nth-child(5) .img-container {
            height: 218px; } }
      .tsite-catelogClassification .masonry .item:nth-child(6) .img-container {
        height: 437px; }
        @media screen and (max-width: 575px) {
          .tsite-catelogClassification .masonry .item:nth-child(6) .img-container {
            height: 235px; } }
      .tsite-catelogClassification .masonry .item:nth-child(7) .img-container {
        height: 352px; }
        @media screen and (max-width: 575px) {
          .tsite-catelogClassification .masonry .item:nth-child(7) .img-container {
            height: 248px; } }
      .tsite-catelogClassification .masonry .item:nth-child(8) .img-container {
        height: 351px; }
        @media screen and (max-width: 575px) {
          .tsite-catelogClassification .masonry .item:nth-child(8) .img-container {
            height: 215px; } }
      .tsite-catelogClassification .masonry .item:nth-child(9) .img-container {
        height: 401px; }
        @media screen and (max-width: 575px) {
          .tsite-catelogClassification .masonry .item:nth-child(9) .img-container {
            height: 237px; } }
      .tsite-catelogClassification .masonry .item:nth-child(10) .img-container {
        height: 374px; }
        @media screen and (max-width: 575px) {
          .tsite-catelogClassification .masonry .item:nth-child(10) .img-container {
            height: 245px; } }
      .tsite-catelogClassification .masonry .item:nth-child(11) .img-container {
        height: 405px; }
        @media screen and (max-width: 575px) {
          .tsite-catelogClassification .masonry .item:nth-child(11) .img-container {
            height: 201px; } }
      .tsite-catelogClassification .masonry .item:nth-child(12) .img-container {
        height: 339px; }
        @media screen and (max-width: 575px) {
          .tsite-catelogClassification .masonry .item:nth-child(12) .img-container {
            height: 230px; } }
      .tsite-catelogClassification .masonry .item:nth-child(13) .img-container {
        height: 382px; }
        @media screen and (max-width: 575px) {
          .tsite-catelogClassification .masonry .item:nth-child(13) .img-container {
            height: 236px; } }
      .tsite-catelogClassification .masonry .item:nth-child(14) .img-container {
        height: 397px; }
        @media screen and (max-width: 575px) {
          .tsite-catelogClassification .masonry .item:nth-child(14) .img-container {
            height: 226px; } }
      .tsite-catelogClassification .masonry .item:nth-child(15) .img-container {
        height: 424px; }
        @media screen and (max-width: 575px) {
          .tsite-catelogClassification .masonry .item:nth-child(15) .img-container {
            height: 249px; } }
      .tsite-catelogClassification .masonry .item:nth-child(16) .img-container {
        height: 413px; }
        @media screen and (max-width: 575px) {
          .tsite-catelogClassification .masonry .item:nth-child(16) .img-container {
            height: 238px; } }
      .tsite-catelogClassification .masonry .item:nth-child(17) .img-container {
        height: 394px; }
        @media screen and (max-width: 575px) {
          .tsite-catelogClassification .masonry .item:nth-child(17) .img-container {
            height: 228px; } }
      .tsite-catelogClassification .masonry .item:nth-child(18) .img-container {
        height: 354px; }
        @media screen and (max-width: 575px) {
          .tsite-catelogClassification .masonry .item:nth-child(18) .img-container {
            height: 205px; } }
      .tsite-catelogClassification .masonry .item:nth-child(19) .img-container {
        height: 401px; }
        @media screen and (max-width: 575px) {
          .tsite-catelogClassification .masonry .item:nth-child(19) .img-container {
            height: 217px; } }
      .tsite-catelogClassification .masonry .item:nth-child(20) .img-container {
        height: 313px; }
        @media screen and (max-width: 575px) {
          .tsite-catelogClassification .masonry .item:nth-child(20) .img-container {
            height: 243px; } }
      .tsite-catelogClassification .masonry .item .img-container {
        position: relative;
        width: 100%;
        z-index: 0; }
        .tsite-catelogClassification .masonry .item .img-container img {
          position: absolute;
          width: 100%;
          height: 100%;
          top: 0;
          left: 0;
          border-radius: 1em;
          object-fit: cover; }
      .tsite-catelogClassification .masonry .item a.link {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        z-index: -1;
        overflow: hidden;
        border-radius: 0.25em; }
        .tsite-catelogClassification .masonry .item a.link:before {
          position: absolute;
          content: '';
          border-radius: 1em;
          left: 50%;
          top: 50%;
          width: 100%;
          height: 100%;
          transform: translate(-50%, -50%) scale(0.5);
          background: rgba(0, 0, 0, 0.75);
          opacity: 0;
          transition: 0.3s cubic-bezier(0.4, 0.01, 0.165, 0.99); }
        .tsite-catelogClassification .masonry .item a.link:hover:before, .tsite-catelogClassification .masonry .item a.link:focus:before {
          opacity: 1;
          transform: translate(-50%, -50%) scale(1); }
      .tsite-catelogClassification .masonry .item .info {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        padding: 1.5em;
        color: #fff;
        display: flex;
        flex-direction: column;
        z-index: 2;
        color: #fff;
        text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.8); }
        .tsite-catelogClassification .masonry .item .info .title {
          font-size: 1.75em;
          font-weight: bold;
          margin: 0px 0px 10px 0px;
          overflow: hidden;
          text-overflow: -o-ellipsis-lastline;
          text-overflow: ellipsis;
          display: -webkit-box;
          -webkit-line-clamp: 3;
          -webkit-box-orient: vertical;
          line-height: 1.25em;
          height: calc(1.25em * 3);
          pointer-events: none; }
          @media screen and (max-width: 575px) {
            .tsite-catelogClassification .masonry .item .info .title {
              font-size: 1.5em; } }
        .tsite-catelogClassification .masonry .item .info .supplierName {
          position: absolute;
          height: 4em;
          margin: auto 0 0 0;
          padding-left: 1.5em;
          font-size: 0.938em;
          bottom: 0;
          width: 80%;
          left: 10%;
          pointer-events: none; }
          .tsite-catelogClassification .masonry .item .info .supplierName i {
            margin-right: 0.5em;
            position: absolute;
            top: 0.2em;
            left: 0; }
/*# sourceMappingURL=catelog_classification.css.map */