<div class="container">
    <!-- masonry 瀑布流 -->
    <div class="masonry">
        <div class="item">
            <div class="img-container">
                <!-- 請針對縮圖產出尺寸使用不同解析度 src -->
                <picture>
                    <source media="(min-width: 1200px)" data-srcset="https://source.unsplash.com/random/1" />
                    <source media="(min-width: 992px)" data-srcset="https://source.unsplash.com/random/1" />
                    <source media="(min-width: 576px)" data-srcset="https://source.unsplash.com/random/1" />
                    <source media="(max-width: 575px)" data-srcset="https://source.unsplash.com/random/1" />
                    <img data-src="https://source.unsplash.com/random/1" class="lazy" />
                </picture>
            </div>
            <div class="info">
                <a href="#" class="link"></a>
                <h3 class="title">MASONRY DYNAMIC COLUMN FLEXBOX</h3>
            </div>
        </div>
        <div class="item">
            <div class="img-container">
                <!-- 請針對縮圖產出尺寸使用不同解析度 src -->
                <picture>
                    <source media="(min-width: 1200px)" data-srcset="https://source.unsplash.com/random/2" />
                    <source media="(min-width: 992px)" data-srcset="https://source.unsplash.com/random/2" />
                    <source media="(min-width: 576px)" data-srcset="https://source.unsplash.com/random/2" />
                    <source media="(max-width: 575px)" data-srcset="https://source.unsplash.com/random/2" />
                    <img data-src="https://source.unsplash.com/random/2" class="lazy" />
                </picture>
            </div>
            <div class="info">
                <a href="#" class="link"></a>
                <h3 class="title">MASONRY DYNAMIC COLUMN FLEXBOX</h3>
            </div>
        </div>
        <div class="item">
            <div class="img-container">
                <!-- 請針對縮圖產出尺寸使用不同解析度 src -->
                <picture>
                    <source media="(min-width: 1200px)" data-srcset="https://source.unsplash.com/random/3" />
                    <source media="(min-width: 992px)" data-srcset="https://source.unsplash.com/random/3" />
                    <source media="(min-width: 576px)" data-srcset="https://source.unsplash.com/random/3" />
                    <source media="(max-width: 575px)" data-srcset="https://source.unsplash.com/random/3" />
                    <img data-src="https://source.unsplash.com/random/3" class="lazy" />
                </picture>
            </div>
            <div class="info">
                <a href="#" class="link"></a>
                <h3 class="title">MASONRY DYNAMIC COLUMN FLEXBOX</h3>
            </div>
        </div>
        <div class="item">
            <div class="img-container">
                <!-- 請針對縮圖產出尺寸使用不同解析度 src -->
                <picture>
                    <source media="(min-width: 1200px)" data-srcset="https://source.unsplash.com/random/4" />
                    <source media="(min-width: 992px)" data-srcset="https://source.unsplash.com/random/4" />
                    <source media="(min-width: 576px)" data-srcset="https://source.unsplash.com/random/4" />
                    <source media="(max-width: 575px)" data-srcset="https://source.unsplash.com/random/4" />
                    <img data-src="https://source.unsplash.com/random/4" class="lazy" />
                </picture>
            </div>
            <div class="info">
                <a href="#" class="link"></a>
                <h3 class="title">MASONRY DYNAMIC COLUMN FLEXBOX</h3>
            </div>
        </div>
        <div class="item">
            <div class="img-container">
                <!-- 請針對縮圖產出尺寸使用不同解析度 src -->
                <picture>
                    <source media="(min-width: 1200px)" data-srcset="https://source.unsplash.com/random/5" />
                    <source media="(min-width: 992px)" data-srcset="https://source.unsplash.com/random/5" />
                    <source media="(min-width: 576px)" data-srcset="https://source.unsplash.com/random/5" />
                    <source media="(max-width: 575px)" data-srcset="https://source.unsplash.com/random/5" />
                    <img data-src="https://source.unsplash.com/random/5" class="lazy" />
                </picture>
            </div>
            <div class="info">
                <a href="#" class="link"></a>
                <h3 class="title">MASONRY DYNAMIC COLUMN FLEXBOX</h3>
            </div>
        </div>
        <div class="item">
            <div class="img-container">
                <!-- 請針對縮圖產出尺寸使用不同解析度 src -->
                <picture>
                    <source media="(min-width: 1200px)" data-srcset="https://source.unsplash.com/random/6" />
                    <source media="(min-width: 992px)" data-srcset="https://source.unsplash.com/random/6" />
                    <source media="(min-width: 576px)" data-srcset="https://source.unsplash.com/random/6" />
                    <source media="(max-width: 575px)" data-srcset="https://source.unsplash.com/random/6" />
                    <img data-src="https://source.unsplash.com/random/6" class="lazy" />
                </picture>
            </div>
            <div class="info">
                <a href="#" class="link"></a>
                <h3 class="title">MASONRY DYNAMIC COLUMN FLEXBOX</h3>
            </div>
        </div>
        <div class="item">
            <div class="img-container">
                <!-- 請針對縮圖產出尺寸使用不同解析度 src -->
                <picture>
                    <source media="(min-width: 1200px)" data-srcset="https://source.unsplash.com/random/7" />
                    <source media="(min-width: 992px)" data-srcset="https://source.unsplash.com/random/7" />
                    <source media="(min-width: 576px)" data-srcset="https://source.unsplash.com/random/7" />
                    <source media="(max-width: 575px)" data-srcset="https://source.unsplash.com/random/7" />
                    <img data-src="https://source.unsplash.com/random/7" class="lazy" />
                </picture>
            </div>
            <div class="info">
                <a href="#" class="link"></a>
                <h3 class="title">MASONRY DYNAMIC COLUMN FLEXBOX</h3>
            </div>
        </div>
        <div class="item">
            <div class="img-container">
                <!-- 請針對縮圖產出尺寸使用不同解析度 src -->
                <picture>
                    <source media="(min-width: 1200px)" data-srcset="https://source.unsplash.com/random/8" />
                    <source media="(min-width: 992px)" data-srcset="https://source.unsplash.com/random/8" />
                    <source media="(min-width: 576px)" data-srcset="https://source.unsplash.com/random/8" />
                    <source media="(max-width: 575px)" data-srcset="https://source.unsplash.com/random/8" />
                    <img data-src="https://source.unsplash.com/random/8" class="lazy" />
                </picture>
            </div>
            <div class="info">
                <a href="#" class="link"></a>
                <h3 class="title">MASONRY DYNAMIC COLUMN FLEXBOX</h3>
            </div>
        </div>
        <div class="item">
            <div class="img-container">
                <!-- 請針對縮圖產出尺寸使用不同解析度 src -->
                <picture>
                    <source media="(min-width: 1200px)" data-srcset="https://source.unsplash.com/random/9" />
                    <source media="(min-width: 992px)" data-srcset="https://source.unsplash.com/random/9" />
                    <source media="(min-width: 576px)" data-srcset="https://source.unsplash.com/random/9" />
                    <source media="(max-width: 575px)" data-srcset="https://source.unsplash.com/random/9" />
                    <img data-src="https://source.unsplash.com/random/9" class="lazy" />
                </picture>
            </div>
            <div class="info">
                <a href="#" class="link"></a>
                <h3 class="title">MASONRY DYNAMIC COLUMN FLEXBOX</h3>
            </div>
        </div>
    </div>
    <a href="#" class="more"><span>more</span></a>
</div>
