.tsite-catelogClassification {
  /* ---- grid ---- */
  /* clear fix */
  /* ---- .grid-item ---- */ }
  .tsite-catelogClassification .container {
    overflow: hidden; }
  .tsite-catelogClassification .catelogButton {
    margin: 0 0 1em;
    display: flex;
    flex-flow: row wrap; }
    @media screen and (max-width: 767px) {
      .tsite-catelogClassification .catelogButton {
        overflow: hidden;
        overflow-x: auto;
        padding-bottom: 1em;
        flex-flow: row nowrap; } }
    .tsite-catelogClassification .catelogButton a {
      border-radius: 0.25rem;
      border: 1px solid #eee;
      padding: 0.25em 0.75em;
      font-size: 0.875rem;
      white-space: nowrap;
      text-align: center;
      margin: 0 0.5em 0.5em 0;
      color: #555; }
      .tsite-catelogClassification .catelogButton a:hover, .tsite-catelogClassification .catelogButton a:focus, .tsite-catelogClassification .catelogButton a.active {
        background: #b2207f;
        color: #fff;
        border: 1px solid #b2207f; }
  .tsite-catelogClassification .grid:after {
    content: '';
    display: block;
    clear: both; }
  .tsite-catelogClassification .grid-sizer,
  .tsite-catelogClassification .grid-item {
    width: 22%;
    margin: 0 1.5% 2em; }
    @media screen and (max-width: 991px) {
      .tsite-catelogClassification .grid-sizer,
      .tsite-catelogClassification .grid-item {
        width: 30%;
        margin: 0 1.5% 2em; } }
    @media screen and (max-width: 575px) {
      .tsite-catelogClassification .grid-sizer,
      .tsite-catelogClassification .grid-item {
        width: 47%;
        margin: 0 1.5% 2em; } }
  .tsite-catelogClassification .grid-item {
    float: left; }
    .tsite-catelogClassification .grid-item a {
      display: block; }
      .tsite-catelogClassification .grid-item a:hover .info .title, .tsite-catelogClassification .grid-item a:focus .info .title {
        color: #b2207f; }
      .tsite-catelogClassification .grid-item a:hover .img-container img, .tsite-catelogClassification .grid-item a:focus .img-container img {
        transform: scale(1.1); }
    .tsite-catelogClassification .grid-item .img-container {
      background: #f1f1f1;
      margin-bottom: 0.5em;
      border-radius: 0.25em;
      overflow: hidden; }
      .tsite-catelogClassification .grid-item .img-container img {
        max-width: 100%;
        display: block;
        border-radius: 0.25em;
        transition: 0.3s cubic-bezier(0.4, 0.01, 0.165, 0.99); }
    .tsite-catelogClassification .grid-item .info .title {
      font-size: 1.25em;
      line-height: 1.25em;
      font-weight: bold;
      margin: 0 0 0.25em;
      color: #333; }
      @media screen and (max-width: 575px) {
        .tsite-catelogClassification .grid-item .info .title {
          font-size: 0.938em; } }
    .tsite-catelogClassification .grid-item .info .supplierName {
      padding-left: 1.5em;
      font-size: 0.938em;
      position: relative;
      color: #999; }
      .tsite-catelogClassification .grid-item .info .supplierName i {
        margin-right: 0.5em;
        position: absolute;
        top: 0.2em;
        left: 0; }
/*# sourceMappingURL=catelog_classification.css.map */