$mainColor: #523f95, #00aec7, #00bda9, #d14545;
$subColor: #b2207f, #413486, #f65445, #f67f50;
$linkColor: #b2207f, #00aec7, #f06451, #ec7652;
$hoverColor: lighten(#b2207f, 10), lighten(#00aec7, 10), lighten(#f65445, 10), darken(#ec7652, 10);
$themeColor: purple, cyan, green, magenta;
// pre tsite-themeColor

//-------------------------------------------------------------顏色---------//
// 定義顏色 此顏色可自由變換
$primaryColor: #523f95; //主色
$secondaryColor: #b2207f; //輔色
$lightColor: #ff1ebc; //點綴
// $linkColor: #21baff; //連結
$importantColor: #ff3e4d; //重要
// 但注意真實顏色與語意的關聯必須易於辨識
$color-blue: #21baff;
$color-green: #5cb85c;
$color-orange: #f77810;
$color-red: #ff3e4d;
$color-yellow: #fcc211;
$color-purple: #aa5ac5;
$color-gray: #f1f1f1;
$color-dark: #333333;
$color-hr: #666; //hr顏色
$color-word: #333; //一般字的顏色
// 連結顏色
$aColor: #b2207f;
$aHover: lighten($aColor, 10);

// 表單focus顏色
$form-focus: #21baff; //表單
$form-btn: #21baff; //表單
//-------------------------------------------------------------字型--------//

// 字型設定
$font-family: 'Roboto Condensed', sans-serif, Lato, 'PingFang TC', 'Helvetica Neue', Helvetica, 微軟正黑體, Arial,
    sans-serif;
$font-size: 1em;

//-------------------------------------------------------------格線系統-----//

// 格線系統
$grid-columns: 12 !default; //格線欄位數
$grid-margin: 0px;
$grid-gutter-width: 30px !default; //左右padding
$container-max: 1200px !default; //container最大寬

//mediaquery
$screen-lg: 1400px !default; //電腦
$screen-md: 992px !default; //平板
$screen-sm: 768px !default; //手機
$screen-xs: 576px !default; //極小尺寸

//-------------------------------------------------------------客製化------//
$fatfooter-length: 6; //fatfooter選單一行個數
$fatfooterBgColor: #f1f1f1; //fatFooter 底色

//-------------------------------------------------------------客製化------//

$rounded-angle: 10px; //整站導角
$cubic: cubic-bezier(0.4, 0.01, 0.165, 0.99);
$border-radius: 2em;
$gradinet: linear-gradient(90deg, rgb(11, 192, 147) 0%, rgba(10, 153, 230, 1) 50%, rgba(226, 0, 143, 1) 95%);
