@charset "utf-8";
@import '_variable'; //變數
@import '_mixin'; //Mixin
@import 'common/_normalize'; //reset
@import 'common/_grid'; //格線系統
@import 'common/_table'; //表格

* {
    box-sizing: border-box;
}
// fixed swiper wrong width
.container {
    max-width: $container-max;
    @include gutter;
    margin: 0 auto;
}

// kbd
kbd {
    background: #fff;
    border-radius: 0.2em;
    color: #555;
    font-weight: bold;
    display: inline-block;
    padding: 0.1em 0.6em;
    font-size: 0.938em;
    font-family: sans-serif;
    margin-right: 0.4em;
    margin-bottom: 0.1em;
    vertical-align: middle;
    border-top: 1px solid #bbb;
    border-bottom: 3px solid #bbb;
    border-left: 2px solid #bbb;
    border-right: 2px solid #bbb;
    ~ kbd {
        margin-left: 0.4em;
    }
    kbd {
        border: none;
    }
}
// context setting
p {
    color: $color-word;
    font-size: 1rem;
    margin: 0 0 1em;
}
ul,
ol {
    @include li-reset;
}

button {
    background: transparent;
    outline: none;
    border: none;
}

@keyframes lazy_animation {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
// img setting
.img-container {
    background: #eee;
}
picture {
    img {
        display: block;
    }
}
img {
    max-width: 100%;
    &:not([src]) {
        visibility: hidden;
        opacity: 0;
    }
    &.lazy {
        visibility: hidden;
    }
    &.loaded {
        visibility: visible;
        animation: lazy_animation 1s ease-out;
    }
}
