<!-- css -->
<link rel="stylesheet" href="components/new_products/new_products.css" />
<!-- swiper -->
<link rel="stylesheet" href="vendor/swiper/swiper-bundle.min.css" />
<div class="tsite-newProducts tsite-wrap-A tsite-cyan">
    <div class="container">
        <div class="newProducts_container">
            <!-- Swiper -->
            <div class="swiper-container newProducts_top">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="info">
                            <div class="newProducts_content">
                                <h3>01 All eyes on NEW !</h3>
                                <div class="newProducts_pic">
                                    <a href="#" class="dot" style="left: 50%; top: 50%">
                                        <span>Lorem ipsum dolor sit.</span>
                                    </a>
                                    <div class="img-container">
                                        <!-- 請針對縮圖產出尺寸使用不同解析度 src -->
                                        <picture>
                                            <source media="(min-width: 1200px)" srcset="images/new_product_pic.jpg" />
                                            <source media="(min-width: 992px)" srcset="images/new_product_pic.jpg" />
                                            <source media="(min-width: 576px)" srcset="images/new_product_pic.jpg" />
                                            <source media="(max-width: 575px)" srcset="images/new_product_pic.jpg" />
                                            <img data-src="images/new_product_pic.jpg" class="lazy" />
                                        </picture>
                                    </div>
                                </div>
                                <div class="newProducts_info">
                                    <div class="title">AITUNG ROSELLE 型錄名稱</div>
                                    <p> A ruby-like flower that’s pleasing to the eyes and taste buds A ruby-like flower
                                        that’s pleasing to the eyeA ruby-like flower that’s pleasing to the eyes and
                                        taste buds 該筆型錄說明文案 </p>
                                    <div class="companyName"><i class="fas fa-building"></i> company's Name</div>
                                    <a href="#" class="more"><span>more</span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">  <div class="info">
                            <div class="newProducts_content">
                                <h3>02 All eyes on NEW !</h3>
                                <div class="newProducts_pic">
                                    <!-- 請針對縮圖產出尺寸使用不同解析度 src -->
                                    <div class="img-container">
                                        <!-- 請針對縮圖產出尺寸使用不同解析度 src -->
                                        <picture>
                                            <source media="(min-width: 1200px)" srcset="images/new_product_pic.jpg" />
                                            <source media="(min-width: 992px)" srcset="images/new_product_pic.jpg" />
                                            <source media="(min-width: 576px)" srcset="images/new_product_pic.jpg" />
                                            <source media="(max-width: 575px)" srcset="images/new_product_pic.jpg" />
                                            <img data-src="images/new_product_pic.jpg" class="lazy" />
                                        </picture>
                                    </div>
                                </div>
                                <div class="newProducts_info">
                                    <div class="title">AITUNG ROSELLE 型錄名稱</div>
                                    <p> A ruby-like flower that’s pleasing to the eyes and taste buds A ruby-like flower
                                        that’s pleasing to the eyeA ruby-like flower that’s pleasing to the eyes and
                                        taste buds 該筆型錄說明文案 </p>
                                    <div class="companyName"><i class="fas fa-building"></i> company's Name</div>
                                    <a href="#" class="more"><span>more</span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="info">
                            <div class="newProducts_content">
                                <h3>03 All eyes on NEW !</h3>
                                <div class="newProducts_pic">
                                    <div class="img-container">
                                        <!-- 請針對縮圖產出尺寸使用不同解析度 src -->
                                        <picture>
                                            <source media="(min-width: 1200px)" srcset="images/new_product_pic.jpg" />
                                            <source media="(min-width: 992px)" srcset="images/new_product_pic.jpg" />
                                            <source media="(min-width: 576px)" srcset="images/new_product_pic.jpg" />
                                            <source media="(max-width: 575px)" srcset="images/new_product_pic.jpg" />
                                            <img data-src="images/new_product_pic.jpg" class="lazy" />
                                        </picture>
                                    </div>
                                </div>
                                <div class="newProducts_info">
                                    <div class="title">AITUNG ROSELLE 型錄名稱</div>
                                    <p> A ruby-like flower that’s pleasing to the eyes and taste buds A ruby-like flower
                                        that’s pleasing to the eyeA ruby-like flower that’s pleasing to the eyes and
                                        taste buds 該筆型錄說明文案 </p>
                                    <div class="companyName"><i class="fas fa-building"></i> company's Name</div>
                                    <a href="#" class="more"><span>more</span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">  <div class="info">
                            <div class="newProducts_content">
                                <h3>04 All eyes on NEW !</h3>
                                <div class="newProducts_pic">
                                    <div class="img-container">
                                        <!-- 請針對縮圖產出尺寸使用不同解析度 src -->
                                        <picture>
                                            <source media="(min-width: 1200px)" srcset="images/new_product_pic.jpg" />
                                            <source media="(min-width: 992px)" srcset="images/new_product_pic.jpg" />
                                            <source media="(min-width: 576px)" srcset="images/new_product_pic.jpg" />
                                            <source media="(max-width: 575px)" srcset="images/new_product_pic.jpg" />
                                            <img data-src="images/new_product_pic.jpg" class="lazy" />
                                        </picture>
                                    </div>
                                </div>
                                <div class="newProducts_info">
                                    <div class="title">AITUNG ROSELLE 型錄名稱</div>
                                    <p> A ruby-like flower that’s pleasing to the eyes and taste buds A ruby-like flower
                                        that’s pleasing to the eyeA ruby-like flower that’s pleasing to the eyes and
                                        taste buds 該筆型錄說明文案 </p>
                                    <div class="companyName"><i class="fas fa-building"></i> company's Name</div>
                                    <a href="#" class="more"><span>more</span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Add Arrows -->
                <div class="swiper-button-next swiper-button-white"></div>
                <div class="swiper-button-prev swiper-button-white"></div>
            </div>
            <!-- thumbs -->
            <div class="swiper-container newProducts_thumbs">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <a href="#">
                            <span>TAITUNG ROSELLE 型錄名稱</span>
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="#">
                            <span>TAITUNG ROSELLE 型錄名稱</span>
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="#">
                            <span>TAITUNG ROSELLE 型錄名稱</span>
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="#">
                            <span>TAITUNG ROSELLE 型錄名稱</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- js -->
<script>
    $(function () {
        //lazyload
        var lazyLoadInstance = new LazyLoad({
            elements_selector: 'img.lazy',
            //placeholder: '/images/basic/placeholder.gif',
            effect: 'fadeIn',
            fadeTime: 600,
            threshold: 0,
        });
    });
    //swiper
    var galleryThumbs = new Swiper('.newProducts_thumbs', {
        spaceBetween: 0,
        slidesPerView: 4,
        freeMode: true,
        observer: true,
        watchSlidesVisibility: true,
        watchSlidesProgress: true,
        clickable: true,
    });
    var galleryTop = new Swiper('.newProducts_top', {
        spaceBetween: 10,
        lazy: true,
        loop: true,
        observer: true,
        navigation: {
            nextEl: '.swiper-button-next',
            prevEl: '.swiper-button-prev',
        },
        thumbs: {
            swiper: galleryThumbs,
        },
    });
    $('.newProducts_thumbs')
        .find('a')
        .click(function (e) {
            e.preventDefault();
        });
</script>