<!-- css -->
<link
  rel="stylesheet"
  href="template/event_registration/event_registration.css"
/>
<div class="tsite-innerpage tsite-wrap-A tsite-cyan">
  <div class="container">
    <div class="head">
      <div class="img-container">
        <!-- 請針對縮圖產出尺寸使用不同解析度 src -->
        <picture>
          <source
            media="(min-width: 1200px)"
            data-srcset="images/inner_head.jpg"
          />
          <source
            media="(min-width: 992px)"
            data-srcset="images/inner_head.jpg"
          />
          <source
            media="(min-width: 576px)"
            data-srcset="images/inner_head.jpg"
          />
          <source
            media="(max-width: 575px)"
            data-srcset="images/inner_head.jpg"
          />
          <img data-src="images/inner_head.jpg" class="lazy" />
        </picture>
      </div>
    </div>
    <div class="tsite-inquiry">
      <div class="pageInfo">
        <div class="path">
          <a href="#">首頁</a> / <a href="#">選單第一層</a> /
          <a href="#">選單第二層</a>
        </div>
        <!-- 這裏套文章標題 -->
        <div class="contentTitle">Event Registration</div>
      </div>
      <!-- step -->
      <div class="steps">
        <ol>
          <li>
            <span
              >Step <em>1</em> Registration period selection <br />
              報名時段選擇</span
            >
          </li>
          <li class="now">
            <span>Step <em>2</em> Apply for registration <br />申請報名</span>
          </li>
          <li class="">
            <span
              >Step <em>3</em> Completion <br />
              報名完成</span
            >
          </li>
        </ol>
      </div>
      <!-- formX -->
      <div class="formX">
        <div class="tsite-form">
          <!-- row -->
          <div class="formRow">
            <div class="receiver">活動名稱1</div>
          </div>
          <!-- row -->
          <div class="formRow">
            <div class="contactInfo">
              <h2>Post member infomation</h2>
              <div class="inquiry-form">
                <div class="inquiry-row">
                  <div class="inquiry-formTitle">
                    <abbr title="required" class="required">*</abbr>Email
                  </div>
                  <div class="inquiry-formContent">
                    <span class="info">liucc@hyweb.com.tw</span>
                  </div>
                </div>
                <div class="inquiry-row">
                  <div class="inquiry-formTitle">
                    <abbr title="required" class="required">*</abbr>Full Name
                  </div>
                  <div class="inquiry-formContent">
                    <span class="info">CC Liu</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- row -->
          <div class="formRow">
            <div class="contactInfo">
              <h2>Contact Infomation</h2>
              <div class="inquiry-form">
                <div class="inquiry-row">
                  <div class="inquiry-formTitle">
                    <abbr title="required" class="required">*</abbr>Email
                  </div>
                  <div class="inquiry-formContent">
                    <input
                      type="text"
                      class="full"
                      value="liucc@hyweb.com.tw"
                    />
                  </div>
                </div>
                <div class="inquiry-row">
                  <div class="inquiry-formTitle">
                    <abbr title="required" class="required">*</abbr>Full Name
                  </div>
                  <div class="inquiry-formContent">
                    <input type="text" class="full" value="CC Liu" />
                  </div>
                </div>
                <div class="inquiry-row">
                  <div class="inquiry-formTitle">
                    <abbr title="required" class="required">*</abbr>Company Name
                  </div>
                  <div class="inquiry-formContent">
                    <input type="text" class="full" value="HywebTest" />
                  </div>
                </div>
                <div class="inquiry-row">
                  <div class="inquiry-formTitle">
                    <abbr title="required" class="required">*</abbr>Country
                    Reglon
                  </div>
                  <div class="inquiry-formContent">
                    <select class="full">
                      <option value="Italy">Italy</option>
                      <option value="Japan">Japan</option>
                    </select>
                    <span class="errorMessage"
                      ><i class="fas fa-exclamation-triangle"></i
                      >錯誤或是提示訊息</span
                    >
                  </div>
                </div>
                <div class="inquiry-row">
                  <div class="inquiry-formTitle">
                    <abbr title="required" class="required">*</abbr
                    >State/Province/City
                  </div>
                  <div class="inquiry-formContent">
                    <select class="full">
                      <option value="Italy">Italy</option>
                      <option value="Japan">Japan</option>
                    </select>
                    <span class="notice">Other State/Province/City</span>
                    <input type="text" class="full" value="" />
                  </div>
                </div>
                <div class="inquiry-row">
                  <div class="inquiry-formTitle">
                    <abbr title="required" class="required">*</abbr>Address
                  </div>
                  <div class="inquiry-formContent">
                    <input type="text" class="full" value="" />
                  </div>
                </div>
                <div class="inquiry-row">
                  <div class="inquiry-formTitle">
                    <abbr title="required" class="required">*</abbr>Company
                    Website
                  </div>
                  <div class="inquiry-formContent">
                    <input type="text" class="full" value="" />
                  </div>
                </div>
                <div class="inquiry-row">
                  <div class="inquiry-formTitle">Business Phone Number</div>
                  <div class="inquiry-formContent">
                    <input type="text" value="" class="countryCode" />
                    <span class="preSymbol">-</span>
                    <input class="mainNumber" type="tel" />
                    <span class="preSymbol">#</span>
                    <input class="ext" type="tel" />
                  </div>
                </div>
                <div class="inquiry-row">
                  <div class="inquiry-formTitle">Mobile Phone Number</div>
                  <div class="inquiry-formContent">
                    <input type="text" value="" class="countryCode" />
                    <span class="preSymbol">-</span>
                    <input class="mainNumber" type="tel" />
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="formRow">
            <div class="check_grp">
              <label>
                <input type="checkbox" value="" />Recommend matching suppliers
                if this supplier doesn't contact me within 2 working
                days.</label
              >
              <button class="infoBtn" data-fancybox data-src="#hidden-content1">
                <i class="fas fa-info-circle"></i>
              </button>
              <!-- pop by fancybox  -->
              <div style="display: none" id="hidden-content1" class="popWindow">
                <p>
                  By ticking this box, you and the suppliers whom you contact
                  from now will be able to see each other's email address on My
                  Taiwantrade after the suppliers reply to your inquiries.
                </p>
                <hr />
                <div class="btnBlock">
                  <button class="confirm" type="button">ok</button>
                </div>
              </div>
            </div>
          </div>
          <!-- row -->
          <div class="formRow">
            <div class="check_grp">
              <label>
                <input type="checkbox" value="" />I'd like to show my email
                address to the suppliers I contact on Taiwantrade.com.</label
              >
            </div>
          </div>
          <!-- row -->
          <div class="formRow">
            <!-- recaptcha 放圖片示意，請工程師自行放置code -->
            <div class="captcha">
              <img src="images/Recaptcha_anchor@2x.gif" />
            </div>
          </div>
          <div class="btnBlock">
            <button class="previous" type="button">Go Back</button>
            <button
              class="confirm trigPop"
              type="button"
              data-fancybox
              data-src="#hidden-content2"
            >
              Submit
            </button>
            <!-- pop by fancybox  -->
            <div style="display: none" id="hidden-content2" class="popWindow">
              <p>Sign in with your Taiwantrade account</p>
              <div class="btnBlock">
                <button class="confirm" type="button">Sign in</button>
              </div>
              <hr />
              <p>Don't have a Taiwantrade account yet?</p>
              <div class="btnBlock">
                <button class="confirm" type="button">
                  Create an account free
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- js -->
<script>
  $(function () {
    var lazyLoadInstance = new LazyLoad({
      elements_selector: "img.lazy",
      //placeholder: '/images/basic/placeholder.gif',
      effect: "fadeIn",
      fadeTime: 600,
      threshold: 0,
    });
    //add table mobile x_scroll
    $("table").each(function (index, el) {
      //判斷沒有table_list
      $(".userEditContent")
        .find("table")
        .each(function () {
          $(this).wrap('<div class="tableScroll"></div>');
        });
    });
  });
</script>
