<!-- css -->
<link rel="stylesheet" href="template/event_registration/event_registration.css" />
<div class="tsite-innerpage tsite-wrap-A tsite-cyan">
  <div class="container">
    <div class="head">
      <div class="img-container">
        <!-- 請針對縮圖產出尺寸使用不同解析度 src -->
        <picture>
          <source media="(min-width: 1200px)" data-srcset="images/inner_head.jpg" />
          <source media="(min-width: 992px)" data-srcset="images/inner_head.jpg" />
          <source media="(min-width: 576px)" data-srcset="images/inner_head.jpg" />
          <source media="(max-width: 575px)" data-srcset="images/inner_head.jpg" />
          <img data-src="images/inner_head.jpg" class="lazy" />
        </picture>
      </div>
    </div>
    <div class="tsite-inquiry">
      <div class="pageInfo">
        <div class="path">
          <a href="#">首頁</a> / <a href="#">選單第一層</a> /
          <a href="#">選單第二層</a>
        </div>
        <!-- 這裏套文章標題 -->
        <div class="contentTitle">Event Registration</div>
      </div>

      <!-- formX -->
      <div class="formX">
        <div class="tsite-form">
          <!-- row -->
          <div class="formRow">
            <div class="receiver">活動名稱1</div>
            <p>為了給您更好的服務，本網站使用cookies，如果您繼續使用我們將視為您同意接收所有本網站的cookies。</p>
          </div>
          <!-- 活動時間列表 -->
          <div class="formTab">
            <!-- tab btn -->
            <ul class="tabs">
              <li class="active">
                <a href="#">07/20</a>
              </li>
              <li rel="tab2">
                <a href="#">07/21</a>
              </li>
              <li rel="tab3">
                <a href="#">07/22</a>
              </li>
            </ul>
            <!-- tab container -->
            <div class="tabContainer">
              <!-- tabContent1 -->
              <div class="tabContent active">
                <div class="formRow">
                  <label for="" class="newline">上午時段</label>
                  <div class="timeArea">
                    <ul>
                      <li class="timebel active">10:00-10:20</li>
                      <li class="timebel">10:20-10:40</li>
                      <li class="timebel">10:40-11:00</li>
                      <li class="timebel">11:00-11:20</li>
                      <li class="timebel">11:20-11:40</li>
                      <li class="timebel">11:40-12:00</li>
                      <li class="timebel">12:00-12:20</li>
                      <li class="timebel">12:20-12:40</li>
                      <li class="timebel">12:40-13:00</li>
                      <li class="timebel">13:00-13:20</li>
                      <li class="timebel">13:20-13:40</li>
                      <li class="timebel">13:40-14:00</li>
                    </ul>
                  </div>
                </div>
                <div class="formRow">
                  <label for="" class="newline">下午時段</label>
                  <div class="timeArea">
                    <ul>
                      <!-- 點擊後增加" active " class -->
                      <li class="timebel active">10:00-10:20</li>
                      <li class="timebel disabled">10:20-10:40</li>
                      <li class="timebel">10:40-11:00</li>
                      <li class="timebel">11:00-11:20</li>
                      <li class="timebel">11:20-11:40</li>
                      <li class="timebel">11:40-12:00</li>
                      <li class="timebel">12:00-12:20</li>
                      <li class="timebel">12:20-12:40</li>
                      <li class="timebel">12:40-13:00</li>
                      <li class="timebel">13:00-13:20</li>
                      <li class="timebel">13:20-13:40</li>
                      <li class="timebel">13:40-14:00</li>
                    </ul>
                  </div>
                  <span class="error-text">您報名的時間已額滿，請重新選取</span>
                </div>
              </div>
              <!-- tabContent2 -->
              <div class="tabContent">
                <div class="formRow">
                  <label for="" class="newline">上午時段</label>
                  <div class="timeArea">
                    <ul>
                      <li class="timebel">10:00-10:20</li>
                      <li class="timebel disabled">10:20-10:40</li>
                      <li class="timebel active">10:40-11:00</li>
                      <li class="timebel">11:00-11:20</li>
                      <li class="timebel">11:20-11:40</li>
                      <li class="timebel">11:40-12:00</li>
                      <li class="timebel">12:00-12:20</li>
                      <li class="timebel">12:20-12:40</li>
                      <li class="timebel">12:40-13:00</li>
                      <li class="timebel">13:00-13:20</li>
                      <li class="timebel">13:20-13:40</li>
                      <li class="timebel">13:40-14:00</li>
                    </ul>
                  </div>
                </div>
                <div class="formRow">
                  <label for="" class="newline">上午時段</label>
                  <div class="timeArea">
                    <ul>
                      <li class="timebel">10:00-10:20</li>
                      <li class="timebel">10:20-10:40</li>
                      <li class="timebel active">10:40-11:00</li>
                      <li class="timebel">11:00-11:20</li>
                      <li class="timebel">11:20-11:40</li>
                      <li class="timebel">11:40-12:00</li>
                      <li class="timebel">12:00-12:20</li>
                      <li class="timebel">12:20-12:40</li>
                      <li class="timebel">12:40-13:00</li>
                      <li class="timebel">13:00-13:20</li>
                      <li class="timebel">13:20-13:40</li>
                      <li class="timebel">13:40-14:00</li>
                    </ul>
                  </div>
                  <span class="error-text">您報名的時間已額滿，請重新選取</span>
                </div>
              </div>
              <!-- tabContent3 -->
              <div class="tabContent">
                <div class="formRow">
                  <label for="" class="newline">上午時段</label>
                  <div class="timeArea">
                    <ul>
                      <li class="timebel">10:00-10:20</li>
                      <li class="timebel active">10:20-10:40</li>
                      <li class="timebel disabled">10:40-11:00</li>
                      <li class="timebel">11:00-11:20</li>
                      <li class="timebel">11:20-11:40</li>
                      <li class="timebel">11:40-12:00</li>
                      <li class="timebel">12:00-12:20</li>
                      <li class="timebel">12:20-12:40</li>
                      <li class="timebel">12:40-13:00</li>
                      <li class="timebel">13:00-13:20</li>
                      <li class="timebel">13:20-13:40</li>
                      <li class="timebel">13:40-14:00</li>
                    </ul>
                  </div>
                </div>
                <div class="formRow">
                  <label for="" class="newline">上午時段</label>
                  <div class="timeArea">
                    <ul>
                      <li class="timebel">10:00-10:20</li>
                      <li class="timebel active">10:20-10:40</li>
                      <li class="timebel">10:40-11:00</li>
                      <li class="timebel">11:00-11:20</li>
                      <li class="timebel">11:20-11:40</li>
                      <li class="timebel">11:40-12:00</li>
                      <li class="timebel">12:00-12:20</li>
                      <li class="timebel">12:20-12:40</li>
                      <li class="timebel">12:40-13:00</li>
                      <li class="timebel">13:00-13:20</li>
                      <li class="timebel">13:20-13:40</li>
                      <li class="timebel">13:40-14:00</li>
                    </ul>
                  </div>
                  <span class="error-text">您報名的時間已額滿，請重新選取</span>
                </div>
              </div>
            </div>
          </div>
          <!-- row -->
          <!-- 報名資料填寫 -->
          <!-- row -->
          <div class="formRow">
            <div class="contactInfo">
              <h2>Application Info</h2>
              <div class="inquiry-form">
                <div class="inquiry-row">
                  <div class="inquiry-formTitle"><abbr title="required" class="required">*</abbr>Email</div>
                  <div class="inquiry-formContent">
                    <span class="info">liucc@hyweb.com.tw</span>
                  </div>
                </div>
                <div class="inquiry-row">
                  <div class="inquiry-formTitle"><abbr title="required" class="required">*</abbr>Full Name</div>
                  <div class="inquiry-formContent">
                    <span class="info">CC Liu</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- row -->
          <div class="formRow">
            <div class="contactInfo">
              <h2>
                <span class="title">Contact Infomation</span>
                <span class="info">Fields marked<abbr title="required" class="required">*</abbr>are required </span>
              </h2>
              <div class="inquiry-form">
                <div class="inquiry-row">
                  <div class="inquiry-formTitle"><abbr title="required" class="required">*</abbr>Email</div>
                  <div class="inquiry-formContent">
                    <input type="text" class="full" value="liucc@hyweb.com.tw" />
                  </div>
                </div>
                <div class="inquiry-row">
                  <div class="inquiry-formTitle"><abbr title="required" class="required">*</abbr>Full Name</div>
                  <div class="inquiry-formContent">
                    <select name="" id="" class="gender">
                      <option value="01">Mr.</option>
                      <option value="02">Miss.</option>
                    </select>
                    <input type="text" class="full" value="CC Liu" />
                  </div>
                </div>
                <div class="inquiry-row">
                  <div class="inquiry-formTitle"><abbr title="required" class="required">*</abbr>Country</div>
                  <div class="inquiry-formContent form-search">
                    <input type="text" class="full" placeholder="please select a country" value="" />
                    <div class="recent-searches">
                      <ul class="">
                        <li><a href="#">Italy</a></li>
                        <li><a href="#">Japan</a></li>
                        <li><a href="#">Australia</a></li>
                        <li><a href="#">Italy</a></li>
                        <li><a href="#">Japan</a></li>
                        <li><a href="#">Australia</a></li>
                        <li><a href="#">Italy</a></li>
                        <li><a href="#">Japan</a></li>
                        <li><a href="#">Australia</a></li>
                        <li><a href="#">Italy</a></li>
                        <li><a href="#">Japan</a></li>
                        <li><a href="#">Australia</a></li>
                      </ul>
                    </div>
                  </div>
                  <!-- <div class="inquiry-formContent">
                    <input type="text" class="full" placeholder="純input樣式 讓工程師自行套用" value="" />
                  </div> -->
                </div>
                <div class="inquiry-row">
                  <div class="inquiry-formTitle"><abbr title="required" class="required">*</abbr>Business Phone Number</div>
                  <div class="inquiry-formContent">
                    <select name="" id="" class="countryCode">
                      <option value="01">+886</option>
                      <option value="02">+886</option>
                    </select>
                    <span class="preSymbol">-</span>
                    <input class="mainNumber" type="tel" />
                    <span class="preSymbol">#</span>
                    <input class="ext" type="tel" />
                  </div>
                </div>
                <div class="inquiry-row">
                  <div class="inquiry-formTitle">Mobile Phone Number</div>
                  <div class="inquiry-formContent">
                    <select name="" id="" class="countryCode">
                      <option value="01">+886</option>
                      <option value="02">+886</option>
                    </select>
                    <span class="preSymbol">-</span>
                    <input class="mainNumber" type="tel" />
                  </div>
                </div>

                <div class="inquiry-row">
                  <div class="inquiry-formTitle">Company Official Site</div>
                  <div class="inquiry-formContent">
                    <input type="text" class="full" value="" />
                  </div>
                </div>
                <div class="inquiry-row">
                  <div class="inquiry-formTitle">Company Annual Turnover</div>
                  <div class="inquiry-formContent">
                    <input type="text" class="full" value="" />
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- row -->
          <div class="formRow">
            <div class="check_grp">
              <label> <input type="checkbox" value="" />I'd like to show my email address to the suppliers I contact on Taiwantrade.com.</label>
            </div>
          </div>
          <!-- row -->
          <div class="formRow">
            <!-- recaptcha 放圖片示意，請工程師自行放置code -->
            <div class="captcha">
              <div style="width: 304px; height: 78px">
                <div>
                  <iframe
                    title="reCAPTCHA"
                    src="https://www.google.com/recaptcha/api2/anchor?ar=1&amp;k=6LcZbyYUAAAAAAB0ssAES0bmOc0uj_P2tJepmeNF&amp;co=aHR0cHM6Ly90ZXN0LXNpdGUudHRzdGFnaW5nLmNvbS50dzo0NDM.&amp;hl=en&amp;v=5qcenVbrhOy8zihcc2aHOWD4&amp;size=normal&amp;cb=otny33mwjf5p"
                    width="304"
                    height="78"
                    role="presentation"
                    name="a-m0apr03mij2q"
                    frameborder="0"
                    scrolling="no"
                    sandbox="allow-forms allow-popups allow-same-origin allow-scripts allow-top-navigation allow-modals allow-popups-to-escape-sandbox"
                  ></iframe>
                </div>
                <textarea id="g-recaptcha-response" name="g-recaptcha-response" class="g-recaptcha-response" style="width: 250px; height: 40px; border: 1px solid rgb(193, 193, 193); margin: 10px 25px; padding: 0px; resize: none; display: none"></textarea>
              </div>
            </div>
            <!-- recaptcha 放圖片示意，請工程師自行放置code -->
            <!-- <div class="captcha">
              <img src="images/Recaptcha_anchor@2x.gif" />
            </div> -->
          </div>
          <div class="btnBlock">
            <button class="previous" type="button">Go Back</button>
            <button class="confirm trigPop" type="button" data-fancybox data-src="#hidden-content2">Submit</button>
            <!-- pop by fancybox  -->
            <div style="display: none" id="hidden-content2" class="popWindow">
              <p>Sign in with your Taiwantrade account</p>
              <div class="btnBlock">
                <button class="confirm" type="button">Sign in</button>
              </div>
              <hr />
              <p>Don't have a Taiwantrade account yet?</p>
              <div class="btnBlock">
                <button class="confirm" type="button">Create an account free</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- js -->
<script>
  $(function () {
    var lazyLoadInstance = new LazyLoad({
      elements_selector: 'img.lazy',
      //placeholder: '/images/basic/placeholder.gif',
      effect: 'fadeIn',
      fadeTime: 600,
      threshold: 0,
    });
    //add table mobile x_scroll
    $('table').each(function (index, el) {
      //判斷沒有table_list
      $('.userEditContent')
        .find('table')
        .each(function () {
          $(this).wrap('<div class="tableScroll"></div>');
        });
    });

    // tab js
    $('.formTab')
      .find('.tabs li')
      .each(function (index, el) {
        $(this)
          .find('a')
          .off()
          .click(function (e) {
            var activeIndex = $(this).parents('li').index();
            $('.formTab').find('.tabs li').removeClass('active');
            $(this).parents('li').addClass('active');
            $(this).parents('.tabs').siblings('.tabContainer').find('.tabContent').removeClass('active');
            $(this).parents('.tabs').siblings('.tabContainer').find('.tabContent').eq(activeIndex).addClass('active');
            console.log(activeIndex);
            e.preventDefault();
          });
      });

    //首頁搜尋紀錄
    $('.form-search>input[type="text"]').click(function () {
      $('.recent-searches').stop().slideDown();
    });
    $('.form-search>input[type="text"]').focus(function () {
      $('.recent-searches').stop().slideDown();
    });
    //
    $('.form-search')
      .find('.recent-searches .record-list li:last-child a:last-child')
      .focusout(function () {
        $('.form-search').find('.recent-searches').hide();
      });
    // 點外面關閉
    $(document).on('touchend click', function (e) {
      var container = $('.form-search');
      if (!container.is(e.target) && container.has(e.target).length === 0) {
        $('.recent-searches').slideUp();
      }
    });
  });
</script>
