<!-- css -->
<link rel="stylesheet" href="template/event_apply/event_apply.css" />
<div class="tsite-innerpage tsite-wrap-A tsite-cyan">
  <div class="container">
    <div class="head">
      <div class="img-container">
        <!-- 請針對縮圖產出尺寸使用不同解析度 src -->
        <picture>
          <source
            media="(min-width: 1200px)"
            data-srcset="images/inner_head.jpg"
          />
          <source
            media="(min-width: 992px)"
            data-srcset="images/inner_head.jpg"
          />
          <source
            media="(min-width: 576px)"
            data-srcset="images/inner_head.jpg"
          />
          <source
            media="(max-width: 575px)"
            data-srcset="images/inner_head.jpg"
          />
          <img data-src="images/inner_head.jpg" class="lazy" />
        </picture>
      </div>
    </div>
    <div class="tsite-inquiry">
      <div class="pageInfo">
        <div class="path">
          <a href="#">首頁</a> / <a href="#">選單第一層</a> /
          <a href="#">選單第二層</a>
        </div>
        <!-- 這裏套文章標題 -->
        <div class="contentTitle">Event Apply</div>
      </div>
      <!-- step -->
      <div class="steps">
        <ol>
          <li class="now">
            <span
              >Step <em>1</em> Registration period selection <br />
              報名時段選擇</span
            >
          </li>
          <li class="">
            <span>Step <em>2</em> Apply for registration <br />申請報名</span>
          </li>
          <li class="">
            <span
              >Step <em>3</em> Completion <br />
              報名完成</span
            >
          </li>
        </ol>
      </div>
      <!-- formX -->
      <div class="formX">
        <div class="tsite-form">
          <!-- row -->
          <div class="formRow">
            <div class="receiver">活動名稱</div>
          </div>
          <div class="formTab">
            <!-- tab btn -->
            <ul class="tabs">
              <li class="active">
                <a href="#">07/20</a>
              </li>
              <li rel="tab2">
                <a href="#">07/21</a>
              </li>
              <li rel="tab3">
                <a href="#">07/22</a>
              </li>
            </ul>
            <!-- tab container -->
            <div class="tabContainer">
              <!--t abContent1 -->
              <div class="tabContent active">
                <div class="formRow">
                  <label for="" class="newline">上午時段</label>
                  <div class="timeArea">
                    <ul>
                      <li class="timebel active">10:00-10:20</li>
                      <li class="timebel">10:20-10:40</li>
                      <li class="timebel">10:40-11:00</li>
                      <li class="timebel">11:00-11:20</li>
                      <li class="timebel">11:20-11:40</li>
                      <li class="timebel">11:40-12:00</li>
                      <li class="timebel">12:00-12:20</li>
                      <li class="timebel">12:20-12:40</li>
                      <li class="timebel">12:40-13:00</li>
                      <li class="timebel">13:00-13:20</li>
                      <li class="timebel">13:20-13:40</li>
                      <li class="timebel">13:40-14:00</li>
                    </ul>
                  </div>
                </div>
                <div class="formRow">
                  <label for="" class="newline">上午時段</label>
                  <div class="timeArea">
                    <ul>
                      <li class="timebel active">10:00-10:20</li>
                      <li class="timebel">10:20-10:40</li>
                      <li class="timebel">10:40-11:00</li>
                      <li class="timebel">11:00-11:20</li>
                      <li class="timebel">11:20-11:40</li>
                      <li class="timebel">11:40-12:00</li>
                      <li class="timebel">12:00-12:20</li>
                      <li class="timebel">12:20-12:40</li>
                      <li class="timebel">12:40-13:00</li>
                      <li class="timebel">13:00-13:20</li>
                      <li class="timebel">13:20-13:40</li>
                      <li class="timebel">13:40-14:00</li>
                    </ul>
                  </div>
                </div>
                <div class="formRow">
                  <button class="alternate" type="button">候補報名</button>
                </div>
              </div>
              <!-- abContent2 -->
              <div class="tabContent">
                <div class="formRow">
                  <label for="" class="newline">上午時段</label>
                  <div class="timeArea">
                    <ul>
                      <li class="timebel">10:00-10:20</li>
                      <li class="timebel">10:20-10:40</li>
                      <li class="timebel active">10:40-11:00</li>
                      <li class="timebel">11:00-11:20</li>
                      <li class="timebel">11:20-11:40</li>
                      <li class="timebel">11:40-12:00</li>
                      <li class="timebel">12:00-12:20</li>
                      <li class="timebel">12:20-12:40</li>
                      <li class="timebel">12:40-13:00</li>
                      <li class="timebel">13:00-13:20</li>
                      <li class="timebel">13:20-13:40</li>
                      <li class="timebel">13:40-14:00</li>
                    </ul>
                  </div>
                </div>
                <div class="formRow">
                  <label for="" class="newline">上午時段</label>
                  <div class="timeArea">
                    <ul>
                      <li class="timebel">10:00-10:20</li>
                      <li class="timebel">10:20-10:40</li>
                      <li class="timebel active">10:40-11:00</li>
                      <li class="timebel">11:00-11:20</li>
                      <li class="timebel">11:20-11:40</li>
                      <li class="timebel">11:40-12:00</li>
                      <li class="timebel">12:00-12:20</li>
                      <li class="timebel">12:20-12:40</li>
                      <li class="timebel">12:40-13:00</li>
                      <li class="timebel">13:00-13:20</li>
                      <li class="timebel">13:20-13:40</li>
                      <li class="timebel">13:40-14:00</li>
                    </ul>
                  </div>
                </div>
                <div class="formRow">
                  <button class="alternate" type="button">候補報名</button>
                </div>
              </div>
              <!-- tabContent3 -->
              <div class="tabContent">
                <div class="formRow">
                  <label for="" class="newline">上午時段</label>
                  <div class="timeArea">
                    <ul>
                      <li class="timebel">10:00-10:20</li>
                      <li class="timebel active">10:20-10:40</li>
                      <li class="timebel">10:40-11:00</li>
                      <li class="timebel">11:00-11:20</li>
                      <li class="timebel">11:20-11:40</li>
                      <li class="timebel">11:40-12:00</li>
                      <li class="timebel">12:00-12:20</li>
                      <li class="timebel">12:20-12:40</li>
                      <li class="timebel">12:40-13:00</li>
                      <li class="timebel">13:00-13:20</li>
                      <li class="timebel">13:20-13:40</li>
                      <li class="timebel">13:40-14:00</li>
                    </ul>
                  </div>
                </div>
                <div class="formRow">
                  <label for="" class="newline">上午時段</label>
                  <div class="timeArea">
                    <ul>
                      <li class="timebel">10:00-10:20</li>
                      <li class="timebel active">10:20-10:40</li>
                      <li class="timebel">10:40-11:00</li>
                      <li class="timebel">11:00-11:20</li>
                      <li class="timebel">11:20-11:40</li>
                      <li class="timebel">11:40-12:00</li>
                      <li class="timebel">12:00-12:20</li>
                      <li class="timebel">12:20-12:40</li>
                      <li class="timebel">12:40-13:00</li>
                      <li class="timebel">13:00-13:20</li>
                      <li class="timebel">13:20-13:40</li>
                      <li class="timebel">13:40-14:00</li>
                    </ul>
                  </div>
                </div>
                <div class="formRow">
                  <button class="alternate" type="button">候補報名</button>
                </div>
              </div>
            </div>
          </div>

          <!-- row -->
          <div class="btnBlock">
            <button class="confirm trigPop" type="button">Go Back</button>
            <button
              class="confirm trigPop"
              type="button"
              data-fancybox
              data-src="#hidden-content2"
            >
              Submit
            </button>
            <!-- pop by fancybox  -->
            <div style="display: none" id="hidden-content2" class="popWindow">
              <p>Sign in with your Taiwantrade account</p>
              <div class="btnBlock">
                <button class="confirm" type="button">Sign in</button>
              </div>
              <hr />
              <p>Don't have a Taiwantrade account yet?</p>
              <div class="btnBlock">
                <button class="confirm" type="button">
                  Create an account free
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- js -->
<script>
  $(function () {
    var lazyLoadInstance = new LazyLoad({
      elements_selector: "img.lazy",
      //placeholder: '/images/basic/placeholder.gif',
      effect: "fadeIn",
      fadeTime: 600,
      threshold: 0,
    });
    //add table mobile x_scroll
    $("table").each(function (index, el) {
      //判斷沒有table_list
      $(".userEditContent")
        .find("table")
        .each(function () {
          $(this).wrap('<div class="tableScroll"></div>');
        });
    });

    // tab js
    $(".formTab")
      .find(".tabs li")
      .each(function (index, el) {
        $(this)
          .find("a")
          .off()
          .click(function (e) {
            var activeIndex = $(this).parents("li").index();
            $(".formTab").find(".tabs li").removeClass("active");
            $(this).parents("li").addClass("active");
            $(this)
              .parents(".tabs")
              .siblings(".tabContainer")
              .find(".tabContent")
              .removeClass("active");
            $(this)
              .parents(".tabs")
              .siblings(".tabContainer")
              .find(".tabContent")
              .eq(activeIndex)
              .addClass("active");
            console.log(activeIndex);
            e.preventDefault();
          });
      });
  });
</script>
