.bannerSlide .container {
  padding-bottom: 1em; }
  @media screen and (max-width: 1399px) {
    .bannerSlide .container {
      margin-bottom: 1em; } }
  .bannerSlide .container .bannerSlide_container {
    overflow: hidden; }
    .bannerSlide .container .bannerSlide_container .swiper-pagination {
      bottom: -20px; }
      @media screen and (max-width: 1399px) {
        .bannerSlide .container .bannerSlide_container .swiper-pagination {
          bottom: -35px; } }
      .bannerSlide .container .bannerSlide_container .swiper-pagination .swiper-pagination-bullet {
        width: 12px;
        height: 12px; }
      .bannerSlide .container .bannerSlide_container .swiper-pagination .swiper-pagination-bullet-active-main {
        background: #ec7652; }
    .bannerSlide .container .bannerSlide_container:hover .swiper-button-prev {
      left: 5px;
      opacity: 1; }
    .bannerSlide .container .bannerSlide_container:hover .swiper-button-next {
      right: 5px;
      opacity: 1; }
  .bannerSlide .container .swiper-slide a {
    display: block;
    width: 100%;
    height: 100%;
    position: relative; }
    .bannerSlide .container .swiper-slide a .img-container {
      position: absolute;
      overflow: hidden;
      position: relative;
      width: 100%;
      top: 0;
      left: 0; }
      .bannerSlide .container .swiper-slide a .img-container:before {
        display: block;
        content: '';
        line-height: 1;
        padding-top: 56.25%; }
      .bannerSlide .container .swiper-slide a .img-container img,
      .bannerSlide .container .swiper-slide a .img-container iframe,
      .bannerSlide .container .swiper-slide a .img-container video {
        display: block;
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        width: 100%;
        height: 100%;
        margin: auto; }
      .bannerSlide .container .swiper-slide a .img-container img {
        object-fit: cover; }
    .bannerSlide .container .swiper-slide a .info {
      position: absolute;
      z-index: 2;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      opacity: 1;
      background: rgba(0, 0, 0, 0.25);
      display: flex;
      flex-flow: row wrap;
      align-items: center;
      align-content: center;
      transition: 0.3s cubic-bezier(0.4, 0.01, 0.165, 0.99);
      padding: 2em; }
      .bannerSlide .container .swiper-slide a .info h3 {
        width: 60%;
        margin: 0 auto 1em;
        color: #fff;
        text-align: center;
        height: auto;
        font-size: 2em;
        overflow: hidden;
        text-overflow: -o-ellipsis-lastline;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        line-height: 1.25;
        height: calc(1.25 * 2); }
        @media screen and (max-width: 575px) {
          .bannerSlide .container .swiper-slide a .info h3 {
            font-size: 1.5em; } }
      .bannerSlide .container .swiper-slide a .info p {
        width: 60%;
        margin: 0 auto 1em;
        color: #fff;
        text-align: center;
        overflow: hidden;
        text-overflow: -o-ellipsis-lastline;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        line-height: 1.25;
        height: calc(1.25 * 3); }
  .bannerSlide .container [class^='swiper-button'] {
    border-radius: 50%;
    background: #f67f50;
    width: 3em;
    height: 3em;
    transition: 0.3s ease-out;
    left: -3em;
    opacity: 0; }
    .bannerSlide .container [class^='swiper-button']:hover, .bannerSlide .container [class^='swiper-button']:focus {
      background: #d14545;
      outline: none;
      box-shadow: none; }
    @media screen and (max-width: 575px) {
      .bannerSlide .container [class^='swiper-button'] {
        display: none; } }
    .bannerSlide .container [class^='swiper-button']:after {
      display: none; }
    .bannerSlide .container [class^='swiper-button']:before {
      position: absolute;
      content: '';
      width: 1em;
      height: 1em;
      border: 2px solid #fff;
      border-bottom: 0;
      border-left: 0;
      transform: rotate(-135deg);
      left: 1.15em;
      top: 0.9em; }
  .bannerSlide .container .swiper-button-next {
    left: auto;
    right: -3em; }
    .bannerSlide .container .swiper-button-next:before {
      transform: rotate(45deg);
      left: 0.75em; }
/*# sourceMappingURL=banner_slide.css.map */