@import '../../../sass/_variable'; //變數
@import '../../../sass/_mixin'; //Mixin
$site: index($themeColor, cyan);
.tsite-gridStack {
    padding: 5em 0;
    background: nth($subColor, $site);
    position: relative;
    .container {
        position: relative;
        z-index: 2;
        h2 {
            position: absolute;
            text-align: left;
            top: 3em;
            width: 30%;
            margin: 0;
            color: #fff;
            small {
                display: block;
                color: #fff;
            }
            @include screen('tablet') {
                margin-top: -1.25em;
                top: 0em;
            }
            @include screen('xs_mobile') {
                top: auto;
                position: relative;
                width: 100%;
                margin-bottom: 0em;
                text-align: center;
                margin-top: 0;
                small {
                    line-height: 1.2rem;
                }
            }
        }
    }
    @include screen('xs_mobile') {
        padding: 2em 0;
    }
    .gridStack_block {
        min-height: 600px;
        width: 80%;
        margin: 0 0 0 auto;
        position: relative;
        @include screen('tablet') {
            width: 100%;
            padding-top: 4em;
        }
        @include screen('xs_mobile') {
            width: 100%;
            margin: 0;
            padding-top: 0;
        }
        .gridItem {
            width: 50%;
            min-height: 450px;
            position: absolute;
            color: #fff;
            padding: 10em 3em 4em;
            border-radius: 1em;
            overflow: hidden;
            box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
            transition: 0.3s $cubic;
            left: 15%;
            top: 17%;
            z-index: 3;
            background: darken(nth($mainColor, $site), 0);
            @include screen('tablet') {
                width: 60%;
            }
            &:hover {
                z-index: 9;
                box-shadow: rgb(3, 3, 3) 0px 20px 30px -10px;
                @include screen('xs_mobile') {
                    z-index: 2;
                }
            }
            h3 {
                @include screen('xs_mobile') {
                    font-size: 1.75rem;
                }
            }
            @include screen('xs_mobile') {
                width: 90%;
                min-height: 300px;
                position: relative;
                padding: 8em 1em 3em;
                left: 0;
                top: 0;
                margin: 0 auto 1em;
            }
            &.notme {
                transform: translate(-5%, -5%);
                background: darken(nth($mainColor, $site), 10);
                @include screen('xs_mobile') {
                    transform: none;
                }
            }
            &:nth-child(2) {
                background: #fff;
                padding: 4em 3em;
                min-height: 350px;
                top: 0;
                right: 5%;
                z-index: 2;
                left: auto;
                width: 40%;
                background: adjust_hue(saturate(darken(nth($subColor, $site), 10), 24), 31);
                h3 {
                    font-size: 1.75rem;
                }
                &:hover {
                    z-index: 9;
                    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
                    @include screen('xs_mobile') {
                        z-index: 2;
                    }
                }
                @include screen('tablet') {
                    width: 60%;
                }
                @include screen('xs_mobile') {
                    width: 90%;
                    min-height: 300px;
                    position: relative;
                    padding: 8em 1em 3em;
                    left: 0;
                    top: 0;
                    margin: 0 auto 1em;
                }
                &.notme {
                    background: adjust_hue(saturate(darken(nth($subColor, $site), 0), 14), 31);
                    top: -5%;
                    right: 0%;
                    @include screen('xs_mobile') {
                        top: 0;
                        right: 0;
                    }
                }
            }
            &:nth-child(3) {
                padding: 4em 3em;
                min-height: 350px;
                bottom: -2em;
                right: 15%;
                z-index: 1;
                left: auto;
                top: auto;
                width: 40%;
                h3 {
                    font-size: 1.75rem;
                }
                &:hover {
                    z-index: 9;
                    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
                    @include screen('xs_mobile') {
                        z-index: 2;
                    }
                }
                @include screen('tablet') {
                    width: 60%;
                }
                @include screen('xs_mobile') {
                    width: 90%;
                    min-height: 300px;
                    position: relative;
                    padding: 8em 1em 3em;
                    left: 0;
                    top: 0;
                    margin: 0 auto 1em;
                }
                &.notme {
                    transform: translate(10%, 10%);
                    @include screen('xs_mobile') {
                        transform: none;
                    }
                }
            }
            .info {
                position: relative;
                z-index: 2;
            }
            .img-container {
                position: absolute;
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                z-index: 1;

                img {
                    object-fit: cover;
                    position: absolute;
                    width: 100%;
                    height: 100%;
                }
            }
            time {
                margin-bottom: 0.5em;
                font-size: 1.5em;
            }
            h3 {
                font-size: 2.5em;
                @include text-line(2, 1.25);
                margin: 0 0 0.5em;
            }
            p {
                color: #fff;
                @include text-line(4, 1.5);
            }
            a.more {
                position: absolute;
                width: 10em;
                background: none;
                right: 1em;
                border-radius: 1em;
                bottom: 1em;
                margin: 0;
                color: #fff;
                z-index: 9;
                font-size: 0.875rem;
                &:after {
                    z-index: 1;
                    width: 3em;
                }
                &:before {
                }
                span {
                    background: none;
                }
            }
        }
    }
    // tsite-cyan
    &.tsite-cyan {
        $site: index($themeColor, cyan);
        background: nth($subColor, $site);
        .gridStack_block {
            .gridItem {
                background: darken(nth($mainColor, $site), 0);
                &.notme {
                    background: darken(nth($mainColor, $site), 10);
                }
                &:nth-child(2) {
                    background: adjust_hue(saturate(darken(nth($subColor, $site), 10), 24), 13);
                    &.notme {
                        background: adjust_hue(saturate(darken(nth($subColor, $site), 0), 14), 13);
                    }
                }
            }
        }
    }
    // tsite-green
    &.tsite-green {
        $site: index($themeColor, green);
        .gridStack_block {
            .gridItem {
                background: darken(nth($mainColor, $site), 0);
                &.notme {
                    background: darken(nth($mainColor, $site), 10);
                }
                &:nth-child(2) {
                    background: adjust_hue(saturate(darken(nth($subColor, $site), 10), 24), 13);
                    &.notme {
                        background: adjust_hue(saturate(darken(nth($subColor, $site), 0), 14), 13);
                    }
                }
            }
        }
    }
    // tsite-purple
    &.tsite-purple {
        $site: index($themeColor, purple);
        .gridStack_block {
            .gridItem {
                background: darken(nth($mainColor, $site), 0);
                &.notme {
                    background: darken(nth($mainColor, $site), 10);
                }
                &:nth-child(2) {
                    background: adjust_hue(saturate(darken(nth($subColor, $site), 10), 24), 13);
                    &.notme {
                        background: adjust_hue(saturate(darken(nth($subColor, $site), 0), 14), 13);
                    }
                }
            }
        }
    }
    // tsite-red
    &.tsite-red {
        $site: index($themeColor, red);
        .gridStack_block {
            .gridItem {
                background: darken(nth($mainColor, $site), 0);
                &.notme {
                    background: darken(nth($mainColor, $site), 10);
                }
                &:nth-child(2) {
                    background: adjust_hue(saturate(darken(nth($subColor, $site), 10), 24), 13);
                    &.notme {
                        background: adjust_hue(saturate(darken(nth($subColor, $site), 0), 14), 13);
                    }
                }
            }
        }
    }
    // -----------------------版型-------//
    // tsite-wrap-A
    &.tsite-wrap-A {
        &:after {
            position: absolute;
            content: '';
            width: 80%;
            height: 100%;
            top: 0;
            right: auto;
            background: url(../../../../src/images/a_html_bg.png) no-repeat left top;
            background-size: contain;
            z-index: 0;
        }
        &:before {
            content: '';
            position: absolute;
            z-index: 0;
            width: 0;
            height: 0;
            top: 0;
            right: 3em;
            border-style: solid;
            border-width: 120px 120px 0 120px;
            border-color: nth($mainColor, $site) transparent transparent transparent;
            @include screen('tablet') {
                right: 0;
                border-width: 40px 40px 0 40px;
            }
        }
    }
    // tsite-wrap-B
    &.tsite-wrap-B {
        background: url(../../../../src/images/b_section_bg_02.jpg) no-repeat left bottom #fff;
        @include screen('xs_mobile') {
            padding: 2em 0;
        }
        .container {
            h2 {
                position: absolute;
                display: block;
                text-align: left;
                top: 0em;
                width: 80%;
                margin: 0;
                font-size: 5em;
                font-family: verdana;
                background: nth($mainColor, $site);
                background: $gradinet;
                font-weight: bold;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                small {
                    display: inline-block;
                }
                @include screen('tablet') {
                    margin-top: -1.25em;
                }
                @include screen('mobile') {
                    top: auto;
                    position: relative;
                    width: 100%;
                    font-size: 2.5em;
                    display: inline-block;
                    margin-bottom: 0.5em;
                    text-align: left;
                    margin-top: 0;
                    line-height: 1.3em;
                    small {
                        line-height: 1.2rem;
                    }
                }
            }
        }
    }
    // tsite-wrap-C
    &.tsite-wrap-C {
        padding: 5em 0;
        background: url(../../../../src/images/grid_stack_bg.png) no-repeat left top #f1f1f1;
        background-size: contain;
        .container {
            h2 {
                color: #222;
                small {
                    color: #555;
                }
            }
        }
    }
    // tsite-wrap-D
    &.tsite-wrap-D {
        padding: 5em 0;
        background: nth($mainColor, $site);
        background-size: contain;
        position: relative;
        overflow: hidden !important;
        &:before {
            position: absolute;
            content: '';
            top: 0;
            left: 50%;
            margin-left: -50%;
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 450px 1200px 0 0;
            border-color: nth($subColor, $site) transparent transparent transparent;
            z-index: 1;
        }
        &:after {
            position: absolute;
            content: '';
            bottom: 0;
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 0 0 450px 1200px;
            border-color: transparent transparent nth($subColor, $site) transparent;
            z-index: 1;
            transform: translateX(100%);
        }
        .gridStack_block {
            .gridItem {
                a.more {
                    &:before {
                        display: none;
                    }
                    &:after {
                        display: none;
                    }
                }
            }
        }
        // -----------------------色彩-------//
        // tsite-cyan
        &.tsite-cyan {
            $site: index($themeColor, cyan);
            background: nth($mainColor, $site);
            &:before {
                border-style: solid;
                border-width: 450px 1200px 0 0;
                border-color: darken(nth($mainColor, $site), 10) transparent transparent transparent;
            }
            &:after {
                border-style: solid;
                border-width: 0 0 450px 1200px;
                border-color: transparent transparent darken(nth($mainColor, $site), 10) transparent;
            }
        }
        // tsite-green
        &.tsite-green {
            $site: index($themeColor, green);
            background: nth($mainColor, $site);
            &:before {
                border-style: solid;
                border-width: 450px 1200px 0 0;
                border-color: darken(nth($mainColor, $site), 10) transparent transparent transparent;
            }
            &:after {
                border-style: solid;
                border-width: 0 0 450px 1200px;
                border-color: transparent transparent darken(nth($mainColor, $site), 10) transparent;
            }
        }
        // tsite-purple
        &.tsite-purple {
            $site: index($themeColor, purple);
            background: nth($mainColor, $site);
            &:before {
                border-style: solid;
                border-width: 450px 1200px 0 0;
                border-color: darken(nth($mainColor, $site), 10) transparent transparent transparent;
            }
            &:after {
                border-style: solid;
                border-width: 0 0 450px 1200px;
                border-color: transparent transparent darken(nth($mainColor, $site), 10) transparent;
            }
        }
        // tsite-red
        &.tsite-red {
            $site: index($themeColor, red);
            background: nth($mainColor, $site);
            &:before {
                border-style: solid;
                border-width: 450px 1200px 0 0;
                border-color: darken(nth($mainColor, $site), 10) transparent transparent transparent;
            }
            &:after {
                border-style: solid;
                border-width: 0 0 450px 1200px;
                border-color: transparent transparent darken(nth($mainColor, $site), 10) transparent;
            }
        }
    }
}
