@import '../../../../sass/_variable'; //變數
@import '../../../../sass/_mixin'; //Mixin
@keyframes liveStream_fadeIn {
    0% {
        bottom: 10%;
        opacity: 0;
    }
    100% {
        bottom: 35%;
        opacity: 1;
    }
}
.liveStream {
    position: fixed;
    width: 32em;
    bottom: 35%;
    left: 10%;
    z-index: 49;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    background: #000;
    animation: liveStream_fadeIn 1.5s 1s both cubic-bezier(0.4, 0.01, 0.165, 0.99);
    &:hover {
        .close {
            opacity: 1;
        }
    }
    @include screen('mobile') {
        width: 86%;
        left: 50%;
        top: 45%;
        transform: translate(-50%, -50%);
    }
    .youtube_container {
        @include aspect-ratio(16, 9);
        width: 100%;
    }
    .close {
        position: absolute;
        width: 3em;
        height: 3em;
        right: 0;
        top: -3em;
        text-align: center;
        opacity: 0;
        transition: 0.3s ease-out;
        @include screen('mobile') {
            width: 2em;
            height: 2em;
            top: -2em;
            right: 0;
            opacity: 1;
        }
        i {
            color: #fff;
            font-size: 2em;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            text-shadow: 0px 0px 4px #000;
            @include screen('mobile') {
                font-size: 1.5em;
            }
        }
        &:hover,
        &:focus {
            i {
                color: #fff;
            }
        }
    }
}
