<!-- css -->
<link rel="stylesheet" href="template/product_content/product_content.css" />
<!-- swiper -->
<link rel="stylesheet" href="vendor/swiper/swiper-bundle.min.css" />
<div class="tsite-innerpage tsite-wrap-A tsite-cyan">
    <div class="container">
        <div class="head">
            <div class="img-container">
                <!-- 請針對縮圖產出尺寸使用不同解析度 src -->
                <picture>
                    <source media="(min-width: 1200px)" data-srcset="images/inner_head.jpg" />
                    <source media="(min-width: 992px)" data-srcset="images/inner_head.jpg" />
                    <source media="(min-width: 576px)" data-srcset="images/inner_head.jpg" />
                    <source media="(max-width: 575px)" data-srcset="images/inner_head.jpg" />
                    <img data-src="images/inner_head.jpg" class="lazy" />
                </picture>
            </div>
        </div>
        <div class="tsite-supplierContentPage">
            <div class="pageInfo">
                <div class="path"><a href="#">首頁</a> / <a href="#">選單第一層</a> / <a href="#">選單第二層</a></div>
                <!-- 這裏套文章標題 -->
                <div class="contentTitle">產品詳細內容頁(單元名稱)</div>
                <div class="publishTime"><i class="far fa-clock"></i>發布時間：<time>2021/01/12</time></div>
                <div class="function">
                    <a href="#"><i class="fas fa-angle-left"></i></a>
                    <a href="#"><i class="fas fa-print"></i></a>
                    <a href="#"><i class="fab fa-facebook-f"></i></a>
                    <a href="#"><i class="fab fa-twitter"></i></i></a>
                    <a href="#"><i class="fab fa-youtube"></i></i></a>
                    <a href="#"><i class="fab fa-instagram"></i></a>
                </div>
            </div>
            <div class="product_content">
                <div class="productInfo">
                    <div class="productPic ">
                        <div class="discount">50% <span>off</span></div>
                        <div class="swiper-product-content">
                            <div class="swiper-container">
                                <div class="swiper slider-for">
                                    <div class="swiper-wrapper">
                                        <div class="swiper-slide">
                                            <img src="images/pic_01.jpg" />
                                        </div>
                                        <div class="swiper-slide">
                                            <img src="images/pic_02.jpg" />
                                        </div>
                                        <div class="swiper-slide">
                                            <img src="images/pic_01.jpg" />
                                        </div>
                                        <div class="swiper-slide">
                                            <img src="images/pic_02.jpg" />
                                        </div>
                                        <div class="swiper-slide">
                                            <img src="images/pic_01.jpg" />
                                        </div>
                                        <div class="swiper-slide">
                                            <img src="images/pic_02.jpg" />
                                        </div>
                                        <div class="swiper-slide">
                                            <img src="images/pic_01.jpg" />
                                        </div>
                                        <div class="swiper-slide">
                                            <img src="images/pic_02.jpg" />
                                        </div>
                                        <div class="swiper-slide">
                                            <img src="images/pic_01.jpg" />
                                        </div>
                                        <div class="swiper-slide">
                                            <img src="images/pic_02.jpg" />
                                        </div>
                                    </div>
                                </div>
                                <div thumbsSlider="" class="swiper slider-nav">
                                    <div class="swiper-wrapper">
                                        <div class="swiper-slide">
                                            <img src="images/pic_01.jpg" />
                                        </div>
                                        <div class="swiper-slide">
                                            <img src="images/pic_02.jpg" />
                                        </div>
                                        <div class="swiper-slide">
                                            <img src="images/pic_01.jpg" />
                                        </div>
                                        <div class="swiper-slide">
                                            <img src="images/pic_02.jpg" />
                                        </div>
                                        <div class="swiper-slide">
                                            <img src="images/pic_01.jpg" />
                                        </div>
                                        <div class="swiper-slide">
                                            <img src="images/pic_02.jpg" />
                                        </div>
                                        <div class="swiper-slide">
                                            <img src="images/pic_01.jpg" />
                                        </div>
                                        <div class="swiper-slide">
                                            <img src="images/pic_02.jpg" />
                                        </div>
                                        <div class="swiper-slide">
                                            <img src="images/pic_01.jpg" />
                                        </div>
                                        <div class="swiper-slide">
                                            <img src="images/pic_02.jpg" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="productView ">
                            <a data-fancybox data-type="iframe" data-src="https://scankit.istaging.com/GA043/GA043.html"
                                href="javascript:;">
                                <img src="images/pic_360.jpg" alt="">
                            </a>
                            <a data-fancybox data-type="iframe" data-src="https://webar.istaging.com/?id=5lTNV4rfmC6"
                                href="javascript:;">
                                <img src="images/pic_720.jpg" alt="">
                            </a>
                            <a data-fancybox data-type="iframe" data-src="https://webar.istaging.com/?id=5lTNV4rfmC6"
                                href="javascript:;">
                                <img src="images/pic_3d.jpg" alt="">
                            </a>
                            <a data-fancybox data-type="iframe"
                                data-src="https://www.youtube.com/embed/T6jolhKU2l4?rel=0&autohide=1&showinfo=0&controls=0&autoplay=0"
                                href="javascript:;">
                                <img src="images/pic_video.jpg" alt="">
                            </a>
                        </div>
                    </div>
                    <div class="boothInfo">
                        <button style="right:10em;" class="btnBlock" type="button">
                            <i class="far fa-shopping-cart"></i>BuyNow
                        </button>
                        <button class="btnBlock subBtn " type="button">
                            <i class="far fa-shopping-cart"></i>BuyNow
                        </button>
                        <!-- 橘色按鈕 -->
                        <!-- <button  class="btnBlock dangerBtn" type="button">
                            <i class="far fa-shopping-cart"></i>BuyNow
                        </button> -->
                        <!-- 黑灰色按鈕 -->
                        <!-- <button class="btnBlock darkBtn" type="button">
                            <i class="far fa-shopping-cart"></i>BuyNow
                        </button> -->
                        <div class="memberFunction">
                            <button type="button" class="collect collected">
                                <i class="fas fa-heart"></i>Add to Favorites</button>
                            <button type="button" class="contact">
                                <i class="fas fa-envelope"></i>Contact Us</button>
                            <button type="button">經貿網會員頁面</button>
                            <button type="button" class="contact"><i class="fab fa-skype"></i>Skype按鈕</button>
                            <button type="button" class="contact"><i class="fab fa-line"></i>LINE按鈕</button>
                            <button type="button" class="contact"><i class="fab fa-teamspeak"></i>Teams按鈕</button>
                            <button type="button" class="contact"><i
                                    class="far fa-envelope-open-text"></i>email按鈕</button>
                            <button type="button" class="contact btnPrimary"><i
                                    class="far fa-clipboard-list"></i>活動報名按鈕</button>
                        </div>
                        <h3 class="productName">Servo drilling and tapping machine</h3>
                        <ul>
                            <li><span class="title">Company Name：</span>
                                <p>YEN SHEN ELECTRIC IND. CO., LTD.</p>
                            </li>
                            <li><span class="title">Booth No.:</span>
                                <p>Taipei Nangang Exhibition Center, Hall 1 (TaiNEX 1) Metal Cutting Machine Tools
                                    <em>JH106</em></p>
                            </li>
                            <li><span class="title">Product Model：</span>
                                <p>PF-320</p>
                            </li>
                            <li><span class="title">Unit Price：</span>
                                <p>USD<s>1,123,456,789.00</s>/ Pack (2 Pieces)</p>
                            </li>
                            <li><span class="title">Discount Price：</span>
                                <p><em>1,055,555,555,555,555.45</em> /(Pieses)</p>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="productDetail">
                    <h3>Deacription：</h3>
                    <p>FEATURES:</p>
                    <ol>
                        <li>New 3 servo control, include spindle, spindle pitch and cam. Optional can add more servo
                            motors for CNC control.</li>
                        <li>Produce precisely air coil (choke coil) with high speed. Available for round wire, square
                            wire and flat wire. It can make round body in single layer or multi layers.</li>
                        <li>Winding spring by spindle plus tooling press and bending.</li>
                        <li>The diameter and angle can be produced precisely and consistently.</li>
                        <li>Feeding, straightening, stripping, soldering, winding, bending, groove cutting can all be
                            done automatically on machine.</li>
                        <li>Consistent diameter with spindle forming, precise angle and stable production with tool
                            bending or stamping.</li>
                    </ol>
                    <h3>Specification：</h3>
                    <table>
                        <tr>
                            <td>Machine Weight</td>
                            <td>350kg</td>
                        </tr>
                        <tr>
                            <td>Machine Size</td>
                            <td>142x90x198cm (WxDxH)</td>
                        </tr>
                        <tr>
                            <td>Color</td>
                            <td>Red, Black, White</td>
                        </tr>
                    </table>
                    <h3>Launched Year：</h3>
                    <p>2010</p>
                    <h3>Certifications：</h3>
                    <p>CE</p>
                    <!-- attachment -->
                    <div class="attachment">
                        <h3>Attachment：</h3>
                        <ol>
                            <li><i class="fas fa-paperclip"></i><a href="#">Product Category</a></li>
                            <li><i class="fas fa-paperclip"></i><a href="#">Product Category</a></li>
                        </ol>
                    </div>
                </div>
                <div class="showMoreProducts">
                    <h3>Other Products Offered by This Company</h3>
                    <div class="swiper-products">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <a href="#">
                                    <div class="img-container">
                                        <!-- 請針對縮圖產出尺寸使用不同解析度 src -->
                                        <picture>
                                            <source media="(min-width: 1200px)" data-srcset="images/pic_01.jpg" />
                                            <source media="(min-width: 992px)" data-srcset="images/pic_01.jpg" />
                                            <source media="(min-width: 576px)" data-srcset="images/pic_01.jpg" />
                                            <source media="(max-width: 575px)" data-srcset="images/pic_01.jpg" />
                                            <img data-src="images/pic_01.jpg" class="lazy" />
                                        </picture>
                                    </div>
                                    <div class="title"> 產品名稱 </div>
                                </a>
                            </div>
                            <div class="swiper-slide">
                                <a href="#">
                                    <div class="img-container">
                                        <!-- 請針對縮圖產出尺寸使用不同解析度 src -->
                                        <picture>
                                            <source media="(min-width: 1200px)" data-srcset="images/pic_01.jpg" />
                                            <source media="(min-width: 992px)" data-srcset="images/pic_01.jpg" />
                                            <source media="(min-width: 576px)" data-srcset="images/pic_01.jpg" />
                                            <source media="(max-width: 575px)" data-srcset="images/pic_01.jpg" />
                                            <img data-src="images/pic_01.jpg" class="lazy" />
                                        </picture>
                                    </div>
                                    <div class="title"> 產品名稱 </div>
                                </a>
                            </div>
                            <div class="swiper-slide">
                                <a href="#">
                                    <div class="img-container">
                                        <!-- 請針對縮圖產出尺寸使用不同解析度 src -->
                                        <picture>
                                            <source media="(min-width: 1200px)" data-srcset="images/pic_01.jpg" />
                                            <source media="(min-width: 992px)" data-srcset="images/pic_01.jpg" />
                                            <source media="(min-width: 576px)" data-srcset="images/pic_01.jpg" />
                                            <source media="(max-width: 575px)" data-srcset="images/pic_01.jpg" />
                                            <img data-src="images/pic_01.jpg" class="lazy" />
                                        </picture>
                                    </div>
                                    <div class="title"> 產品名稱 </div>
                                </a>
                            </div>
                            <div class="swiper-slide">
                                <a href="#">
                                    <div class="img-container">
                                        <!-- 請針對縮圖產出尺寸使用不同解析度 src -->
                                        <picture>
                                            <source media="(min-width: 1200px)" data-srcset="images/pic_01.jpg" />
                                            <source media="(min-width: 992px)" data-srcset="images/pic_01.jpg" />
                                            <source media="(min-width: 576px)" data-srcset="images/pic_01.jpg" />
                                            <source media="(max-width: 575px)" data-srcset="images/pic_01.jpg" />
                                            <img data-src="images/pic_01.jpg" class="lazy" />
                                        </picture>
                                    </div>
                                    <div class="title"> 產品名稱 </div>
                                </a>
                            </div>
                            <div class="swiper-slide">
                                <a href="#">
                                    <div class="img-container">
                                        <!-- 請針對縮圖產出尺寸使用不同解析度 src -->
                                        <picture>
                                            <source media="(min-width: 1200px)" data-srcset="images/pic_01.jpg" />
                                            <source media="(min-width: 992px)" data-srcset="images/pic_01.jpg" />
                                            <source media="(min-width: 576px)" data-srcset="images/pic_01.jpg" />
                                            <source media="(max-width: 575px)" data-srcset="images/pic_01.jpg" />
                                            <img data-src="images/pic_01.jpg" class="lazy" />
                                        </picture>
                                    </div>
                                    <div class="title"> 產品名稱 </div>
                                </a>
                            </div>
                        </div>
                        <!-- Add Pagination -->
                        <div class="swiper-pagination"></div>
                        <!-- Add Arrows -->
                        <div class="swiper-button-next"></div>
                        <div class="swiper-button-prev"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- js -->
<script src="js/jquery-3.6.0.min.js"></script>
<script src="js/tsite-baseAllJs.min.js"></script>
<script>
    $(function () {
        var lazyLoadInstance = new LazyLoad({
            elements_selector: 'img.lazy',
            //placeholder: '/images/basic/placeholder.gif',
            effect: 'fadeIn',
            fadeTime: 600,
            threshold: 0,
        });
        //add table mobile x_scroll
        $('table').each(function (index, el) {
            //判斷沒有table_list
            $('.userEditContent')
                .find('table')
                .each(function () {
                    $(this).wrap('<div class="tableScroll"></div>');
                });
        });
        // fancy iframe pop setting
        $('[data-fancybox]').fancybox({
            toolbar: false,
            smallBtn: true,
            iframe: {
                preload: false
            }
        })

    });
    //swiper
    var swiper = new Swiper('.swiper-products', {
        lazy: true,
        loop: false,
        observer: true,
        watchOverflow: true,
        //centeredSlides: true,
        spaceBetween: 30,
        loopFillGroupWithBlank: true,
        //cssMode: true,
        autoplay: {
            delay: 2500,
            disableOnInteraction: true,
        },
        pagination: {
            el: '.swiper-pagination',
            dynamicBullets: true,
            clickable: true,
        },
        navigation: {
            nextEl: '.swiper-button-next',
            prevEl: '.swiper-button-prev',
            disabledClass: 'swiper-button-disabled',
        },
        breakpoints: {
            200: {
                slidesPerView: 1,
                slidesPerGroup: 1,
            },
            545: {
                slidesPerView: 2,
                slidesPerGroup: 1,
            },
            768: {
                slidesPerView: 3,
                slidesPerGroup: 1,
            },
            1024: {
                slidesPerView: 3,
                slidesPerGroup: 1,
            },
        },
    });
    // swiperContent

    var sliderNav = new Swiper(".slider-nav", {
        spaceBetween: 10,
        slidesPerView: 5,
        freeMode: true,
        watchSlidesProgress: true,
        loop: false,
        autoplay: {
            pauseOnMouseEnter:false,
            
        },
       
    });
    var sliderFor = new Swiper(".slider-for", {
        spaceBetween: 10,
        loop: false,
        autoplay: {
            pauseOnMouseEnter:false,
          
        },
     
        navigation: {
            nextEl: ".swiper-button-next",
            prevEl: ".swiper-button-prev",
        },
        thumbs: {
            swiper: sliderNav,
        },
    });
</script>