<!-- css -->
<link rel="stylesheet" href="style_D/components/kv_img/kv_img.css" />
<!-- kvImg -->
<div class="kvImg">
    <div class="kvInfo">
        <h2>On the Leading Edge of World Trade</h2>
        <h3>
            The best Taiwanese beauty products are at “Smart Medical Express—Beauty and the Masks” online product
            launch!The best Taiwanese beauty products are at “Smart Medical Express—Beauty and the Masks” online product
            launch!
        </h3>
    </div>
    <div class="img-container">
        <!-- 請針對縮圖產出尺寸使用不同解析度 src -->
        <picture>
            <source media="(min-width: 1200px)" srcset="images/kv_d_img_pic.jpg" />
            <source media="(min-width: 992px)" srcset="images/kv_d_img_pic.jpg" />
            <source media="(min-width: 576px)" srcset="images/kv_d_img_pic.jpg" />
            <source media="(max-width: 575px)" srcset="images/kv_d_img_pic.jpg" />
            <img data-src="images/kv_d_img_pic.jpg" class="lazy" />
        </picture>
        <!-- fadeArrow scroll to next section-->
        <a href="#" class="fadeArrow"></a>
    </div>
</div>

<!-- js -->
<script src="vendor/picturefill/picturefill.min.js"></script>
<script src="vendor/lazyload/lazyload.js"></script>
<script>
    $(function () {
        //lazyload
        var lazyLoadInstance = new LazyLoad({
            elements_selector: 'img.lazy',
            //placeholder: '/images/basic/placeholder.gif',
            effect: 'fadeIn',
            fadeTime: 600,
            threshold: 0,
        });
        //fadeArrow
        $('.kvImg .fadeArrow')
            .off()
            .click(function (e) {
                $('html, body')
                    .stop(true, true)
                    .animate({ scrollTop: $(this).parents('.kvImg').next('div').offset().top }, 1200, 'easeOutExpo');
                e.preventDefault();
            });
    });
</script>
