<!-- css -->
<link rel="stylesheet" href="style_D/components/newlaunch_products/newlaunch_products.css" />
<!-- newlaunchProducts -->
<div class="newlaunchProducts">
    <div class="container">
        <h2>newlaunch_products</h2>
        <div class="newlaunch_content">
            <div class="flex-4-8">
                <div class="col left_content">
                    <div class="img-container">
                        <a href="#">
                            <!-- 請針對縮圖產出尺寸使用不同解析度 src -->
                            <picture>
                                <source media="(min-width: 1200px)" srcset="images/new_product_pic_02.jpg" />
                                <source media="(min-width: 992px)" srcset="images/new_product_pic_02.jpg" />
                                <source media="(min-width: 576px)" srcset="images/new_product_pic_02.jpg" />
                                <source media="(max-width: 575px)" srcset="images/new_product_pic_02.jpg" />
                                <img data-src="images/new_product_pic_02.jpg" class="lazy" />
                            </picture>
                        </a>
                    </div>
                    <div class="img-container">
                        <a href="#">
                            <!-- 請針對縮圖產出尺寸使用不同解析度 src -->
                            <picture>
                                <source media="(min-width: 1200px)" srcset="images/new_product_pic_04.jpg" />
                                <source media="(min-width: 992px)" srcset="images/new_product_pic_04.jpg" />
                                <source media="(min-width: 576px)" srcset="images/new_product_pic_04.jpg" />
                                <source media="(max-width: 575px)" srcset="images/new_product_pic_04.jpg" />
                                <img data-src="images/new_product_pic_04.jpg" class="lazy" />
                            </picture>
                        </a>
                    </div>
                </div>
                <div class="col right_content">
                    <div class="img-container">
                        <a href="#">
                            <!-- 請針對縮圖產出尺寸使用不同解析度 src -->
                            <picture>
                                <source media="(min-width: 1200px)" srcset="images/new_product_pic_03.jpg" />
                                <source media="(min-width: 992px)" srcset="images/new_product_pic_03.jpg" />
                                <source media="(min-width: 576px)" srcset="images/new_product_pic_03.jpg" />
                                <source media="(max-width: 575px)" srcset="images/new_product_pic_03.jpg" />
                                <img data-src="images/new_product_pic_03.jpg" class="lazy" />
                            </picture>
                        </a>
                    </div>
                    <h3>PLANET OCEAN 600M</h3>
                    <p>
                        Co‑Axial Master Chronometer 43.5 mm<br />
                        America's Cup<br />
                        DETAILS215.32.43.21.04.001 - PLANET OCEAN 600M<br />
                        CO‑AXIAL MASTER CHRONOMETER 43.5 MM
                    </p>
                    <a href="#" class="more"><span>DETAILS</span></a>
                </div>
            </div>
        </div>
    </div>
</div>
