@import '../../../../sass/_variable'; //變數
@import '../../../../sass/_mixin'; //Mixin
$site: index($themeColor, cyan);
.tsite-videoSingle {
    padding: 4em 0 3em;
    position: relative;
    background: nth($subColor, $site);
    color: #fff;
    &:before {
        content: '';
        position: absolute;
        z-index: 0;
        width: 0;
        height: 0;
        top: 0;
        right: 3em;
        border-style: solid;
        border-width: 120px 120px 0 120px;
        border-color: nth($mainColor, $site) transparent transparent transparent;
        @include screen('tablet') {
            right: 0;
            border-width: 40px 40px 0 40px;
        }
    }
    .container {
        position: relative;
        z-index: 1;
        h2 {
            color: #fff;
        }
        p {
            color: #fff;
        }
        @include gutter(0);
        @include screen('xs_mobile') {
            @include gutter;
        }
    }
    a.more {
        display: block;
        max-width: 300px;
        background: rgba(230, 230, 230, 0.75);
        padding: 0em;
        color: #222;
        font-size: 1.125em;
        height: 3em;
        margin: 1em auto;
        text-align: center;
        text-transform: uppercase;
        clear: both;
        position: relative;
        overflow: hidden;
        white-space: nowrap;
        border-radius: 2em;
        transition: 0.3s ease-out;
        span {
            width: auto;
            display: inline-block;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            margin: 0 auto;
            padding: 1em;
            background: transparent;
            position: absolute;
            z-index: 1;
            transition: 0.3s ease-out;
        }
        &:hover,
        &:focus {
            background: none;
            color: #fff;
            &:before {
                top: -400%;
                left: 70%;
            }
        }
        &:before {
            z-index: 0;
            position: absolute;
            top: -170%;
            left: -80%;
            width: 410px;
            height: 1000px;
            content: '';
            transform: rotate(-45deg);
            background: nth($mainColor, $site);
            transition: all 0.3s ease-in-out;
        }
    }
    .col {
        @include screen('xs_mobile') {
            margin-bottom: 1em;
        }
    }
    h3 {
        font-size: 2.2em;
        line-height: 1.45em;
        margin: 0 0 0.5em;
    }
    .social {
        margin-bottom: 0.5em;
        a {
            width: 2.5em;
            height: 2.5em;
            border-radius: 50%;
            border: 2px solid #fff;
            display: inline-block;
            margin: 0 0.1em 0.25em;
            transition: 0.3s ease-out;
            @include screen('xs_mobile') {
                margin: 0 0.1em 0.15em;
                width: 2.5em;
                height: 2.5em;
            }
            img {
                width: 100%;
            }
            i {
                width: 100%;
                font-size: 1.25em;
                text-align: center;
                color: #fff;
                line-height: 1.75em;
                display: flex;
                align-items: center;
                justify-content: center;
            }
            &:hover {
                border: 2px solid nth($mainColor, $site);
                background: nth($mainColor, $site);
                i {
                    color: #fff;
                }
            }
        }
    }
    .img-container {
        @include aspect-ratio(4, 3);
        position: relative;
        iframe {
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
        }
    }
    .bgLayer {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        display: none;
        img {
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            object-fit: cover;
            z-index: 0;
        }
    }
}
