<!-- css -->
<link rel="stylesheet" href="style_A/components/picture_video_wall/picture_video_wall.css" />
<!-- pictureVideoWall -->
<div class="tsite-pictureVideoWall">
    <div class="container">
        <h2>pictureVideoWall</h2>
        <div class="wall">
            <div class="item">
                <a href="#">
                    <!-- 請針對縮圖產出尺寸使用不同解析度 src -->
                    <div class="img-container">
                        <picture>
                            <source media="(min-width: 1200px)" srcset="images/pic_vi.jpg" />
                            <source media="(min-width: 992px)" srcset="images/pic_vi.jpg" />
                            <source media="(min-width: 576px)" srcset="images/pic_vi.jpg" />
                            <source media=" (max-width: 575px)" srcset="images/pic_vi.jpg" />
                            <img data-src=" images/pic_vi.jpg" class="lazy" />
                        </picture>
                    </div>
                    <div class="info">
                        <h3><span>Vietnam</span></h3>
                        <p>期望與東協、南亞及紐澳等國家，創造互利共贏的新合作模式，建立「經濟共同體意識」</p>
                    </div>
                </a>
            </div>
            <div class="item">
                <!-- 請針對縮圖產出尺寸使用不同解析度 src -->
                <div class="img-container">
                    <iframe width="100%" height="100%" src="https://www.youtube.com/embed/laW8rtUEMyc"
                        title="YouTube video player" frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen></iframe>
                </div>
            </div>
            <div class="item">
                <a href="#">
                    <!-- 請針對縮圖產出尺寸使用不同解析度 src -->
                    <div class="img-container">
                        <picture>
                            <source media="(min-width: 1200px)" srcset="images/pic_ind.jpg" />
                            <source media="(min-width: 992px)" srcset="images/pic_ind.jpg" />
                            <source media="(min-width: 576px)" srcset="images/pic_ind.jpg" />
                            <source media=" (max-width: 575px)" srcset="images/pic_ind.jpg" />
                            <img data-src=" images/pic_ind.jpg" class="lazy" />
                        </picture>
                    </div>
                    <div class="info">
                        <h3><span>Vietnam</span></h3>
                        <p>期望與東協、南亞及紐澳等國家，創造互利共贏的新合作模式，建立「經濟共同體意識」</p>
                    </div>
                </a>
            </div>
            <div class="item">
                <a href="#">
                    <!-- 請針對縮圖產出尺寸使用不同解析度 src -->
                    <div class="img-container">
                        <picture>
                            <source media="(min-width: 1200px)" srcset="images/pic_ta.jpg" />
                            <source media="(min-width: 992px)" srcset="images/pic_ta.jpg" />
                            <source media="(min-width: 576px)" srcset="images/pic_ta.jpg" />
                            <source media=" (max-width: 575px)" srcset="images/pic_ta.jpg" />
                            <img data-src=" images/pic_ta.jpg" class="lazy" />
                        </picture>
                    </div>
                    <div class="info">
                        <h3><span>Vietnam</span></h3>
                        <p>期望與東協、南亞及紐澳等國家，創造互利共贏的新合作模式，建立「經濟共同體意識」</p>
                    </div>
                </a>
            </div>
            <div class="item">
                <a href="#">
                    <!-- 請針對縮圖產出尺寸使用不同解析度 src -->
                    <div class="img-container">
                        <picture>
                            <source media="(min-width: 1200px)" srcset="images/pic_India.jpg" />
                            <source media="(min-width: 992px)" srcset="images/pic_India.jpg" />
                            <source media="(min-width: 576px)" srcset="images/pic_India.jpg" />
                            <source media=" (max-width: 575px)" srcset="images/pic_India.jpg" />
                            <img data-src=" images/pic_India.jpg" class="lazy" />
                        </picture>
                    </div>
                    <div class="info">
                        <h3><span>Vietnam</span></h3>
                        <p>期望與東協、南亞及紐澳等國家，創造互利共贏的新合作模式，建立「經濟共同體意識」</p>
                    </div>
                </a>
            </div>
            <div class="item">
                <a href="#">
                    <!-- 請針對縮圖產出尺寸使用不同解析度 src -->
                    <div class="img-container">
                        <picture>
                            <source media="(min-width: 1200px)" srcset="images/pic_ma.jpg" />
                            <source media="(min-width: 992px)" srcset="images/pic_ma.jpg" />
                            <source media="(min-width: 576px)" srcset="images/pic_ma.jpg" />
                            <source media=" (max-width: 575px)" srcset="images/pic_ma.jpg" />
                            <img data-src=" images/pic_ma.jpg" class="lazy" />
                        </picture>
                    </div>
                    <div class="info">
                        <h3><span>Vietnam</span></h3>
                        <p>期望與東協、南亞及紐澳等國家，創造互利共贏的新合作模式，建立「經濟共同體意識」</p>
                    </div>
                </a>
            </div>
            <div class="item">
                <a href="#">
                    <!-- 請針對縮圖產出尺寸使用不同解析度 src -->
                    <div class="img-container">
                        <picture>
                            <source media="(min-width: 1200px)" srcset="images/pic_vi.jpg" />
                            <source media="(min-width: 992px)" srcset="images/pic_vi.jpg" />
                            <source media="(min-width: 576px)" srcset="images/pic_vi.jpg" />
                            <source media=" (max-width: 575px)" srcset="images/pic_vi.jpg" />
                            <img data-src=" images/pic_vi.jpg" class="lazy" />
                        </picture>
                    </div>
                    <div class="info">
                        <h3><span>Vietnam</span></h3>
                        <p>期望與東協、南亞及紐澳等國家，創造互利共贏的新合作模式，建立「經濟共同體意識」</p>
                    </div>
                </a>
            </div>
            <!-- 這個都要一直存在 -->
            <div class="item last">
                <a href="#" class="more"><span>MORE</span></a>
            </div>
        </div>
    </div>
</div>
<!-- js -->
<script>
    $(function () {
        //lazyload
        var lazyLoadInstance = new LazyLoad({
            elements_selector: 'img.lazy',
            //placeholder: '/images/basic/placeholder.gif',
            effect: 'fadeIn',
            fadeTime: 600,
            threshold: 0,
        });
    });
</script>