<!-- css -->
<link rel="stylesheet" href="style_D/template/news_content/news_content.css" />
<div class="tsite-innerpage">
    <div class="container">
        <div class="head">
            <div class="img-container">
                <!-- 請針對縮圖產出尺寸使用不同解析度 src -->
                <picture>
                    <source media="(min-width: 1200px)" data-srcset="images/inner_head.jpg" />
                    <source media="(min-width: 992px)" data-srcset="images/inner_head.jpg" />
                    <source media="(min-width: 576px)" data-srcset="images/inner_head.jpg" />
                    <source media="(max-width: 575px)" data-srcset="images/inner_head.jpg" />
                    <img data-src="images/inner_head.jpg" class="lazy" />
                </picture>
            </div>
        </div>
        <div class="tsite-newsContent">
            <div class="pageInfo">
                <div class="path"><a href="#">首頁</a> / <a href="#">選單第一層</a> / <a href="#">選單第二層</a></div>
                <!-- 這裏套文章標題 -->
                <div class="contentTitle">最新消息內容頁頁面標題</div>
                <div class="publishTime"><i class="far fa-clock"></i>發布時間：<time>2021/01/12</time></div>
                <div class="announcer"><i class="fas fa-user"></i>Posted in News By BRANDON PRESSER</div>
                <div class="function">
                    <a href="#"><i class="fas fa-angle-left"></i></a>
                    <a href="#"><i class="fas fa-print"></i></a>
                    <a href="#"><i class="fab fa-facebook-f"></i></a>
                    <a href="#"><i class="fab fa-twitter"></i></i></a>
                    <a href="#"><i class="fab fa-youtube"></i></i></a>
                    <a href="#"><i class="fab fa-instagram"></i></a>
                </div>
            </div>
            <!-- tag -->
            <div class="tsite-tag">
                <ul>
                    <li class="active">
                        <a href="#">全部</a>
                    </li>
                    <li>
                        <a href="#">整體經濟</a>
                    </li>

                    <li>
                        <a href="#">政經與社會</a>
                    </li>

                    <li>
                        <a href="#">經貿統計</a>
                    </li>

                    <li>
                        <a href="#">關稅貿易障礙</a>
                    </li>

                    <li>
                        <a href="#">經貿法令政策</a>
                    </li>

                    <li>
                        <a href="#">投資環境</a>
                    </li>

                    <li>
                        <a href="#">財政金融</a>
                    </li>

                    <li>
                        <a href="#">智慧財產權</a>
                    </li>

                    <li>
                        <a href="#">電子商務</a>
                    </li>

                    <li>
                        <a href="#">電子商務</a>
                    </li>

                    <li>
                        <a href="#">傾銷與補貼</a>
                    </li>
                </ul>
            </div>
            <!-- userEdit -->
            <div class="userEditContent">
                <blockquote>
                    【這是摘要】Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid necessitatibus ab dolores earum, quidem consectetur accusantium veniam voluptatibus libero dolorem. Iure vel eum suscipit quam, ullam exercitationem. Deleniti, saepe reiciendis.
                </blockquote>
                <hr>
                <h2>Content 1 - html editor 可編輯圖/文/影</h2>
                <p>行政院於105年9月5日正式提出「新南向政策推動計畫」。「新南向政策推動計畫」是以人為本的經濟戰略，著重人才培育
                    、經貿、觀光、文化的雙向交流，秉持「長期深耕、多元開展、雙向互惠」核心理念，整合政府及民間企業與團體的資源與力量，從「經貿合作」、「人才交流」、「資源共享」與「區域鏈結」四大面向著手，期望與東協、南亞及紐澳等國家，創造互利共贏的新合作模式，建立「經濟共同體意識」。
                </p>
                <p>近年在歐美日成熟市場成長受限的情況下，愈具發展動能及採購實力新南向市場逐漸嶄露光芒。新南向國家平均經濟成長率高於世界平均，而且人口眾多，如印尼擁有2.6億人口，印度13億人口，人口平均年齡年輕，對於未來消費的樂觀程度高，中產階級成長速度也很快，以印尼為例，平均每年增加700萬中產階級人口，龐大人口紅利與活力充沛之經濟動能帶動消費力大幅增加，市場蓬勃發展，商機潛力無限，是目前我企業海外佈局之重點區域。從主客觀各方面條件看來，現階段正是臺灣企業家進入新南向內需市場起飛的良機，本會自許為國家級推廣團隊，一步一步落實執行新南向政策的願景工程。
                </p>
                <div class="pic">
                    <img src="images/cp_img.png" alt="">
                    <span>圖片說明圖片說明圖片說明圖片說明圖片說明圖片說明圖片說明圖片說明圖片說明圖片說明圖片說明</span>
                </div>
                <div class="video">
                    <div class="img-container">
                        <iframe width="100%" height="100%" src="https://www.youtube.com/embed/C7cZrNwnZEs"
                            title="YouTube video player" frameborder="0"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                    </div>
                    <span>圖片說明圖片說明圖片說明圖片說明圖片說明圖片說明圖片說明圖片說明圖片說明圖片說明圖片說明</span>
                </div>
                <hr>
                <h2>Image 1 / video 1 擇一</h2>
                <div class="pic">
                    <img src="images/cp_img.png" alt="">
                    <span>圖片說明圖片說明圖片說明圖片說明圖片說明圖片說明圖片說明圖片說明圖片說明圖片說明圖片說明</span>
                </div>
                <div class="video">
                    <div class="img-container">
                        <iframe width="100%" height="100%" src="https://www.youtube.com/embed/C7cZrNwnZEs"
                            title="YouTube video player" frameborder="0"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                    </div>
                    <span>圖片說明圖片說明圖片說明圖片說明圖片說明圖片說明圖片說明圖片說明圖片說明圖片說明圖片說明</span>
                </div>
                <hr>
                <h2>Content 2 - html editor 可編輯圖/文/影</h2>
                <p>行政院於105年9月5日正式提出「新南向政策推動計畫」。「新南向政策推動計畫」是以人為本的經濟戰略，著重人才培育
                    、經貿、觀光、文化的雙向交流，秉持「長期深耕、多元開展、雙向互惠」核心理念，整合政府及民間企業與團體的資源與力量，從「經貿合作」、「人才交流」、「資源共享」與「區域鏈結」四大面向著手，期望與東協、南亞及紐澳等國家，創造互利共贏的新合作模式，建立「經濟共同體意識」。
                </p>
                <p>近年在歐美日成熟市場成長受限的情況下，愈具發展動能及採購實力新南向市場逐漸嶄露光芒。新南向國家平均經濟成長率高於世界平均，而且人口眾多，如印尼擁有2.6億人口，印度13億人口，人口平均年齡年輕，對於未來消費的樂觀程度高，中產階級成長速度也很快，以印尼為例，平均每年增加700萬中產階級人口，龐大人口紅利與活力充沛之經濟動能帶動消費力大幅增加，市場蓬勃發展，商機潛力無限，是目前我企業海外佈局之重點區域。從主客觀各方面條件看來，現階段正是臺灣企業家進入新南向內需市場起飛的良機，本會自許為國家級推廣團隊，一步一步落實執行新南向政策的願景工程。
                </p>
                <div class="pic">
                    <img src="images/cp_img.png" alt="">
                    <span>圖片說明圖片說明圖片說明圖片說明圖片說明圖片說明圖片說明圖片說明圖片說明圖片說明圖片說明</span>
                </div>
                <div class="video">
                    <div class="img-container">
                        <iframe width="100%" height="100%" src="https://www.youtube.com/embed/C7cZrNwnZEs"
                            title="YouTube video player" frameborder="0"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                    </div>
                    <span>圖片說明圖片說明圖片說明圖片說明圖片說明圖片說明圖片說明圖片說明圖片說明圖片說明圖片說明</span>
                </div>
                <hr>
                <h2>Image 2 / video 2 擇一</h2>
                <div class="pic">
                    <img src="images/cp_img.png" alt="">
                    <span>圖片說明圖片說明圖片說明圖片說明圖片說明圖片說明圖片說明圖片說明圖片說明圖片說明圖片說明</span>
                </div>
                <div class="video">
                    <div class="img-container">
                        <iframe width="100%" height="100%" src="https://www.youtube.com/embed/C7cZrNwnZEs"
                            title="YouTube video player" frameborder="0"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                    </div>
                    <span>圖片說明圖片說明圖片說明圖片說明圖片說明圖片說明圖片說明圖片說明圖片說明圖片說明圖片說明</span>
                </div>
                <hr>
                <!-- 外部連結 -->
            <div class="webLink">
                <h2>外部連結</h2>
                <ol>
                    <li><a href="#">外部連結1</a></li>
                    <li><a href="#">外部連結2</a></li>
                    <li><a href="#">外部連結3</a></li>
                    <li><a href="#">外部連結4</a></li>
                    <li><a href="#">外部連結5</a></li>
                </ol>
            </div>
            <hr>
            <p style="color:red;">以下為editor 預設樣式，不用套版</p>

                <h1>標題一</h1>
                <p>行政院於105年9月5日正式提出「新南向政策推動計畫」。「新南向政策推動計畫」是以人為本的經濟戰略，著重人才培育
                    、經貿、觀光、文化的雙向交流，秉持「長期深耕、多元開展、雙向互惠」核心理念，整合政府及民間企業與團體的資源與力量，從「經貿合作」、「人才交流」、「資源共享」與「區域鏈結」四大面向著手，期望與東協、南亞及紐澳等國家，創造互利共贏的新合作模式，建立「經濟共同體意識」。
                </p>
                <p><a
                        href="#">連結文字樣式</a>近年在歐美日成熟市場成長受限的情況下，愈具發展動能及採購實力新南向市場逐漸嶄露光芒。新南向國家平均經濟成長率高於世界平均，而且人口眾多，如印尼擁有2.6億人口，印度13億人口，人口平均年齡年輕，對於未來消費的樂觀程度高，中產階級成長速度也很快，以印尼為例，平均每年增加700萬中產階級人口，龐大人口紅利與活力充沛之經濟動能帶動消費力大幅增加，市場蓬勃發展，商機潛力無限，是目前我企業海外佈局之重點區域。從主客觀各方面條件看來，現階段正是臺灣企業家進入新南向內需市場起飛的良機，本會自許為國家級推廣團隊，一步一步落實執行新南向政策的願景工程。
                </p>
                <h2>標題二</h2>
                <p>行政院於105年9月5日正式提出「新南向政策推動計畫」。「新南向政策推動計畫」是以人為本的經濟戰略，著重人才培育
                    、經貿、觀光、文化的雙向交流，秉持「長期深耕、多元開展、雙向互惠」核心理念，整合政府及民間企業與團體的資源與力量，從「經貿合作」、「人才交流」、「資源共享」與「區域鏈結」四大面向著手，期望與東協、南亞及紐澳等國家，創造互利共贏的新合作模式，建立「經濟共同體意識」。
                </p>
                <p>近年在歐美日成熟市場成長受限的情況下，愈具發展動能及採購實力新南向市場逐漸嶄露光芒。新南向國家平均經濟成長率高於世界平均，而且人口眾多，如印尼擁有2.6億人口，印度13億人口，人口平均年齡年輕，對於未來消費的樂觀程度高，中產階級成長速度也很快，以印尼為例，平均每年增加700萬中產階級人口，龐大人口紅利與活力充沛之經濟動能帶動消費力大幅增加，市場蓬勃發展，商機潛力無限，是目前我企業海外佈局之重點區域。從主客觀各方面條件看來，現階段正是臺灣企業家進入新南向內需市場起飛的良機，本會自許為國家級推廣團隊，一步一步落實執行新南向政策的願景工程。
                </p>
                <div class="pic">
                    <img src="images/cp_img.png" alt="">
                    <span>圖片說明圖片說明圖片說明圖片說明圖片說明圖片說明圖片說明圖片說明圖片說明圖片說明圖片說明</span>
                </div>
                <h3>標題三</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi, doloribus aliquam voluptates culpa
                    id officia maiores accusantium dolore sequi minima beatae laborum esse aliquid? Illum cupiditate
                    doloribus cum impedit repudiandae. </p>
                <h4>標題四</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi, doloribus aliquam voluptates culpa
                    id officia maiores accusantium dolore sequi minima beatae laborum esse aliquid? Illum cupiditate
                    doloribus cum impedit repudiandae. </p>
                <h5>標題五</h5>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi, doloribus aliquam voluptates culpa
                    id officia maiores accusantium dolore sequi minima beatae laborum esse aliquid? Illum cupiditate
                    doloribus cum impedit repudiandae. </p>
                <h6>標題六</h6>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi, doloribus aliquam voluptates culpa
                    id officia maiores accusantium dolore sequi minima beatae laborum esse aliquid? Illum cupiditate
                    doloribus cum impedit repudiandae. </p>
                <h3>列表樣式</h3>
                <ol>
                    <li>展覽日期 <ul>
                            <li>2021年3月15日至20日(3/21-4/15保留瀏覽功能)</li>
                            <li>2021年3月15日至20日(3/21-4/15保留瀏覽功能)</li>
                            <li>2021年3月15日至20日(3/21-4/15保留瀏覽功能)</li>
                        </ul>
                    </li>
                    <li>展出內容 <ul>
                            <li>金屬切削工具機 </li>
                            <li>機械零組件 </li>
                            <li>刀具與刀具配件 </li>
                            <li>沖壓、鑄造、鍛造設備 </li>
                            <li>板材加工設備 </li>
                            <li>管材、線材等加工設備 </li>
                            <li>焊接、表面處理設備 </li>
                            <li>控制器、軟體與設計工程、機器人與自動化設備 </li>
                            <li>檢驗、量測與測試設備</li>
                            <li>國家館與公協會</li>
                        </ul>
                    </li>
                </ol>
                <div class="video">
                    <div class="img-container">
                        <iframe width="100%" height="100%" src="https://www.youtube.com/embed/C7cZrNwnZEs"
                            title="YouTube video player" frameborder="0"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                    </div>
                    <span>圖片說明圖片說明圖片說明圖片說明圖片說明圖片說明圖片說明圖片說明圖片說明圖片說明圖片說明</span>
                </div>
                <h3>表格樣式</h3>
                <table summary="">
                    <thead>
                        <tr>
                            <th>...</th>
                            <th>...</th>
                            <th>...</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>...</td>
                            <td>...</td>
                            <td>...</td>
                        </tr>
                        <tr>
                            <td>...</td>
                            <td>...</td>
                            <td>...</td>
                        </tr>
                        <tr>
                            <td>...</td>
                            <td>...</td>
                            <td>...</td>
                        </tr>
                        <tr>
                            <td>...</td>
                            <td>...</td>
                            <td>...</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            
        </div>
    </div>
</div>
<!-- js -->
<script>
    $(function () {
        //lazyload
        var lazyLoadInstance = new LazyLoad({
            elements_selector: 'img.lazy',
            //placeholder: '/images/basic/placeholder.gif',
            effect: 'fadeIn',
            fadeTime: 600,
            threshold: 0,

        });
        //add table mobile x_scroll
        $('table').each(function (index, el) {
            //判斷沒有table_list
            $('.userEditContent').find('table').each(function () {
                $(this).wrap('<div class="tableScroll"></div>');
            });
        });

    });
</script>