/*--B_footer--*/
footer {
  background: #fff;
  padding: 1em 0; }
  footer .container {
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
    box-sizing: border-box;
    display: flex;
    flex-flow: row wrap; }
    footer .container > * {
      position: relative;
      min-height: 1px;
      padding-left: 15px;
      padding-right: 15px;
      box-sizing: border-box;
      flex-grow: 1; }
  footer img {
    max-width: 100%;
    max-height: 300px; }
  footer p {
    color: #333;
    font-size: 0.813rem; }
  footer a[href^='tel'] {
    color: #333; }
    footer a[href^='tel']:hover, footer a[href^='tel']:focus {
      color: #f88176; }
  footer .footerLink {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 100%;
    width: 100%;
    margin: 1em 0 2em;
    padding-bottom: 1em;
    border-bottom: 1px solid #dedede; }
    footer .footerLink ul {
      display: flex;
      flex-flow: row wrap; }
      footer .footerLink ul li {
        flex-grow: 1;
        flex-shrink: 1;
        flex-basis: 16%;
        position: relative; }
        @media screen and (max-width: 991px) {
          footer .footerLink ul li {
            flex-basis: 33.333%; }
            footer .footerLink ul li:after {
              display: none; } }
        @media screen and (max-width: 575px) {
          footer .footerLink ul li {
            flex-basis: 50%; } }
        footer .footerLink ul li:after {
          position: absolute;
          content: '';
          height: 1em;
          right: 0;
          top: 0.2em;
          height: 1em;
          border-left: 1px solid #ccc; }
        footer .footerLink ul li:last-child:after {
          display: none; }
        footer .footerLink ul li a {
          display: block;
          text-align: center;
          position: relative;
          min-height: 1px;
          padding-left: 15px;
          padding-right: 15px;
          box-sizing: border-box;
          color: #555; }
          footer .footerLink ul li a:hover, footer .footerLink ul li a:focus {
            color: #f88176; }
          @media screen and (max-width: 991px) {
            footer .footerLink ul li a {
              position: relative;
              min-height: 1px;
              padding-left: 0;
              padding-right: 0;
              box-sizing: border-box;
              text-align: left; } }
  footer .footerLogo {
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: 30%; }
    @media screen and (max-width: 575px) {
      footer .footerLogo {
        flex-basis: 100%; } }
  footer .copyRight {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 30%;
    color: #333;
    margin: 0 0 1em;
    font-size: 0.813rem; }
    @media screen and (max-width: 575px) {
      footer .copyRight {
        flex-basis: 100%; } }
  footer .footerImg {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 20%;
    display: flex;
    flex-flow: row wrap;
    align-content: flex-start;
    justify-content: flex-start; }
    @media screen and (max-width: 575px) {
      footer .footerImg {
        flex-basis: 100%; } }
    footer .footerImg a {
      flex-grow: 0;
      flex-shrink: 1;
      flex-basis: 80px;
      margin: 0 0.5em 0.5em 0; }
    footer .footerImg img {
      max-width: 100%; }
/*# sourceMappingURL=footer.css.map */