<!-- css -->
<link rel="stylesheet" href="style_B/components/products_categories/products_categories.css" />
<!-- swiper -->
<link rel="stylesheet" href="vendor/swiper/swiper-bundle.min.css" />
<div class="container">
    <h2>Welcome back<small>are these what you were looking for ? Don’t miss out again …</small></h2>
    <div class="swiper-productsCategories">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <div class="img-container">
                    <a href="#">
                        <!-- 請針對縮圖產出尺寸使用不同解析度 src -->
                        <picture>
                            <source media="(min-width: 1200px)" srcset="images/b_pic_01.jpg" />
                            <source media="(min-width: 992px)" srcset="images/b_pic_01.jpg" />
                            <source media="(min-width: 576px)" srcset="images/b_pic_01.jpg" />
                            <source media="(max-width: 575px)" srcset="images/b_pic_01.jpg" />
                            <img data-src="images/b_pic_01.jpg" class="lazy" />
                        </picture>
                    </a>
                </div>
                <div class="product_info">
                    <h3>
                        <a href="#"
                            >第一則，開發臺泰合作商機
                            貿協線上座談會推特色醫療貿協線上座談會推特色醫療貿協線上座談會推特色醫療貿協線上座談會推特色醫療貿協線上座談會推特色醫療</a
                        >
                    </h3>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="img-container">
                    <a href="#">
                        <!-- 請針對縮圖產出尺寸使用不同解析度 src -->
                        <picture>
                            <source media="(min-width: 1200px)" srcset="images/b_pic_02.jpg" />
                            <source media="(min-width: 992px)" srcset="images/b_pic_02.jpg" />
                            <source media="(min-width: 576px)" srcset="images/b_pic_02.jpg" />
                            <source media="(max-width: 575px)" srcset="images/b_pic_02.jpg" />
                            <img data-src="images/b_pic_02.jpg" class="lazy" />
                        </picture>
                    </a>
                </div>
                <div class="product_info">
                    <h3><a href="#">第二則，印度未來整體投資環境的建議</a></h3>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="img-container">
                    <a href="#">
                        <!-- 請針對縮圖產出尺寸使用不同解析度 src -->
                        <picture>
                            <source media="(min-width: 1200px)" srcset="images/b_pic_03.jpg" />
                            <source media="(min-width: 992px)" srcset="images/b_pic_03.jpg" />
                            <source media="(min-width: 576px)" srcset="images/b_pic_03.jpg" />
                            <source media="(max-width: 575px)" srcset="images/b_pic_03.jpg" />
                            <img data-src="images/b_pic_03.jpg" class="lazy" />
                        </picture>
                    </a>
                </div>
                <div class="product_info">
                    <h3><a href="#">第三則，尋找新南向人才? 輸入職缺， 千封履歷由您挑選</a></h3>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="img-container">
                    <a href="#">
                        <!-- 請針對縮圖產出尺寸使用不同解析度 src -->
                        <picture>
                            <source media="(min-width: 1200px)" srcset="images/b_pic_04.jpg" />
                            <source media="(min-width: 992px)" srcset="images/b_pic_04.jpg" />
                            <source media="(min-width: 576px)" srcset="images/b_pic_04.jpg" />
                            <source media="(max-width: 575px)" srcset="images/b_pic_04.jpg" />
                            <img data-src="images/b_pic_04.jpg" class="lazy" />
                        </picture>
                    </a>
                </div>
                <div class="product_info">
                    <h3>
                        <a href="#"
                            >第四則，開發臺泰合作商機
                            貿協線上座談會推特色醫療貿協線上座談會推特色醫療貿協線上座談會推特色醫療貿協線上座談會推特色醫療貿協線上座談會推特色醫療</a
                        >
                    </h3>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="img-container">
                    <a href="#">
                        <!-- 請針對縮圖產出尺寸使用不同解析度 src -->
                        <picture>
                            <source media="(min-width: 1200px)" srcset="images/b_pic_05.jpg" />
                            <source media="(min-width: 992px)" srcset="images/b_pic_05.jpg" />
                            <source media="(min-width: 576px)" srcset="images/b_pic_05.jpg" />
                            <source media="(max-width: 575px)" srcset="images/b_pic_05.jpg" />
                            <img data-src="images/b_pic_05.jpg" class="lazy" />
                        </picture>
                    </a>
                </div>
                <div class="product_info">
                    <h3>
                        <a href="#"
                            >第五則，開發臺泰合作商機
                            貿協線上座談會推特色醫療貿協線上座談會推特色醫療貿協線上座談會推特色醫療貿協線上座談會推特色醫療貿協線上座談會推特色醫療</a
                        >
                    </h3>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="img-container">
                    <a href="#">
                        <!-- 請針對縮圖產出尺寸使用不同解析度 src -->
                        <picture>
                            <source media="(min-width: 1200px)" srcset="images/b_pic_06.jpg" />
                            <source media="(min-width: 992px)" srcset="images/b_pic_06.jpg" />
                            <source media="(min-width: 576px)" srcset="images/b_pic_06.jpg" />
                            <source media="(max-width: 575px)" srcset="images/b_pic_06.jpg" />
                            <img data-src="images/b_pic_06.jpg" class="lazy" />
                        </picture>
                    </a>
                </div>
                <div class="product_info">
                    <h3>
                        <a href="#"
                            >第六則，開發臺泰合作商機
                            貿協線上座談會推特色醫療貿協線上座談會推特色醫療貿協線上座談會推特色醫療貿協線上座談會推特色醫療貿協線上座談會推特色醫療</a
                        >
                    </h3>
                </div>
            </div>
        </div>
        <!-- Add Pagination -->
        <div class="swiper-pagination"></div>
        <!-- Add Arrows -->
        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>
    </div>
    <!-- more -->
    <a href="#" class="more"><span>SHOW MORE</span></a>
</div>
<!-- js -->
<script src="vendor/picturefill/picturefill.min.js"></script>
<script src="vendor/lazyload/lazyload.js"></script>
<script src="vendor/swiper/swiper-bundle.min.js"></script>
<script>
    $(function () {
        //lazyload
        var lazyLoadInstance = new LazyLoad({
            elements_selector: 'img.lazy',
            //placeholder: '/images/basic/placeholder.gif',
            effect: 'fadeIn',
            fadeTime: 600,
            threshold: 0,
        });
    });
    //swiper
    var swiper = new Swiper('.swiper-productsCategories', {
        lazy: true,
        //loop: true,
        observer: true,
        slidesPerView: 4,
        spaceBetween: 50,
        slidesPerGroup: 4,
        loopFillGroupWithBlank: true,
        centeredSlides: true,
        //cssMode: true,
        //autoplay: {
        //    delay: 3000,
        //   disableOnInteraction: true,
        //},
        pagination: {
            el: '.swiper-pagination',
            type: 'fraction',
        },
        navigation: {
            nextEl: '.swiper-button-next',
            prevEl: '.swiper-button-prev',
        },
        breakpoints: {
            200: {
                slidesPerView: 1,
                slidesPerGroup: 1,
            },
            545: {
                slidesPerView: 2,
                slidesPerGroup: 1,
            },
            1024: {
                slidesPerView: 3,
                slidesPerGroup: 1,
            },
        },
    });
</script>
