@import '../../../sass/_variable'; //變數
@import '../../../sass/_mixin'; //Mixin
$site: index($themeColor, cyan);
.tsite-innerpage {
    .container {
        margin: 0 auto;
        max-width: 100%;
        @include gutter(0);
    }
    .head {
        position: relative;
        width: 100%;
        margin-bottom: 2em;
        &:after {
            position: absolute;
            content: '';
            z-index: 2;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            background: rgba(0, 0, 0, 0.45);
        }
        .img-container {
            width: 100%;
            position: relative;
            @include aspect-ratio(6, 1);
            @include screen('xs_mobile') {
                @include aspect-ratio(3, 1);
            }
            img {
                position: absolute;
                top: 0;
                left: 0;
                object-fit: cover;
                width: 100%;
                height: 100%;
            }
        }
    }
    .tsite-newsContent {
        max-width: $container-max;
        overflow: hidden;
        margin: 0 auto 1em;
        padding-bottom: 1em;
        @include gutter;
        @include screen('notebook') {
            max-width: 85%;
            padding-bottom: 3em;
        }
        @include screen('mobile') {
            max-width: 100%;
        }
        // tag
        .tsite-tag {
            margin: 0 auto 1em;
            clear: both;
            overflow: hidden;
            border-bottom: 1px solid #ccc;
            padding-bottom: 1em;
            ul {
                @include li-reset;
                @include screen('xs_mobile') {
                    overflow-x: auto !important;
                    overflow-y: hidden !important;
                    -webkit-overflow-scrolling: touch;
                    -webkit-transform: translate3d(0, 0, 0);
                    display: flex;
                    justify-content: flex-start;
                    padding-bottom: 0.5em;
                }
                li {
                    display: block;
                    float: left;
                    margin: 0 0.5em 0.5em 0;
                    @include screen('xs_mobile') {
                        display: inline-block;
                        white-space: nowrap;
                        float: none;
                    }
                    &.active {
                        a {
                            background: nth($subColor, $site);
                        }
                    }
                    a {
                        padding: 0.5em 1em;
                        display: block;
                        color: #fff;
                        background: nth($mainColor, $site);
                        &:hover,
                        &:focus {
                            background: nth($subColor, $site);
                        }
                        @include screen('xs_mobile') {
                            font-size: 0.938rem;
                        }
                    }
                }
            }
        }
    }
    .pageInfo {
        display: flex;
        flex-flow: row wrap;
        margin-bottom: 1em;
        .contentTitle {
            flex-grow: 1;
            flex-shrink: 1;
            flex-basis: 100%;
            font-size: 2.5em;
            display: block;
            line-height: 1.65em;
            font-weight: bold;
            border-bottom: 2px solid #ccc;
            margin-bottom:.25rem;
            @include screen('xs_mobile') {
                font-size: 1.75em;
            }
        }
        .function {
            flex-grow: 1;
            flex-shrink: 1;
            flex-basis: 30%;
            text-align: right;
            @include screen('xs_mobile') {
                padding-top: 1em;
                flex-basis: 80%;
            }
            a {
                width: 2.5em;
                height: 2.5em;
                border-radius: 50%;
                border: 3px solid #ccc;
                display: inline-block;
                margin: 0 0.1em 0.25em;
                transition: 0.3s ease-out;
                @include screen('xs_mobile') {
                    margin: 0 0.1em 0.15em;
                    width: 2.5em;
                    height: 2.5em;
                }
                img {
                    width: 100%;
                }
                i {
                    width: 100%;
                    font-size: 1.25em;
                    text-align: center;
                    color: #aaa;
                    line-height: 1.75em;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
                &:hover {
                    border: 3px solid rgba(0, 0, 0, 0.75);
                    background: rgba(0, 0, 0, 0.85);
                    i {
                        color: #fff;
                    }
                }
            }
        }
        .path {
            flex-grow: 1;
            flex-shrink: 1;
            flex-basis: 50%;
            font-size: 0.875rem;
            a {
                color: #666;
                &:hover,
                &:focus {
                    color: nth($mainColor, $site);
                }
            }
        }
        .publishTime {
            font-size: 0.875rem;
            display: block;
            color: #666;
            margin-right: 1em;
            @include screen('tablet') {
                flex-basis: 25%;
                white-space: nowrap;
            }
            @include screen('xs_mobile') {
                flex-grow: 1;
                flex-basis: 90%;
            }
            i {
                margin-right: 0.5em;
            }
        }
        .announcer {
            font-size: 0.875rem;
            color: #666;
            display: block;
            @include screen('tablet') {
                flex-grow: 1;
                flex-basis: 45%;
            }
            @include screen('xs_mobile') {
                flex-grow: 1;
                flex-basis: 90%;
            }
            i {
                margin-right: 0.5em;
            }
        }
    }
    .userEditContent {
        margin-bottom: 5em;
        blockquote {
            border-left: 8px solid nth($subColor, $site);
            background: #f1f1f1;
            padding: 2em;
            color: #555;
            clear: both;
            margin: 3em auto 3em;
            width: 90%;
            font-size: 1.25rem;
            line-height: 1.45em;
            font-weight: bold;
            @include screen('xs_mobile') {
                width: 100%;
                padding: 1em;
            }
        }
        .pic {
            padding: 1em;
            display: block;
            margin: 0 auto 1em;
            background: #f1f1f1;
            max-width: 600px;
            img {
                max-width: 100%;
                margin-bottom: 1em;
            }
            span {
                display: block;
                color: #555;
                font-size: 0.875rem;
            }
        }
        .tableScroll {
            @include screen('xs_mobile') {
                overflow: hidden;
                overflow-x: auto;
                padding-bottom: 2em;
                table {
                    min-width: 500px;
                }
            }
        }
        p {
            font-size: 1.125rem;
            line-height: 1.65em;
            color: #555;
        }
        h2 {
            font-size: 2rem;
            margin: 0 0 2rem;
            text-align: left;
        }
        h3,
        h4,
        h5,
        h6 {
            font-size: 1.25rem;
            margin: 0 0 2rem;
        }
        ul,
        ol {
            li {
                margin-left: 2em;
                font-size: 1.125rem;
                margin-bottom: 0.5em;
                color: #555;
            }
            ol,
            ul {
                margin-top: 0.5em;
            }
        }
        ul {
            li {
                list-style-type: disc;
            }
            ol {
                li {
                    list-style-type: decimal;
                }
            }
        }
        ol {
            li {
                list-style-type: decimal;
                ul {
                    li {
                        list-style-type: disc;
                    }
                }
            }
        }
        .video {
            padding: 1em;
            display: block;
            margin: 1em auto 1em;
            background: #f1f1f1;
            max-width: 600px;
            .img-container {
                max-width: 100%;
                margin-bottom: 1em;
                @include aspect-ratio(4, 3);
                iframe {
                    position: absolute;
                    width: 100%;
                    top: 0;
                    left: 0;
                }
            }
            span {
                display: block;
                color: #555;
                font-size: 0.875rem;
            }
        }
    }
    // 外部連結
    .webLink {
        width: 100%;
        h3 {
            font-size: 1.5em;
            padding: 12px 0px 15px 0px;
            margin: 0.5em 0px 0.2em;
            border-bottom: 1px solid #ccc;
        }
        ol,
        ul {
            counter-reset: counter;
            list-style-type: none;
            padding: 0;
            margin-left: 1em;
            @include li-reset;
            @media screen and (max-width: 767px) {
                margin-left: 0;
            }
        }
        li {
            position: relative;
            margin-bottom: 10px;
            border-bottom: 1px solid #eee;
            a {
                padding: 0.2em 0px 0.2em 35px;
                position: relative;
                height: auto;
                line-height: 1.45em;
                display: block;
                color: nth($mainColor, $site);
                &:before {
                    position: absolute; // outline: 1px solid red;
                    top: 5px;
                    left: 0px;
                    text-align: right;
                    width: 30px;
                    counter-increment: counter;
                    content: counters(counter, '.') ' . ';
                }
                &:hover,
                &:focus {
                    color: nth($subColor, $site);
                }
            }
        }
    }
    // -----------------------色彩-------//
    // tsite-cyan
    &.tsite-cyan {
        $site: index($themeColor, cyan);
        .path {
            a {
                &:hover,
                &:focus {
                    color: nth($mainColor, $site);
                }
            }
        }
        .tsite-newsContent {
            // tag
            .tsite-tag {
                ul {
                    @include screen('xs_mobile') {
                    }
                    li {
                        &.active {
                            a {
                                background: nth($subColor, $site);
                            }
                        }
                        a {
                            background: nth($mainColor, $site);
                            &:hover,
                            &:focus {
                                background: nth($subColor, $site);
                            }
                        }
                    }
                }
            }
        }
        // 外部連結
        .webLink {
            li {
                a {
                    &:hover,
                    &:focus {
                        color: nth($subColor, $site);
                    }
                }
            }
        }
    }
    // tsite-green
    &.tsite-green {
        $site: index($themeColor, green);
        .path {
            a {
                &:hover,
                &:focus {
                    color: nth($mainColor, $site);
                }
            }
        }
        .tsite-newsContent {
            // tag
            .tsite-tag {
                ul {
                    @include screen('xs_mobile') {
                    }
                    li {
                        &.active {
                            a {
                                background: nth($subColor, $site);
                            }
                        }
                        a {
                            background: nth($mainColor, $site);
                            &:hover,
                            &:focus {
                                background: nth($subColor, $site);
                            }
                        }
                    }
                }
            }
        }
        // 外部連結
        .webLink {
            li {
                a {
                    &:hover,
                    &:focus {
                        color: nth($subColor, $site);
                    }
                }
            }
        }
    }
    // tsite-purple
    &.tsite-purple {
        $site: index($themeColor, purple);
        .path {
            a {
                &:hover,
                &:focus {
                    color: nth($mainColor, $site);
                }
            }
        }
        .tsite-newsContent {
            // tag
            .tsite-tag {
                ul {
                    @include screen('xs_mobile') {
                    }
                    li {
                        &.active {
                            a {
                                background: nth($subColor, $site);
                            }
                        }
                        a {
                            background: nth($mainColor, $site);
                            &:hover,
                            &:focus {
                                background: nth($subColor, $site);
                            }
                        }
                    }
                }
            }
        }
        // 外部連結
        .webLink {
            li {
                a {
                    &:hover,
                    &:focus {
                        color: nth($subColor, $site);
                    }
                }
            }
        }
    }
    // tsite-red
    &.tsite-red {
        $site: index($themeColor, red);
        .path {
            a {
                &:hover,
                &:focus {
                    color: nth($mainColor, $site);
                }
            }
        }
        .tsite-newsContent {
            // tag
            .tsite-tag {
                ul {
                    @include screen('xs_mobile') {
                    }
                    li {
                        &.active {
                            a {
                                background: nth($subColor, $site);
                            }
                        }
                        a {
                            background: nth($mainColor, $site);
                            &:hover,
                            &:focus {
                                background: nth($subColor, $site);
                            }
                        }
                    }
                }
            }
        }
        // 外部連結
        .webLink {
            li {
                a {
                    &:hover,
                    &:focus {
                        color: nth($subColor, $site);
                    }
                }
            }
        }
    }
}
