<!-- css -->
<link rel="stylesheet" href="components/video_product/video_product.css" />
<!-- videoProduct -->
<div class="tsite-videoProduct tsite-wrap-A tsite-cyan">
    <div class="container">
        <h2>videoProduct</h2>
        <div class="newlaunch_content">
            <div class="flex-4-8">
                <div class="col left_content">
                    <div class="img-container">
                        <a href="#">
                            <!-- 請針對縮圖產出尺寸使用不同解析度 src -->
                            <picture>
                                <source media="(min-width: 1200px)" srcset="images/new_product_pic_02.jpg" />
                                <source media="(min-width: 992px)" srcset="images/new_product_pic_02.jpg" />
                                <source media="(min-width: 576px)" srcset="images/new_product_pic_02.jpg" />
                                <source media="(max-width: 575px)" srcset="images/new_product_pic_02.jpg" />
                                <img data-src="images/new_product_pic_02.jpg" class="lazy" />
                            </picture>
                        </a>
                    </div>
                    <div class="img-container">
                        <a href="#">
                            <!-- 請針對縮圖產出尺寸使用不同解析度 src -->
                            <picture>
                                <source media="(min-width: 1200px)" srcset="images/new_product_pic_04.jpg" />
                                <source media="(min-width: 992px)" srcset="images/new_product_pic_04.jpg" />
                                <source media="(min-width: 576px)" srcset="images/new_product_pic_04.jpg" />
                                <source media="(max-width: 575px)" srcset="images/new_product_pic_04.jpg" />
                                <img data-src="images/new_product_pic_04.jpg" class="lazy" />
                            </picture>
                        </a>
                    </div>
                </div>
                <div class="col right_content">
                    <div class="img-container">
                        <iframe
                            width="100%"
                            height="100%"
                            src="https://www.youtube.com/embed/v3tnHCpH1So"
                            title="YouTube video player"
                            frameborder="0"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen
                        ></iframe>
                    </div>
                    <h3>Conquest Heritage</h3>
                    <p>
                        Co‑Axial Master Chronometer 43.5 mm<br />
                        America's Cup<br />
                        DETAILS215.32.43.21.04.001 - PLANET OCEAN 600M<br />
                        CO‑AXIAL MASTER CHRONOMETER 43.5 MM
                    </p>
                    <a href="#" class="more"><span>DETAILS</span></a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- js -->
<script>
    $(function () {
        //lazyload
        var lazyLoadInstance = new LazyLoad({
            elements_selector: 'img.lazy',
            //placeholder: '/images/basic/placeholder.gif',
            effect: 'fadeIn',
            fadeTime: 600,
            threshold: 0,
        });
    });
</script>
