.tsite-videoSingle {
  padding: 4em 0 3em;
  position: relative; }
  .tsite-videoSingle .container {
    position: relative;
    z-index: 1;
    position: relative;
    min-height: 1px;
    padding-left: 0;
    padding-right: 0;
    box-sizing: border-box; }
    @media screen and (max-width: 575px) {
      .tsite-videoSingle .container {
        position: relative;
        min-height: 1px;
        padding-left: 15px;
        padding-right: 15px;
        box-sizing: border-box; } }
  @media screen and (max-width: 575px) {
    .tsite-videoSingle .col {
      margin-bottom: 1em; } }
  .tsite-videoSingle h3 {
    font-size: 2.2em;
    line-height: 1.45em;
    margin: 0 0 0.5em; }
  .tsite-videoSingle .social {
    margin-bottom: 0.5em; }
    .tsite-videoSingle .social a {
      width: 2.5em;
      height: 2.5em;
      border-radius: 50%;
      border: 2px solid #fff;
      display: inline-block;
      margin: 0 0.1em 0.25em;
      transition: 0.3s ease-out; }
      @media screen and (max-width: 575px) {
        .tsite-videoSingle .social a {
          margin: 0 0.1em 0.15em;
          width: 2.5em;
          height: 2.5em; } }
      .tsite-videoSingle .social a img {
        width: 100%; }
      .tsite-videoSingle .social a i {
        width: 100%;
        font-size: 1.25em;
        text-align: center;
        color: #fff;
        line-height: 1.75em;
        display: flex;
        align-items: center;
        justify-content: center; }
      .tsite-videoSingle .social a:hover {
        border: 2px solid #00aec7;
        background: #00aec7; }
        .tsite-videoSingle .social a:hover i {
          color: #fff; }
  .tsite-videoSingle .img-container {
    overflow: hidden;
    position: relative;
    position: relative; }
    .tsite-videoSingle .img-container:before {
      display: block;
      content: '';
      line-height: 0;
      padding-top: 75%; }
    .tsite-videoSingle .img-container img,
    .tsite-videoSingle .img-container iframe,
    .tsite-videoSingle .img-container video {
      display: block;
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
      width: 100%;
      height: 100%;
      margin: auto; }
    .tsite-videoSingle .img-container img {
      object-fit: cover;
      display: block; }
    .tsite-videoSingle .img-container iframe {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0; }
  .tsite-videoSingle .bgLayer {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: none; }
    .tsite-videoSingle .bgLayer img {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      object-fit: cover;
      z-index: 0; }
  .tsite-videoSingle.tsite-cyan .container .social a:hover {
    border: 2px solid #00aec7;
    background: #00aec7; }
  .tsite-videoSingle.tsite-green .container .social a {
    border: 2px solid #aaa; }
    .tsite-videoSingle.tsite-green .container .social a i {
      color: #aaa; }
    .tsite-videoSingle.tsite-green .container .social a:hover {
      border: 2px solid #00bda9;
      background: #00bda9; }
      .tsite-videoSingle.tsite-green .container .social a:hover i {
        color: #fff; }
  .tsite-videoSingle.tsite-purple .container .social a:hover {
    border: 2px solid #523f95;
    background: #523f95; }
  .tsite-videoSingle.tsite-red .container .social a:hover {
    border: 2px solid #d14545;
    background: #d14545; }
  .tsite-videoSingle.tsite-wrap-A:before {
    content: '';
    position: absolute;
    z-index: 0;
    width: 0;
    height: 0;
    top: 0;
    right: 3em; }
    @media screen and (max-width: 991px) {
      .tsite-videoSingle.tsite-wrap-A:before {
        right: 0;
        border-width: 40px 40px 0 40px; } }
  .tsite-videoSingle.tsite-wrap-A .container h2,
  .tsite-videoSingle.tsite-wrap-A .container h3,
  .tsite-videoSingle.tsite-wrap-A .container p {
    color: #fff; }
  .tsite-videoSingle.tsite-wrap-A.tsite-cyan {
    background: #382d74; }
    .tsite-videoSingle.tsite-wrap-A.tsite-cyan:before {
      border-style: solid;
      border-width: 120px 120px 0 120px;
      border-color: #00aec7 transparent transparent transparent; }
  .tsite-videoSingle.tsite-wrap-A.tsite-green {
    background: #00a492; }
    .tsite-videoSingle.tsite-wrap-A.tsite-green:before {
      border-style: solid;
      border-width: 120px 120px 0 120px;
      border-color: #f65445 transparent transparent transparent; }
  .tsite-videoSingle.tsite-wrap-A.tsite-purple {
    background: #9c1c70; }
    .tsite-videoSingle.tsite-wrap-A.tsite-purple:before {
      border-style: solid;
      border-width: 120px 120px 0 120px;
      border-color: #523f95 transparent transparent transparent; }
  .tsite-videoSingle.tsite-wrap-A.tsite-red {
    background: #ca3232; }
    .tsite-videoSingle.tsite-wrap-A.tsite-red:before {
      border-style: solid;
      border-width: 120px 120px 0 120px;
      border-color: #f67f50 transparent transparent transparent; }
  .tsite-videoSingle.tsite-wrap-B .container h2,
  .tsite-videoSingle.tsite-wrap-B .container h3,
  .tsite-videoSingle.tsite-wrap-B .container p {
    color: #333; }
  .tsite-videoSingle.tsite-wrap-C .bgLayer {
    display: block; }
  .tsite-videoSingle.tsite-wrap-D {
    background: #f1f1f1; }
/*# sourceMappingURL=video_single.css.map */