<div class="container">
    <div class="info">
        <div class="kc_content">
            <h2>On the Leading Edge of World Trade</h2>
            <h3> Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ut iure reiciendis incidunt alias voluptatem
                delectus rem officiis consequatur cupiditate ad fuga sunt, mollitia ab laborum, error quam consequuntur
                repudiandae nemo?Lorem ipsum dolor sit amet consectetur, adipisicing elit. Id culpa voluptas nulla natus
                esse exercitationem harum excepturi modi a perferendis impedit accusantium, dicta ipsum maiores sequi,
                distinctio quas eveniet quibusdam. </h3>
            <a href="#" class="btn"><span>APPLY NOW</span></a>
        </div>
    </div>
    <!--  底圖 -->
    <div class="kv_block">
        <!-- 請針對縮圖產出尺寸使用不同解析度 src -->
        <picture>
            <source media="(min-width: 1200px)" data-srcset="../images/spotlight_kv_c.jpg" />
            <source media="(min-width: 992px)" data-srcset="../images/spotlight_kv_c.jpg" />
            <source media="(min-width: 576px)" data-srcset="../images/spotlight_kv_c.jpg" />
            <source media="(max-width: 575px)" data-srcset="../images/spotlight_kv_c.jpg" />
            <img data-src="../images/spotlight_kv_c.jpg" class="lazy" />
        </picture>
    </div>
    <!-- fadeArrow scroll to next section-->
    <a href="#" class="fadeArrow"></a>
</div>
<script>
    //lazyload.js 在mp匯入了
    /*-----------------------------------*/
    ///////////    lazy load   ////////////
    /*-----------------------------------*/
    $(function () {
        var lazyLoadInstance = new LazyLoad({
            elements_selector: 'img.lazy',
            //placeholder: '/images/basic/placeholder.gif',
            effect: 'fadeIn',
            fadeTime: 600,
            threshold: 0,
        });
        //
        $('.spotlightKv .fadeArrow')
            .off()
            .click(function (e) {
                $('html, body')
                    .stop(true, true)
                    .animate(
                        { scrollTop: $(this).parents('.spotlightKv').next('div').offset().top },
                        1200,
                        'easeOutExpo'
                    );
                e.preventDefault();
            });
    });
</script>