<!-- css -->
<link rel="stylesheet" href="style_B/components/pic_coordinate1/pic_coordinate1.css" />
<div class="container">
    <h2>picCoordinate1</h2>
    <div class="swiper-picCoordinate1">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <div class="img-container">
                    <div class="dot" style="left: 80%; top: 50%">
                        <div class="dot_info">
                            <span class="product_name">型錄名稱型錄名稱型錄名稱</span>
                            <span class="company_name">nike</span>
                            <span class="pirce">$10.11</span>
                            <a href="#" class="collect active"><i class="fas fa-heart"></i></a>
                            <a href="#" class="more"><span>more</span></a>
                        </div>
                    </div>
                    <div class="dot" style="left: 30%; top: 20%">
                        <div class="dot_info">
                            <span class="product_name">型錄名稱</span>
                            <span class="company_name">nike</span>
                            <span class="pirce">$10.11</span>
                            <a href="#" class="collect"><i class="fas fa-heart"></i></a>
                            <a href="#" class="more"><span>more</span></a>
                        </div>
                    </div>
                    <div class="dot" style="left: 20%; top: 50%">
                        <div class="dot_info">
                            <span class="product_name">型錄名稱型錄名稱型錄名稱</span>
                            <span class="company_name">nike</span>
                            <span class="pirce">$10.11</span>
                            <a href="#" class="collect active"><i class="fas fa-heart"></i></a>
                            <a href="#" class="more"><span>more</span></a>
                        </div>
                    </div>
                    <!-- 請針對縮圖產出尺寸使用不同解析度 src -->
                    <picture>
                        <source media="(min-width: 1200px)" srcset="images/piccoordinate_01.jpg" />
                        <source media="(min-width: 992px)" srcset="images/piccoordinate_01.jpg" />
                        <source media="(min-width: 576px)" srcset="images/piccoordinate_01.jpg" />
                        <source media="(max-width: 575px)" srcset="images/piccoordinate_01.jpg" />
                        <img data-src="images/piccoordinate_01.jpg" class="lazy" />
                    </picture>
                    <i class="fas fa-share-alt"></i>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="img-container">
                    <div class="dot" style="left: 10%; top: 10%">
                        <div class="dot_info">
                            <span class="product_name">型錄名稱型錄名稱型錄名稱</span>
                            <span class="company_name">nike</span>
                            <span class="pirce">$10.11</span>
                            <a href="#" class="collect active"><i class="fas fa-heart"></i></a>
                            <a href="#" class="more"><span>more</span></a>
                        </div>
                    </div>
                    <div class="dot" style="left: 90%; top: 90%">
                        <div class="dot_info">
                            <span class="product_name">型錄名稱型錄名稱型錄名稱</span>
                            <span class="company_name">nike</span>
                            <span class="pirce">$10.11</span>
                            <a href="#" class="collect active"><i class="fas fa-heart"></i></a>
                            <a href="#" class="more"><span>more</span></a>
                        </div>
                    </div>
                    <div class="dot" style="left: 10%; top: 90%">
                        <div class="dot_info">
                            <span class="product_name">型錄名稱型錄名稱型錄名稱</span>
                            <span class="company_name">nike</span>
                            <span class="pirce">$10.11</span>
                            <a href="#" class="collect active"><i class="fas fa-heart"></i></a>
                            <a href="#" class="more"><span>more</span></a>
                        </div>
                    </div>
                    <div class="dot" style="left: 90%; top: 10%">
                        <div class="dot_info">
                            <span class="product_name">型錄名稱型錄名稱型錄名稱</span>
                            <span class="company_name">nike</span>
                            <span class="pirce">$10.11</span>
                            <a href="#" class="collect active"><i class="fas fa-heart"></i></a>
                            <a href="#" class="more"><span>more</span></a>
                        </div>
                    </div>
                    <!-- 請針對縮圖產出尺寸使用不同解析度 src -->
                    <picture>
                        <source media="(min-width: 1200px)" srcset="images/piccoordinate_02.jpg" />
                        <source media="(min-width: 992px)" srcset="images/piccoordinate_02.jpg" />
                        <source media="(min-width: 576px)" srcset="images/piccoordinate_02.jpg" />
                        <source media="(max-width: 575px)" srcset="images/piccoordinate_02.jpg" />
                        <img data-src="images/piccoordinate_02.jpg" class="lazy" />
                    </picture>
                    <i class="fas fa-share-alt"></i>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="img-container">
                    <!-- 請針對縮圖產出尺寸使用不同解析度 src -->
                    <picture>
                        <source media="(min-width: 1200px)" srcset="images/piccoordinate_03.jpg" />
                        <source media="(min-width: 992px)" srcset="images/piccoordinate_03.jpg" />
                        <source media="(min-width: 576px)" srcset="images/piccoordinate_03.jpg" />
                        <source media="(max-width: 575px)" srcset="images/piccoordinate_03.jpg" />
                        <img data-src="images/piccoordinate_03.jpg" class="lazy" />
                    </picture>
                    <i class="fas fa-share-alt"></i>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="img-container">
                    <!-- 請針對縮圖產出尺寸使用不同解析度 src -->
                    <picture>
                        <source media="(min-width: 1200px)" srcset="images/piccoordinate_04.jpg" />
                        <source media="(min-width: 992px)" srcset="images/piccoordinate_04.jpg" />
                        <source media="(min-width: 576px)" srcset="images/piccoordinate_04.jpg" />
                        <source media="(max-width: 575px)" srcset="images/piccoordinate_04.jpg" />
                        <img data-src="images/piccoordinate_04.jpg" class="lazy" />
                    </picture>
                    <i class="fas fa-share-alt"></i>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="img-container">
                    <!-- 請針對縮圖產出尺寸使用不同解析度 src -->
                    <picture>
                        <source media="(min-width: 1200px)" srcset="images/piccoordinate_05.jpg" />
                        <source media="(min-width: 992px)" srcset="images/piccoordinate_05.jpg" />
                        <source media="(min-width: 576px)" srcset="images/piccoordinate_05.jpg" />
                        <source media="(max-width: 575px)" srcset="images/piccoordinate_05.jpg" />
                        <img data-src="images/piccoordinate_05.jpg" class="lazy" />
                    </picture>
                    <i class="fas fa-share-alt"></i>
                </div>
            </div>
        </div>
        <!-- Add Pagination -->
        <div class="swiper-pagination"></div>
        <!-- Add Arrows -->
        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>
    </div>
</div>
<script>
    var swiper = new Swiper('.swiper-picCoordinate1', {
        lazy: true,
        //loop: true,
        slidesPerView: 4,
        spaceBetween: 50,
        slidesPerGroup: 4,
        loopFillGroupWithBlank: true,
        centeredSlides: true,
        //cssMode: true,
        //autoplay: {
        //    delay: 3000,
        //   disableOnInteraction: true,
        //},
        pagination: {
            el: '.swiper-pagination',
            type: 'fraction',
        },
        navigation: {
            nextEl: '.swiper-button-next',
            prevEl: '.swiper-button-prev',
        },
        breakpoints: {
            200: {
                slidesPerView: 1,
                slidesPerGroup: 1,
            },
            545: {
                slidesPerView: 2,
                slidesPerGroup: 1,
            },
            1024: {
                slidesPerView: 3,
                slidesPerGroup: 1,
            },
        },
    });
    // dot click event
    $('.swiper-picCoordinate1 .swiper-slide .dot').each(function () {
        $(this).off().click(function (e) {
            $('.swiper-picCoordinate1 .swiper-slide').find('.dot').removeClass('show');
            $(this).addClass('show');
            e.preventDefault();
        })
        var left = $(this).css('left'),
            top = $(this).css('top');
        console.log('left=' + left);
        console.log('top=' + top);
        if (left > 50 + "%" && top > 40 + "%") {
            $(this).find('.dot_info').addClass('left');
        } else if (left > 50 + "%" && top < 40 + "%") {
            $(this).find('.dot_info').addClass('left down');
        } else if (left < 50 + "%" && top < 40 + "%") {
            $(this).find('.dot_info').addClass('right down');
        } else if (left < 50 + "%" && top > 40 + "%") {
            $(this).find('.dot_info').addClass('right');
        }
    })
    $(document.body).click(function (e) {
        $('.swiper-picCoordinate1 .swiper-slide').find('.dot').removeClass('show');
    });
    $('.swiper-picCoordinate1 .swiper-slide .dot').click(function (e) {
        e.stopPropagation();
    });
</script>