<!-- css -->
<link rel="stylesheet" href="template/inquiry_product/inquiry.css" />
<div class="tsite-innerpage tsite-wrap-A tsite-cyan">
    <div class="container">
        <div class="head">
            <div class="img-container">
                <!-- 請針對縮圖產出尺寸使用不同解析度 src -->
                <picture>
                    <source media="(min-width: 1200px)" data-srcset="images/inner_head.jpg" />
                    <source media="(min-width: 992px)" data-srcset="images/inner_head.jpg" />
                    <source media="(min-width: 576px)" data-srcset="images/inner_head.jpg" />
                    <source media="(max-width: 575px)" data-srcset="images/inner_head.jpg" />
                    <img data-src="images/inner_head.jpg" class="lazy" />
                </picture>
            </div>
        </div>
        <div class="tsite-inquiry">
            <div class="pageInfo">
                <div class="path"><a href="#">首頁</a> / <a href="#">選單第一層</a> / <a href="#">選單第二層</a></div>
                <!-- 這裏套文章標題 -->
                <div class="contentTitle">Contact Supplier</div>
            </div>
            <!-- step -->
            <div class="steps">
                <ol>
                    <li class="now">
                        <span>Step <em>1</em> Fill in the form</span>
                    </li>
                    <li>
                        <span>Step <em>2</em> Completion</span>
                    </li>
                </ol>
            </div>
            <!-- formX -->
            <div class="formX">
                <div class="tsite-form">
                    <!-- row -->
                    <div class="formRow">
                        <div class="receiver">Mr.Hyweb , SHIN WU MACHINERY TRADING CO., LTD.</div>
                        <label for="sss" class="newline"><abbr title="required" class="required">*</abbr>Subject</label>
                        <input id="sss" type="text" value="" />
                        <span class="errorMessage"><i class="fas fa-exclamation-triangle"></i>（錯誤或提示訊息）</span>
                    </div>
                    <!-- row -->
                    <div class="formRow">
                        <div class="productInfo">
                            <div class="img-container">
                                <!-- 請針對縮圖產出尺寸使用不同解析度 src -->
                                <picture>
                                    <source media="(min-width: 1200px)" srcset="images/new_product_pic.jpg" />
                                    <source media="(min-width: 992px)" srcset="images/new_product_pic.jpg" />
                                    <source media="(min-width: 576px)" srcset="images/new_product_pic.jpg" />
                                    <source media="(max-width: 575px)" srcset="images/new_product_pic.jpg" />
                                    <img data-src="images/new_product_pic.jpg" class="lazy" />
                                </picture>
                            </div>
                            <div class="productDescription">
                                <a href="#">Jig Grinder Aenean ultrices efficitur neque eget interdum. Aliquam ac leo
                                    est.</a>
                            </div>
                        </div>
                        <div class="quantity">
                            <div class="product_quantity">
                                <label for="">Quantity:</label>
                                <span class="inc_dec">
                                    <button type="button"><i class="fas fa-minus"></i></button>
                                    <input type="number" id="" name="quantityNeeded" value="1" min="1" max="" />
                                    <button type="button"><i class="fas fa-plus"></i></button>
                                </span>
                                <select name="quantityUnit" id="quantityUnit">
                                    <option value="1575">Pieces</option>
                                    <option value="1576">option1</option>
                                    <option value="1943">option2</option>
                                    <option value="1944">option3</option>
                                    <option value="1949">option4</option>
                                    <option value="1950">option5</option>
                                    <option value="1951">option6</option>
                                </select>
                            </div>
                            <div class="product_offer">
                                <label for="">Estimated Purchase Amount:</label>
                                <span class="currency">USD</span>
                                <input type="number" id="price" name="estimatedAnnualPurchases" value="" placeholder=""
                                    min="0" max="" />
                            </div>
                        </div>
                    </div>
                    <!-- row -->
                    <div class="formRow">
                        <label for="" class="newline"><abbr title="required" class="required">*</abbr> Message</label>
                        <div class="optionPool">
                            <div class="toggleCtrl closeIt" data-altext="Insert a template">Insert a template</div>
                            <div class="toggleArea" title="Insert a template">
                                <label><input name="qqq" type="checkbox" checked />Request a quotation</label>
                                <label><input name="qqq" type="checkbox" />Request price</label>
                                <label><input name="qqq" type="checkbox" />Request a sample</label>
                                <label><input name="qqq" type="checkbox" />Request a product catalog</label>
                            </div>
                        </div>
                        <textarea
                            placeholder="You can add product information here. e.g. color, size, material, type, etc."
                            name="" id="">
&nbsp;You can add product information here. e.g. color, size, material, type, etc.</textarea>
                        <span class="wordCounter"><em>0</em>/1500</span>
                        <!-- 上傳檔案使用套件 dropzone.js https://www.dropzonejs.com/ -->
                        <script src="vendor/dropzone/dropzone.js"></script>
                        <link rel="stylesheet" href="vendor/dropzone/basic.css" />
                        <link rel="stylesheet" href="vendor/dropzone/dropzone.css" />
                        <script>
                            $('.uploadFile').dropzone({ url: '/file/post' });
                        </script>
                        <!-- 上傳檔案 dropzone.js -->
                        <div class="uploadFile dropzone">
                            <form action="/file-upload" class="dropzone" id="my-awesome-dropzone">
                                <div class="dz-default dz-message">
                                    <button class="dz-button" type="button">Drop files here to upload</button>
                                </div>
                            </form>
                        </div>
                        <p class="notice"> File formats: htm, html, doc, docx, pdf, txt, jpg, gif, png. Max 3 files
                            (10MB in total). </p>
                        <p class="notice">total size: <em>0</em>KB</p>
                    </div>
                    <!-- row -->
                    <!-- row -->
                    <div class="formRow">
                        <div class="contactInfo">
                            <h2>Contact Infomation</h2>
                            <div class="inquiry-form">
                                <div class="inquiry-row">
                                    <div class="inquiry-formTitle">
                                        <abbr title="required" class="required">*</abbr>Email
                                    </div>
                                    <div class="inquiry-formContent">
                                        <input type="text" class="full" value="liucc@hyweb.com.tw" />
                                    </div>
                                </div>
                                <div class="inquiry-row">
                                    <div class="inquiry-formTitle">
                                        <abbr title="required" class="required">*</abbr>Full Name
                                    </div>
                                    <div class="inquiry-formContent">
                                        <select>
                                            <option value="Mr.">Mr.</option>
                                            <option value="Mrs.">Mrs.</option>
                                        </select>
                                        <input type="text" value="CC Liu" />
                                    </div>
                                </div>
                                <!-- 展開下方表單 -->
                                <button type="button" class="collapse">View and Modify</button>
                                <script>
                                    $(function () {
                                        $('.collapse').click(function (e) {
                                            $(this).stop().toggleClass('close');
                                            $('.modifyZone').stop().slideToggle();
                                            e.preventDefault();
                                        });
                                    });
                                </script>
                                <div class="modifyZone">
                                    <div class="inquiry-row">
                                        <div class="inquiry-formTitle">
                                            <abbr title="required" class="required">*</abbr>Company Name
                                        </div>
                                        <div class="inquiry-formContent">
                                            <input type="text" class="full" value="HywebTest" />
                                            <div class="check_grp">
                                                <label>
                                                    <input type="checkbox" value="" />I'm an individual buyer</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="inquiry-row">
                                        <div class="inquiry-formTitle">
                                            <abbr title="required" class="required">*</abbr>Country/Region
                                        </div>
                                        <div class="inquiry-formContent">
                                            <select class="full">
                                                <option value="Italy">Italy</option>
                                                <option value="Japan">Japan</option>
                                            </select>
                                            <span class="errorMessage"><i
                                                    class="fas fa-exclamation-triangle"></i>（錯誤或提示訊息）</span>
                                        </div>
                                    </div>
                                    <div class="inquiry-row">
                                        <div class="inquiry-formTitle">
                                            <abbr title="required" class="required">*</abbr>State/Province/City
                                        </div>
                                        <div class="inquiry-formContent">
                                            <select class="full">
                                                <option value="Italy">Italy</option>
                                                <option value="Japan">Japan</option>
                                            </select>
                                            <span class="notice">Other State/Province/City</span>
                                            <input type="text" class="full" value="" />
                                        </div>
                                    </div>
                                    <div class="inquiry-row">
                                        <div class="inquiry-formTitle">
                                            <abbr title="required" class="required">*</abbr>Address
                                        </div>
                                        <div class="inquiry-formContent">
                                            <input type="text" class="full" value="" />
                                        </div>
                                    </div>
                                    <div class="inquiry-row">
                                        <div class="inquiry-formTitle">
                                            <abbr title="required" class="required">*</abbr>Company Website
                                        </div>
                                        <div class="inquiry-formContent">
                                            <input type="text" class="full" value="www.hyweb.com.tw" />
                                            <div class="check_grp">
                                                <label> <input type="checkbox" value="" />not available</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="inquiry-row">
                                        <div class="inquiry-formTitle">Business Phone Number</div>
                                        <div class="inquiry-formContent">
                                            <input type="text" value="" class="countryCode" />
                                            <span class="preSymbol">-</span>
                                            <input class="mainNumber" type="tel" />
                                            <span class="preSymbol">#</span>
                                            <input class="ext" type="tel" />
                                        </div>
                                    </div>
                                    <div class="inquiry-row">
                                        <div class="inquiry-formTitle">Business Phone Number</div>
                                        <div class="inquiry-formContent">
                                            <input type="text" value="" class="countryCode" />
                                            <span class="preSymbol">-</span>
                                            <input class="mainNumber" type="tel" />
                                        </div>
                                    </div>
                                    <span class="notice">Changes will be automatically saved to your profile.</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="formRow">
                        <div class="check_grp">
                            <label>
                                <input type="checkbox" value="" />Recommend matching suppliers if this supplier doesn't
                                contact me within 2 working days.</label>
                            <button class="infoBtn" data-fancybox data-src="#hidden-content1">
                                <i class="fas fa-info-circle"></i>
                            </button>
                            <!-- pop by fancybox  -->
                            <div style="display: none" id="hidden-content1" class="popWindow">
                                <p> By ticking this box, you and the suppliers whom you contact from now will be able to
                                    see each other's email address on My Taiwantrade after the suppliers reply to your
                                    inquiries. </p>
                                <hr />
                                <div class="btnBlock">
                                    <button class="confirm" type="button">ok</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- row -->
                    <div class="formRow">
                        <div class="check_grp">
                            <label>
                                <input type="checkbox" value="" />I'd like to show my email address to the suppliers I
                                contact on Taiwantrade.com.</label>
                        </div>
                    </div>
                    <!-- row -->
                    <div class="formRow">
                        <label for="" class="newline">Keywords of products you are looking for</label>
                        <div class="keywordPool">
                            <ul>
                                <li class="pdLabel">Keyword1<span class="removeThis"></span></li>
                                <li class="pdLabel">Keyword2<span class="removeThis"></span></li>
                                <li class="pdLabel">Keyword3<span class="removeThis"></span></li>
                                <li class="addOne">
                                    <input type="text" placeholder="" />
                                    <button class="addThis"><i class="fas fa-plus"></i></button>
                                </li>
                            </ul>
                        </div>
                        <p class="notice"> This helps to more precisely match your inquiry with potential suppliers. Use
                            "," or "enter" to separate multiple keywords. </p>
                    </div>
                    <!-- row -->
                    <div class="formRow">
                        <!-- recaptcha 放圖片示意，請工程師自行放置code -->
                        <div class="captcha"><img src="images/Recaptcha_anchor@2x.gif" /></div>
                    </div>
                    <div class="btnBlock">
                        <span class="notice">欄位未填測試</span>
                        <button class="confirm trigPop" type="button" data-fancybox data-src="#hidden-content2"> Submit
                        </button>
                        <!-- pop by fancybox  -->
                        <div style="display: none" id="hidden-content2" class="popWindow">
                            <p>Sign in with your Taiwantrade account</p>
                            <div class="btnBlock">
                                <button class="confirm" type="button">Sign in</button>
                            </div>
                            <hr />
                            <p>Don't have a Taiwantrade account yet?</p>
                            <div class="btnBlock">
                                <button class="confirm" type="button">Create an account free</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- js -->
<script>
    $(function () {
        var lazyLoadInstance = new LazyLoad({
            elements_selector: 'img.lazy',
            //placeholder: '/images/basic/placeholder.gif',
            effect: 'fadeIn',
            fadeTime: 600,
            threshold: 0,
        });
        //add table mobile x_scroll
        $('table').each(function (index, el) {
            //判斷沒有table_list
            $('.userEditContent')
                .find('table')
                .each(function () {
                    $(this).wrap('<div class="tableScroll"></div>');
                });
        });
    });
</script>