@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500&family=Roboto+Condensed&display=swap");
header {
  position: fixed;
  width: 100%;
  height: 6em;
  outline: 1px solid red;
  top: 0;
  left: 0;
  z-index: 99;
  display: flex;
  align-content: stretch;
  transition: 0.3s ease-out; }
  @media screen and (max-width: 767px) {
    header {
      height: 4em;
      background: black; } }
  header.sticky {
    height: 3em;
    background: rgba(0, 0, 0, 0.75); }
    @media screen and (max-width: 767px) {
      header.sticky {
        height: 4em;
        background: black; } }
  header .container {
    max-width: 100%;
    display: flex;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: 100%; }
  header .searchBtn {
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: 36px;
    align-self: center;
    width: 36px;
    height: 36px;
    margin: 0 0.5em 0 1em;
    background: none; }
    @media screen and (max-width: 767px) {
      header .searchBtn {
        margin: 0; } }
    header .searchBtn i {
      color: #fff;
      font-size: 1.75em; }
      @media screen and (max-width: 767px) {
        header .searchBtn i {
          font-size: 1.5em; } }
  header .menuBtn {
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: 30px;
    align-self: center;
    width: 30px;
    height: 36px;
    margin: 0 0.5em 0 0;
    transform: rotate(0deg);
    transition: 0.5s ease-in-out;
    background: none;
    border: none;
    cursor: pointer;
    outline: none; }
    header .menuBtn:hover, header .menuBtn:focus {
      border: none;
      outline: none; }
    @media screen and (max-width: 767px) {
      header .menuBtn {
        margin: 0; } }
    header .menuBtn span {
      display: block;
      position: absolute;
      height: 3px;
      width: 100%;
      background: #ffffff;
      opacity: 1;
      left: 0;
      transform: rotate(0deg);
      transition: 0.25s ease-in-out; }
      header .menuBtn span:nth-child(1) {
        top: 6px; }
      header .menuBtn span:nth-child(2), header .menuBtn span:nth-child(3) {
        top: 15px; }
      header .menuBtn span:nth-child(4) {
        top: 24px; }
    header .menuBtn.open {
      z-index: 99;
      position: relative; }
      header .menuBtn.open span:nth-child(1) {
        top: 6px;
        width: 0%;
        left: 50%; }
      header .menuBtn.open span:nth-child(2) {
        transform: rotate(45deg); }
      header .menuBtn.open span:nth-child(3) {
        transform: rotate(-45deg); }
      header .menuBtn.open span:nth-child(4) {
        top: 24px;
        width: 0%;
        left: 50%; }
  header h1 {
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: 400px;
    width: 400px;
    align-self: stretch;
    margin: 0 auto 0 0em;
    position: relative; }
    @media screen and (max-width: 991px) {
      header h1 {
        flex-basis: 350px;
        width: 350px; } }
    @media screen and (max-width: 767px) {
      header h1 {
        outline: 1px solid red;
        margin: 0 0.5em;
        flex-grow: 1;
        flex-basis: auto;
        width: auto; } }
    header h1 a {
      display: block;
      position: absolute;
      width: 100%;
      height: 100%; }
      header h1 a img {
        width: 100%;
        height: 100%;
        object-fit: contain; }
  header .navigation {
    display: flex;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 30%;
    max-width: 45%;
    margin: 0 0 0 auto;
    outline: 1px solid #f7f305;
    align-items: center; }
    @media screen and (max-width: 1399px) {
      header .navigation {
        max-width: 50%; } }
    @media screen and (max-width: 767px) {
      header .navigation {
        display: none; } }
    header .navigation ul {
      display: flex;
      flex-grow: 1;
      flex-shrink: 1;
      flex-basis: 50%;
      flex-flow: row wrap; }
      header .navigation ul li {
        flex-grow: 1;
        flex-shrink: 1;
        flex-basis: 12.5%;
        outline: 1px solid #f7f305; }
        header .navigation ul li a {
          color: #fff;
          display: block;
          text-align: center;
          white-space: nowrap;
          text-shadow: 0px 0px 5px black;
          font-size: 1.125rem;
          line-height: 1.5em;
          font-weight: bold; }
          header .navigation ul li a:hover span:before {
            left: -1em;
            opacity: 1; }
          header .navigation ul li a span {
            display: inline-block;
            position: relative; }
            header .navigation ul li a span:before {
              position: absolute;
              content: '';
              width: 0.4em;
              height: 2px;
              background: #fff;
              left: -2em;
              top: 0.75em;
              opacity: 0;
              transition: 0.3s ease-out; }

.subMenu {
  position: fixed;
  width: 30em;
  height: 100%;
  top: 0;
  left: -30em;
  z-index: 8;
  background: rgba(0, 0, 0, 0.85);
  padding: 8em 1em 1em;
  transition: 0.5s cubic-bezier(0.4, 0.01, 0.165, 0.99); }
  @media screen and (max-width: 575px) {
    .subMenu {
      width: 100%;
      left: -100%;
      padding-top: 6em; } }
  .subMenu ul {
    display: block;
    width: 80%;
    margin: 0 auto; }
    .subMenu ul li {
      margin-bottom: 1em;
      border-bottom: 1px solid #666;
      margin-top: 5px;
      transform: scale(1.15) translateX(-30px);
      opacity: 0;
      transition: transform 0.5s cubic-bezier(0.4, 0.01, 0.165, 0.99), opacity 0.6s cubic-bezier(0.4, 0.01, 0.165, 0.99); }
      .subMenu ul li:nth-child(1) {
        transition-delay: 0.49s; }
      .subMenu ul li:nth-child(2) {
        transition-delay: 0.42s; }
      .subMenu ul li:nth-child(3) {
        transition-delay: 0.35s; }
      .subMenu ul li:nth-child(4) {
        transition-delay: 0.28s; }
      .subMenu ul li:nth-child(5) {
        transition-delay: 0.21s; }
      .subMenu ul li:nth-child(6) {
        transition-delay: 0.14s; }
      .subMenu ul li:nth-child(7) {
        transition-delay: 0.07s; }
      .subMenu ul li:nth-child(8) {
        transition-delay: 0s; }
      .subMenu ul li:nth-child(9) {
        transition-delay: -0.07s; }
      .subMenu ul li:nth-child(10) {
        transition-delay: -0.14s; }
      .subMenu ul li a {
        font-size: 1.5em;
        color: #ddd;
        display: block;
        line-height: 1.45em;
        position: relative; }
        @media screen and (max-width: 575px) {
          .subMenu ul li a {
            padding-bottom: 0.12rem; } }
        .subMenu ul li a:hover, .subMenu ul li a:focus {
          color: #fff; }
          .subMenu ul li a:hover:before, .subMenu ul li a:focus:before {
            left: -0.75em;
            opacity: 1; }
          .subMenu ul li a:hover small, .subMenu ul li a:focus small {
            color: #fff; }
        .subMenu ul li a:before {
          position: absolute;
          content: '';
          width: 0.4em;
          height: 2px;
          background: #fff;
          left: -1.5em;
          top: 0.65em;
          opacity: 0;
          transition: 0.3s ease-out; }
        .subMenu ul li a span {
          margin-right: 1rem; }
        .subMenu ul li a small {
          font-size: 1rem;
          display: inline-block;
          color: #555; }
          @media screen and (max-width: 575px) {
            .subMenu ul li a small {
              display: block;
              font-size: 0.875rem;
              line-height: 1.2;
              color: #555; } }
  .subMenu.menuOpen {
    left: 0; }
    .subMenu.menuOpen > ul > li {
      transform: scale(1) translateX(0px);
      opacity: 1; }
      .subMenu.menuOpen > ul > li:nth-child(1) {
        transition-delay: 0.27s; }
      .subMenu.menuOpen > ul > li:nth-child(2) {
        transition-delay: 0.34s; }
      .subMenu.menuOpen > ul > li:nth-child(3) {
        transition-delay: 0.41s; }
      .subMenu.menuOpen > ul > li:nth-child(4) {
        transition-delay: 0.48s; }
      .subMenu.menuOpen > ul > li:nth-child(5) {
        transition-delay: 0.55s; }
      .subMenu.menuOpen > ul > li:nth-child(6) {
        transition-delay: 0.62s; }
      .subMenu.menuOpen > ul > li:nth-child(7) {
        transition-delay: 0.69s; }
      .subMenu.menuOpen > ul > li:nth-child(8) {
        transition-delay: 0.76s; }
      .subMenu.menuOpen > ul > li:nth-child(9) {
        transition-delay: 0.83s; }
      .subMenu.menuOpen > ul > li:nth-child(10) {
        transition-delay: 0.9s; }
/*# sourceMappingURL=header.css.map */