<div class="container">
    <!-- menu btn -->
    <button class="menuBtn">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
    </button>
    <!-- 主選單 -->
    <div class="mainMenu">
        <ul>
            <li>
                <a href="#"><span>關於展覽</span><small>ABOUT US</small></a>
            </li>
            <li>
                <a href="#"><span>參展資訊</span><small>EXPO INFO</small></a>
            </li>
            <li>
                <a href="#"><span>新聞中心</span><small>LATEST NEWS</small></a>
            </li>
            <li>
                <a href="#"><span>市場資訊</span><small>FACT SHEET</small></a>
            </li>
        </ul>
    </div>
    <!-- logo -->
    <h1>
        <a href="#">
            <!-- 請針對縮圖產出尺寸使用不同解析度 src -->
            <picture>
                <source media="(min-width: 1200px)" srcset="../images/c_logo.png" />
                <source media="(min-width: 992px)" srcset="../images/c_logo.png" />
                <source media="(min-width: 576px)" srcset="../images/c_logo.png" />
                <source media="(max-width: 575px)" srcset="../images/c_logo.png" />
                <img data-src="../images/c_logo.png" class="lazy" />
            </picture>
        </a>
    </h1>
    <!-- menu -->
    <nav class="navigation">
        <ul>
            <li>
                <a href="#"><span>Home</span></a>
            </li>
            <li>
                <a href="#"><span>About</span></a>
            </li>
            <li>
                <a href="#"><span>Reception</span></a>
            </li>
            <li>
                <a href="#"><span>Event</span></a>
            </li>
            <li>
                <a href="#"><span>Topics</span></a>
            </li>
            <li>
                <a href="#" class="langBtn"><span>Language<i class="fas fa-chevron-down"></i></span>
                </a>
                <div class="languageBlock">
                    <ul>
                        <li>
                            <a href="#"><span>Lorem, ipsum dolor.</span></a>
                        </li>
                        <li>
                            <a href="#"><span>ENGLISH</span></a>
                        </li>
                        <li>
                            <a href="#"><span>ENGLISH</span></a>
                        </li>
                        <li>
                            <a href="#"><span>ENGLISH</span></a>
                        </li>
                        <li>
                            <a href="#"><span>ENGLISH</span></a>
                        </li>
                    </ul>
                </div>
            </li>
        </ul>
    </nav>
    <!-- searchBtn -->
    <button class="searchBtn"><i class="fas fa-search"></i></button>
    <!-- searchBlock -->
    <div class="search">
        <a href="#" class="close"><i class="fas fa-times"></i></a>
        <div class="searchBlock">
            <div class="searchForm">
                <input type="text" value="" placeholder="Keywords" />
                <button type="button"><i class="fas fa-search"></i></button>
                <a href="#" class="adv_search">Advanced Search</a>
            </div>
            <!-- history -->
            <div class="history">
                <ul>
                    <li><a href="#">新南向台灣形象展</a></li>
                    <li><a href="#">台灣精品</a></li>
                    <li><a href="#">新南向台灣形象展</a></li>
                    <li><a href="#">台灣精品</a></li>
                    <li><a href="#">新南向台灣形象展</a></li>
                </ul>
                <a href="#" class="clear"><i class="fas fa-times"></i><span>clear history</span></a>
            </div>
        </div>
    </div>
</div>
<!-- header demo jq -->
<script>
    $(function () {
        // pageY > 100 header addClass
        $(window).on('scroll', function () {
            if ($(this).scrollTop() > 100) {
                $('.header').stop().addClass('sticky');
            } else {
                $('.header').stop().removeClass('sticky');
            }
        });
        //menu open sidebar
        var menuStatus = false;
        $('.menuBtn')
            .off()
            .click(function (e) {
                $(this).toggleClass('open');

                if (!menuStatus) {
                    $('.mainMenu').stop().addClass('menuOpen');
                    menuStatus = true;
                } else {
                    $('.mainMenu').stop().removeClass('menuOpen');
                    menuStatus = false;
                }
                e.preventDefault();
            });
        // click document close mainMenu
        function closeMenu() {
            $('.menuBtn').removeClass('open');
            $('.mainMenu').stop().removeClass('menuOpen');
        }
        $(document.body).click(function (e) {
            if (menuStatus) {
                closeMenu();
                menuStatus = false;
            }
        });
        $('.mainMenu ,.menuBtn').click(function (e) {
            e.stopPropagation();
        });
        //language
        var lanStatus = false;
        $('.langBtn')
            .off()
            .click(function (e) {
                if (!lanStatus) {
                    $('.languageBlock').stop(true, true).addClass('open').slideDown('600', 'easeOutQuint');
                    lanStatus = true;
                } else {
                    $('.languageBlock').stop(true, true).removeClass('open').slideUp('600', 'easeOutQuint');
                    lanStatus = false;
                }
                e.preventDefault();
            });
        // click document close lang
        function closeLang() {
            $('.languageBlock').stop(true, true).removeClass('open').slideUp('600', 'easeOutQuint');
        }
        $(document.body).click(function (e) {
            if (lanStatus) {
                closeLang();
                lanStatus = false;
            }
        });
        $('.languageBlock ,.langBtn').click(function (e) {
            e.stopPropagation();
        });
        //search
        var searchStatus = false;
        $('.searchBtn')
            .off()
            .click(function (e) {
                if (!searchStatus) {
                    $('.search').stop(true, true).addClass('open');
                    searchStatus = true;
                }
                e.preventDefault();
            });
        $('.search').find('.close').off().click(function (e) {
            $('.search').stop(true, true).removeClass('open');
            searchStatus = false;
            e.preventDefault();
        })

    });
</script>