@import '../../../../sass/_variable'; //變數
@import '../../../../sass/_mixin'; //Mixin
$site: index($themeColor, cyan);
.tsite-catelogClassification {
    .container {
        overflow: hidden;
    }
    .catelogButton {
        margin: 0 0 1em;
        display: flex;
        @include screen('xs_mobile') {
            overflow: hidden;
            overflow-x: auto;
            padding-bottom: 1em;
        }
        a {
            border-radius: 0.25rem;
            border: 1px solid #eee;
            padding: 0.25em 0.75em;
            font-size: 0.875rem;
            white-space: nowrap;
            text-align: center;
            margin: 0 0.5em 0.5em 0;
            color: #555;
            &:hover,
            &:focus,
            &.active {
                background: nth($linkColor, $site);
                color: #fff;
                border: 1px solid nth($linkColor, $site);
            }
        }
    }
    /* ---- grid ---- */
    .masonry {
        columns: 4;
        column-gap: 20px;
        @media (max-width: 1200px) {
            columns: 3;
        }
        @media (max-width: 992px) {
            columns: 2;
        }
        //@media (max-width: 768px) {columns: 1;}
        .item {
            margin-bottom: 20px;
            position: relative;
            width: 100%;
            overflow: hidden;
            transition: 0.3s $cubic;
            border-radius: 1em;
            display: none;
            &:before {
                border-radius: 0.25em;
                content: '';
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
            }
            @for $i from 1 through 20 {
                display: inline-block;
                &:nth-child(#{$i}) {
                    .img-container {
                        height: random(150) + 300 + px;
                        @include screen('xs_mobile') {
                            height: random(50) + 200 + px;
                        }
                    }
                }
            }
            .img-container {
                position: relative;
                width: 100%;
                z-index: 0;
                img {
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    top: 0;
                    left: 0;
                    border-radius: 1em;
                    object-fit: cover;
                }
            }

            .title {
                font-size: 2em;
                font-weight: bold;
                margin: 0px 0px 10px 0px;
                @include text-line(3, 1.25);
                pointer-events: none;
                @include screen('xs_mobile') {
                    font-size: 1.5em;
                }
            }
            a.link {
                position: absolute;
                left: 0;
                right: 0;
                top: 0;
                bottom: 0;
                z-index: -1;
                overflow: hidden;
                border-radius: 0.25em;
                &:before {
                    position: absolute;
                    content: '';
                    border-radius: 1em;
                    left: 50%;
                    top: 50%;
                    width: 100%;
                    height: 100%;
                    transform: translate(-50%, -50%) scale(0.5);
                    background: rgba(0, 0, 0, 0.75);
                    opacity: 0;
                    transition: 0.3s $cubic;
                }
                &:hover,
                &:focus {
                    &:before {
                        opacity: 1;
                        transform: translate(-50%, -50%) scale(1);
                    }
                }
            }
            .info {
                position: absolute;
                left: 0;
                right: 0;
                top: 0;
                bottom: 0;
                padding: 1.5em;
                color: #fff;
                display: flex;
                flex-direction: column;
                z-index: 2;
            }
        }
    }
}
