<!-- css -->
<link rel="stylesheet" href="style_A/components/catelog_classification/catelog_classification.css" />
<div class="container">
    <!-- catelog button-->
    <div class="catelogButton">
        <a href="#" class="filter_item active">全部</a>
        <a href="#" class="filter_item">型錄分類1</a>
        <a href="#" class="filter_item">型錄分類2</a>
        <a href="#" class="filter_item">型錄分類3</a>
        <a href="#" class="filter_item">型錄分類4</a>
    </div>
    <!-- masonry 瀑布流 最多20筆 -->
    <div class="masonry">
        <!-- 1 -->
        <div class="item">
            <div class="img-container">
                <!-- 請針對縮圖產出尺寸使用不同解析度 src -->
                <picture>
                    <source media="(min-width: 1200px)" data-srcset="https://source.unsplash.com/random/1" />
                    <source media="(min-width: 992px)" data-srcset="https://source.unsplash.com/random/1" />
                    <source media="(min-width: 576px)" data-srcset="https://source.unsplash.com/random/1" />
                    <source media="(max-width: 575px)" data-srcset="https://source.unsplash.com/random/1" />
                    <img data-src="https://source.unsplash.com/random/1" class="lazy" />
                </picture>
            </div>
            <div class="info">
                <a href="#" class="link"></a>
                <h3 class="title">01 MASONRY DYNAMIC COLUMN FLEXBOX</h3>
            </div>
        </div>
        <!-- 2 -->
        <div class="item">
            <div class="img-container">
                <!-- 請針對縮圖產出尺寸使用不同解析度 src -->
                <picture>
                    <source media="(min-width: 1200px)" data-srcset="https://source.unsplash.com/random/2" />
                    <source media="(min-width: 992px)" data-srcset="https://source.unsplash.com/random/2" />
                    <source media="(min-width: 576px)" data-srcset="https://source.unsplash.com/random/2" />
                    <source media="(max-width: 575px)" data-srcset="https://source.unsplash.com/random/2" />
                    <img data-src="https://source.unsplash.com/random/2" class="lazy" />
                </picture>
            </div>
            <div class="info">
                <a href="#" class="link"></a>
                <h3 class="title">02 MASONRY DYNAMIC COLUMN FLEXBOX</h3>
            </div>
        </div>
        <!-- 3 -->
        <div class="item">
            <div class="img-container">
                <!-- 請針對縮圖產出尺寸使用不同解析度 src -->
                <picture>
                    <source media="(min-width: 1200px)" data-srcset="https://source.unsplash.com/random/3" />
                    <source media="(min-width: 992px)" data-srcset="https://source.unsplash.com/random/3" />
                    <source media="(min-width: 576px)" data-srcset="https://source.unsplash.com/random/3" />
                    <source media="(max-width: 575px)" data-srcset="https://source.unsplash.com/random/3" />
                    <img data-src="https://source.unsplash.com/random/3" class="lazy" />
                </picture>
            </div>
            <div class="info">
                <a href="#" class="link"></a>
                <h3 class="title">03 MASONRY DYNAMIC COLUMN FLEXBOX</h3>
            </div>
        </div>
        <!-- 4 -->
        <div class="item">
            <div class="img-container">
                <!-- 請針對縮圖產出尺寸使用不同解析度 src -->
                <picture>
                    <source media="(min-width: 1200px)" data-srcset="https://source.unsplash.com/random/4" />
                    <source media="(min-width: 992px)" data-srcset="https://source.unsplash.com/random/4" />
                    <source media="(min-width: 576px)" data-srcset="https://source.unsplash.com/random/4" />
                    <source media="(max-width: 575px)" data-srcset="https://source.unsplash.com/random/4" />
                    <img data-src="https://source.unsplash.com/random/4" class="lazy" />
                </picture>
            </div>
            <div class="info">
                <a href="#" class="link"></a>
                <h3 class="title">04 MASONRY DYNAMIC COLUMN FLEXBOX</h3>
            </div>
        </div>
        <!-- 5 -->
        <div class="item">
            <div class="img-container">
                <!-- 請針對縮圖產出尺寸使用不同解析度 src -->
                <picture>
                    <source media="(min-width: 1200px)" data-srcset="https://source.unsplash.com/random/5" />
                    <source media="(min-width: 992px)" data-srcset="https://source.unsplash.com/random/5" />
                    <source media="(min-width: 576px)" data-srcset="https://source.unsplash.com/random/5" />
                    <source media="(max-width: 575px)" data-srcset="https://source.unsplash.com/random/5" />
                    <img data-src="https://source.unsplash.com/random/5" class="lazy" />
                </picture>
            </div>
            <div class="info">
                <a href="#" class="link"></a>
                <h3 class="title">05 MASONRY DYNAMIC COLUMN FLEXBOX</h3>
            </div>
        </div>
        <!-- 6 -->
        <div class="item">
            <div class="img-container">
                <!-- 請針對縮圖產出尺寸使用不同解析度 src -->
                <picture>
                    <source media="(min-width: 1200px)" data-srcset="https://source.unsplash.com/random/6" />
                    <source media="(min-width: 992px)" data-srcset="https://source.unsplash.com/random/6" />
                    <source media="(min-width: 576px)" data-srcset="https://source.unsplash.com/random/6" />
                    <source media="(max-width: 575px)" data-srcset="https://source.unsplash.com/random/6" />
                    <img data-src="https://source.unsplash.com/random/6" class="lazy" />
                </picture>
            </div>
            <div class="info">
                <a href="#" class="link"></a>
                <h3 class="title">06 MASONRY DYNAMIC COLUMN FLEXBOX</h3>
            </div>
        </div>
        <!-- 7 -->
        <div class="item">
            <div class="img-container">
                <!-- 請針對縮圖產出尺寸使用不同解析度 src -->
                <picture>
                    <source media="(min-width: 1200px)" data-srcset="https://source.unsplash.com/random/7" />
                    <source media="(min-width: 992px)" data-srcset="https://source.unsplash.com/random/7" />
                    <source media="(min-width: 576px)" data-srcset="https://source.unsplash.com/random/7" />
                    <source media="(max-width: 575px)" data-srcset="https://source.unsplash.com/random/7" />
                    <img data-src="https://source.unsplash.com/random/7" class="lazy" />
                </picture>
            </div>
            <div class="info">
                <a href="#" class="link"></a>
                <h3 class="title">07 MASONRY DYNAMIC COLUMN FLEXBOX</h3>
            </div>
        </div>
        <!-- 8 -->
        <div class="item">
            <div class="img-container">
                <!-- 請針對縮圖產出尺寸使用不同解析度 src -->
                <picture>
                    <source media="(min-width: 1200px)" data-srcset="https://source.unsplash.com/random/8" />
                    <source media="(min-width: 992px)" data-srcset="https://source.unsplash.com/random/8" />
                    <source media="(min-width: 576px)" data-srcset="https://source.unsplash.com/random/8" />
                    <source media="(max-width: 575px)" data-srcset="https://source.unsplash.com/random/8" />
                    <img data-src="https://source.unsplash.com/random/8" class="lazy" />
                </picture>
            </div>
            <div class="info">
                <a href="#" class="link"></a>
                <h3 class="title">08 MASONRY DYNAMIC COLUMN FLEXBOX</h3>
            </div>
        </div>
        <!-- 9 -->
        <div class="item">
            <div class="img-container">
                <!-- 請針對縮圖產出尺寸使用不同解析度 src -->
                <picture>
                    <source media="(min-width: 1200px)" data-srcset="https://source.unsplash.com/random/9" />
                    <source media="(min-width: 992px)" data-srcset="https://source.unsplash.com/random/9" />
                    <source media="(min-width: 576px)" data-srcset="https://source.unsplash.com/random/9" />
                    <source media="(max-width: 575px)" data-srcset="https://source.unsplash.com/random/9" />
                    <img data-src="https://source.unsplash.com/random/9" class="lazy" />
                </picture>
            </div>
            <div class="info">
                <a href="#" class="link"></a>
                <h3 class="title">09 MASONRY DYNAMIC COLUMN FLEXBOX</h3>
            </div>
        </div>
        <!-- 10 -->
        <div class="item">
            <div class="img-container">
                <!-- 請針對縮圖產出尺寸使用不同解析度 src -->
                <picture>
                    <source media="(min-width: 1200px)" data-srcset="https://source.unsplash.com/random/9" />
                    <source media="(min-width: 992px)" data-srcset="https://source.unsplash.com/random/9" />
                    <source media="(min-width: 576px)" data-srcset="https://source.unsplash.com/random/9" />
                    <source media="(max-width: 575px)" data-srcset="https://source.unsplash.com/random/9" />
                    <img data-src="https://source.unsplash.com/random/9" class="lazy" />
                </picture>
            </div>
            <div class="info">
                <a href="#" class="link"></a>
                <h3 class="title">10 MASONRY DYNAMIC COLUMN FLEXBOX</h3>
            </div>
        </div>
        <!-- 11 -->
        <div class="item">
            <div class="img-container">
                <!-- 請針對縮圖產出尺寸使用不同解析度 src -->
                <picture>
                    <source media="(min-width: 1200px)" data-srcset="https://source.unsplash.com/random/11" />
                    <source media="(min-width: 992px)" data-srcset="https://source.unsplash.com/random/11" />
                    <source media="(min-width: 576px)" data-srcset="https://source.unsplash.com/random/11" />
                    <source media="(max-width: 575px)" data-srcset="https://source.unsplash.com/random/11" />
                    <img data-src="https://source.unsplash.com/random/11" class="lazy" />
                </picture>
            </div>
            <div class="info">
                <a href="#" class="link"></a>
                <h3 class="title">01 MASONRY DYNAMIC COLUMN FLEXBOX</h3>
            </div>
        </div>
        <!-- 12 -->
        <div class="item">
            <div class="img-container">
                <!-- 請針對縮圖產出尺寸使用不同解析度 src -->
                <picture>
                    <source media="(min-width: 1200px)" data-srcset="https://source.unsplash.com/random/12" />
                    <source media="(min-width: 992px)" data-srcset="https://source.unsplash.com/random/12" />
                    <source media="(min-width: 576px)" data-srcset="https://source.unsplash.com/random/12" />
                    <source media="(max-width: 575px)" data-srcset="https://source.unsplash.com/random/12" />
                    <img data-src="https://source.unsplash.com/random/12" class="lazy" />
                </picture>
            </div>
            <div class="info">
                <a href="#" class="link"></a>
                <h3 class="title">02 MASONRY DYNAMIC COLUMN FLEXBOX</h3>
            </div>
        </div>
        <!-- 13 -->
        <div class="item">
            <div class="img-container">
                <!-- 請針對縮圖產出尺寸使用不同解析度 src -->
                <picture>
                    <source media="(min-width: 1200px)" data-srcset="https://source.unsplash.com/random/13" />
                    <source media="(min-width: 992px)" data-srcset="https://source.unsplash.com/random/13" />
                    <source media="(min-width: 576px)" data-srcset="https://source.unsplash.com/random/13" />
                    <source media="(max-width: 575px)" data-srcset="https://source.unsplash.com/random/13" />
                    <img data-src="https://source.unsplash.com/random/13" class="lazy" />
                </picture>
            </div>
            <div class="info">
                <a href="#" class="link"></a>
                <h3 class="title">03 MASONRY DYNAMIC COLUMN FLEXBOX</h3>
            </div>
        </div>
        <!-- 14 -->
        <div class="item">
            <div class="img-container">
                <!-- 請針對縮圖產出尺寸使用不同解析度 src -->
                <picture>
                    <source media="(min-width: 1200px)" data-srcset="https://source.unsplash.com/random/14" />
                    <source media="(min-width: 992px)" data-srcset="https://source.unsplash.com/random/14" />
                    <source media="(min-width: 576px)" data-srcset="https://source.unsplash.com/random/14" />
                    <source media="(max-width: 575px)" data-srcset="https://source.unsplash.com/random/14" />
                    <img data-src="https://source.unsplash.com/random/14" class="lazy" />
                </picture>
            </div>
            <div class="info">
                <a href="#" class="link"></a>
                <h3 class="title">04 MASONRY DYNAMIC COLUMN FLEXBOX</h3>
            </div>
        </div>
        <!-- 15 -->
        <div class="item">
            <div class="img-container">
                <!-- 請針對縮圖產出尺寸使用不同解析度 src -->
                <picture>
                    <source media="(min-width: 1200px)" data-srcset="https://source.unsplash.com/random/15" />
                    <source media="(min-width: 992px)" data-srcset="https://source.unsplash.com/random/15" />
                    <source media="(min-width: 576px)" data-srcset="https://source.unsplash.com/random/15" />
                    <source media="(max-width: 575px)" data-srcset="https://source.unsplash.com/random/15" />
                    <img data-src="https://source.unsplash.com/random/15" class="lazy" />
                </picture>
            </div>
            <div class="info">
                <a href="#" class="link"></a>
                <h3 class="title">05 MASONRY DYNAMIC COLUMN FLEXBOX</h3>
            </div>
        </div>
        <!-- 16 -->
        <div class="item">
            <div class="img-container">
                <!-- 請針對縮圖產出尺寸使用不同解析度 src -->
                <picture>
                    <source media="(min-width: 1200px)" data-srcset="https://source.unsplash.com/random/16" />
                    <source media="(min-width: 992px)" data-srcset="https://source.unsplash.com/random/16" />
                    <source media="(min-width: 576px)" data-srcset="https://source.unsplash.com/random/16" />
                    <source media="(max-width: 575px)" data-srcset="https://source.unsplash.com/random/16" />
                    <img data-src="https://source.unsplash.com/random/16" class="lazy" />
                </picture>
            </div>
            <div class="info">
                <a href="#" class="link"></a>
                <h3 class="title">06 MASONRY DYNAMIC COLUMN FLEXBOX</h3>
            </div>
        </div>
        <!-- 17 -->
        <div class="item">
            <div class="img-container">
                <!-- 請針對縮圖產出尺寸使用不同解析度 src -->
                <picture>
                    <source media="(min-width: 1200px)" data-srcset="https://source.unsplash.com/random/17" />
                    <source media="(min-width: 992px)" data-srcset="https://source.unsplash.com/random/17" />
                    <source media="(min-width: 576px)" data-srcset="https://source.unsplash.com/random/17" />
                    <source media="(max-width: 575px)" data-srcset="https://source.unsplash.com/random/17" />
                    <img data-src="https://source.unsplash.com/random/17" class="lazy" />
                </picture>
            </div>
            <div class="info">
                <a href="#" class="link"></a>
                <h3 class="title">07 MASONRY DYNAMIC COLUMN FLEXBOX</h3>
            </div>
        </div>
        <!-- 18 -->
        <div class="item">
            <div class="img-container">
                <!-- 請針對縮圖產出尺寸使用不同解析度 src -->
                <picture>
                    <source media="(min-width: 1200px)" data-srcset="https://source.unsplash.com/random/18" />
                    <source media="(min-width: 992px)" data-srcset="https://source.unsplash.com/random/18" />
                    <source media="(min-width: 576px)" data-srcset="https://source.unsplash.com/random/18" />
                    <source media="(max-width: 575px)" data-srcset="https://source.unsplash.com/random/18" />
                    <img data-src="https://source.unsplash.com/random/18" class="lazy" />
                </picture>
            </div>
            <div class="info">
                <a href="#" class="link"></a>
                <h3 class="title">08 MASONRY DYNAMIC COLUMN FLEXBOX</h3>
            </div>
        </div>
        <!-- 19 -->
        <div class="item">
            <div class="img-container">
                <!-- 請針對縮圖產出尺寸使用不同解析度 src -->
                <picture>
                    <source media="(min-width: 1200px)" data-srcset="https://source.unsplash.com/random/19" />
                    <source media="(min-width: 992px)" data-srcset="https://source.unsplash.com/random/19" />
                    <source media="(min-width: 576px)" data-srcset="https://source.unsplash.com/random/19" />
                    <source media="(max-width: 575px)" data-srcset="https://source.unsplash.com/random/19" />
                    <img data-src="https://source.unsplash.com/random/19" class="lazy" />
                </picture>
            </div>
            <div class="info">
                <a href="#" class="link"></a>
                <h3 class="title">09 MASONRY DYNAMIC COLUMN FLEXBOX</h3>
            </div>
        </div>
        <!-- 20 -->
        <div class="item">
            <div class="img-container">
                <!-- 請針對縮圖產出尺寸使用不同解析度 src -->
                <picture>
                    <source media="(min-width: 1200px)" data-srcset="https://source.unsplash.com/random/20" />
                    <source media="(min-width: 992px)" data-srcset="https://source.unsplash.com/random/20" />
                    <source media="(min-width: 576px)" data-srcset="https://source.unsplash.com/random/20" />
                    <source media="(max-width: 575px)" data-srcset="https://source.unsplash.com/random/20" />
                    <img data-src="https://source.unsplash.com/random/20" class="lazy" />
                </picture>
            </div>
            <div class="info">
                <a href="#" class="link"></a>
                <h3 class="title">10 MASONRY DYNAMIC COLUMN FLEXBOX</h3>
            </div>
        </div>
        <!-- 21 以後看不到 -->
        <div class="item">
            <div class="img-container">
                <!-- 請針對縮圖產出尺寸使用不同解析度 src -->
                <picture>
                    <source media="(min-width: 1200px)" data-srcset="https://source.unsplash.com/random/21" />
                    <source media="(min-width: 992px)" data-srcset="https://source.unsplash.com/random/21" />
                    <source media="(min-width: 576px)" data-srcset="https://source.unsplash.com/random/21" />
                    <source media="(max-width: 575px)" data-srcset="https://source.unsplash.com/random/21" />
                    <img data-src="https://source.unsplash.com/random/21" class="lazy" />
                </picture>
            </div>
            <div class="info">
                <a href="#" class="link"></a>
                <h3 class="title">10 MASONRY DYNAMIC COLUMN FLEXBOX</h3>
            </div>
        </div>
    </div>
    <a href="#" class="more"><span>more</span></a>
</div>
<!-- js -->
<script src="vendor/picturefill/picturefill.min.js"></script>
<script src="vendor/lazyload/lazyload.js"></script>
<script>
    $(function () {
        //lazyload
        var lazyLoadInstance = new LazyLoad({
            elements_selector: 'img.lazy',
            //placeholder: '/images/basic/placeholder.gif',
            effect: 'fadeIn',
            fadeTime: 600,
            threshold: 0,
        });
    })
</script>