<!-- css -->
<link rel="stylesheet" href="style_A/components/footer/footer.css" />
<!-- footer -->
<footer class="footer">
    <div class="container">
        <div class="footerLink">
            <ul>
                <li><a href="#">Lorem</a></li>
                <li><a href="#">ipsum </a></li>
                <li><a href="#">dolor</a></li>
                <li><a href="#">sit</a></li>
                <li><a href="#">amet</a></li>
                <li><a href="#">consectetur</a></li>
            </ul>
        </div>
        <div class="footerLogo">
            <img src="images/TAITRA-Logo.png" alt="" />
            <p>中華民國對外貿易發展協會版權所有<br />©2002-2019 TAITRA｜All rights reserved.</p>
        </div>
        <div class="copyRight">
            地址：11012臺北市信義區基隆路一段333號國貿大樓5-7樓<br />電話：886-2-2725-5200<br />E-Mail：<a href="#"
                >taitra@taitra.org.tw</a
            ><br />
            會員服務電話: <a href="tel:02-21765002">02-21765002</a>、<a href="tel:02-21765002">0800-506-088</a
            >(市話撥打)
        </div>
        <div class="footerImg">
            <a href="#"><img src="images/QRCode.jpg" alt="" /></a>
            <a href="#"><img src="images/mobile_silver_18.png" alt="" /></a>
            <a href="#"><img src="images/comodo_secure_seal.webp" alt="" /></a>
            <a href="#"><img src="images/WA_2012_S.webp" alt="" /></a>
        </div>
    </div>
</footer>
