<!-- css -->
<link rel="stylesheet" href="template/video_list/video_list.css" />
<div class="tsite-innerpage tsite-wrap-A tsite-cyan">
    <div class="container">
        <div class="head">
            <div class="img-container">
                <!-- 請針對縮圖產出尺寸使用不同解析度 src -->
                <picture>
                    <source media="(min-width: 1200px)" data-srcset="images/inner_head.jpg" />
                    <source media="(min-width: 992px)" data-srcset="images/inner_head.jpg" />
                    <source media="(min-width: 576px)" data-srcset="images/inner_head.jpg" />
                    <source media="(max-width: 575px)" data-srcset="images/inner_head.jpg" />
                    <img data-src="images/inner_head.jpg" class="lazy" />
                </picture>
            </div>
        </div>
        <div class="tsite-videopage">
            <div class="pageInfo">
                <div class="path"><a href="#">首頁</a> / <a href="#">選單第一層</a> / <a href="#">選單第二層</a></div>
                <!-- 這裏套文章標題 -->
                <div class="contentTitle">影片列表</div>
            </div>
            <!-- 數量 -->
            <div class="tsite-filter tsite-form">
                show
                <select name="" id="selectSample">
                    <option value="">20</option>
                    <option value="">50</option>
                    <option value="">100</option>
                </select>
                entries
            </div>
            <!-- 影片列表 -->
            <div class="tsite-videoList">
                <ul>
                    <li>
                        <a href="#">
                            <div class="img-container">
                                <!-- 請針對縮圖產出尺寸使用不同解析度 src -->
                                <picture>
                                    <source media="(min-width: 1200px)" data-srcset="images/pic_ta.jpg" />
                                    <source media="(min-width: 992px)" data-srcset="images/pic_ta.jpg" />
                                    <source media="(min-width: 576px)" data-srcset="images/pic_ta.jpg" />
                                    <source media="(max-width: 575px)" data-srcset="images/pic_ta.jpg" />
                                    <img data-src="images/pic_ta.jpg" class="lazy" />
                                </picture>
                            </div>
                            <div class="videoTitle">2020年線上越南台灣形象展</div>
                            <time><i class="far fa-clock"></i>2020/03/10</time>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <div class="img-container">
                                <!-- 請針對縮圖產出尺寸使用不同解析度 src -->
                                <picture>
                                    <source media="(min-width: 1200px)" data-srcset="images/pic_ind.jpg" />
                                    <source media="(min-width: 992px)" data-srcset="images/pic_ind.jpg" />
                                    <source media="(min-width: 576px)" data-srcset="images/pic_ind.jpg" />
                                    <source media="(max-width: 575px)" data-srcset="images/pic_ind.jpg" />
                                    <img data-src="images/pic_ind.jpg" class="lazy" />
                                </picture>
                            </div>
                            <div class="videoTitle">2020年線上越南台灣形象展</div>
                            <time><i class="far fa-clock"></i>2020/03/10</time>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <div class="img-container">
                                <!-- 請針對縮圖產出尺寸使用不同解析度 src -->
                                <picture>
                                    <source media="(min-width: 1200px)" data-srcset="images/pic_ma.jpg" />
                                    <source media="(min-width: 992px)" data-srcset="images/pic_ma.jpg" />
                                    <source media="(min-width: 576px)" data-srcset="images/pic_ma.jpg" />
                                    <source media="(max-width: 575px)" data-srcset="images/pic_ma.jpg" />
                                    <img data-src="images/pic_ma.jpg" class="lazy" />
                                </picture>
                            </div>
                            <div class="videoTitle">2020年線上越南台灣形象展</div>
                            <time><i class="far fa-clock"></i>2020/03/10</time>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <div class="img-container">
                                <!-- 請針對縮圖產出尺寸使用不同解析度 src -->
                                <picture>
                                    <source media="(min-width: 1200px)" data-srcset="images/pic_ind.jpg" />
                                    <source media="(min-width: 992px)" data-srcset="images/pic_ind.jpg" />
                                    <source media="(min-width: 576px)" data-srcset="images/pic_ind.jpg" />
                                    <source media="(max-width: 575px)" data-srcset="images/pic_ind.jpg" />
                                    <img data-src="images/pic_ind.jpg" class="lazy" />
                                </picture>
                            </div>
                            <div class="videoTitle">2020年線上越南台灣形象展</div>
                            <time><i class="far fa-clock"></i>2020/03/10</time>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <div class="img-container">
                                <!-- 請針對縮圖產出尺寸使用不同解析度 src -->
                                <picture>
                                    <source media="(min-width: 1200px)" data-srcset="images/pic_India.jpg" />
                                    <source media="(min-width: 992px)" data-srcset="images/pic_India.jpg" />
                                    <source media="(min-width: 576px)" data-srcset="images/pic_India.jpg" />
                                    <source media="(max-width: 575px)" data-srcset="images/pic_India.jpg" />
                                    <img data-src="images/pic_India.jpg" class="lazy" />
                                </picture>
                            </div>
                            <div class="videoTitle">2020年線上越南台灣形象展</div>
                            <time><i class="far fa-clock"></i>2020/03/10</time>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <div class="img-container">
                                <!-- 請針對縮圖產出尺寸使用不同解析度 src -->
                                <picture>
                                    <source media="(min-width: 1200px)" data-srcset="images/pic_ma.jpg" />
                                    <source media="(min-width: 992px)" data-srcset="images/pic_ma.jpg" />
                                    <source media="(min-width: 576px)" data-srcset="images/pic_ma.jpg" />
                                    <source media="(max-width: 575px)" data-srcset="images/pic_ma.jpg" />
                                    <img data-src="images/pic_ma.jpg" class="lazy" />
                                </picture>
                            </div>
                            <div class="videoTitle">2020年線上越南台灣形象展</div>
                            <time><i class="far fa-clock"></i>2020/03/10</time>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <div class="img-container">
                                <!-- 請針對縮圖產出尺寸使用不同解析度 src -->
                                <picture>
                                    <source media="(min-width: 1200px)" data-srcset="images/pic_ta.jpg" />
                                    <source media="(min-width: 992px)" data-srcset="images/pic_ta.jpg" />
                                    <source media="(min-width: 576px)" data-srcset="images/pic_ta.jpg" />
                                    <source media="(max-width: 575px)" data-srcset="images/pic_ta.jpg" />
                                    <img data-src="images/pic_ta.jpg" class="lazy" />
                                </picture>
                            </div>
                            <div class="videoTitle">2020年線上越南台灣形象展</div>
                            <time><i class="far fa-clock"></i>2020/03/10</time>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <div class="img-container">
                                <!-- 請針對縮圖產出尺寸使用不同解析度 src -->
                                <picture>
                                    <source media="(min-width: 1200px)" data-srcset="images/pic_vi.jpg" />
                                    <source media="(min-width: 992px)" data-srcset="images/pic_vi.jpg" />
                                    <source media="(min-width: 576px)" data-srcset="images/pic_vi.jpg" />
                                    <source media="(max-width: 575px)" data-srcset="images/pic_vi.jpg" />
                                    <img data-src="images/pic_vi.jpg" class="lazy" />
                                </picture>
                            </div>
                            <div class="videoTitle">2020年線上越南台灣形象展</div>
                            <time><i class="far fa-clock"></i>2020/03/10</time>
                        </a>
                    </li>
                </ul>
            </div>
            <!-- pagination -->
            <div class="pagination">
                <div class="showPage">Showing <span>1</span> to <span>20</span> of <span>43</span> entries</div>
                <ul class="page">
                    <li class="first"><a href="#" title="第一頁">第一頁 </a></li>
                    <li class="prev"><a href="#" title="回上一頁">回上一頁 </a></li>
                    <li class="active"><a href="#">1</a></li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li><a href="#">4</a></li>
                    <li><a href="#">5</a></li>
                    <li><a href="#">6</a></li>
                    <li><a href="#">7</a></li>
                    <li><a href="#">8</a></li>
                    <li><a href="#">9</a></li>
                    <li><a href="#">10</a></li>
                    <li class="next"><a href="#" title="下一頁">下一頁 </a></li>
                    <li class="last"><a href="#" title="最後一頁">最後一頁 </a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- js -->
<script>
    $(function () {
        var lazyLoadInstance = new LazyLoad({
            elements_selector: 'img.lazy',
            //placeholder: '/images/basic/placeholder.gif',
            effect: 'fadeIn',
            fadeTime: 600,
            threshold: 0,
        });
        //add table mobile x_scroll
        $('table').each(function (index, el) {
            //判斷沒有table_list
            $('.userEditContent')
                .find('table')
                .each(function () {
                    $(this).wrap('<div class="tableScroll"></div>');
                });
        });
    });
</script>
