@import '../../../sass/_variable'; //變數
@import '../../../sass/_mixin'; //Mixin
$site: index($themeColor, cyan);
@keyframes cookie_fadeIn {
    0% {
        bottom: -5em;
        opacity: 0;
    }
    100% {
        bottom: 1em;
        opacity: 1;
    }
}
.tsite-cookie {
    position: fixed;
    transform: translate3d(0, 0, 0);
    width: 300px;
    left: 1em;
    bottom: 1em;
    border-radius: 1em;
    background: darken(nth($mainColor, $site), 10);
    padding: 1em;
    color: #fff;
    z-index: 9999;
    transition: transform 0.5s cubic-bezier(0.215, 0.61, 0.355, 1), box-shadow 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
    transform: perspective(600px) translate3d(0, 0, 0);
    animation: cookie_fadeIn 0.6s 3s both cubic-bezier(0.4, 0.01, 0.165, 0.99);
    @include screen('xs_mobile') {
        width: 96%;
        left: 2%;
    }
    a.close {
        position: absolute;
        width: 1.5em;
        height: 1.5em;
        top: -1em;
        right: 0em;
        border-radius: 50%;
        background: #fff;
        display: block;
        text-align: center;
        i {
            color: #333;
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
        }
    }
    h3 {
        font-size: 1.5em;
        margin: 1rem auto;
    }
    h3,
    p {
        color: #fff;
    }
    p {
        font-size: 0.813rem;
        line-height: 1.25em;
        @include screen('xs_mobile') {
            font-size: 0.813rem;
        }
    }
    a {
        color: #eee;
        text-decoration: underline;
        &:hover,
        &:focus {
            color: #fff;
        }
        &.more {
            color: #fff;
            &:hover,
            &:focus {
                color: #fff;
            }
        }
        // &.more {
        //     margin: 0.25em 0;
        //     background: rgba(255, 255, 255, 0.15);
        //     span {
        //         color: #fff;
        //     }
        //     &:hover,
        //     &:focus {
        //         background: rgba(0, 0, 0, 0.5);
        //         &:before {
        //             display: none;
        //         }
        //     }
        // }
    }
    // -----------------------色彩-------//
    // tsite-cyan
    &.tsite-cyan {
        $site: index($themeColor, cyan);
        background: rgba(0, 0, 0, 0.85);
        a.more {
            color: #fff;
            border: 1px solid rgba(255, 255, 255, 0.2);
            background: rgba(0, 0, 0, 0.1);
        }
    }
    // tsite-green
    &.tsite-green {
        $site: index($themeColor, green);
        background: darken(nth($subColor, $site), 10);
    }
    // tsite-purple
    &.tsite-purple {
        $site: index($themeColor, purple);
        background: darken(nth($subColor, $site), 10);
    }
    // tsite-red
    &.tsite-red {
        $site: index($themeColor, red);
        background: darken(nth($subColor, $site), 10);
    }
    // -----------------------版型-------//
    // tsite-wrap-A
    &.tsite-wrap-A {
        margin-left: 0;
        border-radius: 0.25em;
    }
    // tsite-wrap-B
    &.tsite-wrap-B {
    }
    // tsite-wrap-C
    &.tsite-wrap-C {
        border-radius: 0.25em;

        // tsite-cyan
        &.tsite-cyan {
            $site: index($themeColor, cyan);
            a.more {
                background: nth($mainColor, $site);
                span {
                    background: nth($mainColor, $site);
                }
            }
        }
        // tsite-green
        &.tsite-green {
            $site: index($themeColor, green);
            a.more {
                background: nth($mainColor, $site);
                span {
                    background: nth($mainColor, $site);
                }
            }
        }
        // tsite-purple
        &.tsite-purple {
            $site: index($themeColor, purple);
            a.more {
                background: nth($mainColor, $site);
                span {
                    background: nth($mainColor, $site);
                }
            }
        }
        // tsite-red
        &.tsite-red {
            $site: index($themeColor, red);
            a.more {
                background: nth($mainColor, $site);
                span {
                    background: nth($mainColor, $site);
                }
            }
        }
    }
    // tsite-wrap-D
    &.tsite-wrap-D {
        a.more {
            border: none;
            &:before {
                border: 1px solid #fff;
                border-left: none;
                border-right: none;
            }
            &:after {
                border: 1px solid #fff;
                border-left: none;
                border-right: none;
            }
        }
    }
}
