@charset "UTF-8";
.fancybox-slide--iframe .fancybox-content {
  width: 800px;
  height: 800px;
  max-width: 800px;
  max-height: 90%;
  margin: 0;
}
@media screen and (max-width: 575px) {
  .fancybox-slide--iframe .fancybox-content {
    max-width: 100%;
    max-height: 100%;
  }
}

body {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

.tag {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
}
.tag .item {
  padding: 0.25em 1em;
  display: block;
  text-align: center;
  color: #fff;
  background: #00aec7;
  margin: 0 0.5em 0.5em 0;
}
.tag .item:before {
  content: "#";
  margin-right: 0.25em;
}
.tag .item:hover, .tag .item:focus {
  background: #008194;
  color: #fff;
}

button:focus {
  outline: none;
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.tsite-personalize {
  position: relative;
  font-family: Helvetica, 微軟正黑體, Arial, sans-serif;
}
.tsite-personalize a {
  color: #00aec7;
}
.tsite-personalize a:hover, .tsite-personalize a:focus {
  color: #008194;
}
.tsite-personalize .container {
  margin: 0 auto;
  position: relative;
  padding-top: 2em;
}
.tsite-personalize .container h2 {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 1em;
  text-align: left;
  -ms-flex-item-align: baseline;
      align-self: baseline;
  margin: 0 0 0.25em;
  line-height: 1;
  color: #222;
  background: #f1f1f1;
  z-index: 99;
  font-size: 1em;
  padding: 0.5rem 1rem;
  border-bottom: 1px solid #ccc;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.tsite-personalize .container h2 small {
  font-size: 1rem;
  color: #555;
  font-weight: normal;
  margin: 0 0.5em;
}
@media screen and (max-width: 767px) {
  .tsite-personalize .container h2 small {
    display: block;
    margin: 0.5em 0.5em 0;
  }
}
.tsite-personalize .container h3 {
  line-height: 1.45em;
}
.tsite-personalize .personalizeTab {
  position: relative;
  width: 100%;
}
.tsite-personalize .personalizeTab .tabs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  z-index: 2;
  width: 100%;
  height: 2em;
  background: #fff;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  list-style: none;
}
.tsite-personalize .personalizeTab .tabs li {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -ms-flex-negative: 1;
      flex-shrink: 1;
  -ms-flex-preferred-size: 20%;
      flex-basis: 20%;
}
.tsite-personalize .personalizeTab .tabs li a {
  display: block;
  text-decoration: none;
  padding: 0.5em;
  text-align: center;
  color: #333;
  font-weight: bold;
  background: #dedede;
  border: 1px solid #ddd;
  height: 2rem;
  line-height: 2rem;
}
@media screen and (max-width: 575px) {
  .tsite-personalize .personalizeTab .tabs li a {
    padding: 0.1em;
    height: 2rem;
    font-size: 0.875rem;
  }
}
.tsite-personalize .personalizeTab .tabs li.active a {
  color: #000;
  border: 1px solid #ccc;
  background: #fff;
}
.tsite-personalize .personalizeTab .tabs li span.notice {
  display: inline-block;
  width: 2em;
  height: 2em;
  border-radius: 50%;
  text-align: center;
  background: #ff3e4d;
  color: #fff;
  line-height: 2em;
  text-shadow: none;
  font-size: 0.75rem;
  font-weight: bold;
  font-style: normal;
  margin-left: 0.25em;
  margin-right: 0.5em;
  -webkit-transform: translateY(-2px);
          transform: translateY(-2px);
}
@media screen and (max-width: 575px) {
  .tsite-personalize .personalizeTab .tabs li span.notice {
    font-size: 0.75rem;
  }
}
.tsite-personalize .personalizeTab .tabContainer {
  padding: 1em;
  position: relative;
  height: calc(100% - 8em);
  bottom: 0;
  left: 0;
  top: 3em;
  overflow-x: hidden !important;
  overflow-y: auto !important;
  -webkit-overflow-scrolling: touch;
  -webkit-transform: translate3d(0, 0, 0);
}
@media screen and (max-width: 575px) {
  .tsite-personalize .personalizeTab .tabContainer {
    top: 2.3em;
  }
}
.tsite-personalize .personalizeTab .tabContainer .tabContent {
  display: none;
}
.tsite-personalize .personalizeTab .tabContainer .tabContent.active {
  display: block;
}
.tsite-personalize .personalizeTab .tabContainer .tabContent.tabProducts ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.tsite-personalize .personalizeTab .tabContainer .tabContent.tabProducts ul li {
  border: 1px solid #ddd;
  margin-bottom: 0.5em;
  overflow: hidden;
  padding: 1em;
  position: relative;
  border-radius: 0.25em;
}
.tsite-personalize .personalizeTab .tabContainer .tabContent.tabProducts ul li .badge_top {
  position: absolute;
  top: 0;
  left: 0;
  width: 40px;
  z-index: 9;
}
.tsite-personalize .personalizeTab .tabContainer .tabContent.tabProducts ul li .badge_top img {
  width: 100%;
}
.tsite-personalize .personalizeTab .tabContainer .tabContent.tabProducts ul li button.collect {
  position: absolute;
  top: -0.5em;
  right: -0.5em;
  width: 3em;
  height: 3em;
  background: none;
  border: none;
  font-size: 1.5em;
  z-index: 9;
}
.tsite-personalize .personalizeTab .tabContainer .tabContent.tabProducts ul li button.collect:hover, .tsite-personalize .personalizeTab .tabContainer .tabContent.tabProducts ul li button.collect:focus {
  cursor: pointer;
}
.tsite-personalize .personalizeTab .tabContainer .tabContent.tabProducts ul li button.collect:hover i, .tsite-personalize .personalizeTab .tabContainer .tabContent.tabProducts ul li button.collect:focus i {
  color: #ff3e4d;
}
.tsite-personalize .personalizeTab .tabContainer .tabContent.tabProducts ul li button.collect i {
  color: #999;
}
.tsite-personalize .personalizeTab .tabContainer .tabContent.tabProducts ul li button.collect.collected i {
  color: #ff3e4d;
}
.tsite-personalize .personalizeTab .tabContainer .tabContent.tabProducts ul li .img-container {
  float: left;
  width: 120px;
  overflow: hidden;
  position: relative;
  background: transparent;
  border: 1px solid #bbb;
  margin: 0 1em 1em 0;
}
.tsite-personalize .personalizeTab .tabContainer .tabContent.tabProducts ul li .img-container:before {
  display: block;
  content: "";
  line-height: 0;
  padding-top: 100%;
}
.tsite-personalize .personalizeTab .tabContainer .tabContent.tabProducts ul li .img-container img,
.tsite-personalize .personalizeTab .tabContainer .tabContent.tabProducts ul li .img-container iframe,
.tsite-personalize .personalizeTab .tabContainer .tabContent.tabProducts ul li .img-container video {
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin: auto;
}
.tsite-personalize .personalizeTab .tabContainer .tabContent.tabProducts ul li .img-container img {
  -o-object-fit: cover;
     object-fit: cover;
  display: block;
}
.tsite-personalize .personalizeTab .tabContainer .tabContent.tabProducts ul li .img-container a {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.tsite-personalize .personalizeTab .tabContainer .tabContent.tabProducts ul li .img-container a img {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: contain;
     object-fit: contain;
}
.tsite-personalize .personalizeTab .tabContainer .tabContent.tabProducts ul li .product_info {
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  min-height: 120px;
  -ms-flex-line-pack: start;
      align-content: flex-start;
}
@media screen and (max-width: 575px) {
  .tsite-personalize .personalizeTab .tabContainer .tabContent.tabProducts ul li .product_info {
    clear: both;
  }
}
.tsite-personalize .personalizeTab .tabContainer .tabContent.tabProducts ul li .product_info h3 {
  margin: 0 3em 0.5em 0;
}
.tsite-personalize .personalizeTab .tabContainer .tabContent.tabProducts ul li .product_info h3 span.new {
  display: inline-block;
  padding: 0 0.5em;
  background: red;
  color: #fff;
  font-size: 0.75rem;
  text-align: center;
  margin-right: 0.25em;
  border-radius: 0.25em;
  text-decoration: none;
  line-height: 1.65;
}
.tsite-personalize .personalizeTab .tabContainer .tabContent.tabProducts ul li .product_info .supplier_name {
  margin-bottom: 3em;
}
@media screen and (max-width: 575px) {
  .tsite-personalize .personalizeTab .tabContainer .tabContent.tabProducts ul li .product_info .supplier_name {
    margin-bottom: 1em;
  }
}
.tsite-personalize .personalizeTab .tabContainer .tabContent.tabProducts ul li .product_info .price {
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  -ms-flex-negative: 1;
      flex-shrink: 1;
  -ms-flex-preferred-size: calc(100% - 5em);
      flex-basis: calc(100% - 5em);
  -ms-flex-item-align: end;
      align-self: flex-end;
  margin: auto 5em 0 0;
  color: #555;
  font-weight: bold;
}
.tsite-personalize .personalizeTab .tabContainer .tabContent.tabProducts ul li .product_info .price span {
  color: #999;
}
.tsite-personalize .personalizeTab .tabContainer .tabContent.tabProducts ul li .product_info .price span.discount {
  color: #ff3e4d;
}
.tsite-personalize .personalizeTab .tabContainer .tabContent.tabProducts ul li .product_info .freeship {
  font-family: times;
  position: absolute;
  bottom: 0.25em;
  right: 0.25em;
  width: auto;
  padding: 0.25em 1em 0;
  max-width: 100px;
  border-radius: 0.45em;
  color: #fff;
  height: 1.65em;
  font-size: 0.75rem;
  background: #555;
  text-align: center;
  font-family: verdana;
}
.tsite-personalize .personalizeTab .tabContainer .tabContent.tabProducts ul li .product_info .freeship i {
  margin-right: 0.5em;
  font-size: 0.75rem;
}
.tsite-personalize .personalizeTab .tabContainer .tabContent.tabSuppliers ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.tsite-personalize .personalizeTab .tabContainer .tabContent.tabSuppliers ul li {
  border: 1px solid #ddd;
  margin-bottom: 0.5em;
  overflow: hidden;
  padding: 1em;
  position: relative;
  border-radius: 0.25em;
}
.tsite-personalize .personalizeTab .tabContainer .tabContent.tabSuppliers ul li button.collect {
  position: absolute;
  top: -0.5em;
  right: -0.5em;
  width: 3em;
  height: 3em;
  background: none;
  border: none;
  font-size: 1.5em;
  z-index: 9;
}
.tsite-personalize .personalizeTab .tabContainer .tabContent.tabSuppliers ul li button.collect:hover, .tsite-personalize .personalizeTab .tabContainer .tabContent.tabSuppliers ul li button.collect:focus {
  cursor: pointer;
}
.tsite-personalize .personalizeTab .tabContainer .tabContent.tabSuppliers ul li button.collect:hover i, .tsite-personalize .personalizeTab .tabContainer .tabContent.tabSuppliers ul li button.collect:focus i {
  color: #ff3e4d;
}
.tsite-personalize .personalizeTab .tabContainer .tabContent.tabSuppliers ul li button.collect i {
  color: #999;
}
.tsite-personalize .personalizeTab .tabContainer .tabContent.tabSuppliers ul li button.collect.collected i {
  color: #ff3e4d;
}
.tsite-personalize .personalizeTab .tabContainer .tabContent.tabSuppliers h3 {
  margin: 0 5em 0.5em 0;
}
.tsite-personalize .personalizeTab .tabContainer .tabContent.tabSuppliers .supplier_info ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  margin: 0;
  padding: 0;
  list-style: none;
}
.tsite-personalize .personalizeTab .tabContainer .tabContent.tabSuppliers .supplier_info ul li {
  border: none;
  margin-bottom: 0.5em;
  border-radius: 0;
  padding: 0;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  -ms-flex-negative: 1;
      flex-shrink: 1;
  -ms-flex-preferred-size: 49%;
      flex-basis: 49%;
  margin: 0 0 0.5em;
}
@media screen and (max-width: 575px) {
  .tsite-personalize .personalizeTab .tabContainer .tabContent.tabSuppliers .supplier_info ul li {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
}
.tsite-personalize .personalizeTab .tabContainer .tabContent.tabSuppliers .supplier_info ul li span {
  display: block;
  padding-left: 1em;
  font-weight: bold;
  border-left: 3px solid #888;
  margin-bottom: 0.5em;
}
.tsite-personalize .personalizeTab .tabContainer .tabContent.tabSuppliers .supplier_info ul li p {
  margin: 0 0 0 1em;
  font-size: 0.814rem;
  color: #666;
}
.tsite-personalize .personalizeTab .tabContainer .tabContent.tabEvents ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.tsite-personalize .personalizeTab .tabContainer .tabContent.tabEvents ul li {
  border: 1px solid #ddd;
  margin-bottom: 0.5em;
  overflow: hidden;
  padding: 1em;
  position: relative;
  border-radius: 0.25em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
}
.tsite-personalize .personalizeTab .tabContainer .tabContent.tabEvents ul li button.collect {
  position: absolute;
  top: -0.5em;
  right: -0.5em;
  width: 3em;
  height: 3em;
  background: none;
  border: none;
  font-size: 1.5em;
  z-index: 9;
}
.tsite-personalize .personalizeTab .tabContainer .tabContent.tabEvents ul li button.collect:hover, .tsite-personalize .personalizeTab .tabContainer .tabContent.tabEvents ul li button.collect:focus {
  cursor: pointer;
}
.tsite-personalize .personalizeTab .tabContainer .tabContent.tabEvents ul li button.collect:hover i, .tsite-personalize .personalizeTab .tabContainer .tabContent.tabEvents ul li button.collect:focus i {
  color: #ff3e4d;
}
.tsite-personalize .personalizeTab .tabContainer .tabContent.tabEvents ul li button.collect i {
  color: #999;
}
.tsite-personalize .personalizeTab .tabContainer .tabContent.tabEvents ul li button.collect.collected i {
  color: #ff3e4d;
}
.tsite-personalize .personalizeTab .tabContainer .tabContent.tabEvents ul li .dateBlock {
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  -ms-flex-negative: 1;
      flex-shrink: 1;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  padding: 0.5em;
  margin-right: 1em;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-line-pack: start;
      align-content: flex-start;
}
@media screen and (max-width: 575px) {
  .tsite-personalize .personalizeTab .tabContainer .tabContent.tabEvents ul li .dateBlock {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    padding: 0;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    margin: 0;
  }
}
.tsite-personalize .personalizeTab .tabContainer .tabContent.tabEvents ul li .dateBlock .month {
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  -ms-flex-negative: 1;
      flex-shrink: 1;
  -ms-flex-preferred-size: auto;
      flex-basis: auto;
  padding: 0 0.25em 0 0;
  text-align: right;
  font-size: 2em;
  position: relative;
  font-weight: bold;
}
.tsite-personalize .personalizeTab .tabContainer .tabContent.tabEvents ul li .dateBlock .month:after {
  position: absolute;
  content: "";
  -webkit-transform: rotate(15deg);
          transform: rotate(15deg);
  height: 1.25em;
  top: 0em;
  right: -0.2em;
  border-right: 1px solid #888;
}
@media screen and (max-width: 575px) {
  .tsite-personalize .personalizeTab .tabContainer .tabContent.tabEvents ul li .dateBlock .month:after {
    height: 1em;
    top: 0;
    right: -0.1em;
  }
}
@media screen and (max-width: 575px) {
  .tsite-personalize .personalizeTab .tabContainer .tabContent.tabEvents ul li .dateBlock .month {
    -ms-flex-preferred-size: auto;
        flex-basis: auto;
    font-size: 1.5em;
    margin-top: 0.5em;
  }
}
.tsite-personalize .personalizeTab .tabContainer .tabContent.tabEvents ul li .dateBlock .day {
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  -ms-flex-negative: 1;
      flex-shrink: 1;
  -ms-flex-preferred-size: 30%;
      flex-basis: 30%;
  padding: 0 0 0 0.5em;
  font-size: 2em;
  font-weight: bold;
}
@media screen and (max-width: 575px) {
  .tsite-personalize .personalizeTab .tabContainer .tabContent.tabEvents ul li .dateBlock .day {
    -ms-flex-preferred-size: auto;
        flex-basis: auto;
    font-size: 1.5em;
    margin-top: 0.5em;
  }
}
.tsite-personalize .personalizeTab .tabContainer .tabContent.tabEvents ul li .adengaBlock {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -ms-flex-negative: 1;
      flex-shrink: 1;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
}
@media screen and (max-width: 575px) {
  .tsite-personalize .personalizeTab .tabContainer .tabContent.tabEvents ul li .adengaBlock {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
}
.tsite-personalize .personalizeTab .tabContainer .tabContent.tabEvents ul li .adengaBlock h3 {
  font-size: 1.5em;
  line-height: 1.25em;
  margin: 0 0 0.5em;
  padding-bottom: 0.25em;
  border-bottom: 1px solid #ccc;
}
@media screen and (max-width: 575px) {
  .tsite-personalize .personalizeTab .tabContainer .tabContent.tabEvents ul li .adengaBlock h3 {
    font-size: 1.5em;
  }
}
.tsite-personalize .personalizeTab .tabContainer .tabContent.tabEvents ul li .adengaBlock ul li {
  font-weight: bold;
  border-left: none;
  margin-bottom: 0.5em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  color: #222;
  padding: 0;
  border: none;
}
.tsite-personalize .personalizeTab .tabContainer .tabContent.tabEvents ul li .adengaBlock ul li:last-child {
  margin-bottom: 0;
}
@media screen and (max-width: 991px) {
  .tsite-personalize .personalizeTab .tabContainer .tabContent.tabEvents ul li .adengaBlock ul li {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    margin-bottom: 1em;
  }
}
.tsite-personalize .personalizeTab .tabContainer .tabContent.tabEvents ul li .adengaBlock ul li time {
  -ms-flex-preferred-size: 180px;
      flex-basis: 180px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  font-weight: normal;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 1em;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #666;
}
@media screen and (max-width: 991px) {
  .tsite-personalize .personalizeTab .tabContainer .tabContent.tabEvents ul li .adengaBlock ul li time {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}
.tsite-personalize .personalizeTab .tabContainer .tabContent.tabEvents ul li .adengaBlock ul li time span {
  -ms-flex-preferred-size: 35%;
      flex-basis: 35%;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  white-space: nowrap;
}
@media screen and (max-width: 991px) {
  .tsite-personalize .personalizeTab .tabContainer .tabContent.tabEvents ul li .adengaBlock ul li time span {
    -ms-flex-preferred-size: 80px;
        flex-basis: 80px;
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
  }
}
/*# sourceMappingURL=personalize.css.map */