<!-- css -->
<link rel="stylesheet" href="../../../style_A/components/personalize/personalize.css" />
<!-- icon awesome cdn -->
<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
    integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
<div class="personalize">
    <div class="container">
        <h2>My Collections</h2>
        <!-- tab -->
        <div class="personalizeTab">
            <!-- tab btn -->
            <ul class="tabs">
                <li class="active">
                    <a href="#">Products<span class="notice">4</span></a>
                </li>
                <li rel="tab2">
                    <a href="#">Suppliers<span class="notice">2</span></a>
                </li>
                <li rel="tab3">
                    <a href="#">Events<span class="notice">2</span></a>
                </li>
            </ul>
            <!-- tab container -->
            <div class="tabContainer">
                <!-- Products tabContent -->
                <div class="tabContent tabProducts active">
                    <ul>
                        <li>
                            <!-- badge_top -->
                            <div class="badge_top"><img src="../../../images/badge_top.png" alt="" /></div>
                            <!-- collect 收藏 -->
                            <button type="button" class="collect collected"><i class="fas fa-heart"></i></button>
                            <div class="img-container">
                                <a href="#">
                                    <!-- 請針對縮圖產出尺寸使用不同解析度 src -->
                                    <picture>
                                        <source media="(min-width: 1200px)"
                                            srcset="../../../images/personalize_pic.jpg" />
                                        <source media="(min-width: 992px)"
                                            srcset="../../../images/personalize_pic.jpg" />
                                        <source media="(min-width: 576px)"
                                            srcset="../../../images/personalize_pic.jpg" />
                                        <source media="(max-width: 575px)"
                                            srcset="../../../images/personalize_pic.jpg" />
                                        <img data-src="../../../images/personalize_pic.jpg" class="lazy" />
                                    </picture>
                                </a>
                            </div>
                            <div class="product_info">
                                <h3><a href="#"><span class="new">new</span>Plum Powder, Dried Prune Powder 5kg</a></h3>
                                <div class="supplier_name">Supplier：MILLER CCID CO., LTD.</div>
                                <div class="price">
                                    <span><del>USD 214 - USD 214 / Piece(s)</del></span>
                                    <span class="discount">2.25-3.73 / Piece(s)</span>
                                </div>
                                <div class="freeship"><i class="fas fa-dolly-flatbed"></i>free</div>
                            </div>
                        </li>
                        <li>
                            <!-- badge_top -->
                            <div class="badge_top"><img src="../../../images/badge_top.png" alt="" /></div>
                            <!-- collect 收藏 -->
                            <button type="button" class="collect"><i class="fas fa-heart"></i></button>
                            <div class="img-container">
                                <a href="#">
                                    <!-- 請針對縮圖產出尺寸使用不同解析度 src -->
                                    <picture>
                                        <source media="(min-width: 1200px)"
                                            srcset="../../../images/personalize_pic.jpg" />
                                        <source media="(min-width: 992px)"
                                            srcset="../../../images/personalize_pic.jpg" />
                                        <source media="(min-width: 576px)"
                                            srcset="../../../images/personalize_pic.jpg" />
                                        <source media="(max-width: 575px)"
                                            srcset="../../../images/personalize_pic.jpg" />
                                        <img data-src="../../../images/personalize_pic.jpg" class="lazy" />
                                    </picture>
                                </a>
                            </div>
                            <div class="product_info">
                                <h3><a href="#">Plum Powder, Dried Prune Powder 5kg</a></h3>
                                <div class="supplier_name">Supplier：MILLER CCID CO., LTD.</div>
                                <div class="price">
                                    <span><del>USD 214 - USD 214 / Piece(s)</del></span>
                                    <span class="discount">2.25-3.73 / Piece(s)</span>
                                </div>
                                <div class="freeship"><i class="fas fa-dolly-flatbed"></i>free</div>
                            </div>
                        </li>
                        <li>
                            <!-- badge_top -->
                            <div class="badge_top"><img src="../../../images/badge_top.png" alt="" /></div>
                            <!-- collect 收藏 -->
                            <button type="button" class="collect collected"><i class="fas fa-heart"></i></button>
                            <div class="img-container">
                                <a href="#">
                                    <!-- 請針對縮圖產出尺寸使用不同解析度 src -->
                                    <picture>
                                        <source media="(min-width: 1200px)"
                                            srcset="../../../images/personalize_pic.jpg" />
                                        <source media="(min-width: 992px)"
                                            srcset="../../../images/personalize_pic.jpg" />
                                        <source media="(min-width: 576px)"
                                            srcset="../../../images/personalize_pic.jpg" />
                                        <source media="(max-width: 575px)"
                                            srcset="../../../images/personalize_pic.jpg" />
                                        <img data-src="../../../images/personalize_pic.jpg" class="lazy" />
                                    </picture>
                                </a>
                            </div>
                            <div class="product_info">
                                <h3><a href="#">Plum Powder, Dried Prune Powder 5kg</a></h3>
                                <div class="supplier_name">Supplier：MILLER CCID CO., LTD.</div>
                                <div class="price">
                                    <span><del>USD 214 - USD 214 / Piece(s)</del></span>
                                    <span class="discount">2.25-3.73 / Piece(s)</span>
                                </div>
                                <div class="freeship"><i class="fas fa-dolly-flatbed"></i>free</div>
                            </div>
                        </li>
                        <li>
                            <!-- badge_top -->
                            <!-- <div class="badge_top"><img src="../../../images/badge_top.png" alt="" /></div> -->
                            <!-- collect 收藏 -->
                            <button type="button" class="collect collected"><i class="fas fa-heart"></i></button>
                            <div class="img-container">
                                <a href="#">
                                    <!-- 請針對縮圖產出尺寸使用不同解析度 src -->
                                    <picture>
                                        <source media="(min-width: 1200px)"
                                            srcset="../../../images/personalize_pic.jpg" />
                                        <source media="(min-width: 992px)"
                                            srcset="../../../images/personalize_pic.jpg" />
                                        <source media="(min-width: 576px)"
                                            srcset="../../../images/personalize_pic.jpg" />
                                        <source media="(max-width: 575px)"
                                            srcset="../../../images/personalize_pic.jpg" />
                                        <img data-src="../../../images/personalize_pic.jpg" class="lazy" />
                                    </picture>
                                </a>
                            </div>
                            <div class="product_info">
                                <h3><a href="#">Plum Powder, Dried Prune Powder 5kg</a></h3>
                                <div class="supplier_name">Supplier：MILLER CCID CO., LTD.</div>
                                <div class="price">
                                    <span><del>USD 214 - USD 214 / Piece(s)</del></span>
                                    <span class="discount">2.25-3.73 / Piece(s)</span>
                                </div>
                                <div class="freeship"><i class="fas fa-dolly-flatbed"></i>free</div>
                            </div>
                        </li>
                    </ul>
                </div>
                <!-- Suppliers tabContent -->
                <div class="tabContent tabSuppliers">
                    <ul>
                        <li>
                            <!-- collect 收藏 -->
                            <button type="button" class="collect collected"><i class="fas fa-heart"></i></button>
                            <h3><a href="#">Yang Xuan International Co., Ltd</a></h3>
                            <div class="supplier_info">
                                <ul>
                                    <li>
                                        <span>Business Type</span>
                                        <p>Agent, Exporter, Importer, ODM, OEM, Trader</p>
                                    </li>
                                    <li>
                                        <span>Year Established</span>
                                        <p>2004</p>
                                    </li>
                                    <li>
                                        <span>Main Product</span>
                                        <p>Agricultural products & foods：fresh, frozen and dried fruit, fresh and frozen
                                            vegetables, Taiwanese tea, Chinese medicinal herb, health food....</p>
                                    </li>
                                    <li>
                                        <span>Main Export Market</span>
                                        <p>ASIA, AUSTRALASIA, C-AMERICA, EUROPE, MID-EAST, N-AMERICA</p>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li>
                            <!-- collect 收藏 -->
                            <button type="button" class="collect"><i class="fas fa-heart"></i></button>
                            <h3><a href="#">Yang Xuan International Co., Ltd</a></h3>
                            <div class="supplier_info">
                                <ul>
                                    <li>
                                        <span>Business Type</span>
                                        <p>Agent, Exporter, Importer, ODM, OEM, Trader</p>
                                    </li>
                                    <li>
                                        <span>Year Established</span>
                                        <p>2004</p>
                                    </li>
                                    <li>
                                        <span>Main Product</span>
                                        <p>Agricultural products & foods：fresh, frozen and dried fruit, fresh and frozen
                                            vegetables, Taiwanese tea, Chinese medicinal herb, health food....</p>
                                    </li>
                                    <li>
                                        <span>Main Export Market</span>
                                        <p>ASIA, AUSTRALASIA, C-AMERICA, EUROPE, MID-EAST, N-AMERICA</p>
                                    </li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </div>
                <!-- Events tabContent -->
                <div class="tabContent tabEvents">
                    <ul>
                        <li>
                            <!-- collect 收藏 -->
                            <button type="button" class="collect collected"><i class="fas fa-heart"></i></button>
                            <!-- 日期 -->
                            <time class="dateBlock">
                                <span class="month">12</span>
                                <span class="day">31</span>
                            </time>
                            <!-- 事件內容 -->
                            <div class="adengaBlock">
                                <div class="tag">
                                    <a href="#" class="item">line</a>
                                    <a href="#" class="item">Tag</a>
                                </div>
                                <h3>Taiwan Excellence to Showcase the Latest Award Winning Products- IC此場session的名稱</h3>
                                <ul>
                                    <li>
                                        <time><span>11:00 AM</span>-<span>12:00 AM</span></time>Taiwan Excellence to
                                        Showcase the Latest Award Winning Products- ICT
                                    </li>
                                    <li>
                                        <time><span>12:30 PM</span>-<span>13:00 PM</span></time>Taiwan Excellence to
                                        Showcase the Latest Award Winning Products- ICT
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li>
                            <!-- collect 收藏 -->
                            <button type="button" class="collect"><i class="fas fa-heart"></i></button>
                            <!-- 日期 -->
                            <time class="dateBlock">
                                <span class="month">12</span>
                                <span class="day">31</span>
                            </time>
                            <!-- 事件內容 -->
                            <div class="adengaBlock">
                                <div class="tag">
                                    <a href="#" class="item">line</a>
                                    <a href="#" class="item">Tag</a>
                                </div>
                                <h3>Taiwan Excellence to Showcase the Latest Award Winning Products- IC此場session的名稱</h3>
                                <ul>
                                    <li>
                                        <time><span>11:00 AM</span>-<span>12:00 AM</span></time>Taiwan Excellence to
                                        Showcase the Latest Award Winning Products- ICT
                                    </li>
                                    <li>
                                        <time><span>12:30 PM</span>-<span>13:00 PM</span></time>Taiwan Excellence to
                                        Showcase the Latest Award Winning Products- ICT
                                    </li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="../../../js/jquery-3.6.0.min.js"></script>
<script src="../../../vendor/lazyload/lazyload.js"></script>
<script src="../../../vendor/picturefill/picturefill.min.js"></script>
<script>
    $(function () {
        //lazyload
        var lazyLoadInstance = new LazyLoad({
            elements_selector: 'img.lazy',
            //placeholder: '/images/basic/placeholder.gif',
            effect: 'fadeIn',
            fadeTime: 600,
            threshold: 0,
        });
        // tab js
        $('.personalizeTab').find('.tabs li').each(function (index, el) {
            $(this).find('a').off().click(function (e) {
                var activeIndex = $(this).parents('li').index();
                $('.personalizeTab').find('.tabs li').removeClass('active');
                $(this).parents('li').addClass('active');
                $(this).parents('.tabs').siblings('.tabContainer').find('.tabContent').removeClass('active');
                $(this).parents('.tabs').siblings('.tabContainer').find('.tabContent').eq(activeIndex).addClass('active');
                console.log(activeIndex);
                e.preventDefault();
            })
        });
    });
</script>