header {
  position: fixed;
  width: 100%;
  height: 6em;
  top: 0;
  left: 0;
  z-index: 99;
  display: flex;
  align-content: stretch;
  transition: 0.3s ease-out; }
  @media screen and (max-width: 767px) {
    header {
      height: 4em;
      background: #d14545; } }
  header.sticky {
    height: 3em;
    background: rgba(255, 255, 255, 0.75); }
    header.sticky h1 {
      display: none; }
      @media screen and (max-width: 767px) {
        header.sticky h1 {
          display: block; } }
    @media screen and (max-width: 767px) {
      header.sticky {
        height: 4em;
        background: #d14545; } }
    header.sticky .searchBtn i {
      color: #d14545; }
      @media screen and (max-width: 767px) {
        header.sticky .searchBtn i {
          color: #FFF; } }
    header.sticky .menuBtn span {
      background: #d14545; }
      @media screen and (max-width: 767px) {
        header.sticky .menuBtn span {
          background: #FFF; } }
  header .container {
    max-width: 100%;
    display: flex;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: 100%; }
    @media screen and (max-width: 767px) {
      header .container {
        position: relative;
        min-height: 1px;
        padding-left: 0;
        padding-right: 0;
        box-sizing: border-box; } }
  header .searchBtn {
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: 36px;
    align-self: center;
    width: 36px;
    height: 36px;
    margin: 0 0.5em 0 1em;
    background: none; }
    @media screen and (max-width: 767px) {
      header .searchBtn {
        flex-basis: 40px;
        width: 40px;
        margin: 0 1em;
        margin: 0 1em 0 0.5em; } }
    header .searchBtn i {
      color: #fff;
      font-size: 1.75em; }
      @media screen and (max-width: 767px) {
        header .searchBtn i {
          font-size: 1.5em; } }
  header .menuBtn {
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: 30px;
    align-self: center;
    width: 30px;
    height: 36px;
    margin: 0 0.5em 0 0;
    transform: rotate(0deg);
    transition: 0.5s ease-in-out;
    background: none;
    border: none;
    cursor: pointer;
    outline: none; }
    header .menuBtn:hover, header .menuBtn:focus {
      border: none;
      outline: none; }
    @media screen and (max-width: 767px) {
      header .menuBtn {
        margin: 0 1em; } }
    header .menuBtn span {
      display: block;
      position: absolute;
      height: 3px;
      width: 100%;
      background: #ffffff;
      opacity: 1;
      left: 0;
      transform: rotate(0deg);
      transition: 0.25s ease-in-out; }
      header .menuBtn span:nth-child(1) {
        top: 6px; }
      header .menuBtn span:nth-child(2), header .menuBtn span:nth-child(3) {
        top: 15px; }
      header .menuBtn span:nth-child(4) {
        top: 24px; }
    header .menuBtn.open {
      z-index: 99;
      position: relative; }
      header .menuBtn.open span:nth-child(1) {
        top: 6px;
        width: 0%;
        left: 50%; }
      header .menuBtn.open span:nth-child(2) {
        transform: rotate(45deg); }
      header .menuBtn.open span:nth-child(3) {
        transform: rotate(-45deg); }
      header .menuBtn.open span:nth-child(4) {
        top: 24px;
        width: 0%;
        left: 50%; }
  header h1 {
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: 400px;
    width: 400px;
    align-self: stretch;
    margin: 0 auto 0 0em;
    position: relative; }
    @media screen and (max-width: 991px) {
      header h1 {
        flex-basis: 350px;
        width: 350px; } }
    @media screen and (max-width: 767px) {
      header h1 {
        margin: 0 0.5em;
        flex-grow: 1;
        flex-basis: auto;
        width: auto; } }
    @media screen and (max-width: 575px) {
      header h1 {
        max-width: 280px;
        margin: 0 auto; } }
    header h1 a {
      display: block;
      position: absolute;
      width: 100%;
      height: 100%; }
      header h1 a img {
        width: 100%;
        height: 100%;
        object-fit: contain; }
  header .navigation {
    display: flex;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 30%;
    max-width: 45%;
    margin: 0 0 0 auto;
    align-items: center; }
    @media screen and (max-width: 1399px) {
      header .navigation {
        max-width: 50%; } }
    @media screen and (max-width: 767px) {
      header .navigation {
        display: none; } }
    header .navigation ul {
      display: flex;
      flex-grow: 1;
      flex-shrink: 1;
      flex-basis: 50%;
      flex-flow: row wrap; }
      header .navigation ul li {
        flex-grow: 1;
        flex-shrink: 1;
        flex-basis: 12.5%;
        position: relative; }
        header .navigation ul li a {
          color: #333;
          display: block;
          text-align: center;
          white-space: nowrap;
          text-shadow: 0px 0px 5px white;
          font-size: 1.125rem;
          line-height: 1.5em;
          font-weight: bold; }
          header .navigation ul li a i {
            display: inline-block;
            font-size: 0.75rem;
            margin-left: 0.5em; }
          header .navigation ul li a:hover span:before {
            left: -1em;
            opacity: 1; }
          header .navigation ul li a span {
            display: inline-block;
            position: relative; }
            header .navigation ul li a span:before {
              position: absolute;
              content: '';
              width: 0.4em;
              height: 2px;
              background: #d14545;
              left: -2em;
              top: 0.75em;
              opacity: 0;
              transition: 0.3s ease-out; }
        header .navigation ul li .languageBlock {
          position: absolute;
          min-width: 120%;
          left: -10%;
          padding-top: 1em;
          display: none;
          z-index: 99; }
          @media screen and (max-width: 767px) {
            header .navigation ul li .languageBlock {
              padding-top: 0.65em; } }
          header .navigation ul li .languageBlock ul {
            display: block; }
            header .navigation ul li .languageBlock ul li {
              display: block; }
          header .navigation ul li .languageBlock a {
            color: #fff;
            display: block;
            font-size: 0.875rem;
            padding: 0.5em 2em;
            text-align: left;
            text-shadow: none;
            background: rgba(0, 0, 0, 0.75); }
            header .navigation ul li .languageBlock a:hover, header .navigation ul li .languageBlock a:focus {
              background: #e75224;
              color: #fff; }

.mainMenu {
  position: fixed;
  width: 30em;
  height: 100%;
  top: 0;
  left: -30em;
  z-index: 8;
  background: #d14545;
  padding: 3.5em 1em 1em;
  transition: 0.5s cubic-bezier(0.4, 0.01, 0.165, 0.99); }
  @media screen and (max-width: 767px) {
    .mainMenu {
      width: 100%;
      left: -100%;
      display: flex;
      flex-flow: column nowrap; } }
  .mainMenu .navigation {
    width: 90%;
    margin: 0 auto 1em;
    max-width: 90%;
    display: none; }
    @media screen and (max-width: 767px) {
      .mainMenu .navigation {
        display: block;
        align-self: flex-start;
        flex-grow: 0;
        flex-shrink: 1;
        flex-basis: auto;
        position: relative; }
        .mainMenu .navigation:after {
          position: absolute;
          content: '';
          width: 100%;
          border-top: 1px solid #ddd;
          bottom: -1em; } }
    .mainMenu .navigation ul {
      display: flex;
      flex-grow: 1;
      flex-shrink: 1;
      flex-basis: 50%;
      flex-flow: row wrap; }
    .mainMenu .navigation li {
      flex-basis: 50%;
      padding: 0.15em; }
    .mainMenu .navigation a {
      color: #fff;
      text-shadow: none;
      padding: 0.25em 0em 0.25em .5em;
      text-align: left;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis; }
    .mainMenu .navigation .languageBlock {
      right: 0;
      left: auto;
      width: 100%;
      min-width: 100%; }
      .mainMenu .navigation .languageBlock li {
        padding: 0; }
      .mainMenu .navigation .languageBlock a {
        background: #ec7652;
        border: none;
        padding: 0.5em 2em; }
        .mainMenu .navigation .languageBlock a:hover, .mainMenu .navigation .languageBlock a:focus {
          background: #e75224; }
  .mainMenu .menuItem {
    padding: 0 5%;
    display: block;
    width: 90%;
    height: 90%;
    margin: 2em auto;
    overflow-x: hidden !important;
    overflow-y: auto !important;
    -webkit-overflow-scrolling: touch;
    -webkit-transform: translate3d(0, 0, 0); }
    @media screen and (max-width: 575px) {
      .mainMenu .menuItem {
        margin: 1em auto 0;
        width: 100%;
        height: 70%;
        position: relative; } }
    .mainMenu .menuItem li {
      margin-bottom: 1.5em;
      border-bottom: 1px solid rgba(255, 255, 255, 0.5);
      margin-top: 5px;
      transform: scale(1.15) translateX(-30px);
      opacity: 0;
      transition: transform 0.5s cubic-bezier(0.4, 0.01, 0.165, 0.99), opacity 0.6s cubic-bezier(0.4, 0.01, 0.165, 0.99); }
      .mainMenu .menuItem li:nth-child(1) {
        transition-delay: 0.49s; }
      .mainMenu .menuItem li:nth-child(2) {
        transition-delay: 0.42s; }
      .mainMenu .menuItem li:nth-child(3) {
        transition-delay: 0.35s; }
      .mainMenu .menuItem li:nth-child(4) {
        transition-delay: 0.28s; }
      .mainMenu .menuItem li:nth-child(5) {
        transition-delay: 0.21s; }
      .mainMenu .menuItem li:nth-child(6) {
        transition-delay: 0.14s; }
      .mainMenu .menuItem li:nth-child(7) {
        transition-delay: 0.07s; }
      .mainMenu .menuItem li:nth-child(8) {
        transition-delay: 0s; }
      .mainMenu .menuItem li:nth-child(9) {
        transition-delay: -0.07s; }
      .mainMenu .menuItem li:nth-child(10) {
        transition-delay: -0.14s; }
      .mainMenu .menuItem li:nth-child(11) {
        transition-delay: -0.21s; }
      .mainMenu .menuItem li:nth-child(12) {
        transition-delay: -0.28s; }
      .mainMenu .menuItem li:nth-child(13) {
        transition-delay: -0.35s; }
      .mainMenu .menuItem li:nth-child(14) {
        transition-delay: -0.42s; }
      .mainMenu .menuItem li:nth-child(15) {
        transition-delay: -0.49s; }
      @media screen and (max-width: 575px) {
        .mainMenu .menuItem li {
          padding-left: 5%;
          padding-right: 5%; } }
      .mainMenu .menuItem li a {
        font-size: 1.5em;
        color: #ddd;
        display: block;
        line-height: 1.45em;
        position: relative; }
        @media screen and (max-width: 575px) {
          .mainMenu .menuItem li a {
            padding-bottom: 0.12rem; } }
        .mainMenu .menuItem li a:hover, .mainMenu .menuItem li a:focus {
          color: #fff; }
          .mainMenu .menuItem li a:hover:before, .mainMenu .menuItem li a:focus:before {
            left: -0.75em;
            opacity: 1; }
          .mainMenu .menuItem li a:hover small, .mainMenu .menuItem li a:focus small {
            color: #fff; }
        .mainMenu .menuItem li a:before {
          position: absolute;
          content: '';
          width: 0.4em;
          height: 2px;
          background: #fff;
          left: -1.5em;
          top: 0.65em;
          opacity: 0;
          transition: 0.3s ease-out; }
        .mainMenu .menuItem li a span {
          margin-right: 1rem; }
        .mainMenu .menuItem li a small {
          font-size: 1rem;
          display: inline-block;
          color: rgba(255, 255, 255, 0.5); }
          @media screen and (max-width: 575px) {
            .mainMenu .menuItem li a small {
              display: block;
              font-size: 0.875rem;
              line-height: 1.2;
              color: #ddd; } }
  .mainMenu.menuOpen {
    left: 0; }
    .mainMenu.menuOpen .menuItem > ul > li {
      transform: scale(1) translateX(0px);
      opacity: 1; }
      .mainMenu.menuOpen .menuItem > ul > li:nth-child(1) {
        transition-delay: 0.27s; }
      .mainMenu.menuOpen .menuItem > ul > li:nth-child(2) {
        transition-delay: 0.34s; }
      .mainMenu.menuOpen .menuItem > ul > li:nth-child(3) {
        transition-delay: 0.41s; }
      .mainMenu.menuOpen .menuItem > ul > li:nth-child(4) {
        transition-delay: 0.48s; }
      .mainMenu.menuOpen .menuItem > ul > li:nth-child(5) {
        transition-delay: 0.55s; }
      .mainMenu.menuOpen .menuItem > ul > li:nth-child(6) {
        transition-delay: 0.62s; }
      .mainMenu.menuOpen .menuItem > ul > li:nth-child(7) {
        transition-delay: 0.69s; }
      .mainMenu.menuOpen .menuItem > ul > li:nth-child(8) {
        transition-delay: 0.76s; }
      .mainMenu.menuOpen .menuItem > ul > li:nth-child(9) {
        transition-delay: 0.83s; }
      .mainMenu.menuOpen .menuItem > ul > li:nth-child(10) {
        transition-delay: 0.9s; }
      .mainMenu.menuOpen .menuItem > ul > li:nth-child(11) {
        transition-delay: 0.97s; }
      .mainMenu.menuOpen .menuItem > ul > li:nth-child(12) {
        transition-delay: 1.04s; }
      .mainMenu.menuOpen .menuItem > ul > li:nth-child(13) {
        transition-delay: 1.11s; }
      .mainMenu.menuOpen .menuItem > ul > li:nth-child(14) {
        transition-delay: 1.18s; }
      .mainMenu.menuOpen .menuItem > ul > li:nth-child(15) {
        transition-delay: 1.25s; }

.search {
  position: fixed;
  width: 100%;
  background: rgba(0, 0, 0, 0.9);
  z-index: 100;
  height: 100%;
  left: 0;
  top: 0;
  opacity: 0;
  pointer-events: none;
  transition: 0.6s cubic-bezier(0.4, 0.01, 0.165, 0.99); }
  .search.open {
    pointer-events: auto;
    opacity: 1;
    display: block;
    transition: all 0.3s ease-in, background 0.5s ease-in;
    transition-delay: 0.3s; }
    .search.open .searchBlock {
      transform: translate(-50%, -40%) scale(1);
      transition-delay: 0.5s;
      opacity: 1; }
      @media screen and (max-width: 575px) {
        .search.open .searchBlock {
          transform: scale(1); } }
  .search a.close {
    width: 36px;
    height: 36px;
    position: absolute;
    top: 1.75em;
    right: 1em; }
    .search a.close i {
      font-size: 2em;
      color: #888; }
    .search a.close:hover i, .search a.close:focus i {
      color: #fff; }
    @media screen and (max-width: 575px) {
      .search a.close {
        top: 1em;
        right: 0.5em; } }
  .search .searchBlock {
    width: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    display: flex;
    flex-flow: row wrap;
    align-content: flex-start;
    opacity: 0;
    transform: translate(-50%, -40%) scale(1.25);
    transition: transform 0.5s cubic-bezier(0.4, 0.01, 0.165, 0.99), opacity 0.6s cubic-bezier(0.4, 0.01, 0.165, 0.99); }
    @media screen and (max-width: 767px) {
      .search .searchBlock {
        width: 80%;
        top: 30%;
        left: 10%;
        transform: translate(0%, 0%) scale(1.25); } }
    .search .searchBlock .searchForm {
      display: flex;
      width: 100%; }
      @media screen and (max-width: 575px) {
        .search .searchBlock .searchForm {
          flex-flow: row wrap;
          position: relative; } }
      .search .searchBlock .searchForm input[type='text'] {
        flex-grow: 1;
        flex-shrink: 1;
        flex-basis: 50;
        max-width: 100%;
        padding: 0.25em 2em 0.25em 0.25em;
        background: none;
        outline: none;
        border: none;
        border-bottom: 1px solid #aaa;
        font-size: 2em;
        color: #fff;
        margin-right: 0.25em;
        border-radius: 0; }
        @media screen and (max-width: 575px) {
          .search .searchBlock .searchForm input[type='text'] {
            min-width: auto; } }
      .search .searchBlock .searchForm button {
        flex-grow: 0;
        flex-shrink: 1;
        flex-basis: 60px;
        background: none;
        margin-left: -60px; }
        @media screen and (max-width: 575px) {
          .search .searchBlock .searchForm button {
            position: absolute;
            top: 0.65em;
            right: 0.25em;
            margin-left: 0;
            width: 60px; } }
        .search .searchBlock .searchForm button:hover i, .search .searchBlock .searchForm button:focus i {
          opacity: 1; }
        .search .searchBlock .searchForm button i {
          font-size: 2em;
          color: #fff;
          opacity: 0.75;
          transition: 0.3s ease-out; }
      .search .searchBlock .searchForm .adv_search {
        flex-grow: 0;
        flex-shrink: 1;
        flex-basis: 150px;
        padding: 0.5em 1em;
        align-self: center; }
        @media screen and (max-width: 575px) {
          .search .searchBlock .searchForm .adv_search {
            flex-grow: 1;
            flex-basis: 100%;
            padding: 0.5em;
            text-align: right; } }
  .search .history {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 100%;
    padding: 0.5em; }
    .search .history a.clear {
      color: #999;
      font-size: 0.75rem;
      position: relative;
      padding: 0.25em 0.5em;
      border-radius: 2em;
      margin-left: -0.25em; }
      .search .history a.clear span {
        display: inline-block;
        line-height: 1.25;
        white-space: nowrap;
        opacity: 0;
        margin-left: 1.5em;
        transition: 0.3s ease-out; }
        @media screen and (max-width: 575px) {
          .search .history a.clear span {
            opacity: 1;
            margin-left: 1em; } }
      .search .history a.clear:hover, .search .history a.clear:focus {
        color: #fff;
        background: #e75224;
        padding: 0.25em 1.5em 0.25em 0.5em; }
        .search .history a.clear:hover span, .search .history a.clear:focus span {
          margin-left: 1em;
          opacity: 1; }
    .search .history ul li {
      display: inline-block;
      position: relative;
      margin-right: 0.5em; }
      .search .history ul li:last-child:after {
        display: none; }
      .search .history ul li:after {
        content: ',';
        position: absolute;
        color: #ccc;
        right: -0.5em;
        top: 0.1em; }
      .search .history ul li a {
        display: block;
        color: #ccc;
        font-size: 0.938rem; }
        .search .history ul li a:hover, .search .history ul li a:focus {
          color: #fff; }
/*# sourceMappingURL=header.css.map */