@import '../../../../sass/_variable'; //變數
@import '../../../../sass/_mixin'; //Mixin
$site: index($themeColor, cyan);
.tsite-gridStack {
    padding: 5em 0;
    background: nth($subColor, $site);
    position: relative;
    &:after {
        position: absolute;
        content: '';
        width: 80%;
        height: 100%;
        top: 0;
        right: auto;
        background: url(../../../../src/images/a_html_bg.png) no-repeat left top;
        background-size: contain;
        z-index: 0;
    }
    &:before {
        content: '';
        position: absolute;
        z-index: 0;
        width: 0;
        height: 0;
        top: 0;
        right: 3em;
        border-style: solid;
        border-width: 120px 120px 0 120px;
        border-color: nth($mainColor, $site) transparent transparent transparent;
        @include screen('xs_mobile') {
            right: 0.5em;
            border-width: 40px 40px 0 40px;
        }
    }
    .container {
        position: relative;
        z-index: 2;
        h2 {
            position: absolute;
            text-align: left;
            top: 3em;
            width: 30%;
            margin: 0;
            color: #fff;
            small {
                display: block;
                color: #fff;
            }
            @include screen('xs_mobile') {
                top: auto;
                position: relative;
                width: 100%;
                margin-bottom: 1em;
                text-align: center;
            }
        }
    }
    @include screen('xs_mobile') {
        padding: 2em 0;
    }
    .gridStack_block {
        min-height: 600px;
        width: 80%;
        margin: 0 0 0 auto;
        position: relative;
        @include screen('xs_mobile') {
            width: 100%;
            margin: 0;
        }
        .gridItem {
            width: 50%;
            min-height: 450px;
            position: absolute;
            color: #fff;
            padding: 10em 3em 4em;
            border-radius: 1em;
            overflow: hidden;
            box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
            transition: 0.3s $cubic;
            left: 15%;
            top: 12%;
            z-index: 3;
            background: lighten(nth($mainColor, $site), 0);
            &:hover {
                z-index: 9;
                box-shadow: rgb(3, 3, 3) 0px 20px 30px -10px;
                @include screen('xs_mobile') {
                    z-index: 2;
                }
            }
            h3 {
                @include screen('xs_mobile') {
                    font-size: 1.75rem;
                }
            }
            @include screen('xs_mobile') {
                width: 90%;
                min-height: 300px;
                position: relative;
                padding: 8em 1em 3em;
                left: 0;
                top: 0;
                margin: 0 auto 1em;
            }
            &.notme {
                transform: translate(-5%, -5%);
                background: lighten(nth($mainColor, $site), 10);
                @include screen('xs_mobile') {
                    transform: none;
                }
            }
            &:nth-child(2) {
                background: #fff;
                padding: 4em 3em;
                min-height: 350px;
                top: 0;
                right: 5%;
                z-index: 2;
                left: auto;
                width: 40%;
                background: adjust_hue(saturate(lighten(nth($subColor, $site), 24), 34), 81);
                h3 {
                    font-size: 1.75rem;
                }
                &:hover {
                    z-index: 9;
                    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
                    @include screen('xs_mobile') {
                        z-index: 2;
                    }
                }
                @include screen('xs_mobile') {
                    width: 90%;
                    min-height: 300px;
                    position: relative;
                    padding: 8em 1em 3em;
                    left: 0;
                    top: 0;
                    margin: 0 auto 1em;
                }

                &.notme {
                    background: adjust_hue(saturate(lighten(nth($subColor, $site), 24), 54), 81);
                    top: -5%;
                    right: 0%;
                    @include screen('xs_mobile') {
                        top: 0;
                        right: 0;
                    }
                }
            }
            &:nth-child(3) {
                padding: 4em 3em;
                min-height: 350px;
                bottom: -2em;
                right: 15%;
                z-index: 1;
                left: auto;
                top: auto;
                width: 40%;
                h3 {
                    font-size: 1.75rem;
                }
                &:hover {
                    z-index: 9;
                    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
                    @include screen('xs_mobile') {
                        z-index: 2;
                    }
                }
                @include screen('xs_mobile') {
                    width: 90%;
                    min-height: 300px;
                    position: relative;
                    padding: 8em 1em 3em;
                    left: 0;
                    top: 0;
                    margin: 0 auto 1em;
                }
                &.notme {
                    transform: translate(10%, 10%);
                    @include screen('xs_mobile') {
                        transform: none;
                    }
                }
            }
            .info {
                position: relative;
                z-index: 2;
            }
            .img-container {
                position: absolute;
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                z-index: 1;

                img {
                    object-fit: cover;
                    position: absolute;
                    width: 100%;
                    height: 100%;
                }
            }
            time {
                margin-bottom: 0.5em;
                font-size: 1.5em;
            }
            h3 {
                font-size: 2.5em;
                @include text-line(2, 1.25);
                margin: 0 0 0.5em;
            }
            p {
                color: #fff;
                @include text-line(4, 1.5);
            }
            a.more {
                position: absolute;
                width: 10em;
                background: none;
                right: 0.25em;
                bottom: 0em;
                margin: 0;
                color: #fff;
                &:after {
                    z-index: 1;
                    width: 3em;
                }
                &:before {
                    display: none;
                }
                span {
                    background: none;
                }
            }
        }
    }
}
