.tsite-pairProducts {
  padding: 2em 0;
  min-height: 360px;
  position: relative;
  background: #f1f1f1; }
  .tsite-pairProducts .container {
    position: relative;
    overflow: hidden;
    z-index: 2; }
  .tsite-pairProducts .swiper-pairProducts {
    margin-left: 0.5em;
    margin-right: 0.5em;
    margin-bottom: 5em;
    position: relative; }
    @media screen and (max-width: 575px) {
      .tsite-pairProducts .swiper-pairProducts {
        margin-left: 0;
        margin-right: 0; } }
    .tsite-pairProducts .swiper-pairProducts [class^='swiper-button'] {
      border-radius: 50%;
      background: #413486;
      border: 2px solid #413486;
      width: 3em;
      height: 3em;
      right: 0;
      top: auto;
      bottom: -4em;
      opacity: 1;
      position: absolute;
      transition: 0.3s ease-out;
      display: block; }
      .tsite-pairProducts .swiper-pairProducts [class^='swiper-button']:hover, .tsite-pairProducts .swiper-pairProducts [class^='swiper-button']:focus {
        background: #00aec7;
        border: 2px solid #00aec7;
        outline: none;
        box-shadow: none; }
      .tsite-pairProducts .swiper-pairProducts [class^='swiper-button']:after {
        display: none; }
      .tsite-pairProducts .swiper-pairProducts [class^='swiper-button']:before {
        position: absolute;
        content: '';
        width: 1em;
        height: 1em;
        border: 2px solid #fff;
        border-bottom: 0;
        border-left: 0;
        transform: rotate(-135deg);
        left: 1.05em;
        top: 0.8em; }
    .tsite-pairProducts .swiper-pairProducts .swiper-button-prev {
      left: auto;
      right: 4em; }
      @media screen and (max-width: 575px) {
        .tsite-pairProducts .swiper-pairProducts .swiper-button-prev {
          left: 50%;
          right: auto;
          margin-left: -3.5em; } }
    .tsite-pairProducts .swiper-pairProducts .swiper-button-next:before {
      transform: rotate(45deg);
      left: 0.65em; }
    @media screen and (max-width: 575px) {
      .tsite-pairProducts .swiper-pairProducts .swiper-button-next {
        left: 50%;
        right: auto;
        margin-left: 0.5em; } }
    .tsite-pairProducts .swiper-pairProducts .swiper-pagination {
      bottom: -4em;
      color: #555;
      font-size: 1em;
      width: 8em;
      right: 6em;
      left: auto; }
      .tsite-pairProducts .swiper-pairProducts .swiper-pagination .swiper-pagination-current {
        font-size: 2em; }
      @media screen and (max-width: 575px) {
        .tsite-pairProducts .swiper-pairProducts .swiper-pagination {
          display: none; } }
    .tsite-pairProducts .swiper-pairProducts .swiper-slide {
      display: block;
      position: relative;
      transition: 0.3s ease-out;
      overflow: hidden;
      -webkit-backface-visibility: hidden;
      -moz-backface-visibility: hidden;
      -webkit-transform: translate3d(0, 0, 0);
      -moz-transform: translate3d(0, 0, 0);
      box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.13) 0px 3px 6px; }
      .tsite-pairProducts .swiper-pairProducts .swiper-slide:hover .img-container img, .tsite-pairProducts .swiper-pairProducts .swiper-slide:focus .img-container img {
        transform: scale(1.1); }
      .tsite-pairProducts .swiper-pairProducts .swiper-slide:hover .product_info, .tsite-pairProducts .swiper-pairProducts .swiper-slide:focus .product_info {
        bottom: 0; }
    .tsite-pairProducts .swiper-pairProducts .img-container {
      overflow: hidden;
      position: relative;
      background: #333333; }
      .tsite-pairProducts .swiper-pairProducts .img-container:before {
        display: block;
        content: '';
        line-height: 0;
        padding-top: 100%; }
      .tsite-pairProducts .swiper-pairProducts .img-container img,
      .tsite-pairProducts .swiper-pairProducts .img-container iframe,
      .tsite-pairProducts .swiper-pairProducts .img-container video {
        display: block;
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        width: 100%;
        height: 100%;
        margin: auto; }
      .tsite-pairProducts .swiper-pairProducts .img-container img {
        object-fit: cover;
        display: block; }
      .tsite-pairProducts .swiper-pairProducts .img-container img {
        transition: 0.3s ease-out; }
    .tsite-pairProducts .swiper-pairProducts .product_info {
      position: absolute;
      width: 80%;
      height: 15em;
      color: #333;
      z-index: 3;
      bottom: -9em;
      right: 0;
      background: rgba(255, 255, 255, 0.75);
      padding: 1em;
      transition: 0.6s cubic-bezier(0.4, 0.01, 0.165, 0.99); }
      @media screen and (max-width: 575px) {
        .tsite-pairProducts .swiper-pairProducts .product_info {
          bottom: 0; } }
      .tsite-pairProducts .swiper-pairProducts .product_info h3 {
        overflow: hidden;
        text-overflow: -o-ellipsis-lastline;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        line-height: 1.5;
        height: calc(1.5 * 2);
        height: 3em;
        margin: 0.25em 0 0.75em; }
        .tsite-pairProducts .swiper-pairProducts .product_info h3 a {
          display: block;
          color: #222; }
          .tsite-pairProducts .swiper-pairProducts .product_info h3 a:hover, .tsite-pairProducts .swiper-pairProducts .product_info h3 a:focus {
            color: #00aec7; }
      .tsite-pairProducts .swiper-pairProducts .product_info p {
        overflow: hidden;
        text-overflow: -o-ellipsis-lastline;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        line-height: 1.5em;
        height: calc(1.5em * 3);
        color: #222; }
      .tsite-pairProducts .swiper-pairProducts .product_info a.more {
        width: auto;
        font-size: 0.875rem;
        margin: 1em 0 1em auto;
        max-width: 140px;
        background: transparent;
        height: 2em; }
        .tsite-pairProducts .swiper-pairProducts .product_info a.more span {
          background: transparent; }
  .tsite-pairProducts.tsite-cyan .swiper-pairProducts [class^='swiper-button'] {
    background: #413486;
    border: 2px solid #413486; }
    .tsite-pairProducts.tsite-cyan .swiper-pairProducts [class^='swiper-button']:hover, .tsite-pairProducts.tsite-cyan .swiper-pairProducts [class^='swiper-button']:focus {
      background: #00aec7;
      border: 2px solid #00aec7; }
  .tsite-pairProducts.tsite-cyan .swiper-pairProducts .product_info h3 a:hover, .tsite-pairProducts.tsite-cyan .swiper-pairProducts .product_info h3 a:focus {
    color: #00aec7; }
  .tsite-pairProducts.tsite-green .swiper-pairProducts [class^='swiper-button'] {
    background: #f65445;
    border: 2px solid #f65445; }
    .tsite-pairProducts.tsite-green .swiper-pairProducts [class^='swiper-button']:hover, .tsite-pairProducts.tsite-green .swiper-pairProducts [class^='swiper-button']:focus {
      background: #00bda9;
      border: 2px solid #00bda9; }
  .tsite-pairProducts.tsite-green .swiper-pairProducts .product_info h3 a:hover, .tsite-pairProducts.tsite-green .swiper-pairProducts .product_info h3 a:focus {
    color: #f06451; }
  .tsite-pairProducts.tsite-purple .swiper-pairProducts [class^='swiper-button'] {
    background: #b2207f;
    border: 2px solid #b2207f; }
    .tsite-pairProducts.tsite-purple .swiper-pairProducts [class^='swiper-button']:hover, .tsite-pairProducts.tsite-purple .swiper-pairProducts [class^='swiper-button']:focus {
      background: #523f95;
      border: 2px solid #523f95; }
  .tsite-pairProducts.tsite-purple .swiper-pairProducts .product_info h3 a:hover, .tsite-pairProducts.tsite-purple .swiper-pairProducts .product_info h3 a:focus {
    color: #b2207f; }
  .tsite-pairProducts.tsite-red .swiper-pairProducts [class^='swiper-button'] {
    background: #dd774e;
    border: 2px solid #dd774e; }
    .tsite-pairProducts.tsite-red .swiper-pairProducts [class^='swiper-button']:hover, .tsite-pairProducts.tsite-red .swiper-pairProducts [class^='swiper-button']:focus {
      background: #b34440;
      border: 2px solid #b34440; }
  .tsite-pairProducts.tsite-red .swiper-pairProducts .product_info h3 a:hover, .tsite-pairProducts.tsite-red .swiper-pairProducts .product_info h3 a:focus {
    color: #ec7652; }
  .tsite-pairProducts.tsite-wrap-D {
    background: #f1f1f1; }
    .tsite-pairProducts.tsite-wrap-D:before {
      position: absolute;
      content: '';
      top: 0;
      left: 50%;
      margin-left: -50%;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 450px 1200px 0 0;
      border-color: #fff transparent transparent transparent;
      z-index: 1; }
    .tsite-pairProducts.tsite-wrap-D:after {
      position: absolute;
      content: '';
      bottom: 0;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 0 0 450px 1200px;
      border-color: transparent transparent #fff transparent;
      z-index: 1;
      transform: translateX(100%); }
/*# sourceMappingURL=pair_products.css.map */