<!-- css -->
<link rel="stylesheet" href="style_B/components/photo_album/photo_album.css" />
<!-- swiper -->
<link rel="stylesheet" href="vendor/swiper/swiper-bundle.min.css" />
<div class="photoAlbum">
    <div class="container">
        <h2>photoAlbum <small>相簿</small></h2>
        <div class="swiper-photoAlbum">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="img-container">
                        <a href="#">
                            <!-- 請針對縮圖產出尺寸使用不同解析度 src -->
                            <picture>
                                <source media="(min-width: 1200px)" srcset="images/news_pic_01.jpg" />
                                <source media="(min-width: 992px)" srcset="images/news_pic_01.jpg" />
                                <source media="(min-width: 576px)" srcset="images/news_pic_01.jpg" />
                                <source media="(max-width: 575px)" srcset="images/news_pic_01.jpg" />
                                <img data-src="images/news_pic_01.jpg" class="lazy" />
                            </picture>
                        </a>
                        <i class="fas fa-share-alt"></i>
                    </div>
                    <div class="photo_info">
                        <time>2022/12/29</time>
                        <h3>
                            <a href="#"
                                >第一則，開發臺泰合作商機
                                貿協線上座談會推特色醫療貿協線上座談會推特色醫療貿協線上座談會推特色醫療貿協線上座談會推特色醫療貿協線上座談會推特色醫療</a
                            >
                        </h3>
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus laboriosam debitis
                            laborum! Possimus eos consectetur placeat mollitia omnis quaerat consequuntur, minima
                            assumenda. Eaque reiciendis laboriosam officia ducimus animi doloribus quas.
                        </p>
                        <a href="#" class="more"><span>more</span></a>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="img-container">
                        <a href="#">
                            <!-- 請針對縮圖產出尺寸使用不同解析度 src -->
                            <picture>
                                <source media="(min-width: 1200px)" srcset="images/news_pic_01.jpg" />
                                <source media="(min-width: 992px)" srcset="images/news_pic_01.jpg" />
                                <source media="(min-width: 576px)" srcset="images/news_pic_01.jpg" />
                                <source media="(max-width: 575px)" srcset="images/news_pic_01.jpg" />
                                <img data-src="images/news_pic_01.jpg" class="lazy" />
                            </picture>
                        </a>
                        <i class="fas fa-share-alt"></i>
                    </div>
                    <div class="photo_info">
                        <time>2022/12/29</time>
                        <h3><a href="#">第二則，印度未來整體投資環境的建議</a></h3>
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus laboriosam debitis
                            laborum! Possimus eos consectetur placeat mollitia omnis quaerat consequuntur, minima
                            assumenda. Eaque reiciendis laboriosam officia ducimus animi doloribus quas.
                        </p>
                        <a href="#" class="more"><span>more</span></a>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="img-container">
                        <a href="#">
                            <!-- 請針對縮圖產出尺寸使用不同解析度 src -->
                            <picture>
                                <source media="(min-width: 1200px)" srcset="images/news_pic_01.jpg" />
                                <source media="(min-width: 992px)" srcset="images/news_pic_01.jpg" />
                                <source media="(min-width: 576px)" srcset="images/news_pic_01.jpg" />
                                <source media="(max-width: 575px)" srcset="images/news_pic_01.jpg" />
                                <img data-src="images/news_pic_01.jpg" class="lazy" />
                            </picture>
                        </a>
                        <i class="fas fa-share-alt"></i>
                    </div>
                    <div class="photo_info">
                        <time>2022/12/29</time>
                        <h3><a href="#">第三則，尋找新南向人才? 輸入職缺， 千封履歷由您挑選</a></h3>
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus laboriosam debitis
                            laborum! Possimus eos consectetur placeat mollitia omnis quaerat consequuntur, minima
                            assumenda. Eaque reiciendis laboriosam officia ducimus animi doloribus quas.
                        </p>
                        <a href="#" class="more"><span>more</span></a>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="img-container">
                        <a href="#">
                            <!-- 請針對縮圖產出尺寸使用不同解析度 src -->
                            <picture>
                                <source media="(min-width: 1200px)" srcset="images/news_pic_02.jpg" />
                                <source media="(min-width: 992px)" srcset="images/news_pic_02.jpg" />
                                <source media="(min-width: 576px)" srcset="images/news_pic_02.jpg" />
                                <source media="(max-width: 575px)" srcset="images/news_pic_02.jpg" />
                                <img data-src="images/news_pic_02.jpg" class="lazy" />
                            </picture>
                        </a>
                        <i class="fas fa-share-alt"></i>
                    </div>
                    <div class="photo_info">
                        <time>2022/12/29</time>
                        <h3>
                            <a href="#"
                                >第四則，開發臺泰合作商機
                                貿協線上座談會推特色醫療貿協線上座談會推特色醫療貿協線上座談會推特色醫療貿協線上座談會推特色醫療貿協線上座談會推特色醫療</a
                            >
                        </h3>
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus laboriosam debitis
                            laborum! Possimus eos consectetur placeat mollitia omnis quaerat consequuntur, minima
                            assumenda. Eaque reiciendis laboriosam officia ducimus animi doloribus quas.
                        </p>
                        <a href="#" class="more"><span>more</span></a>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="img-container">
                        <a href="#">
                            <!-- 請針對縮圖產出尺寸使用不同解析度 src -->
                            <picture>
                                <source media="(min-width: 1200px)" srcset="images/news_pic_03.jpg" />
                                <source media="(min-width: 992px)" srcset="images/news_pic_03.jpg" />
                                <source media="(min-width: 576px)" srcset="images/news_pic_03.jpg" />
                                <source media="(max-width: 575px)" srcset="images/news_pic_03.jpg" />
                                <img data-src="images/news_pic_03.jpg" class="lazy" />
                            </picture>
                        </a>
                        <i class="fas fa-share-alt"></i>
                    </div>
                    <div class="photo_info">
                        <time>2022/12/29</time>
                        <h3>
                            <a href="#"
                                >第五則，開發臺泰合作商機
                                貿協線上座談會推特色醫療貿協線上座談會推特色醫療貿協線上座談會推特色醫療貿協線上座談會推特色醫療貿協線上座談會推特色醫療</a
                            >
                        </h3>
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus laboriosam debitis
                            laborum! Possimus eos consectetur placeat mollitia omnis quaerat consequuntur, minima
                            assumenda. Eaque reiciendis laboriosam officia ducimus animi doloribus quas.
                        </p>
                        <a href="#" class="more"><span>more</span></a>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="img-container">
                        <a href="#">
                            <!-- 請針對縮圖產出尺寸使用不同解析度 src -->
                            <picture>
                                <source media="(min-width: 1200px)" srcset="images/news_pic_01.jpg" />
                                <source media="(min-width: 992px)" srcset="images/news_pic_01.jpg" />
                                <source media="(min-width: 576px)" srcset="images/news_pic_01.jpg" />
                                <source media="(max-width: 575px)" srcset="images/news_pic_01.jpg" />
                                <img data-src="images/news_pic_01.jpg" class="lazy" />
                            </picture>
                        </a>
                        <i class="fas fa-share-alt"></i>
                    </div>
                    <div class="photo_info">
                        <time>2022/12/29</time>
                        <h3>
                            <a href="#"
                                >第六則，開發臺泰合作商機
                                貿協線上座談會推特色醫療貿協線上座談會推特色醫療貿協線上座談會推特色醫療貿協線上座談會推特色醫療貿協線上座談會推特色醫療</a
                            >
                        </h3>
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus laboriosam debitis
                            laborum! Possimus eos consectetur placeat mollitia omnis quaerat consequuntur, minima
                            assumenda. Eaque reiciendis laboriosam officia ducimus animi doloribus quas.
                        </p>
                        <a href="#" class="more"><span>more</span></a>
                    </div>
                </div>
            </div>
            <!-- Add Pagination -->
            <div class="swiper-pagination"></div>
            <!-- Add Arrows -->
            <div class="swiper-button-next"></div>
            <div class="swiper-button-prev"></div>
        </div>
        <!-- more -->
        <a href="#" class="more"><span>SHOW MORE</span></a>
    </div>
</div>

<!-- js -->
<script src="vendor/picturefill/picturefill.min.js"></script>
<script src="vendor/lazyload/lazyload.js"></script>
<script src="vendor/swiper/swiper-bundle.min.js"></script>
<script>
    $(function () {
        //lazyload
        var lazyLoadInstance = new LazyLoad({
            elements_selector: 'img.lazy',
            //placeholder: '/images/basic/placeholder.gif',
            effect: 'fadeIn',
            fadeTime: 600,
            threshold: 0,
        });
    });
    //swiper
    var swiper = new Swiper('.swiper-photoAlbum', {
        lazy: true,
        loop: true,
        observer: true,
        spaceBetween: 50,
        loopFillGroupWithBlank: true,
        //cssMode: true,
        autoplay: {
            delay: 5000,
            disableOnInteraction: true,
        },
        pagination: {
            el: '.swiper-pagination',
            type: 'fraction',
        },
        navigation: {
            nextEl: '.swiper-button-next',
            prevEl: '.swiper-button-prev',
        },
        breakpoints: {
            545: {
                slidesPerView: 1,
                slidesPerGroup: 1,
            },
            768: {
                slidesPerView: 2,
                slidesPerGroup: 1,
            },
            1024: {
                slidesPerView: 3,
                slidesPerGroup: 1,
            },
        },
    });
</script>
