@import '../../../../sass/_variable'; //變數
@import '../../../../sass/_mixin'; //Mixin
$site: index($themeColor, green);
.photoAlbum {
    padding: 2em 0;
    min-height: 360px;
    // background: linear-gradient(180deg, saturate($primaryColor, 15) 0%, saturate($secondaryColor, 10) 100%);
    position: relative;
    background: nth($mainColor, $site);
    // background: #fff;
    h2 {
        color: #fff;
        font-size: 5em;
        font-family: verdana;
        font-weight: bold;
        text-align: left;
        @include screen('mobile') {
            top: auto;
            position: relative;
            width: 100%;
            font-size: 2.5em;
            margin-bottom: 0.5em;
            text-align: left;
        }
        small {
            display: block;
            font-size: 1.25rem;
            color: #fff;
            @include screen('mobile') {
                font-size: 0.938rem;
                color: #fff;
            }
        }
    }
    a.more {
        @include screen('xs_mobile') {
            margin-top: 5em;
        }
    }
    @include screen('xs_mobile') {
        padding: 2em 0;
    }
    .container {
        position: relative;
        overflow: hidden;
        z-index: 1;
    }
    .swiper-photoAlbum {
        margin-left: 0.5em;
        margin-right: 0.5em;
        margin-bottom: 4em;
        position: relative;
        @include screen('xs_mobile') {
            margin: 0 0 4em;
        }
        // swiper Btn
        [class^='swiper-button'] {
            border-radius: 50%;
            background: transparent;
            border: 2px solid #fff;
            width: 3em;
            height: 3em;
            right: 0;
            top: auto;
            bottom: -4.5em;
            opacity: 1;
            position: absolute;
            transition: 0.3s ease-out;
            display: block;
            &:hover,
            &:focus {
                background: nth($linkColor, $site);
                border: 2px solid nth($linkColor, $site);
                outline: none;
                box-shadow: none;
            }
            &:after {
                display: none;
            }
            &:before {
                position: absolute;
                content: '';
                width: 1em;
                height: 1em;
                border: 2px solid #fff;
                border-bottom: 0;
                border-left: 0;
                transform: rotate(-135deg);
                left: 1.05em;
                top: 0.8em;
            }
        }
        .swiper-pagination {
            bottom: -4em;
            color: #fff;
            font-size: 1em;
            width: 8em;
            right: 6em;
            left: auto;
            .swiper-pagination-current {
                font-size: 2em;
            }
            @include screen('xs_mobile') {
                display: none;
            }
        }
        .swiper-button-prev {
            left: auto;
            right: 4em;
            @include screen('xs_mobile') {
                left: 50%;
                right: auto;
                margin-left: -3.5em;
            }
        }
        .swiper-button-next {
            &:before {
                transform: rotate(45deg);
                left: 0.65em;
            }
            @include screen('xs_mobile') {
                left: 50%;
                right: auto;
                margin-left: 0.5em;
            }
        }
        .swiper-slide {
            display: block;
            position: relative;
            transition: 0.3s ease-out;
            overflow: hidden;
            -webkit-backface-visibility: hidden;
            -moz-backface-visibility: hidden;
            -webkit-transform: translate3d(0, 0, 0);
            -moz-transform: translate3d(0, 0, 0);
            border-radius: $border-radius;
            &:hover,
            &:focus {
                .img-container {
                    img {
                        transform: scale(1.1);
                    }
                }
                .photo_info {
                    bottom: 0%;
                    background: rgba(0, 0, 0, 0.95);
                    padding: 3em 1em 1em;
                    @include screen('xs_mobile') {
                        bottom: calc(-100% + 110px);
                        padding: 1em;
                    }
                }
            }
        }

        .img-container {
            @include aspect-ratio(4, 3);
            background: $color-dark;
            img {
                transition: 0.3s ease-out;
            }
        }
        .photo_info {
            position: absolute;
            bottom: calc(-100% + 110px);
            left: 0;
            width: 100%;
            height: 100%;
            color: #fff;
            z-index: 2;
            background: rgba(0, 0, 0, 0.2);
            backdrop-filter: blur(10px);
            -webkit-backdrop-filter: blur(10px);
            padding: 1em;
            transition: 0.6s $cubic;
            h3 {
                @include text-line(2, 1.5);
                height: 3em;
                margin: 0.25em 0 0.75em;
                a {
                    display: block;
                    color: #fff;
                    &:hover,
                    &:focus {
                        color: nth($linkColor, $site);
                    }
                }
            }
            p {
                @include text-line(3, 1.5);
                color: #fff;
                line-height: 1.2;
            }

            a.more {
                width: auto;
                font-size: 0.875rem;
                margin: 1em 0 1em auto;
                max-width: 140px;
                background: transparent;
                height: 2em;
                color: #fff;
                &:after {
                    right: -90%;
                }
                span {
                    background: transparent;
                }
                &:hover,
                &:focus {
                    &:after {
                        right: -70%;
                    }
                }
            }
        }
    }
}
