<!-- css -->
<link rel="stylesheet" href="template/pic_list/pic_list.css" />
<div class="tsite-innerpage tsite-wrap-A tsite-cyan">
    <div class="container">
        <div class="head">
            <div class="img-container">
                <!-- 請針對縮圖產出尺寸使用不同解析度 src -->
                <picture>
                    <source media="(min-width: 1200px)" data-srcset="images/inner_head.jpg" />
                    <source media="(min-width: 992px)" data-srcset="images/inner_head.jpg" />
                    <source media="(min-width: 576px)" data-srcset="images/inner_head.jpg" />
                    <source media="(max-width: 575px)" data-srcset="images/inner_head.jpg" />
                    <img data-src="images/inner_head.jpg" class="lazy" />
                </picture>
            </div>
        </div>
        <div class="tsite-picListpage">
            <div class="pageInfo">
                <div class="path"><a href="#">首頁</a> / <a href="#">選單第一層</a> / <a href="#">選單第二層</a></div>
                <!-- 這裏套文章標題 -->
                <div class="contentTitle">圖文列表</div>
            </div>
            <!-- 數量 -->
            <div class="tsite-filter tsite-form"> show <select name="" id="selectSample">
                    <option value="">20</option>
                    <option value="">50</option>
                    <option value="">100</option>
                </select> entries </div>
            <!-- 圖文列表list -->
            <div class="tsite-picList">
                <ul>
                    <li>
                        <a href="#">
                            <div class="img-container">
                                <!-- 請針對縮圖產出尺寸使用不同解析度 src -->
                                <picture>
                                    <source media="(min-width: 1200px)"
                                        data-srcset="https://source.unsplash.com/random/1" />
                                    <source media="(min-width: 992px)"
                                        data-srcset="https://source.unsplash.com/random/1" />
                                    <source media="(min-width: 576px)"
                                        data-srcset="https://source.unsplash.com/random/1" />
                                    <source media="(max-width: 575px)"
                                        data-srcset="https://source.unsplash.com/random/1" />
                                    <img data-src="https://source.unsplash.com/random/1" class="lazy" />
                                </picture>
                            </div>
                            <div class="title"> 登入My TaipeiPLAS </div>
                        </a>
                        <ul>
                            <li>
                                <a href="#">Online Space Application</a>
                            </li>
                            <li>
                                <a href="#">Application Form</a>
                            </li>
                            <li>
                                <a href="#">Exhibit Profile</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="#">
                            <div class="img-container">
                                <!-- 請針對縮圖產出尺寸使用不同解析度 src -->
                                <picture>
                                    <source media="(min-width: 1200px)"
                                        data-srcset="https://source.unsplash.com/random/2" />
                                    <source media="(min-width: 992px)"
                                        data-srcset="https://source.unsplash.com/random/2" />
                                    <source media="(min-width: 576px)"
                                        data-srcset="https://source.unsplash.com/random/2" />
                                    <source media="(max-width: 575px)"
                                        data-srcset="https://source.unsplash.com/random/2" />
                                    <img data-src="https://source.unsplash.com/random/2" class="lazy" />
                                </picture>
                            </div>
                            <div class="title"> 登入My TaipeiPLAS </div>
                        </a>
                        <ul>
                            <li>
                                <a href="#">Online Space Application</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="#">
                            <div class="img-container">
                                <!-- 請針對縮圖產出尺寸使用不同解析度 src -->
                                <picture>
                                    <source media="(min-width: 1200px)"
                                        data-srcset="https://source.unsplash.com/random/3" />
                                    <source media="(min-width: 992px)"
                                        data-srcset="https://source.unsplash.com/random/3" />
                                    <source media="(min-width: 576px)"
                                        data-srcset="https://source.unsplash.com/random/3" />
                                    <source media="(max-width: 575px)"
                                        data-srcset="https://source.unsplash.com/random/3" />
                                    <img data-src="https://source.unsplash.com/random/3" class="lazy" />
                                </picture>
                            </div>
                            <div class="title"> 登入My TaipeiPLAS </div>
                        </a>
                        <ul>
                            <li>
                                <a href="#">Online Space Application</a>
                            </li>
                            <li>
                                <a href="#">Application Kit (All)</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="#">
                            <div class="img-container">
                                <!-- 請針對縮圖產出尺寸使用不同解析度 src -->
                                <picture>
                                    <source media="(min-width: 1200px)"
                                        data-srcset="https://source.unsplash.com/random/4" />
                                    <source media="(min-width: 992px)"
                                        data-srcset="https://source.unsplash.com/random/4" />
                                    <source media="(min-width: 576px)"
                                        data-srcset="https://source.unsplash.com/random/4" />
                                    <source media="(max-width: 575px)"
                                        data-srcset="https://source.unsplash.com/random/4" />
                                    <img data-src="https://source.unsplash.com/random/4" class="lazy" />
                                </picture>
                            </div>
                            <div class="title"> 登入My TaipeiPLAS </div>
                        </a>
                        <ul>
                            <li>
                                <a href="#">Online Space Application</a>
                            </li>
                            <li>
                                <a href="#">Application Kit (All)</a>
                            </li>
                            <li>
                                <a href="#">Application Form</a>
                            </li>
                            <li>
                                <a href="#">Exhibit Profile</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="#">
                            <div class="img-container">
                                <!-- 請針對縮圖產出尺寸使用不同解析度 src -->
                                <picture>
                                    <source media="(min-width: 1200px)"
                                        data-srcset="https://source.unsplash.com/random/5" />
                                    <source media="(min-width: 992px)"
                                        data-srcset="https://source.unsplash.com/random/5" />
                                    <source media="(min-width: 576px)"
                                        data-srcset="https://source.unsplash.com/random/5" />
                                    <source media="(max-width: 575px)"
                                        data-srcset="https://source.unsplash.com/random/5" />
                                    <img data-src="https://source.unsplash.com/random/5" class="lazy" />
                                </picture>
                            </div>
                            <div class="title"> 登入My TaipeiPLAS </div>
                        </a>
                        <ul>
                            <li>
                                <a href="#">Online Space Application</a>
                            </li>
                            <li>
                                <a href="#">Application Kit (All)</a>
                            </li>
                            <li>
                                <a href="#">Application Form</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="#">
                            <!-- 如果無圖，就隱藏 div img-container -->
                            <!-- <div class="img-container">
                            <picture>
                                <source media="(min-width: 1200px)"
                                    data-srcset="https://source.unsplash.com/random/6" />
                                <source media="(min-width: 992px)" data-srcset="https://source.unsplash.com/random/6" />
                                <source media="(min-width: 576px)" data-srcset="https://source.unsplash.com/random/6" />
                                <source media="(max-width: 575px)" data-srcset="https://source.unsplash.com/random/6" />
                                <img data-src="https://source.unsplash.com/random/6" class="lazy" />
                            </picture>
            </div> -->
                            <div class="title"> 登入My TaipeiPLAS </div>
                        </a>
                        <ul>
                            <li>
                                <a href="#">Online Space Application</a>
                            </li>
                            <li>
                                <a href="#">Application Kit (All)</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
            <hr>
            <h3>圖文列表 Grid</h3>
            <!-- 圖文列表grid -->
            <div class="tsite-picGrid">
                <ul>
                    <li>
                        <a href="#">
                            <div class="img-container">
                                <!-- 請針對縮圖產出尺寸使用不同解析度 src -->
                                <picture>
                                    <source media="(min-width: 1200px)"
                                        data-srcset="https://source.unsplash.com/random/1" />
                                    <source media="(min-width: 992px)"
                                        data-srcset="https://source.unsplash.com/random/1" />
                                    <source media="(min-width: 576px)"
                                        data-srcset="https://source.unsplash.com/random/1" />
                                    <source media="(max-width: 575px)"
                                        data-srcset="https://source.unsplash.com/random/1" />
                                    <img data-src="https://source.unsplash.com/random/1" class="lazy" />
                                </picture>
                                <div class="title">Online Space Application</div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <div class="img-container">
                                <!-- 請針對縮圖產出尺寸使用不同解析度 src -->
                                <picture>
                                    <source media="(min-width: 1200px)"
                                        data-srcset="https://source.unsplash.com/random/2" />
                                    <source media="(min-width: 992px)"
                                        data-srcset="https://source.unsplash.com/random/2" />
                                    <source media="(min-width: 576px)"
                                        data-srcset="https://source.unsplash.com/random/2" />
                                    <source media="(max-width: 575px)"
                                        data-srcset="https://source.unsplash.com/random/2" />
                                    <img data-src="https://source.unsplash.com/random/2" class="lazy" />
                                </picture>
                                <div class="title">Application Kit (All)</div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <div class="img-container">
                                <!-- 請針對縮圖產出尺寸使用不同解析度 src -->
                                <picture>
                                    <source media="(min-width: 1200px)"
                                        data-srcset="https://source.unsplash.com/random/3" />
                                    <source media="(min-width: 992px)"
                                        data-srcset="https://source.unsplash.com/random/3" />
                                    <source media="(min-width: 576px)"
                                        data-srcset="https://source.unsplash.com/random/3" />
                                    <source media="(max-width: 575px)"
                                        data-srcset="https://source.unsplash.com/random/3" />
                                    <img data-src="https://source.unsplash.com/random/3" class="lazy" />
                                </picture>
                                <div class="title">Application Form</div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <div class="img-container">
                                <!-- 請針對縮圖產出尺寸使用不同解析度 src -->
                                <picture>
                                    <source media="(min-width: 1200px)"
                                        data-srcset="https://source.unsplash.com/random/4" />
                                    <source media="(min-width: 992px)"
                                        data-srcset="https://source.unsplash.com/random/4" />
                                    <source media="(min-width: 576px)"
                                        data-srcset="https://source.unsplash.com/random/4" />
                                    <source media="(max-width: 575px)"
                                        data-srcset="https://source.unsplash.com/random/4" />
                                    <img data-src="https://source.unsplash.com/random/4" class="lazy" />
                                </picture>
                                <div class="title">Exhibit Profile</div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <div class="img-container">
                                <!-- 請針對縮圖產出尺寸使用不同解析度 src -->
                                <picture>
                                    <source media="(min-width: 1200px)"
                                        data-srcset="https://source.unsplash.com/random/5" />
                                    <source media="(min-width: 992px)"
                                        data-srcset="https://source.unsplash.com/random/5" />
                                    <source media="(min-width: 576px)"
                                        data-srcset="https://source.unsplash.com/random/5" />
                                    <source media="(max-width: 575px)"
                                        data-srcset="https://source.unsplash.com/random/5" />
                                    <img data-src="https://source.unsplash.com/random/5" class="lazy" />
                                </picture>
                                <div class="title">Download</div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <div class="img-container">
                                <!-- 請針對縮圖產出尺寸使用不同解析度 src -->
                                <picture>
                                    <source media="(min-width: 1200px)"
                                        data-srcset="https://source.unsplash.com/random/6" />
                                    <source media="(min-width: 992px)"
                                        data-srcset="https://source.unsplash.com/random/6" />
                                    <source media="(min-width: 576px)"
                                        data-srcset="https://source.unsplash.com/random/6" />
                                    <source media="(max-width: 575px)"
                                        data-srcset="https://source.unsplash.com/random/6" />
                                    <img data-src="https://source.unsplash.com/random/6" class="lazy" />
                                </picture>
                                <div class="title">Exhibitior List</div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <div class="img-container">
                                <!-- 請針對縮圖產出尺寸使用不同解析度 src -->
                                <picture>
                                    <source media="(min-width: 1200px)"
                                        data-srcset="https://source.unsplash.com/random/7" />
                                    <source media="(min-width: 992px)"
                                        data-srcset="https://source.unsplash.com/random/7" />
                                    <source media="(min-width: 576px)"
                                        data-srcset="https://source.unsplash.com/random/7" />
                                    <source media="(max-width: 575px)"
                                        data-srcset="https://source.unsplash.com/random/7" />
                                    <img data-src="https://source.unsplash.com/random/7" class="lazy" />
                                </picture>
                                <div class="title">Product Preview</div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <div class="img-container">
                                <!-- 請針對縮圖產出尺寸使用不同解析度 src -->
                                <picture>
                                    <source media="(min-width: 1200px)"
                                        data-srcset="https://source.unsplash.com/random/8" />
                                    <source media="(min-width: 992px)"
                                        data-srcset="https://source.unsplash.com/random/8" />
                                    <source media="(min-width: 576px)"
                                        data-srcset="https://source.unsplash.com/random/8" />
                                    <source media="(max-width: 575px)"
                                        data-srcset="https://source.unsplash.com/random/8" />
                                    <img data-src="https://source.unsplash.com/random/8" class="lazy" />
                                </picture>
                                <div class="title">Online Space Application</div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <div class="img-container">
                                <!-- 請針對縮圖產出尺寸使用不同解析度 src -->
                                <picture>
                                    <source media="(min-width: 1200px)"
                                        data-srcset="https://source.unsplash.com/random/9" />
                                    <source media="(min-width: 992px)"
                                        data-srcset="https://source.unsplash.com/random/9" />
                                    <source media="(min-width: 576px)"
                                        data-srcset="https://source.unsplash.com/random/9" />
                                    <source media="(max-width: 575px)"
                                        data-srcset="https://source.unsplash.com/random/9" />
                                    <img data-src="https://source.unsplash.com/random/9" class="lazy" />
                                </picture>
                                <div class="title">Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia
                                    itaque praesentium harum omnis ipsam, cumque corrupti laboriosam delectus quisquam
                                    culpa, beatae, hic sapiente amet nulla molestiae. Voluptate, expedita cum?
                                    Consequuntur?</div>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
            <!-- pagination -->
            <div class="pagination">
                <div class="showPage">Showing <span>1</span> to <span>20</span> of <span>43</span> entries</div>
                <ul class="page">
                    <li class="first"><a href="#" title="第一頁">第一頁 </a></li>
                    <li class="prev"><a href="#" title="回上一頁">回上一頁 </a></li>
                    <li class="active"><a href="#">1</a></li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li><a href="#">4</a></li>
                    <li><a href="#">5</a></li>
                    <li><a href="#">6</a></li>
                    <li><a href="#">7</a></li>
                    <li><a href="#">8</a></li>
                    <li><a href="#">9</a></li>
                    <li class="disabled"><a href="#">10</a></li>
                    <li class="next"><a href="#" title="下一頁">下一頁 </a></li>
                    <li class="last"><a href="#" title="最後一頁">最後一頁 </a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- js -->
<script>
    $(function () {
        var lazyLoadInstance = new LazyLoad({
            elements_selector: 'img.lazy',
            //placeholder: '/images/basic/placeholder.gif',
            effect: 'fadeIn',
            fadeTime: 600,
            threshold: 0,
        });
        //add table mobile x_scroll
        $('table').each(function (index, el) {
            //判斷沒有table_list
            $('.userEditContent')
                .find('table')
                .each(function () {
                    $(this).wrap('<div class="tableScroll"></div>');
                });
        });
    });
</script>