@import '../../../../sass/_variable'; //變數
@import '../../../../sass/_mixin'; //Mixin
@keyframes kv_info_fadeIn {
    0% {
        top: 35%;
        opacity: 0;
    }
    100% {
        top: 20%;
        opacity: 1;
    }
}
// arrow_ani
@keyframes fade_move_down {
    0% {
        -webkit-transform: translate(0, -20px);
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        -webkit-transform: translate(0, 20px);
        opacity: 0;
    }
}
.kvImg {
    margin: 0;
    padding: 0;
    .kvInfo {
        position: absolute;
        z-index: 59;
        left: 50%;
        margin-left: -45%;
        top: 20%;
        max-width: 600px;
        text-shadow: 0px 5px 10px rgba(0, 0, 0, 0.75);
        transition: transform 0.5s cubic-bezier(0.215, 0.61, 0.355, 1),
            box-shadow 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
        transform: perspective(600px) translate3d(0, 0, 0);
        animation: kv_info_fadeIn 1.2s 1s both cubic-bezier(0.4, 0.01, 0.165, 0.99);
        @include screen('xs_mobile') {
            margin-left: -40%;
            max-width: 80%;
            top: 6em;
            z-index: 5;
        }
        h2 {
            color: #fff;
            font-size: 3.6em;
            position: relative;
            line-height: 1.125em;
            margin: 0;
            font-family: verdana;
            @include screen('xs_mobile') {
                font-size: 3em;
                text-align: center;
            }
        }
        h3 {
            color: #fff;
            font-size: 1.125em;
            line-height: 1.5em;
            @include screen('xs_mobile') {
                text-align: center;
            }
        }
    }
    .img-container {
        @include aspect-ratio(2, 1);
        @include screen('tablet') {
            @include aspect-ratio(5, 3);
        }
        @include screen('mobile') {
            @include aspect-ratio(1, 1);
        }
        img {
            object-fit: cover;
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
        }
    }
    .fadeArrow {
        position: absolute;
        z-index: 9;
        left: 50%;
        bottom: 2em;
        width: 3em;
        height: 3em;
        animation: fade_move_down 1.5s ease-in-out infinite;
        &:after {
            position: absolute;
            content: '';
            border: 3px solid #fff;
            border-left: none;
            border-top: none;
            width: 2em;
            height: 2em;
            left: -1em;
            transform: rotate(45deg);
        }
    }
}
