@import '../../../sass/_variable'; //變數
@import '../../../sass/_mixin'; //Mixin
$site: index($themeColor, cyan);
.tsite-htmlBlock {
    padding: 4em 0 3em;
    position: relative;
    background: #fff;
    .container {
        position: relative;
        z-index: 1;
        @include gutter(0);
        @include screen('xs_mobile') {
            @include gutter;
        }
    }
    .col {
        @include screen('xs_mobile') {
            margin-bottom: 1em;
        }
    }
    .img-container {
        @include aspect-ratio(4, 3);
        position: relative;
    }
    .bgLayer {
        position: absolute;
        width: 80%;
        height: 100%;
        top: 0;
        left: 0;
        right: auto;
        @include screen('tablet') {
            display: none;
        }
        img {
            position: absolute;
            width: 50%;
            height: 100%;
            top: 0;
            left: 0;
            object-fit: cover;
            z-index: 0;
            opacity: 0.5;
            @include screen('xs_mobile') {
                width: 100%;
                height: 50%;
            }
        }
    }
    // -----------------------色彩-------//
    // tsite-cyan
    &.tsite-cyan {
        $site: index($themeColor, cyan);
    }
    // tsite-green
    &.tsite-green {
        $site: index($themeColor, green);
    }
    // tsite-purple
    &.tsite-purple {
        $site: index($themeColor, purple);
    }
    // tsite-red
    &.tsite-red {
        $site: index($themeColor, red);
    }
    // -----------------------版型-------//
    // tsite-wrap-A
    &.tsite-wrap-A {
    }
    // tsite-wrap-B
    &.tsite-wrap-B {
    }
    // tsite-wrap-C
    &.tsite-wrap-C {
    }
    // tsite-wrap-D
    &.tsite-wrap-D {
    }
}
