@import '../../../sass/_variable'; //變數
@import '../../../sass/_mixin'; //Mixin
$site: index($themeColor, cyan);
.tsite-bannerSlide {
    .container {
        padding-bottom: 2em;
        margin-bottom: 2em;
        @include screen('notebook') {
            margin-bottom: 2em;
        }
        .bannerSlide_container {
            overflow: hidden;
            .swiper-pagination {
                bottom: 0px;
                @include screen('notebook') {
                    bottom: -15px;
                }
                .swiper-pagination-bullet {
                    width: 12px;
                    height: 12px;
                }
                .swiper-pagination-bullet-active-main {
                    // background: nth($linkColor, $site);
                }
            }
            &:hover {
                .swiper-button-prev {
                    left: 5px;
                    opacity: 1;
                }
                .swiper-button-next {
                    right: 5px;
                    opacity: 1;
                }
            }
        }
        .swiper-slide {
            a {
                display: block;
                width: 100%;
                height: 100%;
                position: relative;
                overflow: hidden;
                .img-container {
                    position: absolute;
                    @include aspect-ratio(16, 9);
                    width: 100%;
                    top: 0;
                    left: 0;
                }
                .info {
                    position: absolute;
                    z-index: 2;
                    width: 100%;
                    height: 100%;
                    top: 0;
                    left: 0;
                    opacity: 1;
                    display: flex;
                    flex-flow: row wrap;
                    align-items: center;
                    align-content: center;
                    transition: 0.3s $cubic;
                    padding: 2em;
                    &.mask {
                        background: rgba(0, 0, 0, 0.25);
                    }
                    h3 {
                        width: 60%;
                        margin: 0 auto 1em;
                        color: #fff;
                        text-align: center;
                        height: auto;
                        font-size: 2em;
                        @include text-line(2, 1.25em);
                        @include screen('xs_mobile') {
                            font-size: 1.25em;
                            width: 100%;
                        }
                    }
                    p {
                        width: 60%;
                        margin: 0 auto 1em;
                        color: #fff;
                        text-align: center;
                        @include text-line(3, 1.25em);
                    }
                }
            }
        }
        // swiper Btn
        [class^='swiper-button'] {
            border-radius: 50%;
            // background: nth($subColor, $site);
            width: 3em;
            height: 3em;
            transition: 0.3s ease-out;
            left: -3em;
            opacity: 0;
            &:hover,
            &:focus {
                // background: nth($mainColor, $site);
                outline: none;
                box-shadow: none;
            }
            &.swiper-button-disabled {
                display: none;
            }
            @include screen('xs_mobile') {
                display: none;
            }
            &:after {
                display: none;
            }
            &:before {
                position: absolute;
                content: '';
                width: 1em;
                height: 1em;
                border: 2px solid #fff;
                border-bottom: 0;
                border-left: 0;
                transform: rotate(-135deg);
                left: 1.15em;
                top: 0.9em;
            }
        }
        .swiper-button-next {
            left: auto;
            right: -3em;
            &:before {
                transform: rotate(45deg);
                left: 0.75em;
            }
        }
    }
    // -----------------------色彩-------//
    // tsite-cyan
    &.tsite-cyan {
        $site: index($themeColor, cyan);
        .container {
            .bannerSlide_container {
                .swiper-pagination {
                    .swiper-pagination-bullet-active-main {
                        background: nth($linkColor, $site);
                    }
                }
            }
            // swiper Btn
            [class^='swiper-button'] {
                background: nth($subColor, $site);
                &:hover,
                &:focus {
                    background: nth($mainColor, $site);
                }
            }
        }
    }
    // tsite-green
    &.tsite-green {
        $site: index($themeColor, green);
        .container {
            .bannerSlide_container {
                .swiper-pagination {
                    .swiper-pagination-bullet-active-main {
                        background: nth($linkColor, $site);
                    }
                }
            }
            // swiper Btn
            [class^='swiper-button'] {
                background: nth($subColor, $site);
                &:hover,
                &:focus {
                    background: nth($mainColor, $site);
                }
            }
        }
    }
    // tsite-purple
    &.tsite-purple {
        $site: index($themeColor, purple);
        .container {
            .bannerSlide_container {
                .swiper-pagination {
                    .swiper-pagination-bullet-active-main {
                        background: nth($linkColor, $site);
                    }
                }
            }
            // swiper Btn
            [class^='swiper-button'] {
                background: nth($subColor, $site);
                &:hover,
                &:focus {
                    background: nth($mainColor, $site);
                }
            }
        }
    }
    // tsite-red
    &.tsite-red {
        $site: index($themeColor, red);
        .container {
            .bannerSlide_container {
                .swiper-pagination {
                    .swiper-pagination-bullet-active-main {
                        background: nth($linkColor, $site);
                    }
                }
            }
            // swiper Btn
            [class^='swiper-button'] {
                background: nth($subColor, $site);
                &:hover,
                &:focus {
                    background: nth($mainColor, $site);
                }
            }
        }
    }
    // -----------------------版型-------//
    // tsite-wrap-A
    &.tsite-wrap-A {
    }
    // tsite-wrap-B
    &.tsite-wrap-B {
        background: none;
        .container {
            .swiper-slide {
                border-radius: $border-radius;
                @include screen('mobile') {
                    border-radius: 1em;
                }
                .img-container {
                    background: none;
                    border-radius: $border-radius;
                    img {
                        border-radius: $border-radius;
                        @include screen('mobile') {
                            border-radius: 1em;
                        }
                    }
                }
                a {
                    .info {
                        border-radius: $border-radius;
                        @include screen('mobile') {
                            border-radius: 1em;
                        }
                    }
                }
            }
        }
    }
    // tsite-wrap-C
    &.tsite-wrap-C {
    }
    // tsite-wrap-D
    &.tsite-wrap-D {
    }
}
