<!-- css -->
<link rel="stylesheet" href="style_C/components/live_stream/live_stream.css" />
<!-- liveStream -->
<div class="tsite-liveStream">
    <div class="youtube_container">
        <iframe
            width="100%"
            height="100%"
            src="https://www.youtube.com/embed/8nKT7Iujt2U"
            title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen
        ></iframe>
    </div>
    <a href="#" class="close"><i class="fas fa-times"></i></a>
</div>

<script>
    $('.tsite-liveStream')
        .find('a.close')
        .off()
        .click(function (e) {
            $('.tsite-liveStream').hide();
            e.preventDefault();
        });
</script>
