@import '../../../../sass/_variable'; //變數
@import '../../../../sass/_mixin'; //Mixin
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
$site: index($themeColor, green);
// // arrow_ani
// @keyframes fade_move_down {
//     0% {
//         -webkit-transform: translate(0, -20px);
//         opacity: 0;
//     }

//     50% {
//         opacity: 1;
//     }

//     100% {
//         -webkit-transform: translate(0, 20px);
//         opacity: 0;
//     }
// }
.kvImg {
    margin: 0;
    padding: 0;
    position: relative;
    overflow: hidden;
    &:after {
        position: absolute;
        content: '';
        bottom: 0;
        width: 100%;
        height: 15em;
        background: rgb(255, 255, 255);
        background: linear-gradient(0deg, rgba(255, 255, 255, 1) 40%, rgba(255, 255, 255, 0) 100%);
        z-index: 0;
    }
    .slogan {
        position: absolute;
        font-size: 8em;
        line-height: 1.25em;
        width: 80%;
        text-align: right;
        bottom: 2rem;
        right: 0;
        z-index: 2;
        padding: 0 1em;
        font-family: 'Playfair Display', serif;
        span {
            background: nth($mainColor, $site);
            background: $gradinet;
            font-weight: bold;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
        @include screen('mobile') {
            width: 100%;
            font-size: 4em;
            text-align: left;
            padding: 0 1rem;
            z-index: 9;
            span {
                line-height: 1.1em;
            }
        }
    }
    .kvInfo {
        position: absolute;
        z-index: 1;
        right: 1em;
        top: 20%;
        max-width: 700px;
        @include screen('notebook') {
            max-width: 500px;
        }
        @include screen('mobile') {
            top: 20%;
            width: 80%;
            left: 10%;
            max-width: 80%;
        }
        &:before {
            position: absolute;
            content: '';
            background: rgba(255, 255, 255, 0.45);
            backdrop-filter: blur(20px);
            -webkit-backdrop-filter: blur(20px);
            transform: rotate(45deg) translate(-350px, -350px);
            border-radius: 12em;
            left: 0;
            width: 1200px;
            height: 1200px;
            top: 0;
            z-index: -1;
            @include screen('notebook') {
                width: 600px;
                height: 600px;
                border-radius: 6em;
                transform: rotate(45deg) translate(-200px, -120px);
            }
            @include screen('mobile') {
                width: 450px;
                height: 450px;
                transform: rotate(45deg) translate(-180px, -180px);
                border-radius: 6em;
                backdrop-filter: blur(10px);
                -webkit-backdrop-filter: blur(10px);
            }
        }
        h2 {
            color: #fff;
            font-size: 5em;
            position: relative;
            line-height: 1.125em;
            margin: 0;
            font-family: verdana;
            z-index: 2;
            color: nth($subColor, $site);
            text-shadow: 0px 0px 5px white, 0px 0px 15px white;
            @include screen('notebook') {
                font-size: 4em;
                transform: translateY(-30px);
            }
            @include screen('mobile') {
                transform: translateY(0px);
            }
            @include screen('xs_mobile') {
                font-size: 3em;
                text-align: center;
                margin-bottom: 1em;
            }
        }
        h3 {
            color: #222;
            font-size: 1.25em;
            line-height: 1.5em;
            z-index: 2;
            text-shadow: 0px 0px 5px white, 0px 0px 15px white;
            @include screen('notebook') {
                transform: translateY(-30px);
            }
        }
    }

    .img-container {
        width: 100vw;
        height: 95vh;
        min-height: 700px;
        img {
            object-fit: cover;
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
        }
    }
    // picture {
    //     position: absolute;
    //     top: 0;
    //     left: 0;
    //     width: 100%;
    //     height: 100%;
    //     //設定第1層灰色動畫
    //     &:before {
    //         width: 100%;
    //         height: 100%;
    //         content: '';
    //         position: absolute;
    //         left: auto;
    //         right: 0;
    //         background-color: #fff;
    //         z-index: 2;
    //     }
    //     //設定第2層綠色動畫
    //     &:after {
    //         width: 100%;
    //         height: 100%;
    //         content: '';
    //         position: absolute;
    //         left: auto;
    //         right: 0;
    //         background-color: nth($mainColor, $site);
    //         z-index: 1;
    //     }
    //     // 當偵測到li 進入到畫面，用JQ加上這個class跑transition 動畫
    //     &.effect {
    //         &:before {
    //             width: 0;
    //             -webkit-transition: visibility 0s 0.5s, width 0.5s cubic-bezier(0.55, 0.055, 0.675, 0.19);
    //             transition: visibility 0s 0.5s, width 0.5s cubic-bezier(0.55, 0.055, 0.675, 0.19);
    //             visibility: hidden;
    //         }
    //         &:after {
    //             width: 0;
    //             -webkit-transition: background-color 0s 0.8s, visibility 0s 1.2s,
    //                 width 0.5s 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
    //             transition: background-color 0s 0.8s, visibility 0s 1.2s,
    //                 width 0.5s 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
    //             visibility: hidden;
    //         }
    //     }
    // }
    // .fadeArrow {
    //     position: absolute;
    //     z-index: 9;
    //     left: 50%;
    //     bottom: 2em;
    //     width: 3em;
    //     height: 3em;
    //     animation: fade_move_down 1.5s ease-in-out infinite;
    //     &:after {
    //         position: absolute;
    //         content: '';
    //         border: 3px solid #fff;
    //         border-left: none;
    //         border-top: none;
    //         width: 2em;
    //         height: 2em;
    //         left: -1em;
    //         transform: rotate(45deg);
    //     }
    // }
}
