.tsite-picCoordinate2 {
  padding: 2em 0; }
  .tsite-picCoordinate2 .container {
    position: relative; }
  .tsite-picCoordinate2 .coordinate_area {
    position: relative;
    overflow: hidden; }
    .tsite-picCoordinate2 .coordinate_area .product_info {
      position: absolute;
      width: 320px;
      height: 500px;
      background: rgba(230, 230, 230, 0.45);
      backdrop-filter: blur(20px);
      -webkit-backdrop-filter: blur(20px);
      bottom: 1em;
      left: 2em;
      border-radius: 1em;
      z-index: 2;
      padding: 1em;
      max-height: calc(100% - 2em);
      opacity: 0;
      pointer-events: none; }
      .tsite-picCoordinate2 .coordinate_area .product_info.show {
        pointer-events: auto;
        animation: fade_move_left 0.5s cubic-bezier(0.4, 0.01, 0.165, 0.99);
        opacity: 1;
        transition: 0.3s cubic-bezier(0.4, 0.01, 0.165, 0.99); }
      @media screen and (max-width: 767px) {
        .tsite-picCoordinate2 .coordinate_area .product_info {
          width: calc(100% - 2em);
          height: calc(100% - 2em);
          left: 1em;
          top: 1em;
          padding-left: 40%; } }
      .tsite-picCoordinate2 .coordinate_area .product_info a.close {
        position: absolute;
        top: 0.35em;
        right: 0.75em; }
        .tsite-picCoordinate2 .coordinate_area .product_info a.close i {
          color: #fff;
          text-shadow: rgba(0, 0, 0, 0.25) 0px 0px 25px, rgba(0, 0, 0, 0.35) 0px 0px 10px; }
        .tsite-picCoordinate2 .coordinate_area .product_info a.close:hover i, .tsite-picCoordinate2 .coordinate_area .product_info a.close:focus i {
          color: #fff;
          text-shadow: rgba(0, 0, 0, 0.65) 0px 0px 25px, rgba(0, 0, 0, 0.85) 0px 0px 10px; }
        .tsite-picCoordinate2 .coordinate_area .product_info a.close:hover:before, .tsite-picCoordinate2 .coordinate_area .product_info a.close:focus:before {
          display: none; }
      .tsite-picCoordinate2 .coordinate_area .product_info h3 {
        overflow: hidden;
        text-overflow: -o-ellipsis-lastline;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        line-height: 1.25em;
        height: calc(1.25em * 2);
        margin: 0.5em 0;
        font-family: verdana; }
      .tsite-picCoordinate2 .coordinate_area .product_info p {
        overflow: hidden;
        text-overflow: -o-ellipsis-lastline;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 4;
        -webkit-box-orient: vertical;
        line-height: 1.25em;
        height: calc(1.25em * 4);
        color: #444;
        font-size: 0.875rem; }
        @media screen and (max-width: 767px) {
          .tsite-picCoordinate2 .coordinate_area .product_info p {
            flex-grow: 1;
            flex-shrink: 1;
            flex-basis: auto;
            order: 1; } }
      .tsite-picCoordinate2 .coordinate_area .product_info .img-container {
        width: 100%;
        overflow: hidden;
        position: relative;
        border-radius: 1em; }
        .tsite-picCoordinate2 .coordinate_area .product_info .img-container:before {
          display: block;
          content: '';
          line-height: 0;
          padding-top: 100%; }
        .tsite-picCoordinate2 .coordinate_area .product_info .img-container img,
        .tsite-picCoordinate2 .coordinate_area .product_info .img-container iframe,
        .tsite-picCoordinate2 .coordinate_area .product_info .img-container video {
          display: block;
          position: absolute;
          top: 0;
          bottom: 0;
          right: 0;
          left: 0;
          width: 100%;
          height: 100%;
          margin: auto; }
        .tsite-picCoordinate2 .coordinate_area .product_info .img-container img {
          object-fit: cover;
          display: block; }
        .tsite-picCoordinate2 .coordinate_area .product_info .img-container img {
          border-radius: 1em; }
      .tsite-picCoordinate2 .coordinate_area .product_info a.product_link {
        position: relative;
        display: block; }
        @media screen and (max-width: 767px) {
          .tsite-picCoordinate2 .coordinate_area .product_info a.product_link {
            position: absolute;
            width: 35%;
            top: 1em;
            left: 1em; } }
        .tsite-picCoordinate2 .coordinate_area .product_info a.product_link:hover:before, .tsite-picCoordinate2 .coordinate_area .product_info a.product_link:focus:before {
          position: absolute;
          content: '';
          border-radius: 1em;
          box-shadow: 0px 0px 0px 2px #413486 inset;
          width: 100%;
          height: 100%;
          top: 0;
          left: 0;
          z-index: 2; }
  .tsite-picCoordinate2 .coordinate_bg {
    position: relative;
    width: 100%; }
    .tsite-picCoordinate2 .coordinate_bg .img-container {
      max-width: 800px;
      overflow: hidden;
      position: relative;
      margin: 0 0 0 auto;
      position: relative;
      background: transparent; }
      .tsite-picCoordinate2 .coordinate_bg .img-container:before {
        display: block;
        content: '';
        line-height: 0;
        padding-top: 75%; }
      .tsite-picCoordinate2 .coordinate_bg .img-container img,
      .tsite-picCoordinate2 .coordinate_bg .img-container iframe,
      .tsite-picCoordinate2 .coordinate_bg .img-container video {
        display: block;
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        width: 100%;
        height: 100%;
        margin: auto; }
      .tsite-picCoordinate2 .coordinate_bg .img-container img {
        object-fit: cover;
        display: block; }
      .tsite-picCoordinate2 .coordinate_bg .img-container img {
        width: 100%;
        border-radius: 2em;
        object-fit: cover; }
    .tsite-picCoordinate2 .coordinate_bg .dot {
      position: absolute;
      display: block;
      z-index: 2;
      transition: 250ms color;
      animation-duration: 1s;
      animation-timing-function: linear;
      animation-iteration-count: infinite;
      width: 1em;
      height: 1em;
      border-radius: 50%;
      background: #fff;
      animation-name: wave; }
      .tsite-picCoordinate2 .coordinate_bg .dot:hover, .tsite-picCoordinate2 .coordinate_bg .dot:focus {
        cursor: pointer; }
  .tsite-picCoordinate2.tsite-cyan .coordinate_area .product_info a.product_link:hover:before, .tsite-picCoordinate2.tsite-cyan .coordinate_area .product_info a.product_link:focus:before {
    box-shadow: 0px 0px 0px 2px #413486 inset; }
  .tsite-picCoordinate2.tsite-green .coordinate_area .product_info a.product_link:hover:before, .tsite-picCoordinate2.tsite-green .coordinate_area .product_info a.product_link:focus:before {
    box-shadow: 0px 0px 0px 2px #f65445 inset; }
  .tsite-picCoordinate2.tsite-purple .coordinate_area .product_info a.product_link:hover:before, .tsite-picCoordinate2.tsite-purple .coordinate_area .product_info a.product_link:focus:before {
    box-shadow: 0px 0px 0px 2px #b2207f inset; }
  .tsite-picCoordinate2.tsite-red .coordinate_area .product_info a.product_link:hover:before, .tsite-picCoordinate2.tsite-red .coordinate_area .product_info a.product_link:focus:before {
    box-shadow: 0px 0px 0px 2px #dd774e inset; }

@keyframes fade_move_left {
  0% {
    -webkit-transform: translate(-100px, 0px);
    opacity: 0; }
  100% {
    -webkit-transform: translate(0, 0px);
    opacity: 1; } }
/*# sourceMappingURL=pic_coordinate2.css.map */