.tsite-innerpage .container {
  margin: 0 auto;
  max-width: 100%;
  position: relative;
  min-height: 1px;
  padding-left: 0;
  padding-right: 0;
  box-sizing: border-box; }

.tsite-innerpage .head {
  position: relative;
  width: 100%;
  margin-bottom: 2em; }
  .tsite-innerpage .head:after {
    position: absolute;
    content: '';
    z-index: 2;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.45); }
  .tsite-innerpage .head .img-container {
    width: 100%;
    position: relative;
    overflow: hidden;
    position: relative; }
    .tsite-innerpage .head .img-container:before {
      display: block;
      content: '';
      line-height: 0;
      padding-top: 16.66667%; }
    .tsite-innerpage .head .img-container img,
    .tsite-innerpage .head .img-container iframe,
    .tsite-innerpage .head .img-container video {
      display: block;
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
      width: 100%;
      height: 100%;
      margin: auto; }
    .tsite-innerpage .head .img-container img {
      object-fit: cover;
      display: block; }
    @media screen and (max-width: 575px) {
      .tsite-innerpage .head .img-container {
        overflow: hidden;
        position: relative; }
        .tsite-innerpage .head .img-container:before {
          display: block;
          content: '';
          line-height: 0;
          padding-top: 33.33333%; }
        .tsite-innerpage .head .img-container img,
        .tsite-innerpage .head .img-container iframe,
        .tsite-innerpage .head .img-container video {
          display: block;
          position: absolute;
          top: 0;
          bottom: 0;
          right: 0;
          left: 0;
          width: 100%;
          height: 100%;
          margin: auto; }
        .tsite-innerpage .head .img-container img {
          object-fit: cover;
          display: block; } }
    .tsite-innerpage .head .img-container img {
      position: absolute;
      top: 0;
      left: 0;
      object-fit: cover;
      width: 100%;
      height: 100%; }

.tsite-innerpage .tsite-videoContentPage {
  max-width: 1200px;
  margin: 0 auto 1em;
  padding-bottom: 1em;
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  box-sizing: border-box; }
  @media screen and (max-width: 1399px) {
    .tsite-innerpage .tsite-videoContentPage {
      max-width: 800px; } }

.tsite-innerpage .pageInfo {
  display: flex;
  flex-flow: row wrap;
  margin-bottom: 1em; }
  .tsite-innerpage .pageInfo .contentTitle {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 100%;
    font-size: 2.5em;
    display: block;
    line-height: 1.65em;
    font-weight: bold;
    border-bottom: 2px solid #ccc;
    margin-bottom: 0.25em; }
    @media screen and (max-width: 575px) {
      .tsite-innerpage .pageInfo .contentTitle {
        font-size: 1.75em; } }
  .tsite-innerpage .pageInfo .function {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 30%;
    text-align: right; }
    @media screen and (max-width: 575px) {
      .tsite-innerpage .pageInfo .function {
        padding-top: 1em;
        flex-basis: 80%; } }
    .tsite-innerpage .pageInfo .function a {
      width: 2.5em;
      height: 2.5em;
      border-radius: 50%;
      border: 3px solid #ccc;
      display: inline-block;
      margin: 0 0.1em 0.25em;
      transition: 0.3s ease-out; }
      @media screen and (max-width: 575px) {
        .tsite-innerpage .pageInfo .function a {
          margin: 0 0.1em 0.15em;
          width: 2.5em;
          height: 2.5em; } }
      .tsite-innerpage .pageInfo .function a img {
        width: 100%; }
      .tsite-innerpage .pageInfo .function a i {
        width: 100%;
        font-size: 1.25em;
        text-align: center;
        color: #aaa;
        line-height: 1.75em;
        display: flex;
        align-items: center;
        justify-content: center; }
      .tsite-innerpage .pageInfo .function a:hover {
        border: 3px solid rgba(0, 0, 0, 0.75);
        background: rgba(0, 0, 0, 0.85); }
        .tsite-innerpage .pageInfo .function a:hover i {
          color: #fff; }
  .tsite-innerpage .pageInfo .path {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 50%;
    font-size: 0.875rem; }
    .tsite-innerpage .pageInfo .path a {
      color: #666; }
      .tsite-innerpage .pageInfo .path a:hover, .tsite-innerpage .pageInfo .path a:focus {
        color: #d14545; }
  .tsite-innerpage .pageInfo .publishTime {
    font-size: 0.875rem;
    color: #666; }
    .tsite-innerpage .pageInfo .publishTime i {
      margin-right: 0.5em; }

.tsite-innerpage .userEditContent {
  margin-bottom: 5em; }
  .tsite-innerpage .userEditContent .pic {
    padding: 1em;
    display: block;
    margin: 0 auto 1em;
    background: #f1f1f1;
    max-width: 600px; }
    .tsite-innerpage .userEditContent .pic img {
      max-width: 100%;
      margin-bottom: 1em; }
    .tsite-innerpage .userEditContent .pic span {
      display: block;
      color: #555;
      font-size: 0.875rem; }
  @media screen and (max-width: 575px) {
    .tsite-innerpage .userEditContent .tableScroll {
      overflow: hidden;
      overflow-x: auto;
      padding-bottom: 2em; }
      .tsite-innerpage .userEditContent .tableScroll table {
        min-width: 500px; } }
  .tsite-innerpage .userEditContent p {
    font-size: 1.125rem;
    line-height: 1.65em;
    color: #555; }
  .tsite-innerpage .userEditContent h2 {
    font-size: 2rem;
    margin: 0 0 2rem;
    text-align: left; }
  .tsite-innerpage .userEditContent h3,
  .tsite-innerpage .userEditContent h4,
  .tsite-innerpage .userEditContent h5,
  .tsite-innerpage .userEditContent h6 {
    font-size: 1.25rem;
    margin: 0 0 2rem; }
  .tsite-innerpage .userEditContent ul li,
  .tsite-innerpage .userEditContent ol li {
    margin-left: 2em;
    font-size: 1.125rem;
    margin-bottom: 0.5em;
    color: #555; }
  .tsite-innerpage .userEditContent ul ol,
  .tsite-innerpage .userEditContent ul ul,
  .tsite-innerpage .userEditContent ol ol,
  .tsite-innerpage .userEditContent ol ul {
    margin-top: 0.5em; }
  .tsite-innerpage .userEditContent ul li {
    list-style-type: disc; }
  .tsite-innerpage .userEditContent ul ol li {
    list-style-type: decimal; }
  .tsite-innerpage .userEditContent ol li {
    list-style-type: decimal; }
    .tsite-innerpage .userEditContent ol li ul li {
      list-style-type: disc; }
  .tsite-innerpage .userEditContent .video {
    padding: 1em;
    display: block;
    margin: 1em auto 1em;
    background: #f1f1f1;
    max-width: 600px; }
    .tsite-innerpage .userEditContent .video .img-container {
      max-width: 100%;
      margin-bottom: 1em;
      overflow: hidden;
      position: relative; }
      .tsite-innerpage .userEditContent .video .img-container:before {
        display: block;
        content: '';
        line-height: 0;
        padding-top: 75%; }
      .tsite-innerpage .userEditContent .video .img-container img,
      .tsite-innerpage .userEditContent .video .img-container iframe,
      .tsite-innerpage .userEditContent .video .img-container video {
        display: block;
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        width: 100%;
        height: 100%;
        margin: auto; }
      .tsite-innerpage .userEditContent .video .img-container img {
        object-fit: cover;
        display: block; }
      .tsite-innerpage .userEditContent .video .img-container iframe {
        position: absolute;
        width: 100%;
        top: 0;
        left: 0; }
    .tsite-innerpage .userEditContent .video span {
      display: block;
      color: #555;
      font-size: 0.875rem; }

.tsite-innerpage .webLink {
  width: 100%; }
  .tsite-innerpage .webLink h3 {
    font-size: 1.5em;
    padding: 12px 0px 15px 0px;
    margin: 0.5em 0px 0.2em;
    border-bottom: 1px solid #ccc; }
  .tsite-innerpage .webLink ol,
  .tsite-innerpage .webLink ul {
    counter-reset: counter;
    list-style-type: none;
    padding: 0;
    margin-left: 1em;
    margin: 0;
    padding: 0;
    list-style: none; }
    @media screen and (max-width: 767px) {
      .tsite-innerpage .webLink ol,
      .tsite-innerpage .webLink ul {
        margin-left: 0; } }
  .tsite-innerpage .webLink li {
    position: relative;
    margin-bottom: 10px;
    border-bottom: 1px solid #eee; }
    .tsite-innerpage .webLink li a {
      padding: 0.2em 0px 0.2em 35px;
      position: relative;
      height: auto;
      line-height: 1.45em;
      display: block;
      color: #d14545; }
      .tsite-innerpage .webLink li a:before {
        position: absolute;
        top: 5px;
        left: 0px;
        text-align: right;
        width: 30px;
        counter-increment: counter;
        content: counters(counter, ".") " . "; }
      .tsite-innerpage .webLink li a:hover, .tsite-innerpage .webLink li a:focus {
        color: #f67f50; }
/*# sourceMappingURL=video_content.css.map */