@import '../../../sass/_variable'; //變數
@import '../../../sass/_mixin'; //Mixin
$site: index($themeColor, cyan);
@keyframes expo_fadeInRight {
    0% {
        transform: translateX(60%);
        opacity: 0;
    }
    100% {
        transform: translateX(0%);
        opacity: 1;
    }
}
.tsite-timeline {
    background: #f1f1f1;
    padding: 2em 0 4em;
    .expoSchedule {
        display: flex;
        @include screen('tablet') {
            flex-flow: row wrap;
            justify-content: flex-start;
        }
        .item {
            flex-grow: 1;
            flex-shrink: 1;
            flex-basis: 20%;
            background: #fff;
            position: relative;
            opacity: 0;
            &.effect {
                animation: expo_fadeInRight 1s 0.5s both $cubic;
            }
            &:nth-child(2).effect {
                animation: expo_fadeInRight 1s 0.7s both $cubic;
            }
            &:nth-child(3).effect {
                animation: expo_fadeInRight 1s 0.9s both $cubic;
            }
            &:nth-child(4).effect {
                animation: expo_fadeInRight 1s 1.1s both $cubic;
            }
            &:nth-child(5).effect {
                animation: expo_fadeInRight 1s 1.3s both $cubic;
            }
            @include screen('tablet') {
                flex-grow: 0;
                flex-basis: 33.3333%;
            }
            @include screen('xs_mobile') {
                flex-grow: 1;
                flex-shrink: 1;
                flex-basis: 45%;
            }
            &:hover {
                z-index: 9;
            }
            .img-container {
                width: 120px;
                height: 120px;
                border-radius: 50%;
                margin: 0 auto 1em;
                position: relative;
                background: #fff;
                // border: 3px solid nth($mainColor, $site);
                overflow: hidden;
                img {
                    transform: scale(0.65);
                    object-fit: cover;
                }
            }
            a {
                display: block;
                padding: 1em 1em 4em;
                outline: 1px solid #f1f1f1;
                .expoTitle {
                    margin: 0.5em auto 1em;
                    text-align: center;
                    line-height: 1.45em;
                    font-weight: bold;
                    font-size: 1.5em;
                    color: #333;
                }
                .status {
                    text-align: center;
                    font-size: 0.875rem;
                    color: #666;
                    &.pass {
                        color: #999;
                        & ~ .bottom {
                            background: #999;
                        }
                    }
                    &.comingSoon {
                        color: $color-orange;
                        & ~ .bottom {
                            background: $color-orange;
                        }
                    }
                    &.holding {
                        color: $color-red;
                        & ~ .bottom {
                            background: $color-red;
                        }
                    }
                }
                time {
                    color: #555;
                    display: block;
                    text-align: center;
                }
                .bottom {
                    position: absolute;
                    left: 0;
                    bottom: 0;
                    width: 100%;
                    height: 3em;
                    line-height: 3em;
                    display: none;
                    padding: 0em 1em;
                    color: #fff;
                    text-align: center;
                    // background: nth($mainColor, $site);
                }
                &:hover,
                &:focus {
                    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
                    .bottom {
                        display: block;
                    }
                    .expoTitle {
                        // color: nth($mainColor, $site);
                    }
                }
            }
            p {
                @include text-line(4, 1.5em);
                font-size: 0.875rem;
                color: #777;
                @include screen('xs_mobile') {
                    @include text-line(2, 1.5em);
                }
            }
        }
    }
    // -----------------------色彩-------//
    // tsite-cyan
    &.tsite-cyan {
        $site: index($themeColor, cyan);
        .expoSchedule {
            .item {
                .img-container {
                    border: 3px solid nth($mainColor, $site);
                }
            }
            a {
                .bottom {
                    background: nth($mainColor, $site);
                }
                &:hover,
                &:focus {
                    .expoTitle {
                        color: nth($mainColor, $site);
                    }
                }
            }
        }
    }
    // tsite-green
    &.tsite-green {
        $site: index($themeColor, green);
        .expoSchedule {
            .item {
                .img-container {
                    border: 3px solid nth($mainColor, $site);
                }
            }
            a {
                .bottom {
                    background: nth($mainColor, $site);
                }
                &:hover,
                &:focus {
                    .expoTitle {
                        color: nth($mainColor, $site);
                    }
                }
            }
        }
    }
    // tsite-purple
    &.tsite-purple {
        $site: index($themeColor, purple);
        .expoSchedule {
            .item {
                .img-container {
                    border: 3px solid nth($mainColor, $site);
                }
            }
            a {
                .bottom {
                    background: nth($mainColor, $site);
                }
                &:hover,
                &:focus {
                    .expoTitle {
                        color: nth($mainColor, $site);
                    }
                }
            }
        }
    }
    // tsite-red
    &.tsite-red {
        $site: index($themeColor, red);
        .expoSchedule {
            .item {
                .img-container {
                    border: 3px solid nth($mainColor, $site);
                }
            }
            a {
                .bottom {
                    background: nth($mainColor, $site);
                }
                &:hover,
                &:focus {
                    .expoTitle {
                        color: nth($mainColor, $site);
                    }
                }
            }
        }
    }
}
