.recommendEvent {
  padding: 3em 0;
  position: relative;
  overflow: hidden;
  background: url(../../../images/a_before_bg.jpg) no-repeat left top;
  background-size: contain; }
  @media screen and (max-width: 575px) {
    .recommendEvent {
      padding: 1em 0;
      background: linear-gradient(-135deg, #bd1682 0%, #492fa5 100%); } }
  .recommendEvent:before {
    content: '';
    position: absolute;
    z-index: 0;
    width: 0;
    height: 0;
    top: 0;
    right: 3em;
    border-style: solid;
    border-width: 120px 120px 0 120px;
    border-color: #413486 transparent transparent transparent; }
  .recommendEvent:after {
    position: absolute;
    content: '';
    width: 80%;
    height: 95%;
    top: 0%;
    right: 0%;
    background: #00aec7; }
    @media screen and (max-width: 575px) {
      .recommendEvent:after {
        display: none; } }
  .recommendEvent .container .recommendEvent_container:hover .swiper-button-prev {
    left: 20%;
    opacity: 1; }
    @media screen and (max-width: 991px) {
      .recommendEvent .container .recommendEvent_container:hover .swiper-button-prev {
        left: 0; } }
  .recommendEvent .container .recommendEvent_container:hover .swiper-button-next {
    right: 5px;
    opacity: 1; }
    @media screen and (max-width: 991px) {
      .recommendEvent .container .recommendEvent_container:hover .swiper-button-next {
        left: auto;
        right: 0; } }
  .recommendEvent .container .recommendEvent_container .recommend_thumbs {
    box-sizing: border-box;
    display: flex;
    margin-left: 25%;
    margin-right: 3em; }
    @media screen and (max-width: 991px) {
      .recommendEvent .container .recommendEvent_container .recommend_thumbs {
        margin-left: 0;
        margin-right: 0; } }
    @media screen and (max-width: 575px) {
      .recommendEvent .container .recommendEvent_container .recommend_thumbs {
        display: none; } }
    .recommendEvent .container .recommendEvent_container .recommend_thumbs .swiper-slide {
      flex-grow: 1;
      flex-shrink: 1;
      flex-basis: 20%;
      padding-left: 1em;
      padding-right: 1em;
      border-bottom: 1px solid rgba(255, 255, 255, 0.25); }
      .recommendEvent .container .recommendEvent_container .recommend_thumbs .swiper-slide a {
        color: rgba(255, 255, 255, 0.75);
        overflow: hidden; }
        .recommendEvent .container .recommendEvent_container .recommend_thumbs .swiper-slide a span {
          height: 3.2em;
          overflow: hidden;
          text-overflow: -o-ellipsis-lastline;
          text-overflow: ellipsis;
          display: -webkit-box;
          -webkit-line-clamp: 2;
          -webkit-box-orient: vertical;
          line-height: 1.5;
          height: calc(1.5 * 2); }
        .recommendEvent .container .recommendEvent_container .recommend_thumbs .swiper-slide a:hover, .recommendEvent .container .recommendEvent_container .recommend_thumbs .swiper-slide a:focus {
          color: #fff; }
    .recommendEvent .container .recommendEvent_container .recommend_thumbs .swiper-slide-thumb-active {
      opacity: 1;
      border-bottom: 1px solid #fff; }
      .recommendEvent .container .recommendEvent_container .recommend_thumbs .swiper-slide-thumb-active span {
        color: #fff; }
  .recommendEvent .container .recommendEvent_container .recommend_content {
    display: flex;
    flex-flow: row wrap;
    color: #fff;
    margin-left: 25%;
    margin-right: 3em; }
    @media screen and (max-width: 991px) {
      .recommendEvent .container .recommendEvent_container .recommend_content {
        margin-left: 0;
        margin-right: 0;
        position: relative;
        min-height: 1px;
        padding-left: 15px;
        padding-right: 15px;
        box-sizing: border-box; } }
    .recommendEvent .container .recommendEvent_container .recommend_content h3 {
      flex-grow: 0;
      flex-shrink: 1;
      flex-basis: 100%;
      font-size: 2em;
      line-height: 1.25em;
      margin: 0.5em 0; }
    .recommendEvent .container .recommendEvent_container .recommend_content p {
      color: #fff;
      line-height: 1.5em; }
    .recommendEvent .container .recommendEvent_container .recommend_content .recommend_pic {
      flex-grow: 0;
      flex-shrink: 1;
      flex-basis: 50%;
      margin: 0 1em 1em 0; }
      @media screen and (max-width: 575px) {
        .recommendEvent .container .recommendEvent_container .recommend_content .recommend_pic {
          flex-basis: 100%;
          margin: 0 0 1em; } }
    .recommendEvent .container .recommendEvent_container .recommend_content .recommend_info {
      flex-grow: 1;
      flex-shrink: 1;
      flex-basis: 30%; }
      @media screen and (max-width: 575px) {
        .recommendEvent .container .recommendEvent_container .recommend_content .recommend_info {
          flex-basis: 100%;
          margin: 0 0 1em; } }
  .recommendEvent .container .recommendEvent_container [class^='swiper-button'] {
    border-radius: 50%;
    background: #00aec7;
    border: 2px solid #00aec7;
    width: 3em;
    height: 3em;
    transition: 0.3s ease-out;
    left: -3em;
    opacity: 0; }
    .recommendEvent .container .recommendEvent_container [class^='swiper-button']:hover, .recommendEvent .container .recommendEvent_container [class^='swiper-button']:focus {
      background: #413486;
      border: 2px solid #413486;
      outline: none;
      box-shadow: none; }
    @media screen and (max-width: 575px) {
      .recommendEvent .container .recommendEvent_container [class^='swiper-button'] {
        left: 0em;
        opacity: 1;
        background: rgba(0, 0, 0, 0.5); } }
    .recommendEvent .container .recommendEvent_container [class^='swiper-button']:after {
      display: none; }
    .recommendEvent .container .recommendEvent_container [class^='swiper-button']:before {
      position: absolute;
      content: '';
      width: 1em;
      height: 1em;
      border: 2px solid #fff;
      border-bottom: 0;
      border-left: 0;
      transform: rotate(-135deg);
      left: 1.15em;
      top: 0.9em; }
  .recommendEvent .container .recommendEvent_container .swiper-button-next {
    left: auto;
    right: -3em; }
    .recommendEvent .container .recommendEvent_container .swiper-button-next:before {
      transform: rotate(45deg);
      left: 0.65em; }
    @media screen and (max-width: 575px) {
      .recommendEvent .container .recommendEvent_container .swiper-button-next {
        left: auto;
        right: 0em; } }
/*# sourceMappingURL=recommend_event.css.map */