<!-- css -->
<link rel="stylesheet" href="style_D/template/newslist/newslist.css" />
<div class="tsite-innerpage">
    <div class="container">
        <div class="head">
            <div class="img-container">
                <!-- 請針對縮圖產出尺寸使用不同解析度 src -->
                <picture>
                    <source media="(min-width: 1200px)" data-srcset="images/inner_head.jpg" />
                    <source media="(min-width: 992px)" data-srcset="images/inner_head.jpg" />
                    <source media="(min-width: 576px)" data-srcset="images/inner_head.jpg" />
                    <source media="(max-width: 575px)" data-srcset="images/inner_head.jpg" />
                    <img data-src="images/inner_head.jpg" class="lazy" />
                </picture>
            </div>
        </div>
        <div class="tsite-newsLits">
            <div class="pageInfo">
                <div class="path"><a href="#">首頁</a> / <a href="#">選單第一層</a> / <a href="#">選單第二層</a></div>
                <!-- 這裏套文章標題 -->
                <div class="contentTitle">消息列表頁面 x 4 styles</div>
                <div class="function">
                    <!-- 頁面功能按鈕試情況決定是否開放-->
                    <a href="#"><i class="fas fa-angle-left"></i></a>
                    <!-- <a href="#"><i class="fas fa-print"></i></a>
                                    <a href="#"><i class="fab fa-facebook-f"></i></a>
                                    <a href="#"><i class="fab fa-twitter"></i></i></a>
                                    <a href="#"><i class="fab fa-youtube"></i></i></a>
                                    <a href="#"><i class="fab fa-instagram"></i></a> -->
                    <!-- 以下是切換版型-->
                    <a href="#" class="switch"><i class="fas fa-grip-horizontal"></i></a>
                    <a href="#" class="switch"><i class="fas fa-list left"></i></a>
                    <a href="#" class="switch"><i class="fas fa-list right"></i></a>
                    <a href="#" class="switch"><i class="fas fa-bars"></i></a>
                </div>
            </div>
            <!-- tag -->
            <div class="tsite-tag">
                <ul>
                    <li class="active">
                        <a href="#">全部</a>
                    </li>
                    <li>
                        <a href="#">整體經濟</a>
                    </li>
                    <li>
                        <a href="#">政經與社會</a>
                    </li>
                    <li>
                        <a href="#">經貿統計</a>
                    </li>
                    <li>
                        <a href="#">關稅貿易障礙</a>
                    </li>
                    <li>
                        <a href="#">經貿法令政策</a>
                    </li>
                    <li>
                        <a href="#">投資環境</a>
                    </li>
                    <li>
                        <a href="#">財政金融</a>
                    </li>
                    <li>
                        <a href="#">智慧財產權</a>
                    </li>
                    <li>
                        <a href="#">電子商務</a>
                    </li>
                    <li>
                        <a href="#">電子商務</a>
                    </li>
                    <li>
                        <a href="#">傾銷與補貼</a>
                    </li>
                </ul>
            </div>
            <!-- 數量 -->
            <div class="tsite-filter tsite-form"> show <select name="" id="selectSample">
                    <option value="">20</option>
                    <option value="">50</option>
                    <option value="">100</option>
                </select> entries </div>
            <!-- 右圖左文 -->
            <div class="tsite-newsRight">
                <ul>
                    <li>
                        <div class="num">1</div>
                        <a href="#">
                            <div class="img-container">
                                <!-- 請針對縮圖產出尺寸使用不同解析度 src -->
                                <picture>
                                    <source media="(min-width: 1200px)" data-srcset="images/pic_02.jpg" />
                                    <source media="(min-width: 992px)" data-srcset="images/pic_02.jpg" />
                                    <source media="(min-width: 576px)" data-srcset="images/pic_02.jpg" />
                                    <source media="(max-width: 575px)" data-srcset="images/pic_02.jpg" />
                                    <img data-src="images/pic_02.jpg" class="lazy" />
                                </picture>
                            </div>
                            <h3>貿協「體外診斷醫材線上拓銷團」 搶攻歐洲新南向防疫檢測商機!</h3>
                            <time><i class="far fa-clock"></i>2021.12.12</time>
                            <p> 全球新冠疫情已隨著各國疫苗陸續施打出現緩和跡象，經濟部國際貿易局看準下一波邊境解封檢測商機，委由外貿協會選定我檢測試劑成長率第一名(35.71%)之歐洲及第二名(20.80%)之新南向市場，自3月10日及11日連續2天辦理「歐洲及新南向體外診斷醫材線上拓銷團」，協助我15家體外診斷醫療器材廠商與15國35家買主進行超過130場視訊洽談，搶占商機。
                                本次洽談會吸引德國、西班牙、荷蘭、保加利亞、匈牙利、波蘭、泰國、印度、孟加拉、菲律賓、馬來西亞、印尼、越南、哈薩克及柬埔寨等35家國外醫療供應鏈業者參與，重點買主包含波蘭Blirt，為超過25年經驗之分子生物相關試劑及蛋白酶之製造商，營業額達1,700萬美元，
                            </p>
                        </a>
                    </li>
                    <li>
                        <div class="num">2</div>
                        <a href="#">
                            <div class="img-container">
                                <!-- 請針對縮圖產出尺寸使用不同解析度 src -->
                                <picture>
                                    <source media="(min-width: 1200px)" data-srcset="images/pic_01.jpg" />
                                    <source media="(min-width: 992px)" data-srcset="images/pic_01.jpg" />
                                    <source media="(min-width: 576px)" data-srcset="images/pic_01.jpg" />
                                    <source media="(max-width: 575px)" data-srcset="images/pic_01.jpg" />
                                    <img data-src="images/pic_01.jpg" class="lazy" />
                                </picture>
                            </div>
                            <h3> Lorem ipsum dolor sit amet consectetur temporibus odit unde nesciunt quisquam odio!
                                Dolorem </h3>
                            <time><i class="far fa-clock"></i>2021.12.12</time>
                            <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident quaerat a velit
                                reiciendis facilis deserunt officia numquam molestiae delectus ullam blanditiis
                                consequuntur quidem dolorem eveniet quos, quae temporibus odit unde nesciunt quisquam
                                odio! Dolorem nihil veritatis dolorum explicabo id sunt optio asperiores deserunt
                                repellat reprehenderit? Voluptatum distinctio aspernatur expedita autem harum sint </p>
                        </a>
                    </li>
                </ul>
            </div>
            <!-- 左圖右文 -->
            <div class="tsite-newsLeft">
                <ul>
                    <li>
                        <div class="num">1</div>
                        <a href="#">
                            <div class="img-container">
                                <!-- 請針對縮圖產出尺寸使用不同解析度 src -->
                                <picture>
                                    <source media="(min-width: 1200px)" data-srcset="images/pic_02.jpg" />
                                    <source media="(min-width: 992px)" data-srcset="images/pic_02.jpg" />
                                    <source media="(min-width: 576px)" data-srcset="images/pic_02.jpg" />
                                    <source media="(max-width: 575px)" data-srcset="images/pic_02.jpg" />
                                    <img data-src="images/pic_02.jpg" class="lazy" />
                                </picture>
                            </div>
                            <h3>貿協「體外診斷醫材線上拓銷團」 搶攻歐洲新南向防疫檢測商機!</h3>
                            <time><i class="far fa-clock"></i>2021.12.12</time>
                            <p> 全球新冠疫情已隨著各國疫苗陸續施打出現緩和跡象，經濟部國際貿易局看準下一波邊境解封檢測商機，委由外貿協會選定我檢測試劑成長率第一名(35.71%)之歐洲及第二名(20.80%)之新南向市場，自3月10日及11日連續2天辦理「歐洲及新南向體外診斷醫材線上拓銷團」，協助我15家體外診斷醫療器材廠商與15國35家買主進行超過130場視訊洽談，搶占商機。
                                本次洽談會吸引德國、西班牙、荷蘭、保加利亞、匈牙利、波蘭、泰國、印度、孟加拉、菲律賓、馬來西亞、印尼、越南、哈薩克及柬埔寨等35家國外醫療供應鏈業者參與，重點買主包含波蘭Blirt，為超過25年經驗之分子生物相關試劑及蛋白酶之製造商，營業額達1,700萬美元，
                            </p>
                        </a>
                    </li>
                    <li>
                        <div class="num">2</div>
                        <a href="#">
                            <div class="img-container">
                                <!-- 請針對縮圖產出尺寸使用不同解析度 src -->
                                <picture>
                                    <source media="(min-width: 1200px)" data-srcset="images/pic_01.jpg" />
                                    <source media="(min-width: 992px)" data-srcset="images/pic_01.jpg" />
                                    <source media="(min-width: 576px)" data-srcset="images/pic_01.jpg" />
                                    <source media="(max-width: 575px)" data-srcset="images/pic_01.jpg" />
                                    <img data-src="images/pic_01.jpg" class="lazy" />
                                </picture>
                            </div>
                            <h3> Lorem ipsum dolor sit amet consectetur temporibus odit unde nesciunt quisquam odio!
                                Dolorem </h3>
                            <time><i class="far fa-clock"></i>2021.12.12</time>
                            <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident quaerat a velit
                                reiciendis facilis deserunt officia numquam molestiae delectus ullam blanditiis
                                consequuntur quidem dolorem eveniet quos, quae temporibus odit unde nesciunt quisquam
                                odio! Dolorem nihil veritatis dolorum explicabo id sunt optio asperiores deserunt
                                repellat reprehenderit? Voluptatum distinctio aspernatur expedita autem harum sint </p>
                        </a>
                    </li>
                </ul>
            </div>
            <!-- 方格排列 -->
            <div class="tsite-newsGrid">
                <ul>
                    <li>
                        <a href="#">
                            <div class="img-container">
                                <!-- 請針對縮圖產出尺寸使用不同解析度 src -->
                                <picture>
                                    <source media="(min-width: 1200px)" data-srcset="images/pic_02.jpg" />
                                    <source media="(min-width: 992px)" data-srcset="images/pic_02.jpg" />
                                    <source media="(min-width: 576px)" data-srcset="images/pic_02.jpg" />
                                    <source media="(max-width: 575px)" data-srcset="images/pic_02.jpg" />
                                    <img data-src="images/pic_02.jpg" class="lazy" />
                                </picture>
                            </div>
                            <h3>貿協「體外診斷醫材線上拓銷團」 搶攻歐洲新南向防疫檢測商機!</h3>
                            <time><i class="far fa-clock"></i>2021.12.12</time>
                            <p> 全球新冠疫情已隨著各國疫苗陸續施打出現緩和跡象，經濟部國際貿易局看準下一波邊境解封檢測商機，委由外貿協會選定我檢測試劑成長率第一名(35.71%)之歐洲及第二名(20.80%)之新南向市場，自3月10日及11日連續2天辦理「歐洲及新南向體外診斷醫材線上拓銷團」，協助我15家體外診斷醫療器材廠商與15國35家買主進行超過130場視訊洽談，搶占商機。
                                本次洽談會吸引德國、西班牙、荷蘭、保加利亞、匈牙利、波蘭、泰國、印度、孟加拉、菲律賓、馬來西亞、印尼、越南、哈薩克及柬埔寨等35家國外醫療供應鏈業者參與，重點買主包含波蘭Blirt，為超過25年經驗之分子生物相關試劑及蛋白酶之製造商，營業額達1,700萬美元，
                            </p>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <div class="img-container">
                                <!-- 請針對縮圖產出尺寸使用不同解析度 src -->
                                <picture>
                                    <source media="(min-width: 1200px)" data-srcset="images/pic_01.jpg" />
                                    <source media="(min-width: 992px)" data-srcset="images/pic_01.jpg" />
                                    <source media="(min-width: 576px)" data-srcset="images/pic_01.jpg" />
                                    <source media="(max-width: 575px)" data-srcset="images/pic_01.jpg" />
                                    <img data-src="images/pic_01.jpg" class="lazy" />
                                </picture>
                            </div>
                            <h3> Lorem ipsum dolor sit amet consectetur temporibus odit unde nesciunt quisquam odio!
                                Dolorem </h3>
                            <time><i class="far fa-clock"></i>2021.12.12</time>
                            <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident quaerat a velit
                                reiciendis facilis deserunt officia numquam molestiae delectus ullam blanditiis
                                consequuntur quidem dolorem eveniet quos, quae temporibus odit unde nesciunt quisquam
                                odio! Dolorem nihil veritatis dolorum explicabo id sunt optio asperiores deserunt
                                repellat reprehenderit? Voluptatum distinctio aspernatur expedita autem harum sint </p>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <div class="img-container">
                                <!-- 請針對縮圖產出尺寸使用不同解析度 src -->
                                <picture>
                                    <source media="(min-width: 1200px)" data-srcset="images/pic_02.jpg" />
                                    <source media="(min-width: 992px)" data-srcset="images/pic_02.jpg" />
                                    <source media="(min-width: 576px)" data-srcset="images/pic_02.jpg" />
                                    <source media="(max-width: 575px)" data-srcset="images/pic_02.jpg" />
                                    <img data-src="images/pic_02.jpg" class="lazy" />
                                </picture>
                            </div>
                            <h3>貿協「體外診斷醫材線上拓銷團」 搶攻歐洲新南向防疫檢測商機!</h3>
                            <time><i class="far fa-clock"></i>2021.12.12</time>
                            <p> 全球新冠疫情已隨著各國疫苗陸續施打出現緩和跡象，經濟部國際貿易局看準下一波邊境解封檢測商機，委由外貿協會選定我檢測試劑成長率第一名(35.71%)之歐洲及第二名(20.80%)之新南向市場，自3月10日及11日連續2天辦理「歐洲及新南向體外診斷醫材線上拓銷團」，協助我15家體外診斷醫療器材廠商與15國35家買主進行超過130場視訊洽談，搶占商機。
                                本次洽談會吸引德國、西班牙、荷蘭、保加利亞、匈牙利、波蘭、泰國、印度、孟加拉、菲律賓、馬來西亞、印尼、越南、哈薩克及柬埔寨等35家國外醫療供應鏈業者參與，重點買主包含波蘭Blirt，為超過25年經驗之分子生物相關試劑及蛋白酶之製造商，營業額達1,700萬美元，
                            </p>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <div class="img-container">
                                <!-- 請針對縮圖產出尺寸使用不同解析度 src -->
                                <picture>
                                    <source media="(min-width: 1200px)" data-srcset="images/pic_01.jpg" />
                                    <source media="(min-width: 992px)" data-srcset="images/pic_01.jpg" />
                                    <source media="(min-width: 576px)" data-srcset="images/pic_01.jpg" />
                                    <source media="(max-width: 575px)" data-srcset="images/pic_01.jpg" />
                                    <img data-src="images/pic_01.jpg" class="lazy" />
                                </picture>
                            </div>
                            <h3> Lorem ipsum dolor sit amet consectetur temporibus odit unde nesciunt quisquam odio!
                                Dolorem </h3>
                            <time><i class="far fa-clock"></i>2021.12.12</time>
                            <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident quaerat a velit
                                reiciendis facilis deserunt officia numquam molestiae delectus ullam blanditiis
                                consequuntur quidem dolorem eveniet quos, quae temporibus odit unde nesciunt quisquam
                                odio! Dolorem nihil veritatis dolorum explicabo id sunt optio asperiores deserunt
                                repellat reprehenderit? Voluptatum distinctio aspernatur expedita autem harum sint </p>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <div class="img-container">
                                <!-- 請針對縮圖產出尺寸使用不同解析度 src -->
                                <picture>
                                    <source media="(min-width: 1200px)" data-srcset="images/pic_02.jpg" />
                                    <source media="(min-width: 992px)" data-srcset="images/pic_02.jpg" />
                                    <source media="(min-width: 576px)" data-srcset="images/pic_02.jpg" />
                                    <source media="(max-width: 575px)" data-srcset="images/pic_02.jpg" />
                                    <img data-src="images/pic_02.jpg" class="lazy" />
                                </picture>
                            </div>
                            <h3>貿協「體外診斷醫材線上拓銷團」 搶攻歐洲新南向防疫檢測商機!</h3>
                            <time><i class="far fa-clock"></i>2021.12.12</time>
                            <p> 全球新冠疫情已隨著各國疫苗陸續施打出現緩和跡象，經濟部國際貿易局看準下一波邊境解封檢測商機，委由外貿協會選定我檢測試劑成長率第一名(35.71%)之歐洲及第二名(20.80%)之新南向市場，自3月10日及11日連續2天辦理「歐洲及新南向體外診斷醫材線上拓銷團」，協助我15家體外診斷醫療器材廠商與15國35家買主進行超過130場視訊洽談，搶占商機。
                                本次洽談會吸引德國、西班牙、荷蘭、保加利亞、匈牙利、波蘭、泰國、印度、孟加拉、菲律賓、馬來西亞、印尼、越南、哈薩克及柬埔寨等35家國外醫療供應鏈業者參與，重點買主包含波蘭Blirt，為超過25年經驗之分子生物相關試劑及蛋白酶之製造商，營業額達1,700萬美元，
                            </p>
                        </a>
                    </li>
                </ul>
            </div>
            <!-- 無圖條文排列 -->
            <div class="tsite-newsLine">
                <ul>
                    <li>
                        <a href="#">
                            <time><i class="far fa-clock"></i>2021.12.12</time>
                            <h3>貿協「體外診斷醫材線上拓銷團」 搶攻歐洲新南向防疫檢測商機!</h3>
                            <p> 全球新冠疫情已隨著各國疫苗陸續施打出現緩和跡象，經濟部國際貿易局看準下一波邊境解封檢測商機，委由外貿協會選定我檢測試劑成長率第一名(35.71%)之歐洲及第二名(20.80%)之新南向市場，自3月10日及11日連續2天辦理「歐洲及新南向體外診斷醫材線上拓銷團」，協助我15家體外診斷醫療器材廠商與15國35家買主進行超過130場視訊洽談，搶占商機。
                                本次洽談會吸引德國、西班牙、荷蘭、保加利亞、匈牙利、波蘭、泰國、印度、孟加拉、菲律賓、馬來西亞、印尼、越南、哈薩克及柬埔寨等35家國外醫療供應鏈業者參與，重點買主包含波蘭Blirt，為超過25年經驗之分子生物相關試劑及蛋白酶之製造商，營業額達1,700萬美元，
                            </p>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <time><i class="far fa-clock"></i>2021.12.12</time>
                            <h3>Lorem ipsum dolor sit amet consectetur temporibus odit unde nesciunt quisquam odio!
                                Dolorem</h3>
                            <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident quaerat a velit
                                reiciendis facilis deserunt officia numquam molestiae delectus ullam blanditiis
                                consequuntur quidem dolorem eveniet quos, quae temporibus odit unde nesciunt quisquam
                                odio! Dolorem nihil veritatis dolorum explicabo id sunt optio asperiores deserunt
                                repellat reprehenderit? Voluptatum distinctio aspernatur expedita autem harum sint </p>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <time><i class="far fa-clock"></i>2021.12.12</time>
                            <h3>貿協「體外診斷醫材線上拓銷團」 搶攻歐洲新南向防疫檢測商機!</h3>
                            <p> 全球新冠疫情已隨著各國疫苗陸續施打出現緩和跡象，經濟部國際貿易局看準下一波邊境解封檢測商機，委由外貿協會選定我檢測試劑成長率第一名(35.71%)之歐洲及第二名(20.80%)之新南向市場，自3月10日及11日連續2天辦理「歐洲及新南向體外診斷醫材線上拓銷團」，協助我15家體外診斷醫療器材廠商與15國35家買主進行超過130場視訊洽談，搶占商機。
                                本次洽談會吸引德國、西班牙、荷蘭、保加利亞、匈牙利、波蘭、泰國、印度、孟加拉、菲律賓、馬來西亞、印尼、越南、哈薩克及柬埔寨等35家國外醫療供應鏈業者參與，重點買主包含波蘭Blirt，為超過25年經驗之分子生物相關試劑及蛋白酶之製造商，營業額達1,700萬美元，
                            </p>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <time><i class="far fa-clock"></i>2021.12.12</time>
                            <h3>Lorem ipsum dolor sit amet consectetur temporibus odit unde nesciunt quisquam odio!
                                Dolorem</h3>
                            <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident quaerat a velit
                                reiciendis facilis deserunt officia numquam molestiae delectus ullam blanditiis
                                consequuntur quidem dolorem eveniet quos, quae temporibus odit unde nesciunt quisquam
                                odio! Dolorem nihil veritatis dolorum explicabo id sunt optio asperiores deserunt
                                repellat reprehenderit? Voluptatum distinctio aspernatur expedita autem harum sint </p>
                        </a>
                    </li>
                </ul>
            </div>
            <!-- pagination -->
            <div class="pagination">
                <div class="showPage">Showing <span>1</span> to <span>20</span> of <span>43</span> entries</div>
                <ul class="page">
                    <li class="first"><a href="#" title="第一頁">第一頁 </a></li>
                    <li class="prev"><a href="#" title="回上一頁">回上一頁 </a></li>
                    <li class="active"><a href="#">1</a></li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li><a href="#">4</a></li>
                    <li><a href="#">5</a></li>
                    <li><a href="#">6</a></li>
                    <li><a href="#">7</a></li>
                    <li><a href="#">8</a></li>
                    <li><a href="#">9</a></li>
                    <li><a href="#">10</a></li>
                    <li class="next"><a href="#" title="下一頁">下一頁 </a></li>
                    <li class="last"><a href="#" title="最後一頁">最後一頁 </a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- js -->
<script>
    $(function () {
        //lazyload
        var lazyLoadInstance = new LazyLoad({
            elements_selector: 'img.lazy',
            //placeholder: '/images/basic/placeholder.gif',
            effect: 'fadeIn',
            fadeTime: 600,
            threshold: 0,
        });
    });
</script>