.pagination {
  clear: both;
  zoom: 1; }
  .pagination:before, .pagination:after {
    content: "";
    display: table; }
  .pagination:after {
    clear: both; }

.tsite-innerpage .container {
  margin: 0 auto;
  max-width: 100%;
  position: relative;
  min-height: 1px;
  padding-left: 0;
  padding-right: 0;
  box-sizing: border-box; }

.tsite-innerpage .head {
  position: relative;
  width: 100%;
  margin-bottom: 2em; }
  .tsite-innerpage .head:after {
    position: absolute;
    content: '';
    z-index: 2;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.45); }
  .tsite-innerpage .head .img-container {
    width: 100%;
    position: relative;
    overflow: hidden;
    position: relative; }
    .tsite-innerpage .head .img-container:before {
      display: block;
      content: '';
      line-height: 0;
      padding-top: 16.66667%; }
    .tsite-innerpage .head .img-container img,
    .tsite-innerpage .head .img-container iframe,
    .tsite-innerpage .head .img-container video {
      display: block;
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
      width: 100%;
      height: 100%;
      margin: auto; }
    .tsite-innerpage .head .img-container img {
      object-fit: cover;
      display: block; }
    @media screen and (max-width: 575px) {
      .tsite-innerpage .head .img-container {
        overflow: hidden;
        position: relative; }
        .tsite-innerpage .head .img-container:before {
          display: block;
          content: '';
          line-height: 0;
          padding-top: 33.33333%; }
        .tsite-innerpage .head .img-container img,
        .tsite-innerpage .head .img-container iframe,
        .tsite-innerpage .head .img-container video {
          display: block;
          position: absolute;
          top: 0;
          bottom: 0;
          right: 0;
          left: 0;
          width: 100%;
          height: 100%;
          margin: auto; }
        .tsite-innerpage .head .img-container img {
          object-fit: cover;
          display: block; } }
    .tsite-innerpage .head .img-container img {
      position: absolute;
      top: 0;
      left: 0;
      object-fit: cover;
      width: 100%;
      height: 100%; }

.tsite-innerpage .tsite-filter {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  box-sizing: border-box;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 100%;
  padding-bottom: 1em; }
  .tsite-innerpage .tsite-filter select {
    margin: 0 0.5em; }

.tsite-innerpage .tsite-newsLits {
  max-width: 1200px;
  margin: 0 auto 1em;
  padding-bottom: 1em;
  background: transparent;
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  box-sizing: border-box; }
  .tsite-innerpage .tsite-newsLits .pageInfo {
    display: flex;
    flex-flow: row wrap;
    margin-bottom: 1em; }
    .tsite-innerpage .tsite-newsLits .pageInfo .contentTitle {
      flex-grow: 1;
      flex-shrink: 1;
      flex-basis: 100%;
      font-size: 2.5em;
      display: block;
      line-height: 1.65em;
      font-weight: bold;
      border-bottom: 2px solid #ccc;
      margin-bottom: 0.25em; }
      @media screen and (max-width: 575px) {
        .tsite-innerpage .tsite-newsLits .pageInfo .contentTitle {
          font-size: 1.75em; } }
    .tsite-innerpage .tsite-newsLits .pageInfo .function {
      flex-grow: 1;
      flex-shrink: 1;
      flex-basis: 30%;
      text-align: right; }
      @media screen and (max-width: 575px) {
        .tsite-innerpage .tsite-newsLits .pageInfo .function {
          padding-top: 1em;
          flex-basis: 80%; } }
      .tsite-innerpage .tsite-newsLits .pageInfo .function a {
        width: 2.5em;
        height: 2.5em;
        border-radius: 50%;
        border: 3px solid #ccc;
        display: inline-block;
        margin: 0 0.1em 0.25em;
        transition: 0.3s ease-out; }
        @media screen and (max-width: 575px) {
          .tsite-innerpage .tsite-newsLits .pageInfo .function a {
            margin: 0 0.1em 0.15em;
            width: 2.5em;
            height: 2.5em; } }
        .tsite-innerpage .tsite-newsLits .pageInfo .function a img {
          width: 100%; }
        .tsite-innerpage .tsite-newsLits .pageInfo .function a.switch {
          border-radius: 0.25em; }
          .tsite-innerpage .tsite-newsLits .pageInfo .function a.switch:hover {
            border: 3px solid #f67f50;
            background: #f67f50; }
        .tsite-innerpage .tsite-newsLits .pageInfo .function a i {
          width: 100%;
          font-size: 1.25em;
          text-align: center;
          color: #aaa;
          line-height: 1.75em;
          display: flex;
          align-items: center;
          justify-content: center; }
          .tsite-innerpage .tsite-newsLits .pageInfo .function a i.right {
            transform: rotate(180deg); }
        .tsite-innerpage .tsite-newsLits .pageInfo .function a:hover {
          border: 3px solid rgba(0, 0, 0, 0.75);
          background: rgba(0, 0, 0, 0.85); }
          .tsite-innerpage .tsite-newsLits .pageInfo .function a:hover i {
            color: #fff; }
    .tsite-innerpage .tsite-newsLits .pageInfo .path {
      flex-grow: 1;
      flex-shrink: 1;
      flex-basis: 50%;
      font-size: 0.875rem; }
      .tsite-innerpage .tsite-newsLits .pageInfo .path a {
        color: #666; }
        .tsite-innerpage .tsite-newsLits .pageInfo .path a:hover, .tsite-innerpage .tsite-newsLits .pageInfo .path a:focus {
          color: #d14545; }
    .tsite-innerpage .tsite-newsLits .pageInfo .publishTime {
      font-size: 0.875rem;
      color: #666; }
      .tsite-innerpage .tsite-newsLits .pageInfo .publishTime i {
        margin-right: 0.5em; }
  .tsite-innerpage .tsite-newsLits .tsite-tag {
    margin: 0 auto 1em;
    clear: both;
    overflow: hidden;
    border-bottom: 1px solid #ccc;
    padding-bottom: 1em; }
    .tsite-innerpage .tsite-newsLits .tsite-tag ul {
      margin: 0;
      padding: 0;
      list-style: none; }
      .tsite-innerpage .tsite-newsLits .tsite-tag ul li {
        display: block;
        float: left;
        margin: 0 0.5em 0.5em 0; }
        .tsite-innerpage .tsite-newsLits .tsite-tag ul li.active a {
          background: #f67f50; }
        .tsite-innerpage .tsite-newsLits .tsite-tag ul li a {
          padding: 0.5em 1em;
          display: block;
          color: #fff;
          background: #d14545; }
          .tsite-innerpage .tsite-newsLits .tsite-tag ul li a:hover, .tsite-innerpage .tsite-newsLits .tsite-tag ul li a:focus {
            background: #f67f50; }
  .tsite-innerpage .tsite-newsLits .tsite-newsRight {
    clear: both;
    margin-bottom: 2em; }
    .tsite-innerpage .tsite-newsLits .tsite-newsRight ul {
      margin: 0;
      padding: 0;
      list-style: none; }
      .tsite-innerpage .tsite-newsLits .tsite-newsRight ul li {
        display: block;
        clear: both;
        padding: 1em 0;
        border-bottom: 1px solid #ddd;
        padding-left: 2em;
        position: relative; }
        @media screen and (max-width: 767px) {
          .tsite-innerpage .tsite-newsLits .tsite-newsRight ul li {
            padding-left: 0; } }
        .tsite-innerpage .tsite-newsLits .tsite-newsRight ul li .num {
          position: absolute;
          width: 3em;
          top: 1em;
          left: 0;
          font-size: 1.5rem;
          font-weight: bold; }
          .tsite-innerpage .tsite-newsLits .tsite-newsRight ul li .num:after {
            content: '.'; }
          @media screen and (max-width: 767px) {
            .tsite-innerpage .tsite-newsLits .tsite-newsRight ul li .num {
              display: none; } }
        .tsite-innerpage .tsite-newsLits .tsite-newsRight ul li a .img-container {
          float: right;
          width: 300px;
          overflow: hidden;
          position: relative;
          margin: 0 0 1em 1em; }
          .tsite-innerpage .tsite-newsLits .tsite-newsRight ul li a .img-container:before {
            display: block;
            content: '';
            line-height: 0;
            padding-top: 75%; }
          .tsite-innerpage .tsite-newsLits .tsite-newsRight ul li a .img-container img,
          .tsite-innerpage .tsite-newsLits .tsite-newsRight ul li a .img-container iframe,
          .tsite-innerpage .tsite-newsLits .tsite-newsRight ul li a .img-container video {
            display: block;
            position: absolute;
            top: 0;
            bottom: 0;
            right: 0;
            left: 0;
            width: 100%;
            height: 100%;
            margin: auto; }
          .tsite-innerpage .tsite-newsLits .tsite-newsRight ul li a .img-container img {
            object-fit: cover;
            display: block; }
          .tsite-innerpage .tsite-newsLits .tsite-newsRight ul li a .img-container img {
            object-fit: cover;
            transition: 0.3s ease-out; }
          @media screen and (max-width: 767px) {
            .tsite-innerpage .tsite-newsLits .tsite-newsRight ul li a .img-container {
              float: none;
              width: 100%;
              margin: 0 auto 1em; } }
        .tsite-innerpage .tsite-newsLits .tsite-newsRight ul li a:hover .img-container img, .tsite-innerpage .tsite-newsLits .tsite-newsRight ul li a:focus .img-container img {
          transform: scale(1.1); }
        .tsite-innerpage .tsite-newsLits .tsite-newsRight ul li a:hover h3, .tsite-innerpage .tsite-newsLits .tsite-newsRight ul li a:focus h3 {
          color: #e75224; }
        .tsite-innerpage .tsite-newsLits .tsite-newsRight ul li h3 {
          font-size: 1.75em;
          margin: 0 0 0.5em;
          overflow: hidden;
          color: #333; }
        .tsite-innerpage .tsite-newsLits .tsite-newsRight ul li p {
          margin: 0 0 1em;
          overflow: hidden;
          color: #666; }
        .tsite-innerpage .tsite-newsLits .tsite-newsRight ul li time {
          color: #666;
          display: block;
          margin-bottom: 0.5em;
          font-size: 0.875rem; }
          .tsite-innerpage .tsite-newsLits .tsite-newsRight ul li time i {
            margin-right: 0.5em; }
  .tsite-innerpage .tsite-newsLits .tsite-newsLeft {
    clear: both;
    margin-bottom: 2em; }
    .tsite-innerpage .tsite-newsLits .tsite-newsLeft ul {
      margin: 0;
      padding: 0;
      list-style: none; }
      .tsite-innerpage .tsite-newsLits .tsite-newsLeft ul li {
        display: block;
        clear: both;
        padding: 1em 0;
        border-bottom: 1px solid #ddd;
        padding-left: 2em;
        position: relative; }
        @media screen and (max-width: 767px) {
          .tsite-innerpage .tsite-newsLits .tsite-newsLeft ul li {
            padding-left: 0; } }
        .tsite-innerpage .tsite-newsLits .tsite-newsLeft ul li .num {
          position: absolute;
          width: 3em;
          top: 1em;
          left: 0;
          font-size: 1.5rem;
          font-weight: bold; }
          .tsite-innerpage .tsite-newsLits .tsite-newsLeft ul li .num:after {
            content: '.'; }
          @media screen and (max-width: 767px) {
            .tsite-innerpage .tsite-newsLits .tsite-newsLeft ul li .num {
              display: none; } }
        .tsite-innerpage .tsite-newsLits .tsite-newsLeft ul li a .img-container {
          float: left;
          width: 300px;
          overflow: hidden;
          position: relative;
          margin: 0 1em 1em 0; }
          .tsite-innerpage .tsite-newsLits .tsite-newsLeft ul li a .img-container:before {
            display: block;
            content: '';
            line-height: 0;
            padding-top: 75%; }
          .tsite-innerpage .tsite-newsLits .tsite-newsLeft ul li a .img-container img,
          .tsite-innerpage .tsite-newsLits .tsite-newsLeft ul li a .img-container iframe,
          .tsite-innerpage .tsite-newsLits .tsite-newsLeft ul li a .img-container video {
            display: block;
            position: absolute;
            top: 0;
            bottom: 0;
            right: 0;
            left: 0;
            width: 100%;
            height: 100%;
            margin: auto; }
          .tsite-innerpage .tsite-newsLits .tsite-newsLeft ul li a .img-container img {
            object-fit: cover;
            display: block; }
          .tsite-innerpage .tsite-newsLits .tsite-newsLeft ul li a .img-container img {
            object-fit: cover;
            transition: 0.3s ease-out; }
          @media screen and (max-width: 767px) {
            .tsite-innerpage .tsite-newsLits .tsite-newsLeft ul li a .img-container {
              float: none;
              width: 100%;
              margin: 0 auto 1em; } }
        .tsite-innerpage .tsite-newsLits .tsite-newsLeft ul li a:hover .img-container img, .tsite-innerpage .tsite-newsLits .tsite-newsLeft ul li a:focus .img-container img {
          transform: scale(1.1); }
        .tsite-innerpage .tsite-newsLits .tsite-newsLeft ul li a:hover h3, .tsite-innerpage .tsite-newsLits .tsite-newsLeft ul li a:focus h3 {
          color: #e75224; }
        .tsite-innerpage .tsite-newsLits .tsite-newsLeft ul li h3 {
          font-size: 1.75em;
          margin: 0 0 0.5em;
          overflow: hidden;
          color: #333; }
        .tsite-innerpage .tsite-newsLits .tsite-newsLeft ul li p {
          margin: 0 0 1em;
          overflow: hidden;
          color: #666; }
        .tsite-innerpage .tsite-newsLits .tsite-newsLeft ul li time {
          color: #666;
          display: block;
          margin-bottom: 0.5em;
          font-size: 0.875rem; }
          .tsite-innerpage .tsite-newsLits .tsite-newsLeft ul li time i {
            margin-right: 0.5em; }
  .tsite-innerpage .tsite-newsLits .tsite-newsGrid {
    clear: both;
    margin-bottom: 2em; }
    .tsite-innerpage .tsite-newsLits .tsite-newsGrid ul {
      margin: 0;
      padding: 0;
      list-style: none;
      display: flex;
      flex-flow: row wrap;
      justify-content: flex-start; }
      .tsite-innerpage .tsite-newsLits .tsite-newsGrid ul li {
        display: block;
        clear: both;
        border: 1px solid #ddd;
        position: relative;
        float: left;
        width: 30.3333%;
        flex-grow: 0;
        flex-shrink: 1;
        flex-basis: 30.3333%;
        margin: 0 1.5% 2em;
        padding-bottom: 2em; }
        @media screen and (max-width: 991px) {
          .tsite-innerpage .tsite-newsLits .tsite-newsGrid ul li {
            flex-basis: 47%; } }
        @media screen and (max-width: 575px) {
          .tsite-innerpage .tsite-newsLits .tsite-newsGrid ul li {
            flex-basis: 90%;
            margin: 0 auto 2em; } }
        .tsite-innerpage .tsite-newsLits .tsite-newsGrid ul li a .img-container {
          float: none;
          width: 100%;
          overflow: hidden;
          position: relative;
          margin: 0 0 1em; }
          .tsite-innerpage .tsite-newsLits .tsite-newsGrid ul li a .img-container:before {
            display: block;
            content: '';
            line-height: 0;
            padding-top: 75%; }
          .tsite-innerpage .tsite-newsLits .tsite-newsGrid ul li a .img-container img,
          .tsite-innerpage .tsite-newsLits .tsite-newsGrid ul li a .img-container iframe,
          .tsite-innerpage .tsite-newsLits .tsite-newsGrid ul li a .img-container video {
            display: block;
            position: absolute;
            top: 0;
            bottom: 0;
            right: 0;
            left: 0;
            width: 100%;
            height: 100%;
            margin: auto; }
          .tsite-innerpage .tsite-newsLits .tsite-newsGrid ul li a .img-container img {
            object-fit: cover;
            display: block; }
          .tsite-innerpage .tsite-newsLits .tsite-newsGrid ul li a .img-container img {
            object-fit: cover;
            transition: 0.3s ease-out; }
        .tsite-innerpage .tsite-newsLits .tsite-newsGrid ul li a:hover .img-container img, .tsite-innerpage .tsite-newsLits .tsite-newsGrid ul li a:focus .img-container img {
          transform: scale(1.1); }
        .tsite-innerpage .tsite-newsLits .tsite-newsGrid ul li a:hover h3, .tsite-innerpage .tsite-newsLits .tsite-newsGrid ul li a:focus h3 {
          color: #e75224; }
        .tsite-innerpage .tsite-newsLits .tsite-newsGrid ul li h3 {
          font-size: 1.5em;
          overflow: hidden;
          color: #333;
          width: 90%;
          margin: 0 auto 0.5em;
          overflow: hidden;
          text-overflow: -o-ellipsis-lastline;
          text-overflow: ellipsis;
          display: -webkit-box;
          -webkit-line-clamp: 3;
          -webkit-box-orient: vertical;
          line-height: 1.5em;
          height: calc(1.5em * 3); }
        .tsite-innerpage .tsite-newsLits .tsite-newsGrid ul li p {
          margin: 0 0 1em;
          overflow: hidden;
          color: #666;
          width: 90%;
          margin: 0 auto 0.5em;
          overflow: hidden;
          text-overflow: -o-ellipsis-lastline;
          text-overflow: ellipsis;
          display: -webkit-box;
          -webkit-line-clamp: 4;
          -webkit-box-orient: vertical;
          line-height: 1.45em;
          height: calc(1.45em * 4); }
        .tsite-innerpage .tsite-newsLits .tsite-newsGrid ul li time {
          color: #666;
          display: block;
          margin-bottom: 0.5em;
          font-size: 0.875rem;
          margin-left: 1.25em; }
          .tsite-innerpage .tsite-newsLits .tsite-newsGrid ul li time i {
            margin-right: 0.5em; }
  .tsite-innerpage .tsite-newsLits .tsite-newsLine ul {
    margin: 0;
    padding: 0;
    list-style: none; }
    .tsite-innerpage .tsite-newsLits .tsite-newsLine ul li {
      border-bottom: 1px solid #ddd;
      margin-bottom: 1em;
      clear: both; }
      .tsite-innerpage .tsite-newsLits .tsite-newsLine ul li a {
        padding: 0em 0.5em 1em 150px;
        overflow: hidden;
        position: relative;
        display: block; }
        @media screen and (max-width: 767px) {
          .tsite-innerpage .tsite-newsLits .tsite-newsLine ul li a {
            padding: 0em 1em 1em; } }
        .tsite-innerpage .tsite-newsLits .tsite-newsLine ul li a time {
          color: #666;
          display: block;
          font-size: 0.875rem;
          position: absolute;
          top: 0.15em;
          font-size: 1.125rem;
          left: 0; }
          .tsite-innerpage .tsite-newsLits .tsite-newsLine ul li a time i {
            margin-right: 0.5em; }
          @media screen and (max-width: 767px) {
            .tsite-innerpage .tsite-newsLits .tsite-newsLine ul li a time {
              position: relative;
              top: 0;
              font-size: 0.938rem; } }
        .tsite-innerpage .tsite-newsLits .tsite-newsLine ul li a h3 {
          font-size: 1.5em;
          overflow: hidden;
          color: #333;
          margin: 0 0 0.5em; }
        .tsite-innerpage .tsite-newsLits .tsite-newsLine ul li a p {
          margin: 0 0 1em;
          overflow: hidden;
          color: #666;
          margin: 0 0 0.5em;
          overflow: hidden;
          text-overflow: -o-ellipsis-lastline;
          text-overflow: ellipsis;
          display: -webkit-box;
          -webkit-line-clamp: 2;
          -webkit-box-orient: vertical;
          line-height: 1.35em;
          height: calc(1.35em * 2); }
        .tsite-innerpage .tsite-newsLits .tsite-newsLine ul li a:hover h3, .tsite-innerpage .tsite-newsLits .tsite-newsLine ul li a:focus h3 {
          color: #e75224; }

.pagination {
  margin: 0.5em auto;
  padding: 0;
  text-align: center;
  font-size: 0.938em;
  display: flex;
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  box-sizing: border-box; }
  .pagination span {
    color: #d14545;
    margin: 0px 0.5em; }
  @media screen and (max-width: 991px) {
    .pagination {
      flex-flow: row wrap; } }
  .pagination .showPage {
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: 300px;
    text-align: left;
    display: flex;
    align-items: center; }
    @media screen and (max-width: 991px) {
      .pagination .showPage {
        flex-basis: 100%;
        text-align: center;
        justify-content: center;
        margin-bottom: 1em; } }
    .pagination .showPage span {
      color: #d14545; }
  .pagination .page {
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 60%;
    margin: 10px 0 10px auto;
    padding: 0;
    display: block; }
    .pagination .page li {
      display: inline-block;
      min-width: 40px;
      height: 40px;
      margin: 0 1px 5px;
      list-style: none;
      box-sizing: border-box; }
      .pagination .page li a {
        border-radius: 5px;
        padding: 6px 10px;
        font-weight: 700;
        display: block;
        white-space: nowrap;
        font-size: 1em;
        color: #333;
        background: #f7f7f7;
        background: -webkit-linear-gradient(top, #f7f7f7, #eaeaea);
        background: linear-gradient(to bottom, #f7f7f7, #eaeaea);
        border: #ccc solid 1px; }
        .pagination .page li a:hover, .pagination .page li a:focus {
          background: #d14545;
          color: #fff !important;
          border: #d14545 solid 1px; }
      .pagination .page li.active a {
        color: #fff !important;
        background: #d14545;
        border: #ca3232 solid 1px; }
      .pagination .page li.first a:before, .pagination .page li.first a:after, .pagination .page li.prev a:before, .pagination .page li.next a:before, .pagination .page li.last a:before, .pagination .page li.last a:after {
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        width: 6px;
        height: 6px;
        margin-top: -4px;
        border: 2px solid #666;
        border-left: none;
        border-bottom: none; }
      .pagination .page li.first a, .pagination .page li.prev a, .pagination .page li.next a, .pagination .page li.last a {
        text-indent: -9999px;
        position: relative; }
        .pagination .page li.first a:hover:before, .pagination .page li.first a:hover:after, .pagination .page li.first a:focus:before, .pagination .page li.first a:focus:after, .pagination .page li.prev a:hover:before, .pagination .page li.prev a:hover:after, .pagination .page li.prev a:focus:before, .pagination .page li.prev a:focus:after, .pagination .page li.next a:hover:before, .pagination .page li.next a:hover:after, .pagination .page li.next a:focus:before, .pagination .page li.next a:focus:after, .pagination .page li.last a:hover:before, .pagination .page li.last a:hover:after, .pagination .page li.last a:focus:before, .pagination .page li.last a:focus:after {
          border: 2px solid #fff;
          border-left: none;
          border-bottom: none; }
      .pagination .page li.first a:before {
        margin-left: -6px;
        transform: rotate(-135deg); }
      .pagination .page li.first a:after {
        margin-left: 0px;
        transform: rotate(-135deg); }
      .pagination .page li.prev a:before {
        margin-left: -2px;
        transform: rotate(-135deg); }
      .pagination .page li.next a:before {
        margin-left: -6px;
        transform: rotate(45deg); }
      .pagination .page li.last a:before {
        margin-left: -3px;
        transform: rotate(45deg); }
      .pagination .page li.last a:after {
        margin-left: -9px;
        transform: rotate(45deg); }
  .pagination .total {
    padding: 0em;
    display: inline-block;
    vertical-align: middle; }
    .pagination .total select {
      margin: 0px 0.5em; }
      @media screen and (max-width: 767px) {
        .pagination .total select {
          margin: 0px; } }
    .pagination .total input[type='button'] {
      background: #f7f7f7;
      background: -webkit-linear-gradient(top, #f7f7f7, #eaeaea);
      background: linear-gradient(to bottom, #f7f7f7, #eaeaea);
      border: 1px solid #ccc;
      color: #222;
      padding: 0.4em 1em !important;
      min-width: 3em;
      display: inline-block;
      vertical-align: middle;
      box-shadow: none;
      text-shadow: none; }
      .pagination .total input[type='button']:hover, .pagination .total input[type='button']:focus {
        color: #fff !important;
        background: #d14545;
        border: #ca3232 solid 1px;
        box-shadow: none !important; }
  .pagination .items {
    display: inline-block;
    vertical-align: middle; }
    .pagination .items a {
      padding: 0 5px;
      color: #d14545;
      text-decoration: none; }

@media screen and (max-width: 767px) {
  .pagination .total select.form-control {
    margin: 0px 0px;
    text-align: center; } }
/*# sourceMappingURL=newslist.css.map */