<!-- css -->
<link rel="stylesheet" href="style_C/components/serial_topic/serial_topic.css" />
<!-- serialTopic -->
<div class="tsite-serialTopic">
    <div class="container">
        <h2>Serial Topics<small>系列專題</small></h2>
        <!-- 專題內容 -->
        <div class="topic_block">
            <!-- item 專題 -->
            <div class="item">
                <div class="tag">
                    <a href="#" class="item">tag</a>
                </div>
                <div class="img-container">
                    <!-- 請針對縮圖產出尺寸使用不同解析度 src -->
                    <picture>
                        <source media="(min-width: 1200px)" srcset="images/topic_pic_01.jpg" />
                        <source media="(min-width: 992px)" srcset="images/topic_pic_01.jpg" />
                        <source media="(min-width: 576px)" srcset="images/topic_pic_01.jpg" />
                        <source media="(max-width: 575px)" srcset="images/topic_pic_01.jpg" />
                        <img data-src="images/topic_pic_01.jpg" class="lazy" />
                    </picture>
                    <div class="info">
                        <h3>決戰科技 新創機不可失</h3>
                        <a href="#" class="more"><span>more</span></a>
                    </div>
                </div>
                <p> 掌握科技趨勢、獲取創新能量以因應快速變化的環境並進行轉型，始終是產業永續的活水泉源，新創也因此成為各國經濟發展的重點。
                    特別是新冠病毒肺炎疫情蔓延加速社會各界全面數位轉型的後疫情時代，新興科技的運用更成為未來國家競爭力強弱的決勝關鍵。未來20 年將是全球科技創新 </p>
                <span class="periodical">《經貿雙周刊》第555期</span>
            </div>
            <!-- item 專題 -->
            <div class="item">
                <div class="tag">
                    <a href="#" class="item">tag</a>
                </div>
                <div class="img-container">
                    <!-- 請針對縮圖產出尺寸使用不同解析度 src -->
                    <picture>
                        <source media="(min-width: 1200px)" srcset="images/topic_pic_02.jpg" />
                        <source media="(min-width: 992px)" srcset="images/topic_pic_02.jpg" />
                        <source media="(min-width: 576px)" srcset="images/topic_pic_02.jpg" />
                        <source media="(max-width: 575px)" srcset="images/topic_pic_02.jpg" />
                        <img data-src="images/topic_pic_02.jpg" class="lazy" />
                    </picture>
                    <div class="info">
                        <h3> Lorem ipsum, dolor sit amet consectetur adipisicing elit. Facilis accusamus corrupti
                            ducimus quam dignissimos vitae corporis velit aliquid nisi illum sint beatae explicabo
                            placeat, magni, minus aut. Doloribus, impedit voluptatum? </h3>
                        <a href="#" class="more"><span>more</span></a>
                    </div>
                </div>
                <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci veniam reprehenderit error nulla
                    suscipit velit, excepturi dignissimos quos rem quo dolores quod at vitae. Voluptas similique alias
                    placeat dolores totam?Lorem ipsum dolor sit, amet consectetur adipisicing elit. Porro vitae
                    perspiciatis tempore fuga ipsa! Doloribus totam nisi blanditiis quidem consequatur asperiores non
                    aliquid cumque magni, recusandae voluptas labore tempore! Quos. </p>
                <span class="periodical">《經貿雙周刊》第555期</span>
            </div>
        </div>
    </div>
</div>
<!-- js -->
<script>
    $(function () {
        //lazyload
        var lazyLoadInstance = new LazyLoad({
            elements_selector: 'img.lazy',
            //placeholder: '/images/basic/placeholder.gif',
            effect: 'fadeIn',
            fadeTime: 600,
            threshold: 0,
        });
    });
</script>