<!-- css -->
<link rel="stylesheet" href="style_A/components/marquee/marquee.css" />
<!-- swiper -->
<link rel="stylesheet" href="vendor/swiper/swiper-bundle.min.css" />
<div class="container">
    <div class="marquee-container">
        <div class="icon">
            <i class="fas fa-volume-down"></i>
        </div>
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <a href="#">因應新冠肺炎Covid-19，外貿協會隨時監測疫情變化，更推出防疫商務資訊地圖提供全球</a>
            </div>
            <div class="swiper-slide">
                <a href="#">墨西哥J商視訊洽談_一次性環保吸管製造機</a>
            </div>
            <div class="swiper-slide">
                <a href="#">越南T商視訊洽談_醫療健康用品(指定廠商)</a>
            </div>
        </div>
    </div>
</div>
<!-- js -->
<script src="vendor/swiper/swiper-bundle.min.js"></script>
<script>
    //swiper
    var swiper = new Swiper('.marquee-container', {
        direction: 'vertical',
        loop: true,
        spaceBetween: 20,
        observer: true,
        autoplay: {
            delay: 2000,
            disableOnInteraction: true,
        },
    });
</script>
