@import '../../../../sass/_variable'; //變數
@import '../../../../sass/_mixin'; //Mixin
$site: index($themeColor, magenta);
.tsite-bannerSingle {
    padding: 1em 0;
    a {
        width: 100%;
        display: block;
        picture {
            line-height: 0;
            display: block;
        }
        img {
            max-width: 100%;
        }
    }
}
