@import '../../../../sass/_variable'; //變數
@import '../../../../sass/_mixin'; //Mixin
$site: index($themeColor, purple);
.videoSingle {
    padding: 4em 0 3em;
    position: relative;
    .container {
        position: relative;
        z-index: 1;
        @include gutter(0);
        @include screen('xs_mobile') {
            @include gutter;
        }
    }
    .col {
        @include screen('xs_mobile') {
            margin-bottom: 1em;
        }
    }
    h3 {
        font-size: 2.2em;
        line-height: 1.45em;
        margin: 0.5em 0 1em;
    }
    .img-container {
        @include aspect-ratio(4, 3);
        position: relative;
        iframe {
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
        }
    }
    .bgLayer {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        img {
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            object-fit: cover;
            z-index: 0;
        }
    }
}
