@keyframes kv_info_fadeIn {
  0% {
    top: 35%;
    opacity: 0; }
  100% {
    top: 20%;
    opacity: 1; } }

@keyframes fade_move_down {
  0% {
    -webkit-transform: translate(0, -30px);
    opacity: 0; }
  50% {
    opacity: 1; }
  100% {
    -webkit-transform: translate(0, 10px);
    opacity: 0; } }

.kvVideo {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden; }
  .kvVideo:before {
    position: absolute;
    content: '';
    top: 0;
    left: 50%;
    margin-left: -50%;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 450px 1200px 0 0;
    border-color: #d14545 transparent transparent transparent;
    z-index: 1; }
    @media screen and (max-width: 575px) {
      .kvVideo:before {
        transform: translateY(-220px); } }
  .kvVideo:after {
    position: absolute;
    content: '';
    bottom: 0;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 0 450px 1200px;
    border-color: transparent transparent #f1f1f1 transparent;
    z-index: 1;
    transform: translateX(100%); }
  @media screen and (max-width: 575px) {
    .kvVideo {
      height: 75vh; } }
  .kvVideo .kvInfo {
    position: absolute;
    z-index: 59;
    left: 50%;
    margin-left: -45%;
    top: 20%;
    max-width: 600px;
    text-shadow: 0px 0px 4px rgba(255, 255, 255, 0.95), 0px 0px 8px rgba(255, 255, 255, 0.65);
    transition: transform 0.5s cubic-bezier(0.215, 0.61, 0.355, 1), box-shadow 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
    transform: perspective(600px) translate3d(0, 0, 0);
    animation: kv_info_fadeIn 1.2s 1s both cubic-bezier(0.4, 0.01, 0.165, 0.99); }
    @media screen and (max-width: 575px) {
      .kvVideo .kvInfo {
        margin-left: -40%;
        max-width: 80%;
        z-index: 5;
        top: 10%; } }
    .kvVideo .kvInfo h2 {
      color: #000;
      font-size: 4em;
      position: relative;
      line-height: 1.125em;
      margin: 0;
      font-family: 'Mulish', sans-serif; }
      @media screen and (max-width: 575px) {
        .kvVideo .kvInfo h2 {
          font-size: 2.5em;
          text-align: center; } }
    .kvVideo .kvInfo h3 {
      color: #333;
      font-size: 1.125em;
      line-height: 1.5em;
      max-width: 400px; }
      @media screen and (max-width: 575px) {
        .kvVideo .kvInfo h3 {
          text-align: center;
          font-size: 1em; } }
  .kvVideo .img-container {
    width: 100vw;
    height: 56.25vw;
    /* Given a 16:9 aspect ratio, 9/16*100 = 56.25 */
    min-height: 100vh;
    min-width: 177.77vh;
    /* Given a 16:9 aspect ratio, 16/9*100 = 177.77 */
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: -1;
    transform: translate(-50%, -50%);
    pointer-events: none; }
    .kvVideo .img-container iframe {
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0; }
  .kvVideo .fadeArrow {
    position: absolute;
    z-index: 9;
    left: 50%;
    bottom: 1em;
    width: 4em;
    height: 4em;
    margin-left: -2em;
    border-radius: 50%;
    background: #f67f50;
    animation: fade_move_down 1.5s ease-in-out infinite; }
    .kvVideo .fadeArrow:after {
      position: absolute;
      content: '';
      border: 2px solid #fff;
      border-left: none;
      border-top: none;
      width: 1.2em;
      height: 1.2em;
      left: 1.25em;
      top: 1em;
      transform: rotate(45deg); }
/*# sourceMappingURL=kv_video.css.map */