@import '../../../../sass/_variable'; //變數
@import '../../../../sass/_mixin'; //Mixin
$site: index($themeColor, green);
.bannerSingle {
    padding: 1em 0;
    .container {
        padding: 1em;
    }
    a {
        width: 100%;
        display: block;
        picture {
            line-height: 0;
            display: block;
        }
        img {
            max-width: 100%;
            border-radius: $border-radius;
        }
    }
}
