.tsite-gridStack {
  padding: 5em 0;
  background: #b34440;
  background-size: contain;
  position: relative; }
  .tsite-gridStack:before {
    position: absolute;
    content: '';
    top: 0;
    left: 50%;
    margin-left: -50%;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 450px 1200px 0 0;
    border-color: #dd774e transparent transparent transparent;
    z-index: 1; }
  .tsite-gridStack:after {
    position: absolute;
    content: '';
    bottom: 0;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 0 450px 1200px;
    border-color: transparent transparent #dd774e transparent;
    z-index: 1;
    transform: translateX(100%); }
  .tsite-gridStack .container {
    position: relative;
    z-index: 2; }
    .tsite-gridStack .container h2 {
      position: absolute;
      text-align: left;
      top: 3em;
      width: 30%;
      margin: 0;
      color: #fff; }
      .tsite-gridStack .container h2 small {
        display: block;
        color: #fff; }
      @media screen and (max-width: 991px) {
        .tsite-gridStack .container h2 {
          margin-top: -1.25em; } }
      @media screen and (max-width: 575px) {
        .tsite-gridStack .container h2 {
          top: auto;
          position: relative;
          width: 100%;
          margin-bottom: 0em;
          text-align: center;
          color: #000;
          margin-top: 0; }
          .tsite-gridStack .container h2 small {
            color: #000; } }
  @media screen and (max-width: 575px) {
    .tsite-gridStack {
      padding: 2em 0; } }
  .tsite-gridStack .gridStack_block {
    min-height: 600px;
    width: 80%;
    margin: 0 0 0 auto;
    position: relative; }
    @media screen and (max-width: 991px) {
      .tsite-gridStack .gridStack_block {
        width: 100%;
        padding-top: 4em; } }
    @media screen and (max-width: 575px) {
      .tsite-gridStack .gridStack_block {
        width: 100%;
        margin: 0;
        padding-top: 0; } }
    .tsite-gridStack .gridStack_block .gridItem {
      width: 50%;
      min-height: 450px;
      position: absolute;
      color: #fff;
      padding: 10em 3em 4em;
      border-radius: 1em;
      overflow: hidden;
      box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
      transition: 0.3s cubic-bezier(0.4, 0.01, 0.165, 0.99);
      left: 15%;
      top: 17%;
      z-index: 3;
      background: #b34440; }
      @media screen and (max-width: 991px) {
        .tsite-gridStack .gridStack_block .gridItem {
          width: 60%; } }
      .tsite-gridStack .gridStack_block .gridItem:hover {
        z-index: 9;
        box-shadow: #030303 0px 20px 30px -10px; }
        @media screen and (max-width: 575px) {
          .tsite-gridStack .gridStack_block .gridItem:hover {
            z-index: 2; } }
      @media screen and (max-width: 575px) {
        .tsite-gridStack .gridStack_block .gridItem h3 {
          font-size: 1.75rem; } }
      @media screen and (max-width: 575px) {
        .tsite-gridStack .gridStack_block .gridItem {
          width: 90%;
          min-height: 300px;
          position: relative;
          padding: 8em 1em 3em;
          left: 0;
          top: 0;
          margin: 0 auto 1em; } }
      .tsite-gridStack .gridStack_block .gridItem.notme {
        transform: translate(-5%, -5%);
        background: #8d3633; }
        @media screen and (max-width: 575px) {
          .tsite-gridStack .gridStack_block .gridItem.notme {
            transform: none; } }
      .tsite-gridStack .gridStack_block .gridItem:nth-child(2) {
        background: #fff;
        padding: 4em 3em;
        min-height: 350px;
        top: 0;
        right: 5%;
        z-index: 2;
        left: auto;
        width: 40%;
        background: #eec10a; }
        .tsite-gridStack .gridStack_block .gridItem:nth-child(2) h3 {
          font-size: 1.75rem; }
        .tsite-gridStack .gridStack_block .gridItem:nth-child(2):hover {
          z-index: 9;
          box-shadow: #26394d 0px 20px 30px -10px; }
          @media screen and (max-width: 575px) {
            .tsite-gridStack .gridStack_block .gridItem:nth-child(2):hover {
              z-index: 2; } }
        @media screen and (max-width: 991px) {
          .tsite-gridStack .gridStack_block .gridItem:nth-child(2) {
            width: 60%; } }
        @media screen and (max-width: 575px) {
          .tsite-gridStack .gridStack_block .gridItem:nth-child(2) {
            width: 90%;
            min-height: 300px;
            position: relative;
            padding: 8em 1em 3em;
            left: 0;
            top: 0;
            margin: 0 auto 1em; } }
        .tsite-gridStack .gridStack_block .gridItem:nth-child(2).notme {
          background: #ecca3f;
          top: -5%;
          right: 0%; }
          @media screen and (max-width: 575px) {
            .tsite-gridStack .gridStack_block .gridItem:nth-child(2).notme {
              top: 0;
              right: 0; } }
      .tsite-gridStack .gridStack_block .gridItem:nth-child(3) {
        padding: 4em 3em;
        min-height: 350px;
        bottom: -2em;
        right: 15%;
        z-index: 1;
        left: auto;
        top: auto;
        width: 40%; }
        .tsite-gridStack .gridStack_block .gridItem:nth-child(3) h3 {
          font-size: 1.75rem; }
        .tsite-gridStack .gridStack_block .gridItem:nth-child(3):hover {
          z-index: 9;
          box-shadow: #26394d 0px 20px 30px -10px; }
          @media screen and (max-width: 575px) {
            .tsite-gridStack .gridStack_block .gridItem:nth-child(3):hover {
              z-index: 2; } }
        @media screen and (max-width: 991px) {
          .tsite-gridStack .gridStack_block .gridItem:nth-child(3) {
            width: 60%; } }
        @media screen and (max-width: 575px) {
          .tsite-gridStack .gridStack_block .gridItem:nth-child(3) {
            width: 90%;
            min-height: 300px;
            position: relative;
            padding: 8em 1em 3em;
            left: 0;
            top: 0;
            margin: 0 auto 1em; } }
        .tsite-gridStack .gridStack_block .gridItem:nth-child(3).notme {
          transform: translate(10%, 10%); }
          @media screen and (max-width: 575px) {
            .tsite-gridStack .gridStack_block .gridItem:nth-child(3).notme {
              transform: none; } }
      .tsite-gridStack .gridStack_block .gridItem .info {
        position: relative;
        z-index: 2; }
      .tsite-gridStack .gridStack_block .gridItem .img-container {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 1; }
        .tsite-gridStack .gridStack_block .gridItem .img-container img {
          object-fit: cover;
          position: absolute;
          width: 100%;
          height: 100%; }
      .tsite-gridStack .gridStack_block .gridItem time {
        margin-bottom: 0.5em;
        font-size: 1.5em; }
      .tsite-gridStack .gridStack_block .gridItem h3 {
        font-size: 2.5em;
        overflow: hidden;
        text-overflow: -o-ellipsis-lastline;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        line-height: 1.25;
        height: calc(1.25 * 2);
        margin: 0 0 0.5em; }
      .tsite-gridStack .gridStack_block .gridItem p {
        color: #fff;
        overflow: hidden;
        text-overflow: -o-ellipsis-lastline;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 4;
        -webkit-box-orient: vertical;
        line-height: 1.5;
        height: calc(1.5 * 4); }
      .tsite-gridStack .gridStack_block .gridItem a.more {
        position: absolute;
        width: 10em;
        background: none;
        right: 1em;
        border-radius: 1em;
        bottom: 1em;
        margin: 0;
        color: #fff;
        z-index: 9;
        font-size: 0.875rem; }
        .tsite-gridStack .gridStack_block .gridItem a.more:after {
          z-index: 1;
          width: 3em; }
        .tsite-gridStack .gridStack_block .gridItem a.more span {
          background: none; }
/*# sourceMappingURL=grid_stack.css.map */