<!-- css -->
<link rel="stylesheet" href="style_A/components/banner_slide/banner_slide.css" />
<!-- swiper -->
<link rel="stylesheet" href="vendor/swiper/swiper-bundle.min.css" />
<div class="container">
    <!-- bannerSlide -->
    <div class="bannerSlide_container">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <a href="#">
                    <!-- 請針對縮圖產出尺寸使用不同解析度 src -->
                    <div class="img-container">
                        <picture>
                            <source media="(min-width: 1200px)" srcset="images/slide_pic_01.jpg" />
                            <source media="(min-width: 992px)" srcset="images/slide_pic_01.jpg" />
                            <source media="(min-width: 576px)" srcset="images/slide_pic_01.jpg" />
                            <source media=" (max-width: 575px)" srcset="images/slide_pic_01.jpg" />
                            <img data-src=" images/slide_pic_01.jpg" class="lazy" />
                        </picture>
                    </div>
                    <div class="info">
                        <h3>開發臺泰合作商機 貿協線上座談會推特色醫療</h3>
                        <p>
                            外貿協會於2020年欣逢成立半世紀，7月7日於台北國際會議中心辦理成立50週年茶會，茶會見證了貿協50年來輝煌的歷程，也宣示新時代的使命。
                        </p>
                    </div>
                </a>
            </div>
            <div class="swiper-slide">
                <a href="#">
                    <!-- 請針對縮圖產出尺寸使用不同解析度 src -->
                    <div class="img-container">
                        <picture>
                            <source media="(min-width: 1200px)" srcset="images/slide_pic_02.jpg" />
                            <source media="(min-width: 992px)" srcset="images/slide_pic_02.jpg" />
                            <source media="(min-width: 576px)" srcset="images/slide_pic_02.jpg" />
                            <source media=" (max-width: 575px)" srcset="images/slide_pic_02.jpg" />
                            <img data-src=" images/slide_pic_02.jpg" class="lazy" />
                        </picture>
                    </div>
                    <!-- <div class="info">
                        <h3>
                            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Explicabo perspiciatis, totam
                            numquam vitae minima id, voluptate autem vel obcaecati, maxime placeat a quaerat eligendi
                            tempora molestias soluta dicta unde debitis!
                        </h3>
                    </div> -->
                </a>
            </div>
            <div class="swiper-slide">
                <a href="#">
                    <!-- 請針對縮圖產出尺寸使用不同解析度 src -->
                    <div class="img-container">
                        <picture>
                            <source media="(min-width: 1200px)" srcset="images/slide_pic_03.jpg" />
                            <source media="(min-width: 992px)" srcset="images/slide_pic_03.jpg" />
                            <source media="(min-width: 576px)" srcset="images/slide_pic_03.jpg" />
                            <source media=" (max-width: 575px)" srcset="images/slide_pic_03.jpg" />
                            <img data-src=" images/slide_pic_03.jpg" class="lazy" />
                        </picture>
                    </div>
                    <div class="info">
                        <h3>
                            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Explicabo perspiciatis, totam
                            numquam vitae minima id, voluptate autem vel obcaecati, maxime placeat a quaerat eligendi
                            tempora molestias soluta dicta unde debitis!
                        </h3>
                    </div>
                </a>
            </div>
        </div>
        <!-- Add Pagination -->
        <div class="swiper-pagination"></div>
        <!-- Add Arrows -->
        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>
    </div>
</div>
<!-- js -->
<script src="vendor/picturefill/picturefill.min.js"></script>
<script src="vendor/lazyload/lazyload.js"></script>
<script src="vendor/swiper/swiper-bundle.min.js"></script>
<script>
    $(function () {
        //lazyload
        var lazyLoadInstance = new LazyLoad({
            elements_selector: 'img.lazy',
            //placeholder: '/images/basic/placeholder.gif',
            effect: 'fadeIn',
            fadeTime: 600,
            threshold: 0,
        });
    });
    //swiper
    var swiper = new Swiper('.bannerSlide_container', {
        observer: true,
        pagination: {
            el: '.swiper-pagination',
            dynamicBullets: true,
            clickable: true,
        },
        navigation: {
            nextEl: '.swiper-button-next',
            prevEl: '.swiper-button-prev',
        },
    });
</script>
