<!-- css -->
<link rel="stylesheet" href="style_D/components/video_multi/video_multi.css" />
<!-- swiper -->
<link rel="stylesheet" href="vendor/swiper/swiper-bundle.min.css" />
<!-- videoMulti -->
<div class="tsite-videoMulti">
    <div class="container">
        <!-- bannerSlide -->
        <div class="videoSlide_container">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <a href="#">
                        <div class="img-container">
                            <iframe
                                style="width: 100%; height: 100%"
                                src="https://online.taipeicycle.com.tw/?group=f584d80c-b875-40fb-987c-edf4c72b64b2"
                            ></iframe>
                        </div>
                    </a>
                </div>
                <div class="swiper-slide">
                    <a href="#">
                        <div class="img-container">
                            <iframe
                                width="100%"
                                height="100%"
                                src="https://www.youtube.com/embed/KvcqYn5k5sU"
                                title="YouTube video player"
                                frameborder="0"
                                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                allowfullscreen
                            ></iframe>
                        </div>
                    </a>
                </div>
            </div>
            <!-- Add Pagination -->
            <div class="swiper-pagination"></div>
            <!-- Add Arrows -->
            <div class="swiper-button-next"></div>
            <div class="swiper-button-prev"></div>
        </div>
    </div>
</div>
<!-- js -->
<script>
    //swiper
    var swiper = new Swiper('.videoSlide_container', {
        loop: true,
        lazy: true,
        observer: true,
        pagination: {
            el: '.swiper-pagination',
            dynamicBullets: true,
            clickable: true,
        },
        navigation: {
            nextEl: '.swiper-button-next',
            prevEl: '.swiper-button-prev',
        },
    });
</script>
