@import '../../../../sass/_variable'; //變數
@import '../../../../sass/_mixin'; //Mixin
$site: index($themeColor, cyan);
.tsite-videoMulti {
    padding: 2em 0;
    .container {
        padding-bottom: 2em;
        @include screen('notebook') {
            margin-bottom: 1em;
        }
        .videoSlide_container {
            overflow: hidden;
            @include screen('xs_mobile') {
                margin: 0;
            }
            .swiper-pagination {
                bottom: -10px;
                @include screen('notebook') {
                    bottom: -15px;
                }
                .swiper-pagination-bullet {
                    width: 12px;
                    height: 12px;
                }
                .swiper-pagination-bullet-active-main {
                    background: nth($hoverColor, $site);
                }
            }
            &:hover {
                .swiper-button-prev {
                    left: 5px;
                    opacity: 1;
                }
                .swiper-button-next {
                    right: 5px;
                    opacity: 1;
                }
            }
        }
        .swiper-slide {
            a {
                display: block;
                width: 100%;
                height: 100%;
                position: relative;
                &:hover,
                &:focus {
                    .info {
                        opacity: 1;
                        transform: scale(1.1);
                    }
                }
                .img-container {
                    position: absolute;
                    @include aspect-ratio(16, 9);
                    width: 100%;
                    top: 0;
                    left: 0;
                    @include screen('xs_mobile') {
                        @include aspect-ratio(1, 1);
                    }
                    iframe {
                        position: absolute;
                        width: 100%;
                        height: 100%;
                        top: 0;
                        left: 0;
                        border: none;
                    }
                }
            }
        }
        // swiper Btn
        [class^='swiper-button'] {
            border-radius: 50%;
            background: nth($subColor, $site);
            width: 3em;
            height: 3em;
            transition: 0.3s ease-out;
            left: -3em;
            opacity: 0;
            &:hover,
            &:focus {
                background: nth($mainColor, $site);
                outline: none;
                box-shadow: none;
            }
            @include screen('xs_mobile') {
                display: none;
            }
            &:after {
                display: none;
            }
            &:before {
                position: absolute;
                content: '';
                width: 1em;
                height: 1em;
                border: 2px solid #fff;
                border-bottom: 0;
                border-left: 0;
                transform: rotate(-135deg);
                left: 1.15em;
                top: 0.9em;
            }
        }
        .swiper-button-next {
            left: auto;
            right: -3em;
            &:before {
                transform: rotate(45deg);
                left: 0.75em;
            }
        }
    }
}
