.tsite-innerpage .container {
  margin: 0 auto;
  max-width: 100%;
  position: relative;
  min-height: 1px;
  padding-left: 0;
  padding-right: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.tsite-innerpage .head {
  position: relative;
  width: 100%;
  margin-bottom: 2em;
}
.tsite-innerpage .head:after {
  position: absolute;
  content: "";
  z-index: 2;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.45);
}
.tsite-innerpage .head .img-container {
  width: 100%;
  position: relative;
  overflow: hidden;
  position: relative;
}
.tsite-innerpage .head .img-container:before {
  display: block;
  content: "";
  line-height: 0;
  padding-top: 16.6666666667%;
}
.tsite-innerpage .head .img-container img,
.tsite-innerpage .head .img-container iframe,
.tsite-innerpage .head .img-container video {
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin: auto;
}
.tsite-innerpage .head .img-container img {
  -o-object-fit: cover;
     object-fit: cover;
  display: block;
}
@media screen and (max-width: 575px) {
  .tsite-innerpage .head .img-container {
    overflow: hidden;
    position: relative;
  }
  .tsite-innerpage .head .img-container:before {
    display: block;
    content: "";
    line-height: 0;
    padding-top: 33.3333333333%;
  }
  .tsite-innerpage .head .img-container img,
.tsite-innerpage .head .img-container iframe,
.tsite-innerpage .head .img-container video {
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin: auto;
  }
  .tsite-innerpage .head .img-container img {
    -o-object-fit: cover;
       object-fit: cover;
    display: block;
  }
}
.tsite-innerpage .head .img-container img {
  position: absolute;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}
.tsite-innerpage .tsite-supplierContentPage {
  max-width: 1120px;
  overflow: hidden;
  margin: 0 auto 1em;
  padding-bottom: 1em;
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
@media screen and (max-width: 1399px) {
  .tsite-innerpage .tsite-supplierContentPage {
    max-width: 85%;
    padding-bottom: 3em;
  }
}
@media screen and (max-width: 767px) {
  .tsite-innerpage .tsite-supplierContentPage {
    max-width: 100%;
  }
}
.tsite-innerpage .pageInfo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  margin-bottom: 1em;
}
.tsite-innerpage .pageInfo .contentTitle {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -ms-flex-negative: 1;
      flex-shrink: 1;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  font-size: 2.5em;
  display: block;
  line-height: 1.65em;
  font-weight: bold;
  border-bottom: 2px solid #ccc;
  margin-bottom: 0.25rem;
}
@media screen and (max-width: 575px) {
  .tsite-innerpage .pageInfo .contentTitle {
    font-size: 1.75em;
  }
}
.tsite-innerpage .pageInfo .function-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 20em;
}
@media screen and (max-width: 991px) {
  .tsite-innerpage .pageInfo .function-group {
    width: 100%;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    margin-top: 1em;
  }
}
.tsite-innerpage .pageInfo .function a {
  width: 2.5em;
  height: 2.5em;
  border-radius: 50%;
  border: 3px solid #ccc;
  display: inline-block;
  margin: 0 0.1em 0.25em;
  -webkit-transition: 0.3s ease-out;
  transition: 0.3s ease-out;
}
@media screen and (max-width: 575px) {
  .tsite-innerpage .pageInfo .function a {
    margin: 0 0.1em 0.15em;
    width: 2.5em;
    height: 2.5em;
  }
}
.tsite-innerpage .pageInfo .function a img {
  width: 100%;
}
.tsite-innerpage .pageInfo .function a i {
  width: 100%;
  font-size: 1.25em;
  text-align: center;
  color: #aaa;
  line-height: 1.75em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.tsite-innerpage .pageInfo .function a:hover {
  border: 3px solid rgba(0, 0, 0, 0.75);
  background: rgba(0, 0, 0, 0.85);
}
.tsite-innerpage .pageInfo .function a:hover i {
  color: #fff;
}
.tsite-innerpage .pageInfo .toolbox a {
  width: 2.5em;
  height: 2.5em;
  border-radius: 50%;
  border: 3px solid #ccc;
  display: inline-block;
  margin: 0 0.1em 0.25em;
  -webkit-transition: 0.3s ease-out;
  transition: 0.3s ease-out;
}
@media screen and (max-width: 575px) {
  .tsite-innerpage .pageInfo .toolbox a {
    margin: 0 0.1em 0.15em;
    width: 2.5em;
    height: 2.5em;
  }
}
.tsite-innerpage .pageInfo .toolbox a img {
  width: 100%;
}
.tsite-innerpage .pageInfo .toolbox a i {
  width: 100%;
  font-size: 1.25em;
  text-align: center;
  color: #aaa;
  line-height: 1.75em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.tsite-innerpage .pageInfo .toolbox a:hover {
  border: 3px solid rgba(0, 0, 0, 0.75);
  background: rgba(0, 0, 0, 0.85);
}
.tsite-innerpage .pageInfo .toolbox a:hover i {
  color: #fff;
}
.tsite-innerpage .pageInfo .path {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -ms-flex-negative: 1;
      flex-shrink: 1;
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  font-size: 0.875rem;
}
.tsite-innerpage .pageInfo .path a {
  color: #666;
}
.tsite-innerpage .pageInfo .path a:hover, .tsite-innerpage .pageInfo .path a:focus {
  color: #00aec7;
}
.tsite-innerpage .pageInfo .publishTime {
  width: calc(100% - 23em);
  font-size: 0.875rem;
  color: #666;
}
.tsite-innerpage .pageInfo .publishTime i {
  margin-right: 0.5em;
}
@media screen and (max-width: 991px) {
  .tsite-innerpage .pageInfo .publishTime {
    width: 100%;
  }
}
.tsite-innerpage .supplier_content {
  padding-bottom: 5em;
  clear: both;
}
.tsite-innerpage .supplier_content .supplierInfo {
  background: #f1f1f1;
  padding: 1em;
  margin-bottom: 1em;
}
@media screen and (max-width: 767px) {
  .tsite-innerpage .supplier_content .supplierInfo {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
  }
}
.tsite-innerpage .supplier_content .supplierInfo .itemInfo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
@media screen and (max-width: 767px) {
  .tsite-innerpage .supplier_content .supplierInfo .itemInfo {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    position: relative;
  }
}
.tsite-innerpage .supplier_content .supplierInfo .memberFunction {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 0.5em;
  margin-top: 0.5em;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  border-top: 1px solid #ddd;
}
@media screen and (max-width: 575px) {
  .tsite-innerpage .supplier_content .supplierInfo .memberFunction {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    right: 0;
    width: 100%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
  }
}
.tsite-innerpage .supplier_content .supplierInfo .memberFunction button {
  background: #fff;
  color: #666;
  padding: 0.5em 1em;
  border-radius: 0.25em;
  margin: 0 0 0.5em 1em;
  border: 1px solid #ddd;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  -ms-flex-negative: 1;
      flex-shrink: 1;
  -ms-flex-preferred-size: auto;
      flex-basis: auto;
  white-space: nowrap;
  font-size: 0.875rem;
  height: 2.4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (max-width: 575px) {
  .tsite-innerpage .supplier_content .supplierInfo .memberFunction button {
    font-size: 0.938rem;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    -ms-flex-negative: 1;
        flex-shrink: 1;
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    margin: 0 0.2rem 0.5rem;
  }
}
.tsite-innerpage .supplier_content .supplierInfo .memberFunction button:hover, .tsite-innerpage .supplier_content .supplierInfo .memberFunction button:focus {
  background: #fff;
  color: #222;
}
.tsite-innerpage .supplier_content .supplierInfo .memberFunction button:active {
  -webkit-transform: translateY(2px);
          transform: translateY(2px);
}
.tsite-innerpage .supplier_content .supplierInfo .memberFunction button i {
  color: #999;
  margin-right: 0.5em;
  font-size: 1.3em;
  width: 20px;
}
.tsite-innerpage .supplier_content .supplierInfo .memberFunction button.collected i {
  color: red;
}
.tsite-innerpage .supplier_content .supplierInfo .memberFunction button:hover .fa-heart {
  color: red;
}
.tsite-innerpage .supplier_content .supplierInfo .memberFunction button:hover .fa-envelope {
  color: #f77810;
}
.tsite-innerpage .supplier_content .supplierInfo .memberFunction button:hover .fa-line {
  color: #07c202;
}
.tsite-innerpage .supplier_content .supplierInfo .memberFunction button:hover .fa-skype {
  color: #00aff0;
}
.tsite-innerpage .supplier_content .supplierInfo .memberFunction button:hover .fa-teams {
  background-image: url(../../images/icons-microsoft-teams-2019-hover.svg);
}
.tsite-innerpage .supplier_content .supplierInfo .memberFunction button:hover .fa-envelope-open-text {
  color: #004CA3;
}
.tsite-innerpage .supplier_content .supplierInfo .memberFunction button:hover .fa-clipboard-list {
  color: green;
}
.tsite-innerpage .supplier_content .supplierInfo .memberFunction .btnPrimary i {
  color: #00aec7;
}
.tsite-innerpage .supplier_content .supplierInfo .memberFunction .fa-teams {
  width: 20px;
  height: 20px;
  margin-right: 0.5em;
  background-image: url(../../images/icons-microsoft-teams-2019.svg);
}
.tsite-innerpage .supplier_content .supplierInfo .supplierLogo {
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  -ms-flex-negative: 1;
      flex-shrink: 1;
  -ms-flex-preferred-size: 250px;
      flex-basis: 250px;
  min-width: 120px;
}
@media screen and (max-width: 767px) {
  .tsite-innerpage .supplier_content .supplierInfo .supplierLogo {
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    -ms-flex-negative: 1;
        flex-shrink: 1;
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    margin-bottom: 1em;
  }
  .tsite-innerpage .supplier_content .supplierInfo .supplierLogo .img-container {
    height: 300px;
  }
}
@media screen and (max-width: 575px) {
  .tsite-innerpage .supplier_content .supplierInfo .supplierLogo {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    margin-right: 0.5em;
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    max-width: unset;
  }
}
.tsite-innerpage .supplier_content .supplierInfo .supplierLogo .img-container {
  background: #fff;
  overflow: hidden;
  position: relative;
}
.tsite-innerpage .supplier_content .supplierInfo .supplierLogo .img-container:before {
  display: block;
  content: "";
  line-height: 0;
  padding-top: 100%;
}
.tsite-innerpage .supplier_content .supplierInfo .supplierLogo .img-container img,
.tsite-innerpage .supplier_content .supplierInfo .supplierLogo .img-container iframe,
.tsite-innerpage .supplier_content .supplierInfo .supplierLogo .img-container video {
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin: auto;
}
.tsite-innerpage .supplier_content .supplierInfo .supplierLogo .img-container img {
  -o-object-fit: cover;
     object-fit: cover;
  display: block;
}
.tsite-innerpage .supplier_content .supplierInfo .supplierLogo .img-container img {
  -o-object-fit: contain;
     object-fit: contain;
}
.tsite-innerpage .supplier_content .supplierInfo .boothInfo {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -ms-flex-negative: 1;
      flex-shrink: 1;
  -ms-flex-preferred-size: auto;
      flex-basis: auto;
  padding: 0 1em 1em;
  position: relative;
}
@media screen and (max-width: 767px) {
  .tsite-innerpage .supplier_content .supplierInfo .boothInfo {
    padding: 0 0em 1em;
  }
}
.tsite-innerpage .supplier_content .supplierInfo .boothInfo .supplierName {
  font-size: 1.5em;
  margin: 0 4em 0.5em 0em;
}
@media screen and (max-width: 767px) {
  .tsite-innerpage .supplier_content .supplierInfo .boothInfo .supplierName {
    min-height: 4.8em;
  }
}
@media screen and (max-width: 767px) {
  .tsite-innerpage .supplier_content .supplierInfo .boothInfo ul {
    width: 100%;
  }
}
.tsite-innerpage .supplier_content .supplierInfo .boothInfo ul li {
  font-size: 0.938rem;
  color: #555;
  margin-bottom: 0.5em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media screen and (max-width: 575px) {
  .tsite-innerpage .supplier_content .supplierInfo .boothInfo ul li {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
  }
}
.tsite-innerpage .supplier_content .supplierInfo .boothInfo ul li .title {
  font-weight: bold;
  white-space: nowrap;
  margin-right: 0.5em;
  color: #222;
}
@media screen and (max-width: 575px) {
  .tsite-innerpage .supplier_content .supplierInfo .boothInfo ul li .title {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
}
.tsite-innerpage .supplier_content .supplierInfo .boothInfo ul li p {
  margin: 0;
}
.tsite-innerpage .supplier_content .supplierInfo .boothInfo ul li em {
  color: #ff3e4d;
  font-style: normal;
  font-weight: bold;
  margin: 0 0.125em;
}
.tsite-innerpage .supplier_content .supplierInfo .qrcode {
  width: 100px;
  background: #fff;
  padding: 5px;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -ms-flex-preferred-size: 100px;
      flex-basis: 100px;
}
@media screen and (max-width: 767px) {
  .tsite-innerpage .supplier_content .supplierInfo .qrcode {
    margin: 0 0 0 auto;
    -ms-flex-preferred-size: unset;
        flex-basis: unset;
    position: absolute;
    top: 320px;
    right: 0;
  }
}
@media screen and (max-width: 575px) {
  .tsite-innerpage .supplier_content .supplierInfo .qrcode {
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    -ms-flex-preferred-size: 25%;
        flex-basis: 25%;
  }
}
.tsite-innerpage .supplier_content .supplierInfo .qrcode img {
  width: 100%;
}
.tsite-innerpage .supplier_content .supplierInfo .btnList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-bottom: 0.5em;
}
.tsite-innerpage .supplier_content .supplierInfo .btnList button.button {
  background: #006b7b;
  padding: 0.25em 1.5em;
  border-radius: 0.25em;
  min-height: 2.4em;
  text-align: center;
  color: #fff;
}
.tsite-innerpage .supplier_content .supplierInfo .btnList button.button i {
  margin-right: 0.5em;
}
.tsite-innerpage .supplier_content .supplierInfo .btnList button.button a {
  color: #fff;
}
.tsite-innerpage .supplier_content .supplierInfo .btnList button.button:hover {
  background: #0098ae;
}
@media screen and (max-width: 991px) {
  .tsite-innerpage .supplier_content .supplierInfo .btnList {
    margin-top: 0.5em;
  }
}
@media screen and (max-width: 575px) {
  .tsite-innerpage .supplier_content .supplierInfo .btnList button.button {
    width: 100%;
  }
}
.tsite-innerpage .supplier_content .supplierDetail {
  position: relative;
  min-height: 1px;
  padding-left: 2em;
  padding-right: 2em;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-left: 5px solid #00aec7;
  margin-bottom: 2em;
}
.tsite-innerpage .supplier_content .supplierDetail ul li {
  font-size: 1rem;
  color: #555;
  margin-bottom: 0.5em;
  padding-left: 2em;
  word-wrap: break-word;
  word-break: keep-all;
  text-align: justify;
}
@media screen and (max-width: 575px) {
  .tsite-innerpage .supplier_content .supplierDetail ul li {
    padding-left: 1em;
  }
}
.tsite-innerpage .supplier_content .supplierDetail ul li span {
  font-weight: bold;
  white-space: nowrap;
  margin-right: 0.5em;
  margin-bottom: 0.5em;
  color: #222;
  display: block;
  margin-left: -1.8em;
  font-size: 1.25rem;
  color: #008194;
}
.tsite-innerpage .supplier_content .supplierDetail ul li em {
  color: #ff3e4d;
  font-style: normal;
  font-weight: bold;
  margin: 0 0.25em;
}
.tsite-innerpage .supplier_content .supplierDetail ul li li {
  padding-left: 0;
  padding-bottom: 0.25em;
  border-bottom: 1px solid #ddd;
}
.tsite-innerpage .supplier_content .supplierDetail ul li time {
  display: inline-block;
  padding: 0 1.5em;
  background: #f1f1f1;
  border-radius: 0.25em;
  font-size: 0.938rem;
  line-height: 1.45rem;
}
.tsite-innerpage .supplier_content .showMoreProducts {
  position: relative;
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.tsite-innerpage .supplier_content .showMoreProducts h3 {
  font-size: 1.25rem;
}
.tsite-innerpage .supplier_content .showMoreProducts .swiper-slide {
  width: 100px;
  overflow: hidden;
  position: relative;
  position: relative;
}
.tsite-innerpage .supplier_content .showMoreProducts .swiper-slide:before {
  display: block;
  content: "";
  line-height: 0;
  padding-top: 75%;
}
.tsite-innerpage .supplier_content .showMoreProducts .swiper-slide img,
.tsite-innerpage .supplier_content .showMoreProducts .swiper-slide iframe,
.tsite-innerpage .supplier_content .showMoreProducts .swiper-slide video {
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin: auto;
}
.tsite-innerpage .supplier_content .showMoreProducts .swiper-slide img {
  -o-object-fit: cover;
     object-fit: cover;
  display: block;
}
.tsite-innerpage .supplier_content .showMoreProducts .swiper-slide a {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.tsite-innerpage .supplier_content .showMoreProducts .swiper-slide a .title {
  position: absolute;
  z-index: 2;
  background: rgba(0, 0, 0, 0.5);
  padding: 0.5em;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: #fff;
  font-size: 0.938rem;
  width: 100%;
  bottom: 0;
  left: 0;
  -webkit-transition: 0.3s ease-out;
  transition: 0.3s ease-out;
}
.tsite-innerpage .supplier_content .showMoreProducts .swiper-slide a .img-container {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.tsite-innerpage .supplier_content .showMoreProducts .swiper-slide a img {
  position: absolute;
  top: 0;
  left: 0;
  -o-object-fit: contain;
     object-fit: contain;
  -webkit-transition: 0.3s ease-out;
  transition: 0.3s ease-out;
}
.tsite-innerpage .supplier_content .showMoreProducts .swiper-slide a:hover img, .tsite-innerpage .supplier_content .showMoreProducts .swiper-slide a:focus img {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}
.tsite-innerpage .supplier_content .showMoreProducts .swiper-slide a:hover .title, .tsite-innerpage .supplier_content .showMoreProducts .swiper-slide a:focus .title {
  background: rgba(0, 0, 0, 0.75);
}
.tsite-innerpage .supplier_content .showMoreProducts .swiper-products {
  overflow: hidden;
  margin-left: 0.5em;
  margin-right: 0.5em;
  padding-bottom: 2em;
}
.tsite-innerpage .supplier_content .showMoreProducts .swiper-products:hover .swiper-button-prev {
  left: 5px;
  opacity: 1;
}
.tsite-innerpage .supplier_content .showMoreProducts .swiper-products:hover .swiper-button-next {
  right: 5px;
  opacity: 1;
}
.tsite-innerpage .supplier_content .showMoreProducts .swiper-products .swiper-pagination {
  bottom: 0px;
}
.tsite-innerpage .supplier_content .showMoreProducts .swiper-products .swiper-pagination .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
}
.tsite-innerpage .supplier_content .showMoreProducts .swiper-products .swiper-pagination .swiper-pagination-bullet-active-main {
  background: #00aec7;
}
.tsite-innerpage .supplier_content .showMoreProducts [class^=swiper-button] {
  position: absolute;
  border-radius: 50%;
  background: #413486;
  width: 3em;
  height: 3em;
  -webkit-transition: 0.3s ease-out;
  transition: 0.3s ease-out;
  left: -3em;
  opacity: 0;
}
.tsite-innerpage .supplier_content .showMoreProducts [class^=swiper-button]:hover, .tsite-innerpage .supplier_content .showMoreProducts [class^=swiper-button]:focus {
  background: #00aec7;
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}
@media screen and (max-width: 575px) {
  .tsite-innerpage .supplier_content .showMoreProducts [class^=swiper-button] {
    display: none;
  }
}
.tsite-innerpage .supplier_content .showMoreProducts [class^=swiper-button].swiper-button-disabled {
  display: none;
}
.tsite-innerpage .supplier_content .showMoreProducts [class^=swiper-button]:after {
  display: none;
}
.tsite-innerpage .supplier_content .showMoreProducts [class^=swiper-button]:before {
  position: absolute;
  content: "";
  width: 1em;
  height: 1em;
  border: 2px solid #fff;
  border-bottom: 0;
  border-left: 0;
  -webkit-transform: rotate(-135deg);
          transform: rotate(-135deg);
  left: 1.15em;
  top: 0.9em;
}
.tsite-innerpage .supplier_content .showMoreProducts .swiper-button-next {
  left: auto;
  right: -3em;
}
.tsite-innerpage .supplier_content .showMoreProducts .swiper-button-next:before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  left: 0.75em;
}
.tsite-innerpage.tsite-cyan .supplier_content .supplierInfo .memberFunction .btnPrimary i {
  color: #00aec7;
}
.tsite-innerpage.tsite-cyan .supplier_content .supplierDetail {
  border-left: 5px solid #00aec7;
}
.tsite-innerpage.tsite-cyan .supplier_content .supplierDetail ul li span {
  color: #008194;
}
.tsite-innerpage.tsite-cyan .supplier_content .showMoreProducts .swiper-products .swiper-pagination .swiper-pagination-bullet-active-main {
  background: #00aec7;
}
.tsite-innerpage.tsite-cyan .supplier_content .showMoreProducts [class^=swiper-button] {
  background: #413486;
}
.tsite-innerpage.tsite-cyan .supplier_content .showMoreProducts [class^=swiper-button]:hover, .tsite-innerpage.tsite-cyan .supplier_content .showMoreProducts [class^=swiper-button]:focus {
  background: #00aec7;
}
.tsite-innerpage.tsite-cyan .supplier_content .btnList button.button {
  background: #006b7b;
}
.tsite-innerpage.tsite-cyan .supplier_content .btnList button.button a {
  color: #fff;
}
.tsite-innerpage.tsite-cyan .supplier_content .btnList button.button:hover {
  background: #008194;
}
.tsite-innerpage.tsite-green .supplier_content .supplierInfo .memberFunction .btnPrimary i {
  color: #00bda9;
}
.tsite-innerpage.tsite-green .supplier_content .supplierDetail {
  border-left: 5px solid #00bda9;
}
.tsite-innerpage.tsite-green .supplier_content .supplierDetail ul li span {
  color: #008a7b;
}
.tsite-innerpage.tsite-green .supplier_content .showMoreProducts .swiper-products .swiper-pagination .swiper-pagination-bullet-active-main {
  background: #f06451;
}
.tsite-innerpage.tsite-green .supplier_content .showMoreProducts [class^=swiper-button] {
  background: #f65445;
}
.tsite-innerpage.tsite-green .supplier_content .showMoreProducts [class^=swiper-button]:hover, .tsite-innerpage.tsite-green .supplier_content .showMoreProducts [class^=swiper-button]:focus {
  background: #00bda9;
}
.tsite-innerpage.tsite-green .supplier_content .btnList button.button {
  background: #ef2c27;
}
.tsite-innerpage.tsite-green .supplier_content .btnList button.button a {
  color: #fff;
}
.tsite-innerpage.tsite-purple .supplier_content .supplierInfo .memberFunction .btnPrimary i {
  color: #523f95;
}
.tsite-innerpage.tsite-purple .supplier_content .supplierDetail {
  border-left: 5px solid #523f95;
}
.tsite-innerpage.tsite-purple .supplier_content .supplierDetail ul li span {
  color: #3e3071;
}
.tsite-innerpage.tsite-purple .supplier_content .showMoreProducts .swiper-products .swiper-pagination .swiper-pagination-bullet-active-main {
  background: #b2207f;
}
.tsite-innerpage.tsite-purple .supplier_content .showMoreProducts [class^=swiper-button] {
  background: #b2207f;
}
.tsite-innerpage.tsite-purple .supplier_content .showMoreProducts [class^=swiper-button]:hover, .tsite-innerpage.tsite-purple .supplier_content .showMoreProducts [class^=swiper-button]:focus {
  background: #523f95;
}
.tsite-innerpage.tsite-purple .supplier_content .btnList button.button {
  background: #dd42a7;
}
.tsite-innerpage.tsite-purple .supplier_content .btnList button.button a {
  color: #fff;
}
.tsite-innerpage.tsite-red .supplier_content .supplierInfo .memberFunction .btnPrimary i {
  color: #b34440;
}
.tsite-innerpage.tsite-red .supplier_content .supplierDetail {
  border-left: 5px solid #b34440;
}
.tsite-innerpage.tsite-red .supplier_content .supplierDetail ul li span {
  color: #8d3633;
}
.tsite-innerpage.tsite-red .supplier_content .showMoreProducts .swiper-products .swiper-pagination .swiper-pagination-bullet-active-main {
  background: #ec7652;
}
.tsite-innerpage.tsite-red .supplier_content .showMoreProducts [class^=swiper-button] {
  background: #dd774e;
}
.tsite-innerpage.tsite-red .supplier_content .showMoreProducts [class^=swiper-button]:hover, .tsite-innerpage.tsite-red .supplier_content .showMoreProducts [class^=swiper-button]:focus {
  background: #b34440;
}
.tsite-innerpage.tsite-red .supplier_content .btnList button.button {
  background: #da4518;
}
.tsite-innerpage.tsite-red .supplier_content .btnList button.button a {
  color: #fff;
}
/*# sourceMappingURL=supplier_content.css.map */