<!-- css -->
<link rel="stylesheet" href="template/supplier_content/supplier_content.css" />
<!-- swiper -->
<link rel="stylesheet" href="vendor/swiper/swiper-bundle.min.css" />
<div class="tsite-innerpage tsite-wrap-A tsite-cyan">
    <div class="container">
        <div class="head">
            <div class="img-container">
                <!-- 請針對縮圖產出尺寸使用不同解析度 src -->
                <picture>
                    <source media="(min-width: 1200px)" data-srcset="images/inner_head.jpg" />
                    <source media="(min-width: 992px)" data-srcset="images/inner_head.jpg" />
                    <source media="(min-width: 576px)" data-srcset="images/inner_head.jpg" />
                    <source media="(max-width: 575px)" data-srcset="images/inner_head.jpg" />
                    <img data-src="images/inner_head.jpg" class="lazy" />
                </picture>
            </div>
        </div>
        <div class="tsite-supplierContentPage">
            <div class="pageInfo">
                <div class="path"><a href="#">首頁</a> / <a href="#">選單第一層</a> / <a href="#">選單第二層</a></div>
                <!-- 這裏套文章標題 -->
                <div class="contentTitle">廠商詳細內容頁(單元名稱)</div>
                <div class="publishTime"><i class="far fa-clock"></i>發布時間：<time>2021/01/12</time></div>
                <div class="function">
                    <a href="#"><i class="fas fa-angle-left"></i></a>
                    <a href="#"><i class="fas fa-print"></i></a>
                    <a href="#"><i class="fab fa-facebook-f"></i></a>
                    <a href="#"><i class="fab fa-twitter"></i></i></a>
                    <a href="#"><i class="fab fa-youtube"></i></i></a>
                    <a href="#"><i class="fab fa-instagram"></i></a>
                </div>
            </div>
            <div class="supplier_content">
                <!-- import videoMulti component-->
                <div id="videoMulti"></div>
                <!-- script for demo -->
                <script>
                    $(function () {
                        $('#videoMulti').load('components/video_multi/video_multi.htm');
                    })
                </script>
                <div class="supplierInfo">
                    <div class="supplierLogo">
                        <div class="img-container">
                            <!-- 請針對縮圖產出尺寸使用不同解析度 src -->
                            <picture>
                                <source media="(min-width: 1200px)" data-srcset="images/exhibitors_pic_01.png" />
                                <source media="(min-width: 992px)" data-srcset="images/exhibitors_pic_01.png" />
                                <source media="(min-width: 576px)" data-srcset="images/exhibitors_pic_01.png" />
                                <source media="(max-width: 575px)" data-srcset="images/exhibitors_pic_01.png" />
                                <img data-src="images/exhibitors_pic_01.png" class="lazy" />
                            </picture>
                        </div>
                    </div>
                    <div class="boothInfo">
                        <div class="memberFunction">
                            <button type="button" class="collect collected">
                                <i class="fas fa-heart"></i>Add to Favorites</button>
                            <button type="button" class="contact">
                                <i class="fas fa-envelope"></i>Contact Us</button>
                            <button type="button">經貿網會員頁面</button>
                            <button type="button" class="contact"><i class="fab fa-skype"></i>Skype按鈕</button>
                            <button type="button" class="contact"><i class="fab fa-line"></i>LINE按鈕</button>
                            <button type="button" class="contact"><i class="fab fa-teamspeak"></i>Teams按鈕</button>
                            <button type="button" class="contact"><i class="far fa-envelope-open-text"></i>email按鈕</button>
                            <button type="button" class="contact btnPrimary"><i class="far fa-clipboard-list"></i>活動報名按鈕</button>                
                        </div>
                        <h3 class="supplierName">YEONG CHIN MACHINERY INDUSTRIES CO., LTD. </h3>
                        <ul>
                            <li><span class="title">Main Product:</span>
                                <p>CNC Machine Center(Vertical Spindles),CNC Lathes(Vertical/Horizontal),CNC Horizontal
                                    Machining Center </p>
                            </li>
                            <li><span class="title">Booth No.:</span>
                                <p>Taipei Nangang Exhibition Center, Hall 1 (TaiNEX 1) Metal Cutting Machine Tools
                                    <em>JH106</em></p>
                            </li>
                            <li><span class="title">Company Website:</span>
                                <p><a href="http://www.google.com">http://www.google.com</a></p>
                            </li>
                        </ul>
                        <div class="btnList">
                            <button class="btnBlock " type="button">
                                <i class="fas fa-calendar-edit"></i>
                                活動報名按鈕
                            </button>
                        </div>
                    </div>                 
                    <div class="qrcode">
                        <img src="images/QRcode_image.svg" alt="">
                    </div>
                </div>
                <div class="supplierDetail">
                    <ul>
                        <li><span>Brand:</span>WULI</li>
                        <li><span>Company Main Industry:</span>Other Metal Cutting Machine Tools,Industrial Cooling
                            System</li>
                        <li><span>Description:</span> Established in 1973, Wuli is Taiwan’s first manufacturer of
                            plunger pumps. The company’s focus on innovation and high precision has made the “WULI”
                            brand well-known around the world. The company is ISO-9001 certified, with many products
                            having additional safety certifications such as CE (Europe) and PSE (Japan). Wuli’s
                            integration of research, production, mass manufacturing and marketing have earned them the
                            Taiwan Small & Medium Enterprises Innovation Award by Taiwan’s Ministry of Economic Affairs.
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore harum possimus eaque rem
                            molestias optio mollitia illo minus, eum numquam fugit quo distinctio odio ea! Ab dolorum
                            non odit voluptatum! Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam
                            tenetur ipsa hic asperiores nulla labore, aliquam necessitatibus beatae vitae ducimus ipsum
                            tempore fugiat quaerat recusandae non veritatis quia error quam.
                        <li>
                            <span>Exhibiting Record:</span>
                            <ul>
                                <li>
                                    <time>2021</time> Taipei International Machine Tool Show(2021/03/15 - 2021/03/20)
                                </li>
                                <li> <time>2021</time>Taipei International Machine Tool Show(2021/03/15 - 2021/03/20)
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <div class="showMoreProducts">
                    <h3>Products</h3>
                    <div class="swiper-products">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <a href="#">
                                    <div class="img-container">
                                        <!-- 請針對縮圖產出尺寸使用不同解析度 src -->
                                        <picture>
                                            <source media="(min-width: 1200px)" data-srcset="images/pic_01.jpg" />
                                            <source media="(min-width: 992px)" data-srcset="images/pic_01.jpg" />
                                            <source media="(min-width: 576px)" data-srcset="images/pic_01.jpg" />
                                            <source media="(max-width: 575px)" data-srcset="images/pic_01.jpg" />
                                            <img data-src="images/pic_01.jpg" class="lazy" />
                                        </picture>
                                    </div>
                                    <div class="title"> 產品名稱 </div>
                                </a>
                            </div>
                            <div class="swiper-slide">
                                <a href="#">
                                    <div class="img-container">
                                        <!-- 請針對縮圖產出尺寸使用不同解析度 src -->
                                        <picture>
                                            <source media="(min-width: 1200px)" data-srcset="images/pic_01.jpg" />
                                            <source media="(min-width: 992px)" data-srcset="images/pic_01.jpg" />
                                            <source media="(min-width: 576px)" data-srcset="images/pic_01.jpg" />
                                            <source media="(max-width: 575px)" data-srcset="images/pic_01.jpg" />
                                            <img data-src="images/pic_01.jpg" class="lazy" />
                                        </picture>
                                    </div>
                                    <div class="title"> 產品名稱 </div>
                                </a>
                            </div>
                            <div class="swiper-slide">
                                <a href="#">
                                    <div class="img-container">
                                        <!-- 請針對縮圖產出尺寸使用不同解析度 src -->
                                        <picture>
                                            <source media="(min-width: 1200px)" data-srcset="images/pic_01.jpg" />
                                            <source media="(min-width: 992px)" data-srcset="images/pic_01.jpg" />
                                            <source media="(min-width: 576px)" data-srcset="images/pic_01.jpg" />
                                            <source media="(max-width: 575px)" data-srcset="images/pic_01.jpg" />
                                            <img data-src="images/pic_01.jpg" class="lazy" />
                                        </picture>
                                    </div>
                                    <div class="title"> 產品名稱 </div>
                                </a>
                            </div>
                            <div class="swiper-slide">
                                <a href="#">
                                    <div class="img-container">
                                        <!-- 請針對縮圖產出尺寸使用不同解析度 src -->
                                        <picture>
                                            <source media="(min-width: 1200px)" data-srcset="images/pic_01.jpg" />
                                            <source media="(min-width: 992px)" data-srcset="images/pic_01.jpg" />
                                            <source media="(min-width: 576px)" data-srcset="images/pic_01.jpg" />
                                            <source media="(max-width: 575px)" data-srcset="images/pic_01.jpg" />
                                            <img data-src="images/pic_01.jpg" class="lazy" />
                                        </picture>
                                    </div>
                                    <div class="title"> 產品名稱 </div>
                                </a>
                            </div>
                            <div class="swiper-slide">
                                <a href="#">
                                    <div class="img-container">
                                        <!-- 請針對縮圖產出尺寸使用不同解析度 src -->
                                        <picture>
                                            <source media="(min-width: 1200px)" data-srcset="images/pic_01.jpg" />
                                            <source media="(min-width: 992px)" data-srcset="images/pic_01.jpg" />
                                            <source media="(min-width: 576px)" data-srcset="images/pic_01.jpg" />
                                            <source media="(max-width: 575px)" data-srcset="images/pic_01.jpg" />
                                            <img data-src="images/pic_01.jpg" class="lazy" />
                                        </picture>
                                    </div>
                                    <div class="title"> 產品名稱 </div>
                                </a>
                            </div>
                        </div>
                        <!-- Add Pagination -->
                        <div class="swiper-pagination"></div>
                        <!-- Add Arrows -->
                        <div class="swiper-button-next"></div>
                        <div class="swiper-button-prev"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- js -->
<script src="js/jquery-3.6.0.min.js"></script>
<script src="js/tsite-baseAllJs.min.js"></script>
<script>
    $(function () {
        var lazyLoadInstance = new LazyLoad({
            elements_selector: 'img.lazy',
            //placeholder: '/images/basic/placeholder.gif',
            effect: 'fadeIn',
            fadeTime: 600,
            threshold: 0,
        });
        //add table mobile x_scroll
        $('table').each(function (index, el) {
            //判斷沒有table_list
            $('.userEditContent')
                .find('table')
                .each(function () {
                    $(this).wrap('<div class="tableScroll"></div>');
                });
        });

    });
    //swiper
    var swiper = new Swiper('.swiper-products', {
        lazy: true,
        loop: true,
        observer: true,
        //centeredSlides: true,
        spaceBetween: 30,
        watchOverflow: true,
        loopFillGroupWithBlank: true,
        //cssMode: true,
        autoplay: {
            delay: 2500,
            disableOnInteraction: true,
        },
        pagination: {
            el: '.swiper-pagination',
            dynamicBullets: true,
            clickable: true,
        },
        navigation: {
            nextEl: '.swiper-button-next',
            prevEl: '.swiper-button-prev',
            disabledClass: 'swiper-button-disabled',
        },
        breakpoints: {
            200: {
                slidesPerView: 1,
                slidesPerGroup: 1,
            },
            545: {
                slidesPerView: 2,
                slidesPerGroup: 1,
            },
            768: {
                slidesPerView: 3,
                slidesPerGroup: 1,
            },
            1024: {
                slidesPerView: 3,
                slidesPerGroup: 1,
            },
        },
    });
</script>