.listPicRight {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  box-sizing: border-box;
  padding-top: 2em;
  padding-bottom: 2em; }
  .listPicRight ul li {
    margin-bottom: 1em;
    background: #fff;
    overflow: hidden;
    padding-left: 1em;
    position: relative;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
    margin-bottom: 2em; }
    @media screen and (max-width: 575px) {
      .listPicRight ul li {
        padding: 0; } }
    .listPicRight ul li .tag {
      position: absolute;
      top: 0;
      left: 1em;
      z-index: 9; }
      @media screen and (max-width: 575px) {
        .listPicRight ul li .tag {
          top: 0em;
          left: 0; } }
    .listPicRight ul li time {
      color: #888;
      font-size: 0.813rem;
      margin-bottom: 1em; }
      .listPicRight ul li time i {
        margin-right: 0.5em; }
      @media screen and (max-width: 575px) {
        .listPicRight ul li time {
          margin-left: 1rem; } }
    .listPicRight ul li a {
      color: #222;
      display: block; }
      .listPicRight ul li a:hover, .listPicRight ul li a:focus {
        color: #e75224; }
        .listPicRight ul li a:hover .img-container img, .listPicRight ul li a:focus .img-container img {
          transform: scale(1.1); }
      .listPicRight ul li a .img-container {
        overflow: hidden;
        position: relative;
        margin: 0 0 0 2em;
        float: right;
        display: block;
        width: 300px;
        position: relative; }
        .listPicRight ul li a .img-container:before {
          display: block;
          content: '';
          line-height: 1;
          padding-top: 75%; }
        .listPicRight ul li a .img-container img,
        .listPicRight ul li a .img-container iframe,
        .listPicRight ul li a .img-container video {
          display: block;
          position: absolute;
          top: 0;
          bottom: 0;
          right: 0;
          left: 0;
          width: 100%;
          height: 100%;
          margin: auto; }
        .listPicRight ul li a .img-container img {
          object-fit: cover; }
        @media screen and (max-width: 575px) {
          .listPicRight ul li a .img-container {
            float: none;
            width: 100%;
            margin: 0 auto 1em; } }
        .listPicRight ul li a .img-container img {
          transition: 0.3s ease-out; }
    .listPicRight ul li h3 {
      font-size: 2em;
      overflow: hidden;
      text-overflow: -o-ellipsis-lastline;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      line-height: 1.25;
      height: calc(1.25 * 2);
      margin: 0em 0 0.25em;
      padding-top: 1.5em; }
      @media screen and (max-width: 575px) {
        .listPicRight ul li h3 {
          font-size: 1.5em;
          margin: 0 1rem 1em;
          padding: 0; } }
    .listPicRight ul li p {
      overflow: hidden;
      text-overflow: -o-ellipsis-lastline;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      line-height: 1.5;
      height: calc(1.5 * 2); }
      @media screen and (max-width: 575px) {
        .listPicRight ul li p {
          margin: 0 1rem 1em; } }
/*# sourceMappingURL=list_pic_right.css.map */