<!-- css -->
<link rel="stylesheet" href="style_A/components/timeline/timeline.css" />
<div class="container">
    <h2>EXPO SCHEDULE</h2>
    <div class="expoSchedule">
        <div class="item">
            <a href="#">
                <div class="img-container">
                    <!-- 請針對縮圖產出尺寸使用不同解析度 src -->
                    <picture>
                        <source media="(min-width: 1200px)" srcset="images/expo_01.png" />
                        <source media="(min-width: 992px)" srcset="images/expo_01.png" />
                        <source media="(min-width: 576px)" srcset="images/expo_01.png" />
                        <source media="(max-width: 575px)" srcset="images/expo_01.png" />
                        <img data-src="images/expo_01.png" class="lazy" />
                    </picture>
                </div>
                <time>10/6-10/8</time>
                <div class="status pass">已截止</div>
                <div class="expoTitle">越南臺灣形象展</div>
                <p>全球供應鏈正在打算重建的階段，印度被視為極有潛力的下一個新興經濟體，許多的製造業意圖轉向印度.</p>
                <div class="bottom">熱烈徵展中</div>
            </a>
        </div>
        <div class="item">
            <a href="#">
                <div class="img-container">
                    <!-- 請針對縮圖產出尺寸使用不同解析度 src -->
                    <picture>
                        <source media="(min-width: 1200px)" srcset="images/expo_02.jpg" />
                        <source media="(min-width: 992px)" srcset="images/expo_02.jpg" />
                        <source media="(min-width: 576px)" srcset="images/expo_02.jpg" />
                        <source media="(max-width: 575px)" srcset="images/expo_02.jpg" />
                        <img data-src="images/expo_02.jpg" class="lazy" />
                    </picture>
                </div>
                <time>10/6-10/8</time>
                <div class="status pass">已截止</div>
                <div class="expoTitle">印尼臺灣形象展</div>
                <p>全球供應鏈正在打算重建的階段，印度被視為極有潛力的下一個新興經濟體，許多的製造業意圖轉向印度.</p>
                <div class="bottom">熱烈徵展中</div>
            </a>
        </div>
        <div class="item">
            <a href="#">
                <div class="img-container">
                    <!-- 請針對縮圖產出尺寸使用不同解析度 src -->
                    <picture>
                        <source media="(min-width: 1200px)" srcset="images/expo_03.jpg" />
                        <source media="(min-width: 992px)" srcset="images/expo_03.jpg" />
                        <source media="(min-width: 576px)" srcset="images/expo_03.jpg" />
                        <source media="(max-width: 575px)" srcset="images/expo_03.jpg" />
                        <img data-src="images/expo_03.jpg" class="lazy" />
                    </picture>
                </div>
                <time>10/6-10/8</time>
                <div class="status pass">已截止</div>
                <div class="expoTitle">泰國臺灣形象展</div>
                <p>全球供應鏈正在打算重建的階段，印度被視為極有潛力的下一個新興經濟體，許多的製造業意圖轉向印度.</p>
                <div class="bottom">熱烈徵展中</div>
            </a>
        </div>
        <div class="item">
            <a href="#">
                <div class="img-container">
                    <!-- 請針對縮圖產出尺寸使用不同解析度 src -->
                    <picture>
                        <source media="(min-width: 1200px)" srcset="images/expo_04.jpg" />
                        <source media="(min-width: 992px)" srcset="images/expo_04.jpg" />
                        <source media="(min-width: 576px)" srcset="images/expo_04.jpg" />
                        <source media="(max-width: 575px)" srcset="images/expo_04.jpg" />
                        <img data-src="images/expo_04.jpg" class="lazy" />
                    </picture>
                </div>
                <time>10/6-10/8</time>
                <div class="status comingSoon">即將舉行</div>
                <div class="expoTitle">泰國臺灣形象展</div>
                <p>全球供應鏈正在打算重建的階段，印度被視為極有潛力的下一個新興經濟體，許多的製造業意圖轉向印度.</p>
                <div class="bottom">熱烈徵展中</div>
            </a>
        </div>
        <div class="item">
            <a href="#">
                <div class="img-container">
                    <!-- 請針對縮圖產出尺寸使用不同解析度 src -->
                    <picture>
                        <source media="(min-width: 1200px)" srcset="images/expo_05.jpg" />
                        <source media="(min-width: 992px)" srcset="images/expo_05.jpg" />
                        <source media="(min-width: 576px)" srcset="images/expo_05.jpg" />
                        <source media="(max-width: 575px)" srcset="images/expo_05.jpg" />
                        <img data-src="images/expo_05.jpg" class="lazy" />
                    </picture>
                </div>
                <time>10/6-10/8</time>
                <div class="status comingSoon">即將舉行</div>
                <div class="expoTitle">印度臺灣形象展</div>
                <p>全球供應鏈正在打算重建的階段，印度被視為極有潛力的下一個新興經濟體，許多的製造業意圖轉向印度.</p>
                <div class="bottom">熱烈徵展中</div>
            </a>
        </div>
    </div>
</div>
<script>
    $(window).on('load resize scroll', function (e) {
        var window_H = $(window).innerHeight();
        var windowTop = $(window).scrollTop();
        $('.expoSchedule .item').each(function (index, el) {
            // 可以+130 讓圖進入多點再跑動畫
            var imgTop = Math.floor($(this).offset().top - windowTop + 130);
            //imgTop < window_H 是指進入到最底部
            //imgTop>0 是指還沒滾到最上方
            //同時條件成立 代表物件在看得到的地方才會trigger動畫
            if (imgTop < window_H && imgTop > 0) {
                $(this).addClass('effect');
            }
        });
    });
</script>
