.tsite-serialTopic .container {
  padding-top: 2em;
  padding-bottom: 2em; }
  .tsite-serialTopic .container .topic_block {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start; }
    .tsite-serialTopic .container .topic_block > .item {
      position: relative;
      flex-grow: 0;
      flex-shrink: 1;
      flex-basis: 50%;
      padding: 0 1em;
      margin-bottom: 2em; }
      @media screen and (max-width: 575px) {
        .tsite-serialTopic .container .topic_block > .item {
          flex-basis: 100%; } }
      .tsite-serialTopic .container .topic_block > .item:hover .img-container img {
        transform: scale(1.1); }
      .tsite-serialTopic .container .topic_block > .item .img-container {
        width: 100%;
        overflow: hidden;
        position: relative;
        position: relative;
        margin-bottom: 1em; }
        .tsite-serialTopic .container .topic_block > .item .img-container:before {
          display: block;
          content: '';
          line-height: 0;
          padding-top: 75%; }
        .tsite-serialTopic .container .topic_block > .item .img-container img,
        .tsite-serialTopic .container .topic_block > .item .img-container iframe,
        .tsite-serialTopic .container .topic_block > .item .img-container video {
          display: block;
          position: absolute;
          top: 0;
          bottom: 0;
          right: 0;
          left: 0;
          width: 100%;
          height: 100%;
          margin: auto; }
        .tsite-serialTopic .container .topic_block > .item .img-container img {
          object-fit: cover;
          display: block; }
        .tsite-serialTopic .container .topic_block > .item .img-container img {
          transition: 0.3s ease-out; }
        .tsite-serialTopic .container .topic_block > .item .img-container .info {
          position: absolute;
          width: 100%;
          height: 4em;
          background: rgba(0, 0, 0, 0.75);
          z-index: 10;
          bottom: 0;
          left: 0;
          display: flex; }
          .tsite-serialTopic .container .topic_block > .item .img-container .info h3 {
            color: #fff;
            flex-grow: 1;
            flex-shrink: 1;
            flex-basis: 50%;
            margin: 0;
            padding: 1em;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis; }
          .tsite-serialTopic .container .topic_block > .item .img-container .info a.more {
            flex-grow: 0;
            flex-shrink: 1;
            flex-basis: 120px;
            height: auto;
            margin: 0;
            color: #fff;
            border-radius: 0;
            background: #000; }
            .tsite-serialTopic .container .topic_block > .item .img-container .info a.more:before {
              display: none; }
            .tsite-serialTopic .container .topic_block > .item .img-container .info a.more:after {
              display: none; }
            @media screen and (max-width: 575px) {
              .tsite-serialTopic .container .topic_block > .item .img-container .info a.more {
                flex-basis: 80px; } }
            .tsite-serialTopic .container .topic_block > .item .img-container .info a.more span {
              font-size: 1rem; }
      .tsite-serialTopic .container .topic_block > .item .tag {
        position: absolute;
        top: 0;
        left: 1em;
        z-index: 2; }
      .tsite-serialTopic .container .topic_block > .item p {
        font-size: 0.938rem;
        color: #555;
        overflow: hidden;
        text-overflow: -o-ellipsis-lastline;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 4;
        -webkit-box-orient: vertical;
        line-height: 1.5;
        height: auto;
        max-height: calc(1.5 * 4); }
      .tsite-serialTopic .container .topic_block > .item .periodical {
        color: #555;
        font-size: 0.938rem;
        display: block;
        padding-left: 1.5em;
        position: relative; }
        .tsite-serialTopic .container .topic_block > .item .periodical:before {
          position: absolute;
          content: '';
          width: 1em;
          height: 3px;
          top: 0.5em;
          left: 0; }

.tsite-serialTopic.tsite-cyan .container .topic_block > .item .periodical:before {
  background: #00aec7; }

.tsite-serialTopic.tsite-cyan .container .topic_block > .item .img-container .info a.more:hover, .tsite-serialTopic.tsite-cyan .container .topic_block > .item .img-container .info a.more:focus {
  background: #00aec7; }

.tsite-serialTopic.tsite-green .container .topic_block > .item .periodical:before {
  background: #00bda9; }

.tsite-serialTopic.tsite-green .container .topic_block > .item .img-container .info a.more:hover, .tsite-serialTopic.tsite-green .container .topic_block > .item .img-container .info a.more:focus {
  background: #00bda9; }

.tsite-serialTopic.tsite-purple .container .topic_block > .item .periodical:before {
  background: #523f95; }

.tsite-serialTopic.tsite-purple .container .topic_block > .item .img-container .info a.more:hover, .tsite-serialTopic.tsite-purple .container .topic_block > .item .img-container .info a.more:focus {
  background: #523f95; }

.tsite-serialTopic.tsite-red .container .topic_block > .item .periodical:before {
  background: #b34440; }

.tsite-serialTopic.tsite-red .container .topic_block > .item .img-container .info a.more:hover, .tsite-serialTopic.tsite-red .container .topic_block > .item .img-container .info a.more:focus {
  background: #b34440; }
/*# sourceMappingURL=serial_topic.css.map */