@keyframes kv_info_fadeIn {
  0% {
    bottom: -2em;
    opacity: 0; }
  100% {
    bottom: 6em;
    opacity: 1; } }

@keyframes fade_move_down {
  0% {
    -webkit-transform: translate(0, -20px);
    opacity: 0; }
  50% {
    opacity: 1; }
  100% {
    -webkit-transform: translate(0, 20px);
    opacity: 0; } }

.tsite-kvImg.tsite-wrap-A {
  margin: 0;
  padding: 0;
  position: relative; }
  .tsite-kvImg.tsite-wrap-A .kvInfo {
    position: absolute;
    z-index: 59;
    right: 10%;
    bottom: 6em;
    max-width: 500px;
    text-shadow: 0px 5px 10px rgba(0, 0, 0, 0.75);
    transition: transform 0.5s cubic-bezier(0.215, 0.61, 0.355, 1), box-shadow 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
    transform: perspective(600px) translate3d(0, 0, 0);
    animation: kv_info_fadeIn 1.2s 1s both cubic-bezier(0.4, 0.01, 0.165, 0.99); }
    @media screen and (max-width: 767px) {
      .tsite-kvImg.tsite-wrap-A .kvInfo {
        margin-left: -40%;
        max-width: 80%;
        top: 6em;
        z-index: 5; } }
    .tsite-kvImg.tsite-wrap-A .kvInfo h2 {
      color: #fff;
      font-size: 4em;
      position: relative;
      line-height: 1.125em;
      margin: 0;
      text-align: right;
      font-family: verdana; }
      @media screen and (max-width: 767px) {
        .tsite-kvImg.tsite-wrap-A .kvInfo h2 {
          font-size: 2.4em;
          right: auto;
          width: 96%;
          left: 50%;
          margin-left: -48%;
          text-align: center; } }
    .tsite-kvImg.tsite-wrap-A .kvInfo h3 {
      color: #fff;
      font-size: 1.25em;
      line-height: 1.5em;
      text-align: right; }
      @media screen and (max-width: 767px) {
        .tsite-kvImg.tsite-wrap-A .kvInfo h3 {
          text-align: center; } }
  .tsite-kvImg.tsite-wrap-A .img-container {
    background-color: #00aec7;
    width: 100%;
    top: 0;
    left: 0;
    overflow: hidden;
    position: relative; }
    .tsite-kvImg.tsite-wrap-A .img-container:before {
      display: block;
      content: '';
      line-height: 0;
      padding-top: 50%; }
    .tsite-kvImg.tsite-wrap-A .img-container img,
    .tsite-kvImg.tsite-wrap-A .img-container iframe,
    .tsite-kvImg.tsite-wrap-A .img-container video {
      display: block;
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
      width: 100%;
      height: 100%;
      margin: auto; }
    .tsite-kvImg.tsite-wrap-A .img-container img {
      object-fit: cover;
      display: block; }
    @media screen and (max-width: 1399px) {
      .tsite-kvImg.tsite-wrap-A .img-container {
        overflow: hidden;
        position: relative; }
        .tsite-kvImg.tsite-wrap-A .img-container:before {
          display: block;
          content: '';
          line-height: 0;
          padding-top: 62.5%; }
        .tsite-kvImg.tsite-wrap-A .img-container img,
        .tsite-kvImg.tsite-wrap-A .img-container iframe,
        .tsite-kvImg.tsite-wrap-A .img-container video {
          display: block;
          position: absolute;
          top: 0;
          bottom: 0;
          right: 0;
          left: 0;
          width: 100%;
          height: 100%;
          margin: auto; }
        .tsite-kvImg.tsite-wrap-A .img-container img {
          object-fit: cover;
          display: block; } }
    @media screen and (max-width: 991px) {
      .tsite-kvImg.tsite-wrap-A .img-container {
        overflow: hidden;
        position: relative; }
        .tsite-kvImg.tsite-wrap-A .img-container:before {
          display: block;
          content: '';
          line-height: 0;
          padding-top: 100%; }
        .tsite-kvImg.tsite-wrap-A .img-container img,
        .tsite-kvImg.tsite-wrap-A .img-container iframe,
        .tsite-kvImg.tsite-wrap-A .img-container video {
          display: block;
          position: absolute;
          top: 0;
          bottom: 0;
          right: 0;
          left: 0;
          width: 100%;
          height: 100%;
          margin: auto; }
        .tsite-kvImg.tsite-wrap-A .img-container img {
          object-fit: cover;
          display: block; } }
    @media screen and (max-width: 575px) {
      .tsite-kvImg.tsite-wrap-A .img-container {
        background: #000;
        width: 100%;
        height: 650px; } }
    .tsite-kvImg.tsite-wrap-A .img-container img {
      object-fit: cover;
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0; }
  .tsite-kvImg.tsite-wrap-A .fadeArrow {
    position: absolute;
    z-index: 9;
    left: 50%;
    bottom: 2em;
    width: 3em;
    height: 3em;
    animation: fade_move_down 1.5s ease-in-out infinite; }
    .tsite-kvImg.tsite-wrap-A .fadeArrow:after {
      position: absolute;
      content: '';
      border: 3px solid #fff;
      border-left: none;
      border-top: none;
      width: 2em;
      height: 2em;
      left: -1em;
      transform: rotate(45deg); }

.tsite-kvImg.tsite-wrap-B {
  margin: 0;
  padding: 0;
  position: relative;
  overflow: hidden; }
  .tsite-kvImg.tsite-wrap-B:after {
    position: absolute;
    content: '';
    bottom: 0;
    width: 100%;
    height: 15em;
    background: white;
    background: linear-gradient(0deg, white 40%, rgba(255, 255, 255, 0) 100%);
    z-index: 0; }
  .tsite-kvImg.tsite-wrap-B .slogan {
    position: absolute;
    font-size: 8em;
    line-height: 1.25em;
    width: 80%;
    text-align: right;
    bottom: 2rem;
    right: 0;
    z-index: 2;
    padding: 0 1em;
    font-family: 'Playfair Display', serif; }
    .tsite-kvImg.tsite-wrap-B .slogan span {
      background: #00aec7;
      background: linear-gradient(90deg, #0bc093 0%, #0a99e6 50%, #e2008f 95%);
      font-weight: bold;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent; }
    @media screen and (max-width: 767px) {
      .tsite-kvImg.tsite-wrap-B .slogan {
        width: 100%;
        font-size: 4em;
        text-align: left;
        padding: 0 1rem;
        z-index: 9; }
        .tsite-kvImg.tsite-wrap-B .slogan span {
          line-height: 1.1em; } }
  .tsite-kvImg.tsite-wrap-B .kvInfo {
    position: absolute;
    z-index: 1;
    right: 1em;
    top: 20%;
    max-width: 700px; }
    @media screen and (max-width: 1399px) {
      .tsite-kvImg.tsite-wrap-B .kvInfo {
        max-width: 500px; } }
    @media screen and (max-width: 767px) {
      .tsite-kvImg.tsite-wrap-B .kvInfo {
        top: 20%;
        width: 80%;
        left: 10%;
        max-width: 80%; } }
    .tsite-kvImg.tsite-wrap-B .kvInfo:before {
      position: absolute;
      content: '';
      background: rgba(255, 255, 255, 0.45);
      backdrop-filter: blur(20px);
      -webkit-backdrop-filter: blur(20px);
      transform: rotate(45deg) translate(-350px, -350px);
      border-radius: 12em;
      left: 0;
      width: 1200px;
      height: 1200px;
      top: 0;
      z-index: -1; }
      @media screen and (max-width: 1399px) {
        .tsite-kvImg.tsite-wrap-B .kvInfo:before {
          width: 600px;
          height: 600px;
          border-radius: 6em;
          transform: rotate(45deg) translate(-200px, -120px); } }
      @media screen and (max-width: 767px) {
        .tsite-kvImg.tsite-wrap-B .kvInfo:before {
          width: 450px;
          height: 450px;
          transform: rotate(45deg) translate(-180px, -180px);
          border-radius: 6em;
          backdrop-filter: blur(10px);
          -webkit-backdrop-filter: blur(10px); } }
    .tsite-kvImg.tsite-wrap-B .kvInfo h2 {
      color: #fff;
      font-size: 5em;
      position: relative;
      line-height: 1.125em;
      margin: 0;
      font-family: verdana;
      z-index: 2;
      color: #413486;
      text-shadow: 0px 0px 5px white, 0px 0px 15px white; }
      @media screen and (max-width: 1399px) {
        .tsite-kvImg.tsite-wrap-B .kvInfo h2 {
          font-size: 4em;
          transform: translateY(-30px); } }
      @media screen and (max-width: 767px) {
        .tsite-kvImg.tsite-wrap-B .kvInfo h2 {
          transform: translateY(0px); } }
      @media screen and (max-width: 575px) {
        .tsite-kvImg.tsite-wrap-B .kvInfo h2 {
          font-size: 3em;
          text-align: center;
          margin-bottom: 1em; } }
    .tsite-kvImg.tsite-wrap-B .kvInfo h3 {
      color: #222;
      font-size: 1.25em;
      line-height: 1.5em;
      z-index: 2;
      text-shadow: 0px 0px 5px white, 0px 0px 15px white; }
      @media screen and (max-width: 1399px) {
        .tsite-kvImg.tsite-wrap-B .kvInfo h3 {
          transform: translateY(-30px); } }
  .tsite-kvImg.tsite-wrap-B .img-container {
    width: 100%;
    top: 0;
    left: 0;
    overflow: hidden;
    position: relative; }
    .tsite-kvImg.tsite-wrap-B .img-container:before {
      display: block;
      content: '';
      line-height: 0;
      padding-top: 50%; }
    .tsite-kvImg.tsite-wrap-B .img-container img,
    .tsite-kvImg.tsite-wrap-B .img-container iframe,
    .tsite-kvImg.tsite-wrap-B .img-container video {
      display: block;
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
      width: 100%;
      height: 100%;
      margin: auto; }
    .tsite-kvImg.tsite-wrap-B .img-container img {
      object-fit: cover;
      display: block; }
    @media screen and (max-width: 1399px) {
      .tsite-kvImg.tsite-wrap-B .img-container {
        overflow: hidden;
        position: relative; }
        .tsite-kvImg.tsite-wrap-B .img-container:before {
          display: block;
          content: '';
          line-height: 0;
          padding-top: 62.5%; }
        .tsite-kvImg.tsite-wrap-B .img-container img,
        .tsite-kvImg.tsite-wrap-B .img-container iframe,
        .tsite-kvImg.tsite-wrap-B .img-container video {
          display: block;
          position: absolute;
          top: 0;
          bottom: 0;
          right: 0;
          left: 0;
          width: 100%;
          height: 100%;
          margin: auto; }
        .tsite-kvImg.tsite-wrap-B .img-container img {
          object-fit: cover;
          display: block; } }
    @media screen and (max-width: 991px) {
      .tsite-kvImg.tsite-wrap-B .img-container {
        overflow: hidden;
        position: relative; }
        .tsite-kvImg.tsite-wrap-B .img-container:before {
          display: block;
          content: '';
          line-height: 0;
          padding-top: 100%; }
        .tsite-kvImg.tsite-wrap-B .img-container img,
        .tsite-kvImg.tsite-wrap-B .img-container iframe,
        .tsite-kvImg.tsite-wrap-B .img-container video {
          display: block;
          position: absolute;
          top: 0;
          bottom: 0;
          right: 0;
          left: 0;
          width: 100%;
          height: 100%;
          margin: auto; }
        .tsite-kvImg.tsite-wrap-B .img-container img {
          object-fit: cover;
          display: block; } }
    @media screen and (max-width: 575px) {
      .tsite-kvImg.tsite-wrap-B .img-container {
        background: #000;
        width: 100%;
        height: 650px; } }
    .tsite-kvImg.tsite-wrap-B .img-container img {
      object-fit: cover;
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0; }
  .tsite-kvImg.tsite-wrap-B .fadeArrow {
    position: absolute;
    z-index: 9;
    left: 50%;
    bottom: 2em;
    width: 3em;
    height: 3em;
    z-index: 9;
    animation: fade_move_down 1.5s ease-in-out infinite; }
    .tsite-kvImg.tsite-wrap-B .fadeArrow:after {
      position: absolute;
      content: '';
      border: 3px solid #00aec7;
      border-left: none;
      border-top: none;
      width: 2em;
      height: 2em;
      left: -1em;
      transform: rotate(45deg); }
  .tsite-kvImg.tsite-wrap-B.tsite-cyan .kvInfo h2 {
    color: #413486; }
  .tsite-kvImg.tsite-wrap-B.tsite-green .kvInfo h2 {
    color: #f65445; }
  .tsite-kvImg.tsite-wrap-B.tsite-purple .kvInfo h2 {
    color: #b2207f; }
  .tsite-kvImg.tsite-wrap-B.tsite-red .kvInfo h2 {
    color: #dd774e; }

.tsite-kvImg.tsite-wrap-C {
  margin: 0;
  padding: 0; }
  .tsite-kvImg.tsite-wrap-C .kvInfo {
    position: absolute;
    z-index: 59;
    left: 50%;
    margin-left: -45%;
    top: 20%;
    max-width: 600px;
    text-shadow: 0px 5px 10px rgba(0, 0, 0, 0.75);
    transition: transform 0.5s cubic-bezier(0.215, 0.61, 0.355, 1), box-shadow 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
    transform: perspective(600px) translate3d(0, 0, 0);
    animation: kv_info_fadeIn 1.2s 1s both cubic-bezier(0.4, 0.01, 0.165, 0.99); }
    @media screen and (max-width: 575px) {
      .tsite-kvImg.tsite-wrap-C .kvInfo {
        margin-left: -40%;
        max-width: 80%;
        z-index: 5; } }
    .tsite-kvImg.tsite-wrap-C .kvInfo h2 {
      color: #fff;
      font-size: 3.6em;
      position: relative;
      line-height: 1.125em;
      margin: 0;
      font-family: verdana; }
      @media screen and (max-width: 575px) {
        .tsite-kvImg.tsite-wrap-C .kvInfo h2 {
          font-size: 2.5em;
          text-align: center; } }
    .tsite-kvImg.tsite-wrap-C .kvInfo h3 {
      color: #fff;
      font-size: 1.125em;
      line-height: 1.5em; }
      @media screen and (max-width: 575px) {
        .tsite-kvImg.tsite-wrap-C .kvInfo h3 {
          text-align: center;
          font-size: 1em; } }
  .tsite-kvImg.tsite-wrap-C .img-container {
    width: 100%;
    top: 0;
    left: 0;
    overflow: hidden;
    position: relative; }
    .tsite-kvImg.tsite-wrap-C .img-container:before {
      display: block;
      content: '';
      line-height: 0;
      padding-top: 50%; }
    .tsite-kvImg.tsite-wrap-C .img-container img,
    .tsite-kvImg.tsite-wrap-C .img-container iframe,
    .tsite-kvImg.tsite-wrap-C .img-container video {
      display: block;
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
      width: 100%;
      height: 100%;
      margin: auto; }
    .tsite-kvImg.tsite-wrap-C .img-container img {
      object-fit: cover;
      display: block; }
    @media screen and (max-width: 1399px) {
      .tsite-kvImg.tsite-wrap-C .img-container {
        overflow: hidden;
        position: relative; }
        .tsite-kvImg.tsite-wrap-C .img-container:before {
          display: block;
          content: '';
          line-height: 0;
          padding-top: 62.5%; }
        .tsite-kvImg.tsite-wrap-C .img-container img,
        .tsite-kvImg.tsite-wrap-C .img-container iframe,
        .tsite-kvImg.tsite-wrap-C .img-container video {
          display: block;
          position: absolute;
          top: 0;
          bottom: 0;
          right: 0;
          left: 0;
          width: 100%;
          height: 100%;
          margin: auto; }
        .tsite-kvImg.tsite-wrap-C .img-container img {
          object-fit: cover;
          display: block; } }
    @media screen and (max-width: 991px) {
      .tsite-kvImg.tsite-wrap-C .img-container {
        overflow: hidden;
        position: relative; }
        .tsite-kvImg.tsite-wrap-C .img-container:before {
          display: block;
          content: '';
          line-height: 0;
          padding-top: 100%; }
        .tsite-kvImg.tsite-wrap-C .img-container img,
        .tsite-kvImg.tsite-wrap-C .img-container iframe,
        .tsite-kvImg.tsite-wrap-C .img-container video {
          display: block;
          position: absolute;
          top: 0;
          bottom: 0;
          right: 0;
          left: 0;
          width: 100%;
          height: 100%;
          margin: auto; }
        .tsite-kvImg.tsite-wrap-C .img-container img {
          object-fit: cover;
          display: block; } }
    @media screen and (max-width: 575px) {
      .tsite-kvImg.tsite-wrap-C .img-container {
        background: #000;
        width: 100%;
        height: 650px; } }
    .tsite-kvImg.tsite-wrap-C .img-container img {
      object-fit: cover;
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0; }
  .tsite-kvImg.tsite-wrap-C .fadeArrow {
    position: absolute;
    z-index: 9;
    left: 50%;
    bottom: 2em;
    width: 3em;
    height: 3em;
    animation: fade_move_down 1.5s ease-in-out infinite; }
    .tsite-kvImg.tsite-wrap-C .fadeArrow:after {
      position: absolute;
      content: '';
      border: 3px solid #fff;
      border-left: none;
      border-top: none;
      width: 2em;
      height: 2em;
      left: -1em;
      transform: rotate(45deg); }

.tsite-kvImg.tsite-wrap-D {
  margin: 0;
  padding: 0;
  position: relative; }
  .tsite-kvImg.tsite-wrap-D:before {
    position: absolute;
    content: '';
    top: 0;
    left: 50%;
    margin-left: -50%;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 450px 1200px 0 0;
    border-color: #00aec7 transparent transparent transparent;
    z-index: 1; }
    @media screen and (max-width: 575px) {
      .tsite-kvImg.tsite-wrap-D:before {
        transform: translateY(-220px); } }
  .tsite-kvImg.tsite-wrap-D:after {
    position: absolute;
    content: '';
    bottom: 0;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 0 450px 1200px;
    border-color: transparent transparent #f1f1f1 transparent;
    z-index: 1;
    transform: translateX(100%); }
  .tsite-kvImg.tsite-wrap-D .kvInfo {
    position: absolute;
    z-index: 59;
    left: 50%;
    margin-left: -45%;
    top: 20%;
    max-width: 600px;
    text-shadow: 0px 0px 4px rgba(255, 255, 255, 0.95), 0px 0px 8px rgba(255, 255, 255, 0.65);
    transition: transform 0.5s cubic-bezier(0.215, 0.61, 0.355, 1), box-shadow 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
    transform: perspective(600px) translate3d(0, 0, 0);
    animation: kv_info_fadeIn 1.2s 1s both cubic-bezier(0.4, 0.01, 0.165, 0.99); }
    @media screen and (max-width: 575px) {
      .tsite-kvImg.tsite-wrap-D .kvInfo {
        margin-left: -40%;
        max-width: 80%;
        z-index: 5;
        top: 10%; } }
    .tsite-kvImg.tsite-wrap-D .kvInfo h2 {
      color: #fff;
      text-shadow: 0px 0px 0.75rem rgba(0, 0, 0, 0.85);
      font-size: 4.5em;
      position: relative;
      line-height: 1.125em;
      margin: 0;
      font-family: 'Mulish', sans-serif; }
      @media screen and (max-width: 575px) {
        .tsite-kvImg.tsite-wrap-D .kvInfo h2 {
          font-size: 2.5em;
          text-align: center; } }
    .tsite-kvImg.tsite-wrap-D .kvInfo h3 {
      color: #fff;
      text-shadow: 0px 0px 0.5em rgba(0, 0, 0, 0.75);
      font-size: 1.125em;
      line-height: 1.5em;
      max-width: 400px; }
      @media screen and (max-width: 575px) {
        .tsite-kvImg.tsite-wrap-D .kvInfo h3 {
          text-align: center;
          font-size: 1em; } }
  .tsite-kvImg.tsite-wrap-D .img-container {
    width: 100%;
    top: 0;
    left: 0;
    overflow: hidden;
    position: relative; }
    .tsite-kvImg.tsite-wrap-D .img-container:before {
      display: block;
      content: '';
      line-height: 0;
      padding-top: 50%; }
    .tsite-kvImg.tsite-wrap-D .img-container img,
    .tsite-kvImg.tsite-wrap-D .img-container iframe,
    .tsite-kvImg.tsite-wrap-D .img-container video {
      display: block;
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
      width: 100%;
      height: 100%;
      margin: auto; }
    .tsite-kvImg.tsite-wrap-D .img-container img {
      object-fit: cover;
      display: block; }
    @media screen and (max-width: 1399px) {
      .tsite-kvImg.tsite-wrap-D .img-container {
        overflow: hidden;
        position: relative; }
        .tsite-kvImg.tsite-wrap-D .img-container:before {
          display: block;
          content: '';
          line-height: 0;
          padding-top: 62.5%; }
        .tsite-kvImg.tsite-wrap-D .img-container img,
        .tsite-kvImg.tsite-wrap-D .img-container iframe,
        .tsite-kvImg.tsite-wrap-D .img-container video {
          display: block;
          position: absolute;
          top: 0;
          bottom: 0;
          right: 0;
          left: 0;
          width: 100%;
          height: 100%;
          margin: auto; }
        .tsite-kvImg.tsite-wrap-D .img-container img {
          object-fit: cover;
          display: block; } }
    @media screen and (max-width: 991px) {
      .tsite-kvImg.tsite-wrap-D .img-container {
        overflow: hidden;
        position: relative; }
        .tsite-kvImg.tsite-wrap-D .img-container:before {
          display: block;
          content: '';
          line-height: 0;
          padding-top: 100%; }
        .tsite-kvImg.tsite-wrap-D .img-container img,
        .tsite-kvImg.tsite-wrap-D .img-container iframe,
        .tsite-kvImg.tsite-wrap-D .img-container video {
          display: block;
          position: absolute;
          top: 0;
          bottom: 0;
          right: 0;
          left: 0;
          width: 100%;
          height: 100%;
          margin: auto; }
        .tsite-kvImg.tsite-wrap-D .img-container img {
          object-fit: cover;
          display: block; } }
    @media screen and (max-width: 575px) {
      .tsite-kvImg.tsite-wrap-D .img-container {
        background: #000;
        width: 100%;
        height: 650px; } }
    .tsite-kvImg.tsite-wrap-D .img-container img {
      object-fit: cover;
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0; }
  .tsite-kvImg.tsite-wrap-D .fadeArrow {
    position: absolute;
    z-index: 9;
    left: 50%;
    bottom: 1em;
    width: 4em;
    height: 4em;
    margin-left: -2em;
    border-radius: 50%;
    background: #413486;
    animation: fade_move_down 1.5s ease-in-out infinite; }
    .tsite-kvImg.tsite-wrap-D .fadeArrow:after {
      position: absolute;
      content: '';
      border: 2px solid #fff;
      border-left: none;
      border-top: none;
      width: 1.2em;
      height: 1.2em;
      left: 1.3em;
      top: 1em;
      transform: rotate(45deg); }
  .tsite-kvImg.tsite-wrap-D.tsite-cyan:before {
    border-style: solid;
    border-width: 450px 1200px 0 0;
    border-color: #008194 transparent transparent transparent;
    z-index: 1; }
  .tsite-kvImg.tsite-wrap-D.tsite-cyan .fadeArrow {
    background: #413486; }
  .tsite-kvImg.tsite-wrap-D.tsite-green:before {
    border-style: solid;
    border-width: 450px 1200px 0 0;
    border-color: #008a7b transparent transparent transparent;
    z-index: 1; }
  .tsite-kvImg.tsite-wrap-D.tsite-green .fadeArrow {
    background: #f65445; }
  .tsite-kvImg.tsite-wrap-D.tsite-purple:before {
    border-style: solid;
    border-width: 450px 1200px 0 0;
    border-color: #3e3071 transparent transparent transparent;
    z-index: 1; }
  .tsite-kvImg.tsite-wrap-D.tsite-purple .fadeArrow {
    background: #b2207f; }
  .tsite-kvImg.tsite-wrap-D.tsite-red:before {
    border-style: solid;
    border-width: 450px 1200px 0 0;
    border-color: #a03d39 transparent transparent transparent;
    z-index: 1; }
  .tsite-kvImg.tsite-wrap-D.tsite-red .fadeArrow {
    background: #dd774e; }
/*# sourceMappingURL=kv_img.css.map */